[2021-01-27 20:02] infinitodk commented on #1589
For me, the issue seems to be to many click / mousedown events attached. If i remove one of the mousedown-events in Chromes developer console, it works. It's also consistent with the behavior, it's being selected, then de-selected instantly.

[2021-01-27 20:05] infinitodk commented on #1589
![Uploading Skærmbillede 2021-01-27 kl. 21.04.04.png…]()

[2021-01-27 20:05] infinitodk commented on #1589
<img width="1194" alt="Skærmbillede 2021-01-27 kl  21 04 04" src="https://user-images.githubusercontent.com/9919465/106047049-65ff3980-60e3-11eb-881b-56e41085a382.png">

[2021-01-30 15:47] rgb-panda commented on #608
@siddharthlatest Hello, the purchase app link for table view is broken, is it no longer available?

[2021-01-30 16:10] bietkul commented on #608
@karabi Updated the link

[2021-01-31 16:48] rgb-panda commented on #1385
Hi @WhoisDavid I have a similar usecase, and I tried the code from the sandbox.

When searching I get an error [bool] failed to parse field [must]", seems to maybe related to the version of ES? https://github.com/Yelp/elastalert/issues/2807#issuecomment-640881868

Were you able to get it to work with a recent version of ES?

Thanks,

[2021-02-03 18:14] rgb-panda opened #1603 "Items Count next to MutliList Title"
**Affected Projects**

React

**Describe the solution you'd like**

Is it possible to show the count of number of items in a MultiList? For example, the max size is set to 100, but the list could have 50 elements. Can we show an Item count next to the Title?

**Additional context**
![image](https://user-images.githubusercontent.com/1173031/106790476-9f730000-6621-11eb-9247-76edc11b5e0b.png)

[2021-02-04 17:22] WhoisDavid commented on #1385
Hey @karabi

Unfortunately I just ran this on 7.4.x. Looks like they have changed some of the query parsing in 7.7.

[2021-02-07 20:57] rachaeldawn opened #1608 "MultiList, showLoadMore={true} causes setState error"
**Affected Projects**
React

**Library Version:** x.y.z
3.14.0

**Describe the bug**
When using `MultiList`, setting the `showLoadMore` to true causes the `can't call setState on a component that is not yet mounted` error. See screenshots.

**To Reproduce**

On a working repo with a MultiList, add showLoadMore={true}

**Expected behavior**
I just works without throwing errors because `setState` is

[2021-02-08 02:21] rgb-panda commented on #837
Hi @metagrover, was there any solution to have the same start-end for RangeSlider? At the moment I can only do it with RangeInput, and doing it manually inside start-end input fields but not on the slider

[2021-02-08 16:30] junqueror commented on #1522
Same problem here, @sebastienlabine  did you got any progress?

[2021-02-10 17:36] rgb-panda commented on #1385
Thanks that confirms my theory, I will open an issue

[2021-02-10 17:40] rgb-panda opened #1609 "CustomQuery causes error [bool] failed to parse field [must] on ES >= 7.7"
**Affected Projects**
React

**Library Version:** 3.14.0

Using customQuery on any component is causing **error [bool] failed to parse field [must]** with newer versions of ES (7.7)

Related discussion

https://github.com/appbaseio/reactivesearch/issues/1385
https://github.com/Yelp/elastalert/issues/2807#issuecomment-640881868

[2021-02-10 17:42] rgb-panda commented on #1550
@piwel

https://github.com/appbaseio/reactivesearch/issues/1385

This helped me with that scenario

[2021-02-11 10:42] bietkul commented on #1608
PR is merged and a new version is out.

[2021-02-11 10:42] #1608 closed, assigned to nobody

[2021-02-11 10:42] #1592 closed, assigned to nobody

[2021-02-11 10:43] #1591 closed, assigned to bietkul

[2021-02-11 10:45] #1531 closed, assigned to nobody

[2021-02-11 13:40] westende opened #1610 "renderNoResults should also render if this.modifiedOptions.length is zero in MultiList"
**Affected Projects**
Vue.JS

I would expect the renderNoResults to also be called when this.modifiedOptions.length is zero in MultiList. Right now the facet does not render at all if there are no terms.
See: https://github.com/appbaseio/reactivesearch/blob/next/packages/vue/src/components/list/MultiList.jsx#L155

An alternative solution would be to use a custom render function, but that would lea

[2021-02-11 15:28] rgb-panda commented on #1385
@WhoisDavid customQuery seems to be working again with 3.14.1

Your suggestion worked partially for me. I'm able to search ES to get the MultiList values, however, it's still limited by the Size number on the Multilist as this is what's controlling the aggs function, so I'm missing some values.

For example, if I have 10k documents, each having an array that contains some elements (Say 5), one of

[2021-02-11 15:33] rgb-panda commented on #1609
Seems to be resolved in 3.14.1

[2021-02-11 15:34] #1609 closed, assigned to nobody

[2021-02-16 07:26] #1508 closed, assigned to nobody

[2021-02-16 10:08] erenkucuker opened #1613 "All filters render title even if not take any value data"
![ssss](https://user-images.githubusercontent.com/66262604/108048078-a8b79000-7057-11eb-8a22-e30673367b29.png)

This is happening when you use filters coordinated. After you pick a value from a filter this is still rendering no result filters title

Dynamic filter components need not render if there is no value returned.

[2021-02-16 10:24] bietkul commented on #1613
The issue is not clear from the description. Can you share a code sandbox link that replicates the issue?

[2021-02-16 19:43] junqueror opened #1614 "[Preact] Wrong usage of 'name' attribute for function components."
**Affected Projects**
React

**Library Version:** x.y.z
^3.12.4

**Describe the bug**
When the reactive components are created, their component name is updated at the end. Ej:
[code]
This line is throwing the following error:
[code]
Example in some components: [ReactiveComponent](https://github.com/appbaseio/reactivesearch/blob/9d084c5049152ee1b3b0dbd735683e3dfccabe86/packages/web/src/components/b

[2021-02-17 04:14] divyadeep-MT opened #1615 "clearValues() function of SelectedFilters component removes all query parameters."
**Affected Projects**
React

**Library Version:** x.y.z
-

**Describe the bug**
`clearValues()` function of `SelectedFilters` component removes all query parameters, including those that aren't a part of ReactiveSearch's filters/components.

**To Reproduce**
Steps to reproduce the behavior:
Simply add an additional query parameter along with a few filters, and use the `SelectedFilter` component's

[2021-02-20 20:00] rgb-panda commented on #1594
@edwinsiebel I'm facing the same issue when I have a customQuery already defined, and I want to use defaultQuery as well to adjust the suggestions query. Were you able to figure this out?

[2021-02-20 20:09] edwinsiebel commented on #1594
No, unfortunately not. Have tried various implementations, however no results.

@bietkul , seems more have problems with this situation. Can you make a working example, as described by @rgb-panda ?

[2021-02-22 09:46] bietkul commented on #1594
@rgb-panda @edwinsiebel Sharing an example with both `customQuery` and `defaultQuery` props in `DataSearch` component. I don't see any issues with that. Make sure you're using the latest version of the libs even then the issue persists feel free to re-open the issue with a reproducible example.
https://codesandbox.io/s/dawn-resonance-2b047?file=/src/index.js

[2021-02-22 09:46] #1594 closed, assigned to nobody

[2021-02-23 11:31] erenkucuker opened #1618 "Infinitescroll bug when elasticfield use text type fielddata true"
**Affected Projects**
 React Web

**Library Version:** x.y.z
 3.15

**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
 When you use a filter that used on elastic data "type:text fielddata:true" end of the page its scroll top. This should be fixed because peoples may need to use a filter or search from input directly for the same field.

**Screenshots**

[2021-02-23 11:38] erenkucuker commented on #1613
I solved problem i will send pull request directly soon.

[2021-02-23 12:25] bietkul commented on #1618
@erenkucukersoftware Can you try setting `scrollOnChange` to `false`?

![alt text](https://i.imgur.com/3Dkl7m5.png)

[2021-02-23 16:28] scotthooker commented on #1192
Not stale

[2021-02-23 21:34] #1554 closed, assigned to nobody

[2021-02-23 21:35] #1526 closed, assigned to nobody

[2021-02-23 21:37] #1063 closed, assigned to nobody

[2021-02-23 21:40] bietkul commented on #1565
This issue is not reproducible. Feel free to re-open it with a reproducible example.

[2021-02-23 21:40] #1565 closed, assigned to nobody

[2021-02-23 21:49] bietkul commented on #1603
We can support `onData` callback in list components to make it work.

[2021-02-23 21:53] bietkul commented on #1549
You can use the `customQuey`  prop to override the `DataSearch` query.
For example,
[code]

[2021-02-23 21:53] #1549 closed, assigned to nobody

[2021-02-24 15:13] DanielHabenicht commented on #1590
Love it and was about to create another Issue for it!
I also think it would be a great Idea to make this for all Errors that might happen, not just the network requests.

[2021-03-01 16:09] #1615 closed, assigned to nobody

[2021-03-01 16:27] indykoning opened #1620 "Update DynamicRangeSlider when filtering"
**Affected Projects**

Vue.JS
**Is your feature request related to a problem? Please describe.**

When a dynamicrangeslider is added for Price as an example it's range is set to the highest price and the lowest price in the entire ES database.

When you have a filter which is always applied, like a category. You may get no results because you can filter outside of the range the category has.

On t

[2021-03-02 00:05] anakinkinsey opened #1622 "Changing size of ReactiveList via prop causes strange behavior"
**Affected Projects**
React

**Library Version:** x.y.z

**Describe the bug**
Setting size of ReactiveList via prop causes strange behavior

**To Reproduce**
https://codesandbox.io/s/cocky-germain-6vnmz?file=/src/List.tsx
- Go to page 2 of the results
- Click Break Page
- Appears to display first couple entries while retaining the previous size

**Additional context**

[2021-03-06 16:57] rgb-panda commented on #167
@siddharthlatest Is NestedMultiList planned for any future release?

[2021-03-08 10:26] indykoning commented on #1620
Adding
[code]
to the component already fixes it 😄

[2021-03-08 10:26] #1620 closed, assigned to nobody

[2021-03-15 21:06] dangreaves commented on #1360
Again, this is an ongoing issue for us and would like for this not to become stale.

[2021-03-18 12:40] riddhiparekh opened #1629 "Issue with pagination when redirects with query params"
**Affected Projects**
React
**Library Version:**^3.12.4

**Describe the bug**
With `URLParams=true` on `ReactiveList`,
When on Any page other than 1st, after refreshing browser, user gets on that page, but once user change the page and visit same page again, by click on pagination, it redirects user to 1st page rather than that page.

**To Reproduce**
[Source](https://codesandbox.io/s/github/appba

[2021-03-18 12:45] jpsc opened #1630 "Improvements to bundle size on reactivesearch-vue"
**Affected Projects**
Vue.js

**Is your feature request related to a problem? Please describe.**
Reactivesearch provides building blocks (ReactiveBase) to create your own custom components. This allows anyone to sidestep existing components that are not directly relevant for the page they are building. This is great but how it is currently implemented, regardless if you use or not, all components

[2021-03-19 23:18] #1525 closed, assigned to nobody

[2021-03-19 23:18] #1461 closed, assigned to nobody

[2021-03-19 23:18] #1506 closed, assigned to nobody

[2021-03-19 23:18] #1408 closed, assigned to nobody

[2021-03-19 23:18] #1521 closed, assigned to nobody

[2021-03-23 02:45] scotthooker commented on #1511
I think this is still an issue and can't work out where to look in the code to solve it.

[2021-03-23 13:04] vadymhimself commented on #1216
This results in 400 errors on my instance.

`{"error":{"root_cause":[{"type":"parsing_exception","reason":"Unknown key for a VALUE_STRING in [preference].","line":1,"col":15}],"type":"parsing_exception","reason":"Unknown key for a VALUE_STRING in [preference].","line":1,"col":15},"status":400}`

[2021-03-23 13:26] siddharthlatest commented on #1216
@vadymhimself Can you create a new issue? Please include more details (a reproducible demo or the entire network request) for us to tell more.

[2021-03-23 14:19] niroshanjwm opened #1631 "ReactiveList pagination is not resized correctly when size prop is changed"
**Affected Projects**
React Native

**Library Version:**
0.12.0

**Describe the bug**
ReactiveList pagination is not correctly resized when the size prop changes.

**To Reproduce**
- Implement ReactiveSearch with ReactiveList.
- Change the size props to a different value (In my case I implement a select-box to change the size)
- Check the pagination count according to changed size and total record

[2021-03-23 15:01] niroshanjwm commented on #1631
Created a pull request with a fix

[2021-03-24 05:10] vadymhimself commented on #1216
@siddharthlatest it unfolded into a what seems to be an ES issue opendistro-for-elasticsearch/security-kibana-plugin#734.
I could use your help with working it around https://github.com/appbaseio/reactivesearch/discussions/1633

[2021-03-24 06:28] #1631 closed, assigned to nobody

[2021-03-30 13:12] hansendx commented on #1112
Still an Issue in v1.12.1-vue

[2021-03-31 14:25] cdavid15 opened #1645 "Allow ReactiveList to optionally render a sort label when using sortOptions"
**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**
In our current application we make use of the ReactiveList sorting however this only produces the select dropdown and has no way to tap into the render process to add a custom label (i.e. Material UI Typography) named "Sort By".

**Describe the solution you'd like**
A few options would work. Simple opti

[2021-04-03 03:23] Debasis-tech opened #1649 "CategorySearch - not working - [bool] failed to parse field [must] expected value but got [START_ARRAY]"
**Affected Projects**
One of React

**Library Version: ( @appbaseio/reactivesearch": "^3.0.0-rc.26") - package.json
Inside library - it uses below version.

1. @appbaseio/reactivesearch@3.16.2
2. @appbaseio/reactivecore": "9.10.1"
3. Elastic search version - 7.9

**Describe the bug**
1. It is in CategorySearch.
2. When I am choosing any specific category from the auto suggestion below error I am g

[2021-04-08 07:42] jothikannan89 opened #1651 "defaultValue prop not working on DynamicRangeSlider component"
**Affected Projects**
React

**Library Version:**
Recent stable version

**Describe the bug**
defaultValue prop not working on DynamicRangeSlider component
Same issue on RangeInput also

**To Reproduce**
https://codesandbox.io/s/wispy-darkness-z3edi?file=/src/index.js

**Desktop (please complete the following information):**
 - OS: Widnows
 - Browser : All

[2021-04-08 08:28] infinitodk commented on #1589
This is still broken? Are you actively looking at this issue or should we recommend our clients switching to Algolia?

[2021-04-08 10:25] bietkul commented on #1589
@infinitodk This issue is still open because we don't have the replicable steps or a reproducible example.
I can replicate a different issue as mentioned [here](https://github.com/appbaseio/reactivesearch/issues/1589#issuecomment-768505953). We can work on fixing it but not sure if that would solve the issue that you are seeing.

[2021-04-20 11:45] larsdouweschuitema commented on #1630
@bietkul @lakhansamani Is this something you will look into?

[2021-04-20 12:09] bietkul commented on #1630
@jpsc Thanks for the example we can replicate the issue easily.
Despite exporting the ES6 modules from the build file, the tree shaking is not working. We have to debug the root cause. You can expect it to be fixed by the end of this week. We'll keep you updated.

[2021-04-20 18:08] stonesthatwhisper opened #1653 "React v3: SingleList's sortBy and size prop do not work as expected"
https://opensource.appbase.io/playground/?path=/story/list-components-singlelist--with-size
https://opensource.appbase.io/playground/?path=/story/list-components-singlelist--custom-sort

In my own code, the default sortBy='count' seems not able to be customized, meaning, no matter if I set it to 'asc' or 'desc' it is still sort by count.

Also, the filter always shows 9 items regardless what value

[2021-04-21 19:53] bietkul commented on #1630
@jpsc @larsdouweschuitema A new version(`v1.13.1`) is out with the fix.

[2021-04-21 19:53] #1630 closed, assigned to nobody

[2021-04-22 10:40] adbo opened #1655 "Change format in DateRange with dayPickerInputProps causes component failure without any message in the console"
Hi, after change format like this, component stopped working (didn't set value)
`<DateRange
  /*other props*/
  dayPickerInputProps={{
    formatDate,
    format: 'DD-MMM-YYYY',
    parseDate
  }}
/>
`
This approach is working only for some simple date formats, but if I want to show a month as a word, component stopped working.

Example: https://codesandbox.io/s/daterange-forked-6zcc6

[2021-04-22 11:25] adbo commented on #1655
Example: https://codesandbox.io/s/daterange-forked-6zcc6

[2021-04-23 13:26] larsdouweschuitema opened #1656 "Extending ToggleButton should include anchor element"
**Affected Projects**
VueJS

**Is your feature request related to a problem? Please describe.**
Extending the toggle button to implement a custom design is not including the anchor element resulting in difficulties to overwrite. You can overwrite by putting a class on the parent, but in our case the project is using tailwind classes and does not include custom classes.

The anchor elements have st

[2021-04-28 00:01] alorr10 commented on #1138
This one is killing me, any chance we can just stop the reloading if you open a new tab?

[2021-04-28 08:56] lakhansamani opened #1657 "vue: ToggleButton not setting the default value with URLParams"
**Affected Projects**
Vue.JS

**Library Version:** x.y.z
1.13.1

**Describe the bug**
ToggleButton component is not setting the default value when URLParams is set to true

**To Reproduce**
https://codesandbox.io/s/peaceful-stallman-d07kj

**Expected behavior**
If the value is present in URLParam and if you referesh the page, ToggleButton should have that value selected by default

**Screenshots**

[2021-04-29 12:12] lakhansamani opened #1661 "vue: pagination issues"
**Affected Projects**
Vue.JS

**Library Version:** x.y.z
1.13.1

**Describe the bug**
* Pagination doesn't reset with filter change
* Pagination doesn't respect the browser back button and results are staled
* Incorrect information when results are not found

**To Reproduce**
https://codesandbox.io/s/cranky-galileo-473mf?file=/src/App.vue

**Expected behavior**

**Screenshots**
https://www.loom.co

[2021-05-04 12:56] bietkul commented on #1657
@lakhansamani The fix is out now(`v1.14.1`).

[2021-05-04 12:56] #1657 closed, assigned to anik-ghosh-au7

[2021-05-05 10:57] jpsc opened #1664 "ReactiveMap for Vue.js"
**Affected Projects**
Vue.JS

**Is your feature request related to a problem? Please describe.**
Currently appbase provides for the React version a component to use with maping. It would be great if we could leverage the same for the vue version.

**Describe the solution you'd like**
Create a Vue.js version of the [ReactiveMap ](https://docs.appbase.io/docs/reactivesearch/v3/overview/reactivemaps/

[2021-05-05 11:07] jpsc opened #1665 "RangeInput for Vue.js"
**Affected Projects**
Vue.JS

**Is your feature request related to a problem? Please describe.**
Currently appbase provides for the React version for range input. It would be great if we could leverage the same for the vue version.

**Describe the solution you'd like**
Create a Vue.js version of the [RangeInput](https://docs.appbase.io/docs/reactivesearch/v3/range/rangeinput/)

**Describe alternat

[2021-05-05 12:33] larsdouweschuitema commented on #1665
@bietkul @lakhansamani Could you look at this

[2021-05-05 12:34] larsdouweschuitema commented on #1664
@bietkul @lakhansamani Could you look at this

[2021-05-06 05:22] bietkul commented on #1664
@jpsc @larsdouweschuitema Sure, we can build the `ReactiveMap` component for Vue but it would take some time. The workaround is to use `ReactiveComponent` to build custom search interfaces. https://docs.appbase.io/docs/reactivesearch/vue/advanced/ReactiveComponent/

[2021-05-06 05:22] bietkul commented on #1665
@jpsc @larsdouweschuitema Sure, we can build the `RangeInput` component for Vue but it would take some time. The workaround is to use `ReactiveComponent` to build custom search interfaces. https://docs.appbase.io/docs/reactivesearch/vue/advanced/ReactiveComponent/

[2021-05-06 13:37] larsdouweschuitema opened #1667 "Datasearch default style is overwriting tailwind classes set on inner classes."
**Affected Projects**
VueJS

**Library Version:** x.y.z
13.13.1

**Describe the bug**
When using tailwind classes on the innerclass of the datasearch component, the default style is overwriting the tailwind classes.

**To Reproduce**
Add a tailwind class to the inner class of the input element on the datasearch
[code]

Adding tailwind classes to the inner class will be overwritten by default style

[2021-05-06 13:38] larsdouweschuitema commented on #1667
@bietkul Added this one after trying to create our custom style on the data search component.

[2021-05-07 07:18] renancarvalho opened #1671 "ReactiveComponent - resultStats on slotScope props is empty"
**Affected Projects**
Vue.JS

**Library Version:**
1.13.1

**Describe the bug**
resultStats slote-scope prop. for reactiveComponents are empty on every update

**To Reproduce**
![image](https://user-images.githubusercontent.com/2653810/117412198-c983d900-af14-11eb-98c1-e5df8d650060.png)

**Expected behavior**
I would expect to receive values on the resultStats object

**Screenshots**
![image](http

[2021-05-07 07:30] renancarvalho commented on #1671
@bietkul

I am trying to get the search result number to display it inside this <FiltersFooter />

[2021-05-11 14:02] bietkul commented on #1671
@renancarvalho I don't find any issue with `resultStats`. The `resultStats` property is specific to the component's query i.e you'll only get it when you have the `defaultQuery` prop defined.
https://codesandbox.io/s/stoic-glitter-ii9nq?file=/src/App.vue
If you want to access `resultStats` for any other component then you can access it using `StateProvider` component. https://docs.appbase.io/docs/

[2021-05-12 10:43] #1671 closed, assigned to nobody

[2021-05-21 12:34] renancarvalho opened #1691 "Add counts single-range component"
**Affected Projects**
 Vue.JS

**Is your feature request related to a problem? Please describe.**
SingleRange do not have counts ( aggregation data )

**Describe the solution you'd like**
Add counts for SingleRange component

[2021-05-21 12:36] renancarvalho commented on #1691
@bietkul

[2021-05-24 13:34] bietkul commented on #1656
@larsdouweschuitema I agree with you. The `renderItem` should allow overriding the default `button` element.
Currently, the `renderItem` slot provides the following properties:
- item => item object
- isSelected => To know if the item is selected or not

We can make the following changes:
- add an additional method to handle the click event.
   - handleClick
- When `renderItem` is defined then avo

[2021-05-24 13:43] bietkul commented on #1691
@renancarvalho The [single range](https://docs.appbase.io/docs/reactivesearch/vue/range/SingleRange/) component deals with the static data.
![alt singlerange](https://i.imgur.com/Q2vwXII.png)

If you want to display the counts(aggregation data) then please use the MultiList/SingleList component.

[2021-05-27 08:17] kenzoname opened #1695 "[DateRange] Support quick option daterange"
**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**

I am using DateRange to request data by time range. I want choose useful timerange: last 15 minute, last 1 hour, last 24h...

**Describe the solution you'd like**
Support add quick options time range: last 15 minute, last 1 hour, last 24h, This week...
Support config disable custom range picker (only s

[2021-05-27 14:33] bietkul commented on #1614
@junqueror The fix is out(v3.18.1).

[2021-05-27 14:33] #1614 closed, assigned to nobody

[2021-05-27 15:19] andereb081 commented on #958
So basically something like this if your are using base64 encoded API key:
1. After generating your API key
2. On your terminal run `echo -n KEY_ID:API_KEY_VALUE | base64` to get your base64 encoded API Key
3. Then on ReactiveSearch add it this way as mentioned by @bietkul

[code]

[2021-05-27 19:11] katrinewi opened #1701 "ReactiveList URLParam pagination bug"
**Affected Projects**
React

**Library Version:** x.y.z
3.12.1

**Describe the bug**
When using ReactiveList with URLParams enabled the behavior is not correct.
The bug occurs when refreshing the page with the page number in the url param with another value than 1, let's say 4. Then, if you navigate to another page and then go back to page 4, you will be taken to page 1.

**To Reproduce**
Steps to

[2021-05-31 13:47] renancarvalho opened #1703 "Single List allows the user to deselect an option"
**Affected Projects**
 Vue.JS

**Library Version:** x.y.z
1.13.1

**Describe the bug**
Single list (radio button group ) allows you to have nothing selected.. which makes not sense for radio buttons.

**To Reproduce**
Render a single list and check

**Expected behavior**
Have always something from the list selected once they are radio buttons

**Screenshots**
![image](https://user-images.githubuse

[2021-05-31 13:47] renancarvalho commented on #1703
@bietkul, could you please take a look into this one ?

Thank you!

[2021-05-31 16:18] bietkul commented on #1703
@renancarvalho You can set the default selected value using the `defaultValue` prop.
![alt img](https://i.imgur.com/IVAD0uS.png)

[2021-06-01 07:54] renancarvalho commented on #1703
It is there.

[2021-06-02 15:01] djsiroky commented on #1594
@edwinsiebel I know this issue is closed, but I noticed in your steps to reproduce code you're not returning the query. I came across this same issue when using the documentation example for `defaultQuery`, so one of the following changes may get things working for you:

[code]

or

[code]

Edit: Opened a PR in the docs repo to fix this

[2021-06-02 16:10] #841 closed, assigned to nobody

[2021-06-02 16:10] #1086 closed, assigned to nobody

[2021-06-02 19:42] aoloo opened #1704 "ReactiveComponent re renders custom component within render props"
**Affected Projects**
React

**Library Version:** x.y.z
^3.18.1

**Describe the bug**
When utilizing `ReactiveComponent` and rendering a custom component in `render` prop. ReactiveComponent re renders numerous number of times causing performance issues.

**To Reproduce**
https://codesandbox.io/s/reactive-component-re-renders-ynqth?file=/src/index.js
In a small code sandbox implementation, the sand

[2021-06-03 15:35] Yard-Daniel opened #1706 "IOS bug when selecting an item from suggestion list"
**Affected Projects**

React

**Library Version:** x.y.z

"version": "3.18.0",

**Describe the bug**

Selecting an item from the suggestion list on a IOS devices such as an iPad/iPhone almost never works (9/10 times). It seems like the <li> element is not entirely selectable, except when selecting the <mark class="highlight"> element, however, not even this works all the time. Sometimes when I try

[2021-06-03 19:08] bietkul commented on #1703
The solution here is to define a new prop named `enableStrictSelection`, when it is set to`true` then disable the ability to disable an option in the following components.
 React
 - `SingleList`
 - `SingleDataList`
 - `SingleDropdownList`
 - `SingleRange`
 - `SingleDropdownRange`

 Vue
 - `SingleList`
 - `SingleDropdownList`
 - `SingleRange`

[2021-06-03 19:20] renancarvalho commented on #1703
Thanks! will try =)

[2021-06-04 09:19] renancarvalho commented on #1703
Hi @bietkul,

I have installed the new version 1.15.0 and added enableStrictSelection= true  for the single-list in our vue project.
We still having the issue.

[2021-06-04 09:20] siddharthlatest commented on #1703
@renancarvalho We've currently finalized on how to support it and assigned it internally. This is yet to be addressed, it should be out with the next release most likely.

[2021-06-04 13:17] bietkul commented on #1656
@larsdouweschuitema The fix is out(`v1.15.0`).

[2021-06-04 13:17] #1656 closed, assigned to anik-ghosh-au7

[2021-06-04 13:21] bietkul commented on #1665
@larsdouweschuitema The release is out now(v1.15.0). [RangeInput]( https://docs.appbase.io/docs/reactivesearch/vue/range/RangeInput/) docs.

[2021-06-04 13:21] #1665 closed, assigned to nobody

[2021-06-05 03:49] HesterG opened #1709 "results automatically show up on starting the react web application"
**Affected Projects**

React JS

**Is your feature request related to a problem? Please describe.**

I am trying to add a search feature to my web application, and on starting the web application, all results automatically shows even i haven't click on search.

**Describe the solution you'd like**

When the web application is started, i don't want the search results to appear automatically. I want

[2021-06-05 06:16] siddharthlatest commented on #1709
@HesterG You can configure this behavior. I will move this to Discussions.

You can use the `defaultQuery` on the <ReactiveList/> component to configure the default query to use. Or if you can share your code snippet, happy to guide on how to.

[2021-06-05 06:16] #1709 closed, assigned to nobody

[2021-06-07 08:48] bietkul commented on #1703
@renancarvalho We have fixed it in v1.15.1.

[2021-06-07 08:48] #1703 closed, assigned to anik-ghosh-au7

[2021-06-08 06:28] edwinsiebel commented on #1594
Hi @djsiroky ,

Thanks for the heads up. Will have to work on it again soon, so will take this change into account.
And great that you updated the doc's as well!

[2021-06-09 17:56] vince83110 commented on #583
@george-dotdev It would be amazing if you can share how you figured out :)

[2021-06-16 06:25] hansendx commented on #1112
Seems to have been fixed between v1.12.1-vue and v1.15.0-vue

[2021-06-16 06:25] #1112 closed, assigned to nobody

[2021-06-16 15:19] renancarvalho opened #1716 "Handle Cluster click event."
**Affected Projects**

**Is your feature request related to a problem? Please describe.**
We need to show a component that is similar to a carousel

**Describe the solution you'd like**
 Basically we pass an array of data and navigate on it. We would like to handle the cluster click and then render this carousel of data. right now we can only handle click for a simple marker, not clusters.
Similar

[2021-06-16 15:36] renancarvalho opened #1717 "Handle popover close event"
**Affected Projects**
Vue.JS

**Is your feature request related to a problem? Please describe.**
We need to handle the popover close event

**Describe the solution you'd like**
We need to perform some changes on the URL while showing/hiding the popover, to be able to do that, we need to handle close event.

[2021-06-16 15:49] MarUser04 opened #1718 "Suggestions List size for DataSearch"
Hi all. I have a question about how to increase the size of the suggestion list with the **DataSearch** component search.

I was checking in the documentation of the component and I don't see any prop to increase the size of the list. Currently it returns 20 items in each search. I need to increase it to 100 or some custom value.

I'm using React 17 and Reactivesearch 2.16.1

Thanks in advance for

[2021-06-16 15:55] MarUser04 opened #1719 "Suggestions List size for DataSearch"
Hi all. I have a question about how to increase the size of the suggestion list with the DataSearch component search.

I was checking in the documentation of the component and I don't see any prop to increase the size of the list. Currently it returns 20 items in each search. I need to increase it to 100 or some custom value.

I'm using React 17 and Reactivesearch 2.16.1

Thanks in advance for you

[2021-06-17 16:40] #1719 closed, assigned to nobody

[2021-06-18 09:09] larsdouweschuitema opened #1722 "Add a resetDefault prop to SelectedFilters components to reset filters back to their default values"
**Affected Projects**
VueJS

**Is your feature request related to a problem? Please describe.**
Using "clearValues" prop on SelectedFilters components does not take into account the "defaultValue" set on each individual component.

**Describe the solution you'd like**
A "resetDefault" prop so that you can decide whether to completely reset using "clearValues" or resetting back to defaults.

**Desc

[2021-06-18 09:12] bietkul commented on #1722
@mohdashraf010897 We can define a new prop named `resetToDefault` in `SelectedFilters` component.
When `resetToDefault` is set to true, then it would set the filter value to the `defaultValue`.
The default value for `resetToDefault` would be `false`.

[2021-06-19 17:35] nanditsaini commented on #1495
Is there any workaround for this until an enhancement comes?

[2021-06-22 12:49] rap2hpoutre commented on #1590
Any news about this issue?

[2021-06-22 14:12] siddharthlatest commented on #1590
Thanks for bringing attention to this. We would like to support this use-case. Also in case someone wants to contribute sooner, happy to provide guidance on how to do this.

[2021-06-23 09:17] bietkul commented on #1716
It has been fixed in the latest version of Reactivesearch.

[2021-06-23 09:17] #1716 closed, assigned to nobody

[2021-06-23 09:17] bietkul commented on #1717
It has been fixed in the latest version of Reactivesearch.

[2021-06-23 09:17] #1717 closed, assigned to nobody

[2021-06-23 09:18] bietkul commented on #1664
The `ReactiveGoogleMap` component is available now.
https://docs.appbase.io/docs/reactivesearch/vue/map/reactivegooglemap/

[2021-06-23 09:18] #1664 closed, assigned to nobody

[2021-06-25 18:32] bietkul commented on #1701
@katrinewi We have fixed this issue in `v3.19.0`.

[2021-06-25 18:32] #1701 closed, assigned to nobody

[2021-06-25 18:34] bietkul commented on #1629
@riddhiparekh It seems like a duplicate of #1701 that has been fixed in the latest version.

[2021-06-25 18:34] #1629 closed, assigned to nobody

[2021-06-25 18:38] #1691 closed, assigned to nobody

[2021-06-25 18:39] #1610 closed, assigned to nobody

[2021-06-25 18:41] bietkul commented on #1603
@rgb-panda You can use the `state-provider` component to get the number of count.
https://docs.appbase.io/docs/reactivesearch/vue/advanced/StateProvider/

[2021-06-25 18:58] bietkul commented on #1661
@lakhansamani Fixed it in `v1.16.0`

[2021-06-25 18:58] #1661 closed, assigned to nobody

[2021-06-30 10:16] #1718 closed, assigned to nobody

[2021-06-30 14:35] jpsc opened #1732 "Vue 3"
**Affected Projects**
Vue.js

**Describe the solution you'd like**
Vue 3 is every day reaching a level of stability and support from the community that will be hard to ignore in the near future. My suggestion is to start discussing how we are going to tackle this. Migration steps are documented here (https://v3.vuejs.org/guide/migration/introduction.html#overview).

There is a lot of paths we can

[2021-06-30 14:37] jpsc commented on #1732
I would suggest start by creating a list of dependencies that would be blocking if we wanted to start with this update. eg: vue-gmaps, vue-slider

[2021-06-30 17:17] siddharthlatest commented on #1732
@jpsc We have been discussing this internally. With this issue now open, we can start with listing the dependencies that are blocking Vue 3.0 support.

[2021-07-01 12:23] jpsc commented on #1732
Great to hear. A few things that come to mind about this:
- We probably need some infra changes to allow for fixes/patches releases to the current version (as it's going to be a breaking/major change).
- Vue 3 does not have IE11 support. This not only needs to be communicated but also taken advantage of (eg. removing unnecessary polyfills).
-  Shall we rethink how reactive search can be consumed?

[2021-07-01 16:17] siddharthlatest commented on #1704
@aoloo Thanks for bringing attention to this, I'm able to reproduce it. We will be fixing this in the next release.

The same issue is replicable with:
- &lt;ReactiveGoogleMap>, &lt;ReactiveOpenStreetMap> (renders 4 - 6x) and
- &lt;ReactiveList> https://codesandbox.io/s/fervent-raman-25si4 (renders 2x)

components as well.

[2021-07-01 16:24] siddharthlatest commented on #1732
@jpsc These are great points.

We will continue supporting Vue 2.x (ReactiveSearch 1.x) for some time, as the majority of the users will be here. We can come up with a timeline of till when will this support last.

This is a really good point, and we should be optimizing for bundle size and performance here.

Yes, would love to. Can you share any pointers on how you're thinking about this?

[2021-07-07 14:53] larsdouweschuitema opened #1736 "ToggleButton should not unselect active item - There should always be an item active"
**Affected Projects**
VueJS

**Is your feature request related to a problem? Please describe.**
ToggleButton unselects value when clicked on active item

**Describe the solution you'd like**
ToggleButton should not unselect value when clicked on active item. It should only change the active item when clicked on that active item

**Describe alternatives you've considered**
Not considered. But could

[2021-07-07 15:52] bietkul commented on #1736
@mohdashraf010897 We can define a new prop named `enableStrictSelection` similar to `SingleList`.
We would need that change in `React` and `Vue` libraries.
![alt img](https://i.imgur.com/RUnSj2D.png)

[2021-07-08 02:00] #1548 closed, assigned to nobody

[2021-07-08 12:36] jpsc commented on #1732
I'm sorry, I don't have enough experience with composition API or hooks to give a proper suggestion 🙈.

[2021-07-13 14:12] rollinsb1010 opened #1738 "ToggleButton When Used as Child Component is Removed from SelectedValues"
**Affected Projects**
React

**Library Version:** 3.20.0

**Describe the bug**

Trying to use ToggleButton as a child component of ReactiveList. The initial query is fired and properly executed in most cases but then unable to reset the filter. Therefore, it only appears in SelectedFilters for a second before being removed.

**To Reproduce**
https://codesandbox.io/s/charming-thompson-nzxet?file=/s

[2021-07-14 05:22] bietkul commented on #1738
@rollinsb1010 Can you please use the issue template?

[2021-07-17 00:07] #519 closed

[2021-07-17 08:44] andymed-jlp commented on #994
Thanks for the example @joepio - worked a treat. To limit the boilderplate I packaged it up as a component so I can simply use it as a drop in replacement for DataSearch:

[code]

I put a default of 1000 for the debounce - but that's not required, just was to make my life easier! :-)

[2021-07-17 14:21] trongquyvn opened #1739 "[Bug] searchAsMove feature doesn't work when set defaultQuery"
- Using ReactiveOpenStreetMap or ReactiveGoogleMap.
- set defaultQuery option in props
[code]

After that: i move on the map, the response of in 'renderAllData function' (hits) always is 10 records. No matter where in the map.

Version:
"@appbaseio/reactivemaps": "^3.0.0-beta.11",
"@appbaseio/reactivesearch": "3.12.7",

Anyone can help me. Many thanks!

[2021-07-23 04:48] #1540 closed, assigned to nobody

[2021-07-26 08:59] larsdouweschuitema opened #1742 "Expose event "Search as I move the map" adding custom behavior"
**Affected Projects**
VueJS

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
- If the user clicks on the checkbox "search as I move the map" we would like to be able to use a callback function to clear all the filters or something else (any custom behavior), so basically expose this event

Additional
- Translations "search as I move the m

[2021-07-26 09:06] larsdouweschuitema opened #1743 "Debounce in searchbox config not being applied"
**Affected Projects**
VueJS

**Library Version:** x.y.z
1.16.0-alpha.12

**Describe the bug**
Changing value of debounce in searchbox config has no effect no matter what value you set.
Every character that you type is fired an event immediately.

**To Reproduce**
1. Set a debounce of 1 or more seconds in the config
2. Type a full search in the searchbox e.g. "Amsterdam"
2. Every letter fires an ev

[2021-07-27 05:30] bietkul commented on #1742
@larsdouweschuitema Closing it because `debounce` is working fine as per our chat.

[2021-07-27 05:31] bietkul commented on #1743
@larsdouweschuitema Closing it because debounce is working fine as per our chat.

[2021-07-27 05:31] #1743 closed, assigned to nobody

[2021-07-29 08:14] bietkul commented on #443
We already support this behaviour in RS v3.x.

[2021-07-29 08:14] #443 closed

[2021-08-08 21:17] infinitodk commented on #1589
Error still persistent on FF 90 on Mac here https://reactivesearch-vue-playground.netlify.app/?path=/story/list-components-multidropdownlist--basic

[2021-08-10 07:46] bietkul commented on #1742
We have added the support for the above functionalities in `v1.16.0-alpha.15`.
- Use `search-as-move` event to handle the search as move checkbox click
- Use `searchAsMoveLabel` prop to customize the default title for checkbox. The same can be used for translations.

[2021-08-10 07:46] #1742 closed, assigned to nobody

[2021-08-11 07:29] bietkul commented on #1667
@larsdouweschuitema We debugged the issue and found that it is happening because the styles generated by `styled-components` are getting injected at the end of the `head` element. So in case of style conflict, the style applied by the user would get overridden by the component's style.

We have to be more specific while defining the custom CSS. You can find the detailed explanation at [here](https

[2021-08-17 07:36] tvt-devteam opened #1771 "[Bug] Dropdown component vulnerable to XSS attacks"
**Affected Projects**
React

**Library Version:** 3.22.0

**Describe the bug**

User inputted HTML tags are not sanitized by ReactiveSearch. They are rendered using dangerouslySetInnerHTML, and will get inserted into the DOM as such.

**To Reproduce**

Steps to reproduce the behavior:

1. Insert an HTML tag into ElasticSearch. We used ```<img src onerror("alert('Testing');">```
2. Have a component

[2021-08-19 20:00] js-sapphire commented on #1603
Can I work on this? @rgb-panda @bietkul

[2021-08-20 11:05] arpithparikh opened #1772 "Dups in parseSuggestions breaking after upgrading from v2 to v3."
**Affected Projects**

**Library Version:** x.y.z

**Describe the bug**

**To Reproduce**

Steps to reproduce the behavior:

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please complete the following information):**
 - Device: [e.g. iPhone6]
 - OS: [e.g. iOS8.1

[2021-08-20 11:06] arpithparikh commented on #1772
{label: Array(1), value: Array(1), source: {…}}
label: Array(1)
0: "LEED Link: LEED v4.1 guides [COPY]"
length: 1
[[Prototype]]: Array(0)
source: {highlight: {…}, _language: "en", summary: Array(1), image: Array(1), reading_time: Array(1), …}
value: ["LEED Link: LEED v4.1 guides [COPY]"]
[[Prototype]]: Object
articles.js?c91a:99 suggestion
articles.js?c91a:100
{label: "LEED Link: LEED v4.1 guides

[2021-08-20 11:25] arpithparikh commented on #1148
showDistinctSuggestions is not returning 1 suggestion per document. Could you please fix it? At least on react side of it.

[2021-08-22 18:58] #1460 closed, assigned to nobody

[2021-08-25 02:13] stevewillard commented on #261
Anyone know if there is a workaround to get this behavior? Or, if there was any progress to add it?

[2021-08-26 19:12] #1148 closed, assigned to bietkul

[2021-08-27 09:04] BobWez98 opened #1780 "DynamicRangeInput"
**Affected Projects**

Vue.JS
**Is your feature request related to a problem? Please describe.**

I want to use the RangeInput vue component but with the dynamic range slider. So i don't have to set a max on the component. If i set the max to 5000 it will cover all but if i only need to filter items with a price between 0 and 10 euros it's not so relevant to have a slider that can be set at 5000.

[2021-08-31 10:15] manuelabarca opened #1783 "ReactiveBase doesn't update app props in React Native"
**Affected Projects**
React Native

**Library Version:** x.y.z
last version

**Describe the bug**
I have different indexes and I want to use a single search box so I have a function that changes the name of the index where I want to search, but it is not updated in the ReactiveBase props "app"

**To Reproduce**
I have created a switch case with a tabbar where pressing a tabbar returns different st

[2021-09-08 09:26] gethommey commented on #1379
Is this functionality completed for react?

[2021-09-15 10:02] davidmrp commented on #1201
Same issue here!

[2021-09-15 10:04] siddharthlatest commented on #1201
@davidmrp We don't recommend using ReactiveSearch native, instead use Searchbox for React Native: https://docs.appbase.io/docs/reactivesearch/react-native-searchbox/quickstart/

[2021-09-15 11:04] manuelabarca opened #1785 "Error: Unable to resolve data for blob: (null) - React native"
**Affected Projects**
React native ("@appbaseio/reactivesearch-native")

**Library Version:** x.y.z
^0.12.0

**Describe the bug**
I have this error "Error: Unable to resolve data for blob: (null)" in production, when i development i have this

[code]
But when i try in release mode i see blob error and not search in elastic :S Any help with this ?

**To Reproduce**
Build app in release mode.

**Sna

[2021-09-15 11:14] siddharthlatest commented on #1785
@manuelabarca Can you use the issue template to add the details, which library / version / environment / replicable snippet would be good for us to check more on.

[2021-09-15 13:37] manuelabarca commented on #1785
I just updated with the template, If you know any possible solution, I would appreciate it

[2021-09-15 16:09] manuelabarca commented on #1201
But this library only work with appbase.io elastics, we need to use elastic cloud clusters :/

[2021-09-15 16:12] siddharthlatest commented on #1201
@manuelabarca You can use Searchbox React Native with any upstream Elasticsearch cluster. It requires installing appbase.io (or our open-source https://github.com/appbaseio/reactivesearch-api service) to interface with the upstream Elasticsearch.

[2021-09-17 06:52] bietkul commented on #1502
The `initialQueriesSyncTime` prop introduced in `v3.24.0` can be used to merge the filters' queries at initial load.

[2021-09-17 08:13] #1502 closed, assigned to bietkul

[2021-09-18 19:44] sbeus commented on #1460
This appears to still be an issue with no real work-around.  Can it be re-opened for investigation?

[2021-09-19 14:54] Debasis-tech commented on #1649
hi - someone please look into the issue.

[2021-09-21 20:14] #837 closed, assigned to nobody

[2021-09-21 20:14] #1522 closed, assigned to nobody

[2021-09-21 20:14] #1613 closed, assigned to nobody

[2021-09-21 20:14] #1618 closed, assigned to nobody

[2021-09-21 20:14] #1192 closed, assigned to nobody

[2021-09-22 12:16] LarsFronius commented on #1148
Hmm, are we sure that showDistinctSuggestions is fixed @bietkul ?

Sample Config for me:
[code]

Still shows multiple suggestions for the same doc.

[2021-09-22 12:20] bietkul commented on #1148
@LarsFronius Can you share a replicable codesandbox link?

[2021-09-24 12:58] bietkul commented on #1148
@LarsFronius I was able to replicate the issue. We have fixed it in `v3.24.1`.

[2021-09-27 09:44] zana-all opened #1793 "Pagination prop doesn't work on ReactiveComponent nor in ReactiveList if the aggregation data is used"
I am trying to list the results from aggregations with default query, but the issue I am facing is that the pagination prop doesn't work when using ReactiveComponent.
I also tried to use ReactiveList to display the data.rawData.aggregations, it works displaying the data and the pagination numbers are visible, but when going to the next page, or to any page, the data listed doesn't change, it's the

[2021-10-06 06:36] harrycreator commented on #1216
I receive the same error when try to send the query through a proxy on nodejs backend

[2021-10-07 19:09] ashishcas commented on #1603
CAN I WORK ON THIS  @bietkul

[2021-10-07 19:10] ashishcas commented on #1536
can i work on this @bietkul

[2021-10-08 14:46] rap2hpoutre commented on #1590
@siddharthlatest OK, thank you. I don't know where to start, but I would be glad to tackle this issue. I checked ReactiveBase in web but I did not found where the query is actually done nor where I can catch errors (I see a `componentDidCatch` that does not seem to be triggered). Could you give me guidance on how I should start?

[2021-10-08 15:40] bietkul commented on #1590
@rap2hpoutre The existing `componentDidCatch` would not get invoked on network calls error. The best way to catch the network requests errors is to use the [StateProvider](https://docs.appbase.io/docs/reactivesearch/v3/advanced/stateprovider/) component.
Check this example https://codesandbox.io/s/optimistic-euclid-2tbm7?file=/src/index.js

[2021-10-08 15:58] bietkul commented on #1590
@rap2hpoutre As per your use-case, you want to handle the error before `ReactiveSearch` processes it. For e.g if `ReactiveList` was showing some results and next request caused some error then it should not clear the results.
- To do this we can define a global error handler in `ReactiveBase`.
[code]
- We can store the prop in Redux store like `transformRequest`.
https://github.com/appbaseio/react

[2021-10-09 02:00] msabramo opened #1797 "SingleDataList doesn't render counts for boolean fields"
**Affected Projects**
React (`@appbaseio/reactivesearch`)

**Library Version:** x.y.z
3.24.3 (`@appbaseio/reactivesearch@3.24.3`)

**Describe the bug**
The `showCount` feature of `SingleDataList` (originally added in https://github.com/appbaseio/reactivesearch/pull/658) doesn't render counts for fields of type `boolean`.

**To Reproduce**

- Look at this codesandbox.io demo: https://codesandbox.io

[2021-10-10 19:45] hamza-arshad commented on #450
I want to pick this, is it available?

[2021-10-11 22:51] msabramo commented on #1797
The problem is that `aggregations` in the Elasticsearch response looks like this:

![Screen Shot 2021-10-11 at 3 44 44 PM](https://user-images.githubusercontent.com/305268/136864052-22e3dce0-68ad-4b7a-862a-b91a8c5c0e88.png)

and `"true"` and `"false"` are what are used in the app code:

[code]

The problem is the app code is using `"true"` and `"false"` for the value but the code in `SingleDataLis

[2021-10-18 13:12] flavienbwk commented on #595
Still an issue.
For example, if I have a nested field `data` and the following ReactiveSearch's DataSearch component configuration :

[code]

it doesn't find anything.

_I can't specify all fields in datafield such as [`data.field_1`, `data.field_2`] because there are dozens of it and they are random depending on the data I inject (auto mapping)._

[2021-10-20 16:23] LarsFronius commented on #1148
@bietkul just to give an update - sorry for not providing a codesandbox link, but I can confirm the fix is working. Thanks for the great work here!

[2021-10-21 09:23] tvt-devteam commented on #1771
Bump - is there any info on this, or has this been looked at? How should we proceed with this problem?

[2021-10-21 09:28] siddharthlatest commented on #1771
@tvt-devteam We're supporting HTML rendering to allow a user control over how the UI gets rendered. Since the user is both in control of rendering / their Elasticsearch, I don't see how this is vulnerable to misuse.

Sanitizing the input here would have the side-effect of users not being able to use rich HTML, so this isn't an ideal solution imo.

[2021-10-22 17:15] garionberg commented on #1589
I am also seeing this behavior on the multi select dropdown list.

The sandbox @bietkul linked in this [comment](https://github.com/appbaseio/reactivesearch/issues/1589#issuecomment-768538940) exhibits this behavior as well as the Storybook link @infinitodk posted in this [comment](https://github.com/appbaseio/reactivesearch/issues/1589#issuecomment-894856981).

I think infinitodk is correct that

[2021-10-25 07:11] tvt-devteam commented on #1771
Thanks for the answer @siddharthlatest

We looked into the component some more and indeed did find the `renderItem` prop and was able to fix this problem on our end!

We are still thinking that use of this component is a bit risky because of it defaulting to use `DangerouslySetInnerHTML`.

Maybe there could be a prop to enable/disable the use of this way of rendering, which would be disabled by de

[2021-10-25 14:31] kud commented on #1173
I'm interested by that. I'm doing a checker to verify if we have new fresh data, and display a button to the user in order to click it and refresh the whole reactive search context.

Is there a good way to do that?

[2021-10-29 16:16] kud commented on #1173
[code]

and you only need to add `refresher` to your list of components you follow (via `react`property) in your component(s) to refresh the components you want to refresh.

It creates a bigger elastic search query but it works. I didn't find yet a better way to do that.

[2021-10-31 22:17] paulo-h-cunha commented on #1460
Facing the same issue.
Please re-open!

[2021-11-12 09:29] dmoskovtsov commented on #1360
+1 to this issue! Is there anything we can do to help move it forward?

[2021-11-12 09:57] siddharthlatest commented on #1360
@dmoskovtsov If you can share a reproducible example with the issue, that would help a lot. We will look at this on priority.

[2021-11-15 17:56] lorenzocestaro commented on #1216
Hello,
I thought to comment here instead of creating a new issue. I would like to dig deeper to why the preference value is tied to `componentId` values.

I am not an elasticsearch expert, but my understanding is that by setting a `preference` we are forcing the query to be, quoting ES docs, _routed to the same shards in the same order_, every single time. Couldn't this have performance implicatio

[2021-11-16 13:43] siddharthlatest commented on #1216
@lorenzocestaro Yes, the preference implies the preferred order of search execution is to use the same shards order. Since several search caching in ES works at the shard level, setting this ensures optimal use of caching.

What you're suggesting wrt load distribution is right, it would be more ideal to do this accounting for userId as well as the componentId instead of just the componentId, which

[2021-11-16 14:05] lorenzocestaro commented on #1216
@siddharthlatest thank you for the quick response. I think this might worth mentioning in the docs, so that users can design the application to pass some user/session identifier to all componentId. Since you confirmed my worries, I am now finding myself in a position where I have to refactor several components to access auth state to get some user identifier. It would be also very nice if an ident

[2021-11-16 14:31] siddharthlatest commented on #1216
@lorenzocestaro This should likely be something we can do at the lib level, changing this at the user end can be cumbersome. Can you file a new issue for this? We will take this up fairly soon given the importance.

[2021-11-16 14:36] lorenzocestaro commented on #1216
Definitely! I'll open a new issue soon, thank you very much 👍

[2021-11-16 15:07] lorenzocestaro opened #1811 "Provide a way to use user or session identifiers in routing preferences"
**Affected Projects**
This should affect all packages as it is a performance improvement in the core

**Is your feature request related to a problem? Please describe.**
How `componentId` is currently used under the hood can lead to performance issues in client applications. `componentId` is used to keep internal component state, but it is also used as a value for the `preference` options in querie

[2021-11-16 16:18] siddharthlatest commented on #1811
Thank you for this great description @lorenzocestaro  💯

[2021-11-18 14:48] softguy888 opened #1813 "page auto redirct"
In  ReactiveList component, when i use a drawer or modal to show detail info, the ui always redirect to page 1 no matter current selected page after drawer or modal opened. How to prevent this error?

[2021-11-19 06:22] rohit9m opened #1814 "Way to Clear the MultiDropdownList Search Text box"
**Affected Projects**

**Library Version:** 3.12.3

**Describe the bug**

**To Reproduce**

Steps to reproduce the behavior:

**Expected behavior**

**Screenshots**

![image](https://user-images.githubusercontent.com/22859300/142575017-ee42926a-f001-4ece-b046-50e71528ab73.png)

**Desktop (please complete the following information):*WIndows 10*
 - Browser [e.g. chrome, safari]

**Smartphone (please

[2021-11-25 13:22] royduin opened #1815 "Update vue-slider-component"
Currently vue-slider-component V2 is used: https://github.com/appbaseio/reactivesearch/blob/b017c358d9fb5b0a05062d2b70895519e5c3d7e3/packages/vue/package.json#L49 which has a known bug: https://github.com/NightCatSama/vue-slider-component/issues/409 also covered in the readme: https://github.com/NightCatSama/vue-slider-component/tree/v2#exceptions. V3 doesn't have that issue so it would be nice if

[2021-11-29 16:00] bietkul commented on #1811
@lorenzocestaro We have fixed it in the latest release.

[2021-11-29 16:00] #1811 closed, assigned to bietkul

[2021-12-01 15:42] vince83110 commented on #1732
+1

With Nuxt3 in beta, and soon in RC / stable, it will be useful to support Vue3.

We are starting the migration in my company, Nuxt 2 => Nuxt 3 / Vue3, we will fork reactivesearch and see what we can do.

[2021-12-03 20:24] freddyftw opened #1821 "renderItem MultiDataList 3rd parameter wrong"
https://github.com/appbaseio/reactivesearch/blob/1c2f5fb313c32613501756c870accac3e54a9afe/packages/web/src/components/list/MultiDataList.js#L508

Shouldn't the 3rd argument be `isChecked` from https://github.com/appbaseio/reactivesearch/blob/1c2f5fb313c32613501756c870accac3e54a9afe/packages/web/src/components/list/MultiDataList.js#L479 ? I'm always getting false in `isSelected`

[2021-12-06 07:11] siddharthlatest commented on #1813
@softguy888 This could be usage related or a lib issue. Is there a way that you can reproduce this and share a codesandbox link?

[2021-12-06 14:30] paulius-ruminas-nfq opened #1822 "URLParameterProvider executes a separate request for each parameter change"
**Affected Projects**
React

**Library Version:** x.y.z
3.26

**Describe the bug**
1. Lets assume that the current page that we are on is: example.com?a=1&b=1&c=1&d=1&e=1 (5 active filters, each one of them can be set separately)
2. Now we navigate a couple of steps back using the browser back button and we end up at: example.com?a=1 (1 active filter)
3. What happens is that each of the filter is

[2021-12-06 20:23] matsava opened #1823 "React - SelectedFilters not taking into account the DynamicRangeSlider rangeLabels"
**Affected Projects:** React

**Library Version:** v3.26.0

Is there a way to customise the SelectedFilters values?

Specifically I have a `DynamicRangeSlider` as a price range and want to simply add the dollar sign when it is shown in the `SelectedFilters` component.

[code]

I would expect that the value rendered in `SelectedFilters` would be the value from the rangeLabels or have a separate met

[2021-12-09 12:15] atindersingh67 commented on #261
Any news on this , Or someone created any custom component to handle this.

[2021-12-10 16:35] mohdashraf010897 commented on #1821
@freddyftw Hey 👋 , thanks for reaching out. will shortly respond with something.
Meanwhile, I would recommend using the Issue Template 👉 https://github.com/appbaseio/reactivesearch/blob/next/.github/ISSUE_TEMPLATE/bug_report.md for reporting any issue.

[2021-12-11 05:15] mohdashraf010897 commented on #1814
Hey 👋  @rohit9m
Please provide more context, it would help to better understand the issue.

[2021-12-11 05:20] mohdashraf010897 commented on #1821
@freddyftw
You can upgrade to [Version 3.26.1-alpha.2](https://www.npmjs.com/package/@appbaseio/reactivesearch/v/3.26.1-alpha.2) that specifically fixes the above issue.

Working Demo 👉  https://codesandbox.io/embed/elastic-beaver-4jvem?fontsize=14&hidenavigation=1&theme=dark

Thanks

[2021-12-11 05:29] mohdashraf010897 commented on #1815
Hey 👋  @royduin
You can upgrade to [v 1.24.3-alpha.1](https://www.npmjs.com/package/@appbaseio/reactivesearch-vue/v/1.24.3-alpha.1) while we make a stable release.

Working Demo(s)
- [RangeSlider](https://codesandbox.io/embed/heuristic-browser-6lhnr?fontsize=14&hidenavigation=1&theme=dark)
- [DynamicRangeSlider](https://codesandbox.io/embed/zealous-einstein-kgfuq?fontsize=14&hidenavigation=1&theme

[2021-12-11 12:50] royduin commented on #1815
Awesome, thanks 💯

[2021-12-13 10:56] #1797 closed, assigned to nobody

[2021-12-16 19:16] tdr2d commented on #1360
Hello, I also noticed a problem on the debounce prop. It does not debounce at all, even when commenting the onChange callback.

See this demo :

[click on codesanbox demo](https://codesandbox.io/s/distracted-faraday-tzpq9?file=/src/index.js)

[code]

The code sets 1 second of debounce, but still it post 1 query per character when I type fast on the search bar.

[2021-12-16 20:31] tdr2d commented on #1360
I guess, this is simply because the parent component re-renders every time the value changes. Thus re-creating the `DataSearch` component and not applying the debounce.

[2021-12-23 23:09] bdecarne opened #1829 "ReactiveComponent : the component is never removed from the store"
**Affected Projects**

React

**Library Version:** x.y.z

3.26.1-alpha.2

**Describe the bug**

A rendered ReactiveComponent will never be removed from the store. In the commit https://github.com/appbaseio/reactivesearch/commit/8d01178c97b360124f300c3f73429cb66cd5b404 a new `destroyOnUnmount`property has been added to `ComponentWrapper`. Unfortunately, this prop is always undefined, the `removeCom

[2021-12-23 23:27] bietkul commented on #1829
@bdecarne The commit that you've shared fixes an important issue where force re-render breaks the components. I would like to understand the use case where you don't want to keep the `ReactiveComponent` in store. If `ReactiveComponent` value/query is a concern, then it can be cleared on unmount by using a wrapper component.
However, you can set the `destroyOnUnmount` as `true` to `ReactiveComponen

[2021-12-23 23:28] #1829 closed, assigned to nobody

[2021-12-24 06:24] rohit9m commented on #1814
Hi @mohdashraf010897 ,

  For a multidropdownlist component, if we make show search property as true like below or using any props

  <MultiDropdownList
                  showSearch={true}

It will generate a text box in any dropdown list to make a search in dropdown list items, but there is no option to clear that search text box.

[2021-12-28 07:44] TMKrishna1211 commented on #1814
Hello @mohdashraf010897 , Can you please help us on this issue. Awaiting your response.

[2021-12-28 07:45] TMKrishna1211 commented on #1814
We are facing issue with clearing the searched text after filtering the results of Multi select dropdownlist as mentioned in the details above.

[2021-12-28 11:12] bietkul commented on #1814
@TMKrishna1211 We can notice the issue.
@mohdashraf010897 Check the issue at [here](https://codesandbox.io/s/frosty-worker-3zegv?file=/src/index.js)
We can add a clear button in the input box to clear the searched text.

[2022-01-02 23:06] davaughncodes opened #1832 "Deploy your app for free 🚀"
Hey @appbase.io, I'm reaching out because I took a look at your project on GitHub (appbaseio/reactivesearch) and decided to reach out to see if you'd be interested in free hosting. I'm the owner of DeeloCloud, a serverless dev platform that allows you to easily deploy frontend and backend apps in minutes. It's built for developers, it's super easy to use, and you won't have to manage servers - whi

[2022-01-06 06:07] atindersingh67 opened #1836 "Its not searching the contains and postfix string."
### Discussed in https://github.com/appbaseio/reactivesearch/discussions/1835

<div type='discussions-op-text'>

<sup>Originally posted by **atindersingh67** January  5, 2022</sup>
I am using reactive search . Its searching the text with prefix only, but its not search text with postfix and contains.
For eg. i have description filed with the data 'product1 BN2445 with red color' if search for 'pro

[2022-01-09 02:06] #1511 closed, assigned to nobody

[2022-01-09 02:06] #1622 closed, assigned to nobody

[2022-01-09 02:06] #1555 closed, assigned to nobody

[2022-01-10 12:45] cdavid15 opened #1839 "Regression issue upgrading between 3.23.x and 3.24.x and above"
**Affected Projects**
React

**Library Version:**
 3.24.0 -> 3.27.0

**Describe the bug**
Breaking changes upgrading from  `3.23.x` -> `3.24.x` and upgrading to latest (`3.27.0`) is still broken.

The following describes the usage of the components in our app which hopefully provides the necessary context. I have also provided a animated gif of the functionality of `3.23.1` (working version), `3.2

[2022-01-12 05:53] rubyu opened #1843 "Request for a way to hook onComposition of DataSearch component"
**Is your feature request related to a problem? Please describe.**

There are certain people uses IME for input text (e.g. most of Chinese, Japanese). When we treat the case, simply watching a input's value is not enough. We have to use onComposition for treating this.

**Describe the solution you'd like**

Please see this implementation. I would like to implement this with reactivesearch.
https:/

[2022-01-13 09:53] golinski opened #1845 "Mandatory queryFormat in range components"
**Affected Projects**
React

**Library Version:** 3.28

**Describe the bug**
Recent support for dates in range components (#1825 ) has made the new props mandatory in TS, whereas they seem to be optional in JS.

**To Reproduce**
The minimal code from documentation:
[code]

gives an error:

[code]

**Expected behavior**
Code should compile. Possibly the types should enforce `calendarInterval` when

[2022-01-19 23:32] bietkul commented on #1839
@cdavid15 Can you share the `react` prop dependencies among the components? We would like to know how do you reset the filters when search value gets changed (we only reset pagination for result components).
We would be able to help faster if you can share a replicable demo. You can clone the following CSB.
https://docs.appbase.io/docs/reactivesearch/v3/range/rangeinput/#demo

[2022-01-20 14:25] #1821 closed, assigned to nobody

[2022-01-25 15:05] BobWez98 commented on #261
I need this too, any updates?

[2022-01-25 15:54] bietkul commented on #261
The workaround is to use the [ReactiveComponent](https://docs.appbase.io/docs/reactivesearch/v3/advanced/reactivecomponent/). Set the `URLParams` to true, and define the `customQuery` to apply the default sort. Use the `setQuery` method to change the query when sort option gets changed. You should set the `value` property as the sort value in the `setQuery` method.
Now, depend on the `ReactiveComp

[2022-01-26 15:56] BobWez98 commented on #261
Thanks for the workaround. Could you show an example of a customQuery with a sorting prop?

[2022-02-01 20:20] cdavid15 commented on #1839
@bietkul Thanks for the reply. I suspected we would need to try and recreate it in a sandbox but stripping all the internal private code itself will be a challenge.

I take it you don't see or believe anything between the 3.23 release and the 3.24 changed significantly enough to cause any issues?

I will try and get a isolated sandbox with or exact search setup created in the coming days / weeks t

[2022-02-07 09:04] gionaico opened #1864 "Is it possible to use all ReactiveComponents with SSR and nextjs?"
### Discussed in https://github.com/appbaseio/reactivesearch/discussions/1861

<div type='discussions-op-text'>

<sup>Originally posted by **gionaico** February  3, 2022</sup>
## Library Version:
  - @appbaseio/reactivesearch: 3.28.0
  - next: 12.0.7
  - react: 17.0.2

## Describe the problem
I am trying to initialize the state with initReactivesearch but I am not getting any data as a result of m

[2022-02-08 12:35] dominicpedro commented on #912
This is still not working, clearing the filters is not resetting the custom components query.
the query-changed event does not fire and in fact no events fire when clearing on the reactive-component.

[2022-02-09 10:48] atishayjainmono opened #1868 "node-fetch is vulnerable to Exposure of Sensitive Information to an Unauthorized Actor"
https://github.com/advisories/GHSA-r683-j2x4-v87g

[2022-02-15 08:16] akshay-1707 commented on #533
hey @siddharthlatest  i m facing cors error

 <ReactiveBase
  app="appname"
  credentials="abcdef123:abcdef12-ab12-ab12-ab12-abcdef123456"

    <Component1 .. />
    <Component2 .. />
</ReactiveBase>

this is the code i m using i have plae my aws cluster url in place of app and in app i have place cluster name

Adding image for reference
![Screenshot 2022-02-15 at 1 45 02 PM (2)](https://user-imag

[2022-02-15 14:44] rohit9m commented on #1814
Hi @mohdashraf010897 ,
When you guys are planning to release this ?

[2022-02-16 13:25] manishgadhock-monotype commented on #1868
+1

[2022-02-18 05:29] atishayjain opened #1883 "Node fetch vulnerability to be resolved"
https://github.com/advisories/GHSA-r683-j2x4-v87g

[2022-02-22 12:34] royduin commented on #1815
Merged and released, thanks 🥳 just one issue apart from the changed styling: https://github.com/appbaseio/reactivesearch/pull/1886

[2022-02-22 12:34] #1815 closed, assigned to nobody

[2022-02-23 15:36] davinciagf opened #1888 "TS2322 error when customQuery is used in togglebutton"
**Affected Projects** React

**Library Version:** 3.28.0

**Describe the bug** TS2322 error with customQuery of the togglebutton

**To Reproduce**

Code from the documentation. Just add the extending customQuery to the ToggleButton

[code]

**Expected behavior**

**Screenshots**

Error : Property 'customQuery' does not exist on type 'IntrinsicAttributes & IntrinsicClassAttributes> & Readonly<...>

[2022-02-28 07:29] mohdashraf010897 commented on #1868
https://github.com/appbaseio/reactivesearch/pull/1900
The PR updates the `appbase-js` which uses the patched version of `node-fetch` addressing the above vulnerability.

[2022-03-10 12:21] teodoralaura commented on #400
Hi,

I am new to ReactiveSearch, so maybe I'm missing something, but I am facing this issue and the sandbox is not working anymore. Has this been fixed? I did not see anything in the docs.

[2022-03-10 13:06] dominicpedro opened #1915 "Latest Vue Cli breaking"
Hi

My team upgraded our vue project to the latest vue cli, and started seeing an error regarding the range slider component.
we experienced the following error:

﻿
Uncaught ReferenceError: process is not defined
    at getComponents (ssr-a41dfea9.js:20:1)
    at Module../node_modules/@appbaseio/reactivesearch-vue/dist/es/RangeSlider.js (RangeSlider.js:25:28)

and were able to trace it to this lin

[2022-03-10 13:11] dominicpedro commented on #1915
apparently its related to this : https://stackoverflow.com/questions/65018431/webpack-5-uncaught-referenceerror-process-is-not-defined.

[2022-03-22 09:29] rohit9m commented on #1814
Hi @mohdashraf010897 , @bietkul ,

Can you please suggest if this fix is available in Version 3.29. We are upgrading our project with latest version.

[2022-03-22 09:38] bietkul commented on #1814
@rohit9m Yes, it is included. You would have to set the `showClear` prop to `true` in dropdown list components.

[2022-03-22 09:38] #1814 closed, assigned to mohdashraf010897

[2022-04-03 19:34] RukshanJS commented on #415
Hi @metagrover, sorry for replying in a really old thread. Could you please explain whether this setup is changed now because I want a method to manually update the state to re-populate the selected filters from outside the `ReactiveBase` component. (Without the user actually clicking on the checkboxes in a multi-list for example, but rather when navigating from another page, the required boxes ar

[2022-04-04 09:15] tiiavalt opened #1923 "Search results aren't updated on filter change after pagination has been used"
**Affected Projects**
React

**Library Version:**
3.28.1

**Describe the bug**
Search results (amount and items) aren't updated on filter change after pagination has been used.

Components:
`ReactiveList` + `pagination={true}`
`MultiDataList`

**To Reproduce**
Can be reproduced in ReactiveSearch's own demos: https://opensource.appbase.io/playground/?path=/story/list-components-multidatalist--basic

[2022-04-13 07:04] ghost commented on #1173
This is how I did the refresh with ReactiveComponent which also contains custom index query (not needed if you only refresh).
[code]

and use it in other components
[code]

To refresh, simply call
`setLastRefreshTime(new Date());`

[2022-04-13 08:35] RukshanJS opened #1930 "RangeInput has no `showHistogram` prop - TypeScript"
**Affected Projects**
Next.JS with TypeScript

**Library Version:** 3.29.1

**Describe the bug**
In documentation https://opensource.appbase.io/reactive-manual/range-components/rangeinput.html, it says `RangeInput` has a `showHistogram` prop. But this is not available (at least for TypeScript). I had to use `RangeSlider` instead.

**Expected behavior**
Have a `showHistogram` prop for `RangeInput`

[2022-04-15 07:08] #1888 closed, assigned to SavvyShah

[2022-04-16 06:25] #1651 closed, assigned to nobody

[2022-04-16 06:25] #1655 closed, assigned to nobody

[2022-04-16 06:25] #1706 closed, assigned to nobody

[2022-04-16 11:19] RukshanJS commented on #1930
`rangeLabels` also missing when use TypeScript.

[2022-04-18 12:02] ubaranzorlu commented on #1651
The issue persists. I cannot get it working in any way. My code:

[code]

[2022-04-24 22:50] coolb0y opened #1934 "Connnection unsuccessful to elasticsearch on localhost ."
### Discussed in https://github.com/appbaseio/reactivesearch/discussions/1933

<div type='discussions-op-text'>

<sup>Originally posted by **coolb0y** April 25, 2022</sup>
I used the sandbox code https://codesandbox.io/s/0yn05 . I put my index name as app name and credentials I put which I created during elasticsearch installation "elastic:somepassword" format and also link I gave was https://loca

[2022-04-25 17:58] RukshanJS commented on #393
Can someone please confirm this is solved and working in version `3.30.0`. I suspect a possible software regression since this seems to have worked for others earlier.

The loader is working fine infinite list pagination. But it is NOT showing when click a filter (multilist item for example). There is a slight delay between me clicking the filter item and the "reacted' results are updated in the `

[2022-04-25 18:14] RukshanJS opened #1935 "Loader not showing when click filter item"
**Affected Projects**
React (Next.js)

**Library Version:**
3.30.0

**Describe the bug**
When click on a filter item (for example multilist), the `ReactiveSearch` list is updated after a slight delay. But the loader is not visible during this time duration. But the loader is working when scroll to bottom (using infinite pagination)

Issue #393 is similar but it is closed so I assume this is a soft

[2022-04-26 09:08] Emilvooo opened #1937 "RangeInput not clearing correctly"
**Affected Projects**
React

**Library Version:** x.y.z
3.30.0

**Describe the bug**
When filtering using the RangeInput filter the <SelectedFilters reset buttons don't work.

**To Reproduce**
Use the lastest version of ReactiveSearch and use the RangeInput filter.

**Expected behavior**
The reset buttons should reset the RangeInput filters.

**Screenshots**
![Peek 2022-04-26 10-54](https://user-i

[2022-04-27 13:15] RukshanJS commented on #749
@metagrover Hi any update on this? I would like to display the loader at the top if I click on a filter item (since it changes the whole Results list.) and the loader at bottom if I scroll further down. Is this possible? Because currently, even if I click on a filter item, the loader is always at the bottom of the list.

[2022-04-27 14:47] RukshanJS commented on #749
@danielsnider Hi, I know it's an old thread but still facing the same issue.. Would you be able to share how you solved the issue? The link you have shared is now broken. Thanks.

[2022-04-27 15:12] danielsnider commented on #749
@RukshanJS Sorry I no longer have access to that code!

[2022-04-27 15:13] allendol opened #1939 "ReactiveSearch: Total hits returns to default 10000 after 'size' props changes"
**Affected Projects**
ReactiveSearch

**Describe the bug**
I set defaultQuery as below
defaultQuery={props => ({
     track_total_hits: true
})}
Now I get the correct total hits which is more than default 10000,
But when the 'size' property is changed in my ReactiveSearch code, defaultQuery doesn't work and total hits goes back 10000.
I saw in other thread to pass ?rest_total_hits_as_int=true in r

[2022-04-27 15:13] RukshanJS commented on #749
Ok thank you for your reply.. I'll keep looking for a solution.

[2022-04-27 18:25] allendol commented on #1939
This is clearly a bug. I added console.log and I see when the 'size' props changes, the code goes to below.

defaultQuery={props => ({
console.log("ReactiveList: defaultQuery");
track_total_hits: true
})}

But track_total_hits: true is **not** executed:

[2022-04-29 08:50] simkea opened #1958 "Navigation item in SingleDropdownList - not a11y useable with keyboard"
**Library Version:** 3.30.2

**Describe the bug**
The SingleDropdownList element cannot be operated by keyboard, if there are several selection elements here, it is not possible to make a selection with arrow up or down in the list.
We have a blind colleague and it would be nice if the accessibility is improved here.

The same problem exists with the DataSearch component.

Maybe there is also a se

[2022-05-09 07:14] bachvu-michael opened #1966 "Duplicate pagination"
**Affected Projects**
React

**Library Version:** x.y.z
"@appbaseio/reactivesearch": "3.30.3",

**Describe the bug**
duplicate pagination

**To Reproduce**

https://codesandbox.io/s/withered-cdn-pun7db?file=/src/index.js

Steps to reproduce the behavior:
at 'ReactiveList' component change size={2000} and add showEndPage={true}

**Expected behavior**
remove duplicate or debug about this bug to know

[2022-05-09 07:17] bachvu-michael commented on #1966
![Uploading Screen Shot 2022-05-09 at 14.11.42.png…]()

[2022-05-09 07:19] bachvu-michael commented on #1966
![Screen Shot 2022-05-09 at 14 11 42](https://user-images.githubusercontent.com/26225921/167359543-74b7a932-ed1a-4fb5-9803-b57ce42d1e4f.png)

[2022-05-09 15:53] arpithparikh commented on #1552
Hi ReactiveSearch Product Team -  I'm supporting this feature request. It is very challenging to add two sort options together or create a custom sort. I have a client requirement to add a sort option based on the updated dates and another couple of fields. But currently, there's no straightforward way to do it. Please provide some alternatives or add a separate component to achieve it.

[2022-05-11 09:07] anthonycook opened #1968 "DynamicRangeSlider giving "Missing definition for aggregation [match_all]" error"
**Affected Projects**
React

**Library Version:** 3.30.3

**Describe the bug**
When using the DynamicRangeSlider the request to ElasticSearch is returning the following error:

[code]

**To Reproduce**

Here is how I am using the component:

[code]

My ElasticSearch mapping for the price field is:

[code]

**Expected behavior**

This uses the "basic usage" example from the docs, is there something

[2022-05-13 20:30] RukshanJS commented on #1937
I'm having the same issue. Did you find any fix or workaround?

[2022-05-16 05:31] #1722 closed, assigned to mohdashraf010897

[2022-05-16 05:31] #261 closed

[2022-05-18 09:30] gervye opened #1973 "Vue - AutoScrollTop on pagination not working and pageChange event not emitted"
**Affected Projects**
Vue.JS

**Library Version:**
1.29.0

**Describe the bug**

When clicking on a page number, the ReactiveList component should scroll to top (by default) and should send a pageChange event.
In my case, the scroll is not done and I never get the pageChange event.

I think I found the problem in the code of the /packages/vue/src/components/result/ReactiveList.jsx component:

[cod

[2022-05-22 02:54] #1843 closed, assigned to nobody

[2022-05-23 08:41] mirjan-hoffmann opened #1974 "MultiList re-renders several times instead of once"
**Affected Projects**
React

**Library Version:** x.y.z
from 3.25.1 (also in current version 3.31.0)

**Describe the bug**
When a `MultiList` component is updated via `react`-property (e.g. to update the document-counter), the component is re-rendered very often. This affects performance significantly.

**To Reproduce**
https://codesandbox.io/s/crazy-sinoussi-3j9mbd?file=/src/index.js
Steps to rep

[2022-06-08 04:58] mohdashraf010897 commented on #1937
@Emilvooo https://github.com/appbaseio/reactivesearch/pull/1972 fixes the issue. Please confirm if you are good with the fix.

cc @RukshanJS

[2022-06-08 05:36] mohdashraf010897 commented on #1968
@anthonycook It's difficult to reproduce the issue with the information you have provided. More context is always good.🙂

Can you share your request payload? And also your index schema, if possible?

The way you are using the component is fine, and normally the error should not happen. 🧐

[2022-06-08 08:27] SavvyShah commented on #1939
The issue cannot be reproduced.
I have made a [codesandbox](https://ow4mez.csb.app/) where you can try changing the size by hitting the button. You would see that the size of the list gets bigger and the total results (26444) would remain the same.
The loom preview for demo is attached below. It shows the network requests which still track the total hits and doesn't get reset to default when chang

[2022-06-08 09:32] mohdashraf010897 commented on #1958
@simkea I am not able to reproduce the issue on my end.

I have been successful in operating the SingleDropdownList component through keyboard keys, selecting values, and changing them.

Check the demo here - https://docs.appbase.io/docs/reactivesearch/v3/list/singledropdownlist/#demo

[2022-06-08 09:48] kashaudhan opened #1992 "reactivemaps-native not working with `expo` v44.0.0"
Hello,

I'm working on a app which would get the user's locations & show the nearby restaurants or search particular restaurant & show it on the map.
I'm using `react-native`, `expo`  &  `reactivesearch-native` & `reactivemaps-native` to connect the elastic search api to achieve the same.

But I'm getting the following error while using the `ReactiveMap` component of `reactivemaps-native`:

![Micr

[2022-06-08 10:13] #1992 closed, assigned to nobody

[2022-06-08 17:55] arpithparikh commented on #256
I agree This would be a very worthwhile addition, i agree, and the issue is still current.

 I like this propose structure 👍

sortOptions={[
        {
            label: "Best Match",
            sort: { order: "desc", dataField: "_score" },
        },
        {
            label: "Rating",
            sort: [
                { order: "desc", dataField: "_score" },
                { order: "desc",

[2022-06-12 18:00] #1771 closed, assigned to nobody

[2022-06-12 18:00] #1739 closed, assigned to nobody

[2022-06-12 18:00] #1738 closed, assigned to nobody

[2022-06-12 18:00] #1772 closed, assigned to nobody

[2022-06-12 18:00] #1783 closed, assigned to nobody

[2022-06-12 18:00] #1785 closed, assigned to nobody

[2022-06-12 18:00] #1793 closed, assigned to nobody

[2022-06-12 18:00] #1649 closed, assigned to nobody

[2022-06-23 07:52] #1937 closed, assigned to mohdashraf010897

[2022-06-23 08:18] #1930 closed, assigned to nobody

[2022-06-23 08:19] #1845 closed, assigned to nobody

[2022-06-23 08:21] #1883 closed, assigned to nobody

[2022-06-23 08:22] #1813 closed, assigned to nobody

[2022-06-23 08:59] ubaranzorlu commented on #1974
Any updates on that one? It seems like the PR doesn't actually solve the problem for me. MultiList renders so much that it always maxes the bars in React Profiler and crashes my app. 3.25.0 seems a more reliable version for MultiList.

[2022-06-23 12:01] ubaranzorlu commented on #1974
Using those versions as dependencies solved all my problems.

`
{
  "dependencies": {
    "@appbaseio/reactivecore": "9.14.10",
    "@appbaseio/reactivesearch": "3.25.0"
  }
}
`

[2022-07-01 06:03] #1923 closed, assigned to SavvyShah

[2022-07-01 17:48] bietkul commented on #1974
Hello @ubaranzorlu, can you try upgrading to latest version?

[2022-07-04 05:08] mirjan-hoffmann commented on #1974
Upgraded to `"@appbaseio/reactivesearch": "3.34.1"` - performance looks good with this one. Also, my sandbox-example just logs a single re-rendering:  https://codesandbox.io/s/xenodochial-bhaskara-wvjhfm

-> fixed from my point of view

[2022-07-04 07:50] ubaranzorlu commented on #1974
Issue is resolved, thanks 👍

[2022-07-04 07:58] #1974 closed, assigned to nobody

[2022-07-05 13:32] sunnyunde-xooa opened #2015 "Dynamic Slider no way to handle error"
**Affected Projects**
React

**Library Version:** 3.34.3

**Describe the bug**
When using the Dynamic Range Slider as component for search filter. If no data is present in the index or provided with incorrect field, it goes in infinite loop. Due to no way to handle the error on the component not able to do control the error.

**To Reproduce**
Code sanbox link: [https://codesandbox.io/s/clever-glit

[2022-07-07 17:46] kklhuang opened #2020 "Connecting ReactiveBase to local ElasticSearch DB"
### Discussed in https://github.com/appbaseio/reactivesearch/discussions/2019

<div type='discussions-op-text'>

<sup>Originally posted by **kklhuang** July  7, 2022</sup>
Hi! I'm currently following the book search tutorial here: https://docs.appbase.io/docs/reactivesearch/v3/overview/reactivebase/
However, I'm trying to connect to my own local ElasticSearch DB on port 9200.

I've referenced this

[2022-07-19 22:49] arpithparikh commented on #1552
Hi, Any update on this? @carlopascual

[2022-07-20 07:36] zvictor commented on #1552
@carlopascual does not work with reactivesearch anymore, neither do I. (we used to be teammates)
Thus you shouldn't expect any update from our side.

[2022-07-26 13:09] AcckiyGerman commented on #1915
Hello, I follow the [quick start guide](https://docs.appbase.io/docs/reactivesearch/vue/overview/QuickStart/) and get the same bug.

To bootstrap the project I use `npm init vue@2` which uses **[vitejs](https://vitejs.dev/)** instead of **webpack**.

Thus the [solution for webpack users](https://stackoverflow.com/a/65018686/7709003) does not help.

Update:
This [vitejs workaround](https://github.c

[2022-07-31 16:47] #1823 closed, assigned to nobody

[2022-07-31 16:47] #1822 closed, assigned to nobody

[2022-08-01 10:12] dev-code-davis commented on #1958
I'm not able to tab + enter / up & down navigate the select list - https://codesandbox.io/s/github/appbaseio/reactivesearch/tree/next/packages/web/examples/SingleDropdownList?from-embed
Nor most of the Reactivesearch components.
P.S. The same issue persists with daterange. Not sure how one could select the date within the calendar widget.

Chromium + Firefox tested.

[2022-08-05 08:36] nwidynski opened #2043 "Typescript definition files (.d.ts) not present on >3.34.3"
**Issue Type:**
Bug + Enhancement

**Platform:**
Web

**Description:**
I'm trying to use the latest version of reactivesearch in a typescript project.
Despite the documentation, and example provided in the docs, typescript definitions are not available.

**Minimal reproduction of the problem with instructions:**

1. Step: npm install @appbaseio/reactivesearch@latest
2. Step: Check the contents of

[2022-08-10 01:13] process0 commented on #1494
Bump

[2022-08-11 05:46] SavvyShah commented on #2043
Thanks for reporting the issue. It has been fixed. Could you upgrade to latest version(`v3.38.1`)?

[2022-08-11 15:14] #2020 closed, assigned to nobody

[2022-08-12 17:33] alancwoo commented on #1732
@siddharthlatest @jpsc I was curious if there was any movement on this issue or if it's recommended to start new projects in Vue2 instead?

[2022-08-13 18:06] #1836 closed, assigned to nobody

[2022-08-15 19:37] ubaranzorlu commented on #2015
I have been trying to dodge this for a long time. I think it is because my elastic search returns aggregation buckets as follows which is null instead of numerical values

[code]

<img width="578" alt="image" src="https://user-images.githubusercontent.com/12199040/184704801-3ad76505-5690-4088-b33d-b4be3a37c973.png">

and I got this as a bonus

<img width="741" alt="image" src="https://user-images.

[2022-08-16 19:09] lukas-jansen commented on #1307
@jyash97 any update on this?
Looks like it still has this behavior but when you click on the load more button the button does get hidden.

[2022-08-17 08:08] ubaranzorlu commented on #2015
I have solved this error by putting [my fork of appbaseio-apps/reactivesearch-proxy-server](https://github.com/ubaranzorlu/reactivesearch-proxy-server) in between elastic server and the reactivesearch. There I have a response middleware where I replace null min with 0 and null max with a float *2.147483647* so that I can catch it later on the front-end and handle the situation by disabling this fi

[2022-08-17 08:11] sunnyunde-xooa commented on #2015
Yes, Handling it with help of middleware solved the issue.
Thanks @ubaranzorlu.

[2022-08-17 08:11] #2015 closed, assigned to nobody

[2022-08-18 15:08] WGriffing commented on #1360
I don't believe this is completed.

If there's a recommended workaround, I'd love to know.

If this is truly a "won't fix" item, I'd love to know that too. I see it has that label, but it seems the stale bot applied it, so not sure if I should take it to heart.

[2022-08-18 17:45] michaelmior opened #2053 "ListItem unnecessarily uses an anchor tag"
**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**
I want to include links within result items, but `ListItem` renders as an `<a>` tag, which shouldn't really be nested.

**Describe the solution you'd like**
Ideally, something other than `<a>` would be used to render `ListItem`s.

**Describe alternatives you've considered**
For now, I'm just accepting t

[2022-08-25 08:20] neelshahxooa opened #2057 "Export to CSV not working for infinite scrolling"
**Library Version:** 3.38.3

**Describe the bug**
On Infinite scrolling I have enabled export option, on clicking export to csv button it is throwing error.

**To Reproduce**
enable pagination, export and click export csv, check this sandbox for reference
https://codesandbox.io/s/reactivesearch-quickstart-final-app-forked-ji3bz6?file=/src/App.js

Also if you don't use enableAppbase and click expor

[2022-08-25 09:15] mohdashraf010897 commented on #2057
@neelshahxooa Thanks for raising the issue. 🙌

We will get back to you with a fix asap. 🔧

[2022-08-25 09:38] #2043 closed, assigned to SavvyShah

[2022-08-26 01:41] agarciapancan commented on #1507
Did you find out how to update this?

[2022-08-26 05:04] siddharthlatest commented on #2057
@neelshahxooa `enableAppbase={true}` is necessary for exporting to work, as exporting is based on the [ReactiveSearch API](https://docs.reactivesearch.io/docs/search/reactivesearch-api/).

[2022-08-29 12:57] allendol opened #2058 "sortBy doesn't work in MultiDropdownList anymore."
We use Reactiveasearch pointing to ElasticSeacrh 6.x
Recently we migrated ElasticSeacrh 6.8 to ElasticSeacrh 8.x
Now sortBy doesn't work in MultiDropdownList . I have to comment it in order I see data in MultiDropdownList.

**Describe the bug**

**To Reproduce**

Steps to reproduce the behavior:

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**
 - OS

[2022-08-29 13:08] siddharthlatest commented on #2058
@allendol Can you share a CSB where this issue is replicable?

[2022-08-29 13:13] allendol commented on #2058
@siddharthlatest where can I share? Is there any sandbox I can use?

[2022-08-29 14:12] siddharthlatest commented on #2058
@allendol You can take this as a base: https://codesandbox.io/s/compassionate-forest-g9ej6f, and update to point to an ES instance where this issue can be reproduced.

[2022-08-29 14:32] allendol commented on #2058
@siddharthlatest stupid question. When I change something in above, how can I save and run it?

[2022-08-30 12:00] Kyokatarz opened #2059 "TreeList dataField array causing elasticsearch to return error on field"
**Affected Projects**
React

**Library Version:** x.y.z
v3.38.3

**Describe the bug**
TreeList causes Elasticsearch field term to return 400 because it doesn't allow an array.
Elasticsearch version: v7.16.1

^ Could elasticsearch version be the problem?

**To Reproduce**
Passing `dataField` props to `TreeList` using elasticsearch v7.16.1

**Expected behavior**
It should work like other components

[2022-08-30 13:27] siddharthlatest commented on #2059
@Kyokatarz can you share the field mapping being used for dataField, and the network request payload?

[2022-08-30 15:55] Kyokatarz commented on #2059
I'm not sure how to extract field mapping, but here is network request payload :D

[code]

[2022-08-31 07:25] waotaa commented on #2058
with version: "@appbaseio/reactivesearch-vue@1.30.0"

I also recently upgraded my packages and experience an error with the sortBy.
In singlelists and multilists with for example sortBy="asc"

The error I get in my console is:
{"error":{"root_cause":[{"type":"aggregation_execution_exception","reason":"Invalid aggregation order path [_term]. The provided aggregation [_term] either does not exist, o

[2022-09-01 15:40] michaelmior commented on #2053
I haven't fully tested, but what seems to work is just changing `a` to `div` in [ListItem](https://github.com/appbaseio/reactivesearch/blob/de0b03879994b9873895e21147f6d86212cc977a/packages/web/src/styles/ListItem.js#L31).

[2022-09-03 12:12] RobinBrackez commented on #595
I searched a long time to make this work. For anyone interested:

Use `MultiList`, not `MultiDataList`. It doesn't work on the latter.

Use it like this:

[code]

The query to elastic should look like this:
`{"query":{"match_all":{}},"size":0,"aggs":{"reactivesearch_nested":{"nested":{"path":"tags"},"aggs":{"tags":{"terms":{"field":"tags.name","size":20,"order":{"_key":"asc"}}}}}}}`

[2022-09-05 17:48] WGriffing commented on #1360
Does anyone know if this issue is resolved by https://github.com/appbaseio/reactivesearch/pull/2063 ? I haven't had a chance to try the new version but the release notes for https://github.com/appbaseio/reactivesearch/releases/tag/v3.39.0 looked promising.

[2022-09-06 04:43] mohdashraf010897 commented on #1360
@WGriffing @gauthierm

The below playground shows DataSearch debounce working well.
https://opensource.appbase.io/playground/?path=/story/search-components-datasearch--with-debounce

If you are still facing the issue then do reply with a replicable sandbox link.

[2022-09-07 06:26] markusguenther commented on #2059
I have the same issue. It works when I use the field as a string (with an error in the console that I should use an array for the data Field). We use open search instead of elastic search.

[code]

And `gamePhasesDetails` is just a UUID that is matched to the search entry.
With `dataField={['gamePhasesDetails']}` it is not working.

**Resulting in:**
[code]

**Payload:**
[code]

[2022-09-13 09:38] #2057 closed, assigned to nobody

[2022-09-13 09:47] siddharthlatest commented on #1966
This is fixed and released in the latest releases.

[2022-09-13 09:47] #1966 closed, assigned to nobody

[2022-09-13 17:28] allendol commented on #2058
@siddharthlatest I have narrowed down the problem.
When I am using **ElasticSearch 6** the query generated from ReactiveSearch is as below.
{"preference":"Selected Dis"}
{"query":{"bool":{"must":[{"bool":{"must":[{"bool":{"should":[{"terms":{"supt.keyword":["Supply and Service"]}}]}}]}}]}},"size":0,"aggs":{"office.keyword":{"terms":{"field":"office.keyword","size":1000,"order":{"**_term**":"asc"}}

[2022-09-16 13:12] siddharthlatest commented on #2058
@allendol Which version of the library are you using? I can't reproduce this in v3.38.3 (or above), the network request sent does use `_key` to sort on, tested with MultiDropdownList component:

[code]

Can you share a CodeSandbox where the issue is reproducible?

[2022-09-20 15:24] samkio opened #2069 "Typescript definition files (.d.ts) not present on >3.39.4"
Same as https://github.com/appbaseio/reactivesearch/issues/2043 but for the latest version. Is there an error on how this is being published that causes this to happen frequently?

**Issue Type:**
Bug + Enhancement

**Platform:**
Web

**Description:**
I'm trying to use the latest version of reactivesearch in a typescript project.
Despite the documentation, and example provided in the docs, typescr

[2022-09-21 05:07] #1839 closed, assigned to nobody

[2022-09-21 05:07] #1864 closed, assigned to nobody

[2022-09-21 05:21] siddharthlatest commented on #2059
@markusguenther

Since `TreeList` is best used for levels (hierarchy) > 1, and there has to be a clear attribution of parent/child relationships, I think the current restriction on not allowing Array type of fields makes sense.

---

A follow-up question here: When you only have one level as here, would using MultiList or SingleList component instead work?

[2022-09-21 05:26] #2053 closed, assigned to mohdashraf010897

[2022-09-21 10:45] bietkul commented on #2069
@samkio You can upgrade to https://github.com/appbaseio/reactivesearch/releases/tag/v3.40.1

[2022-09-21 10:45] #2069 closed, assigned to nobody

[2022-09-21 12:55] michaelmior commented on #2053
Thanks!

[2022-09-21 14:25] WGriffing commented on #1360
Based on my testing (I tested 3.40.1), this was resolved by #2064 and can be closed. Thank you very much for addressing this issue.

[2022-09-21 15:54] markusguenther commented on #2059
Hi we plan to use two levels but already had the issue with one ;)

[2022-09-22 19:11] rgb-panda opened #2072 "Autosuggest include search history"
**Affected Projects**

React / Vue.JS / React Native

**Is your feature request related to a problem? Please describe.**

Have you considered adding search history to the autosuggest feature of DataSearch/CategorySearch similar to how google does it? It would be really handy

![image](https://user-images.githubusercontent.com/1173031/191831532-3e8adb17-8c31-4693-82be-b9450cebba7b.png)

[2022-09-27 12:07] delcacho opened #2074 "PieCharts and Barcharts from numeric fields in document"
**Affected Projects**
ReactiveChart

**Is your feature request related to a problem? Please describe.**
Trying to create visualizations out of an index

**Describe the solution you'd like**
It would be nice to be able to create PieCharts and BarCharts not only from counts but by representing a numeric field of a document. Right now they can only be generated out of keyword counts.

**Additional co

[2022-09-27 13:00] delcacho commented on #2074
I have noticed I can use a custom defaultQuery to retrieve a numeric field, what I would need is to have a labelField independent of the dataField:

defaultQuery={(value, props) => ({
    "query": {
        "exists" : { "field" : "duration" }
    }
  })}

[2022-09-29 13:05] samkio commented on #2059
We are facing the same issue. I'm not sure how this works as the "terms" field cannot be an array for aggregations based on the docs?  https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-terms-aggregation.html

The payload would need to be something like (for `dataField:["class.keyword","room.keyword"]`):
[code]

i.e. having a nested aggregation within the ag

[2022-09-29 13:38] samkio commented on #2059
I can confirm that by intercepting the request and changing it to the above query I was able to get it to render. (Not sure if the doc count is correct).

[2022-09-30 00:01] stonesthatwhisper opened #2081 "Failed prop type: SearchSvg: prop type `style` is invalid; it must be a function, usually from the `prop-types` package, but received `undefined`."
**Affected Projects**
React

**Library Version:** x.y.z
"@appbaseio/reactivesearch": "3.40.2",

**Describe the bug**
[code]

**Additional context**

[2022-09-30 00:05] stonesthatwhisper opened #2082 "Failed prop type: ToggleButton: prop type `enableAppbase` is invalid; it must be a function, usually from the `prop-types` package, but received `undefined`"
**Affected Projects**

React

**Library Version:** x.y.z
"@appbaseio/reactivesearch": "3.40.2",

**Describe the bug**
[code]

[2022-09-30 11:29] Gpapidas opened #2085 "Accent insensitive search on CategorySearch"
Hello, I am using reactive search in a web application, which supports languages with diacritics and accents.

However there are cases where database values contain EUR characters but you wish to search using Non-EUR characters.
E.g. Database has "Gräsö" and you wish this to be found only by typing "Graso".

Would it be possible to add support for accent ignore?
In the language that I am using, a

[2022-10-03 08:34] Gpapidas commented on #2085
I managed to solve my issue partly using the following customQuery. I will leave the issue open, since this suggestion will not work for languages using more than one accent in their words, and is only a work-around.

[code]

[2022-10-19 21:37] kasvith commented on #1667
@bietkul we are facing a similar issue now

We also use TailwindCSS for our website. We are also using SSR with Astro.
The main problem we face is when RS-loaded tailwind styles get overridden and we get a layout shift.
Is it possible to disable these styles and allow tailwind takeover completely?

https://user-images.githubusercontent.com/13379595/196809439-77a29f4f-d2d6-4e15-8257-4e04c3d6972a.mp

[2022-10-27 12:25] cohenj-else opened #2113 "DateRange component - queryFormat prop not working with enableAppBase"
**Affected Projects**
React

**Library Version:** x.y.z
3.41.1

**Describe the bug**
When using the DateRange component with the `queryFormat` prop (eg. `date_time_no_millis`) the request is still made with `queryFormat: "or"`.

**To Reproduce**
[![Edit morning-forest-fupur8](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/morning-forest-fupur8?fontsize=14&hidenav

[2022-10-27 13:02] cohenj-else opened #2114 "DataSearch component - controlled behaviour not working"
**Affected Projects**
React

**Library Version:** x.y.z
3.41.1 (working correctly in 3.0.0)

**Describe the bug**
When using the controlled behaviour of the DataSearch component to only trigger 'on enter' (as described here https://github.com/appbaseio/reactivesearch/issues/994#issuecomment-511854980)
, query is triggered on every keypress.

**To Reproduce**
[![Edit reactivesearch-quickstart-final

[2022-11-02 12:42] cohenj-else commented on #2114
This is working correctly for the SearchBox component, so that is a fine alternative. Probably this can be closed if you prefer. Thanks!

[2022-11-07 11:07] SavvyShah commented on #2074
You can use `setOption` prop as a functon to customize charts like setting labels.
[Demo](https://codesandbox.io/s/unruffled-flower-kj76sr?file=/src/index.js:1066-1100) for setting labels.
Here is a [demo](https://docs.reactivesearch.io/docs/reactivesearch/v3/chart/reactivechart/#custom-chart) which uses `defaultQuery` and `setOption` together.
You can also find `setOption` in the [docs](https://d

[2022-11-07 15:52] indykoning opened #2120 "componentId is required if used in slot"
**Affected Projects**

Vue.JS
**Library Version:** x.y.z

1.33.0-vue
**Describe the bug**

In PreferencesConsumer the check on componentId prevents usage of vue components in outside slots
https://github.com/appbaseio/reactivesearch/blob/3876244ea0505e5870840e589b31e6528a973b03/packages/vue/src/components/basic/PreferencesConsumer.jsx#L17

Since html forces lowercase whenever you add `componentId`

[2022-11-07 18:06] jebax opened #2121 "Access `renderPagination` inside `render`"
**Affected Projects**

React

**Is your feature request related to a problem? Please describe.**

I'm trying to render custom pagination below my `ReactiveList` result items. I'd also like to display some stats next to that pagination, e.g.
[code]

As far as I can see, you can only render custom pagination and the `setPage()` function with the `renderPagination()` prop of `ReactiveList`. And you c

[2022-11-07 20:08] bietkul commented on #2120
@indykoning Thanks for reporting the issue, a release (`v1.33.1`) is out with fix.

[2022-11-07 20:08] #2120 closed, assigned to nobody

[2022-11-10 08:04] guma44 commented on #1939
Hi, I also face it i.e. @SavvyShah I can definitely reproduce this bug.

https://user-images.githubusercontent.com/7634398/201034866-34448061-6674-43a2-a9e9-5c5369f7fb4f.mov

[2022-11-11 00:14] PeterPilley commented on #1732
Hi +1 on this, we are moving to vue3 now, be awesome if it supported it

[2022-11-17 09:32] jerrish20 opened #2126 "SearchBox renderSelectedTags prop is missing in the type definition"
**Affected Projects**
React

**Library Version:** x.y.z
3.42.1

**Describe the bug**
[code]

This will produce typescript error because it is missing in the type definition file.

**To Reproduce**
N/A

**Expected behavior**
No typescript error

**Screenshots**
N/A

**Desktop (please complete the following information):**
N/A

**Smartphone (please complete the following information):**
N/A

**Addit

[2022-11-17 16:36] ravinatesan opened #2127 "CVE-2022-3171, CVE-2022-3509, CVE-2021-22569 - High Severity Vulnerabilities"
"xdate" library, a core part of this framework is vulnerable and not maintained. It has a vulnerable java library "compiler.jar" in the lib folder.

https://github.com/arshaw/xdate

Please remove the reference to this library.

CVE-2022-3171: https://nvd.nist.gov/vuln/detail/CVE-2022-3171
CVE-2022-3509: https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-3509
CVE-2021-22569: https://nvd.nist.g

[2022-11-18 11:23] #2113 closed, assigned to SavvyShah

[2022-11-22 12:31] joshua-scott opened #2132 "React 17+ support?"
**Affected Projects**
React

**Library Version:**
3.43.1 (latest)

**Describe the bug**
This package has a dependency `"react-redux": "^6.0.1",`, which in turn has peer dependency `react@"^16.4.0-0"`. This means React 17+ cannot be used, even though React 17 was released over two years ago.

**To Reproduce**
Steps to reproduce the behavior:
`npm init -y && npm install @appbaseio/reactivesearch rea

[2022-11-29 08:42] rs-unsilo commented on #2114
We have this issue as well. We want to use "DataSearch". Can it be fixed instead?

[2022-11-29 08:45] siddharthlatest commented on #2114
@rs-unsilo Any reason to use DataSearch over SearchBox?

[2022-11-29 09:38] rs-unsilo commented on #2114
We use a customQuery directly to an elastic endpoint. Is that possible with SearchBox? IE. connect directly to an elastic endpoint (via a local proxy). From documentation it sounds a lot more bothersome with having to use a third party service, etc. compared to DataSearch

Regarding DataSearch - It must be a quite obvious bug to fix? triggeQuery() is called on every keystroke no matter how you set