[2019-04-09 04:04] lakhansamani commented on #929
@dres-cifuentes you can try adding `ReactiveBase` at root level component which wraps your screens, example `App.js`.

[2019-04-09 04:10] lakhansamani commented on #927
@DavidRamsdale it depends on how you are storing value of `Social+Adventure` in elasticsearch.
Can you share an example of how the value will look like for combination of 2 labels?

[2019-04-09 07:24] jyash97 commented on #926
Fixed [here](https://github.com/appbaseio/reactivecore/pull/35)

[2019-04-09 07:24] #926 closed, assigned to nobody

[2019-04-09 08:08] #839 closed, assigned to jyash97

[2019-04-09 08:09] lakhansamani commented on #839
Fixed here: https://github.com/appbaseio/reactivesearch/pull/904

[2019-04-09 09:37] lakhansamani commented on #922
@DustinKLo
You can use `ReactiveList` component here,
it has render prop, which will allow you to pass data to any child component
https://opensource.appbase.io/reactive-manual/v3/result-components/reactivelist.html#extending

Also if you want to store data / query state in state / redux store
you can use `onData` prop, it returns the data with change in each query state.

[2019-04-09 09:37] #922 closed, assigned to nobody

[2019-04-09 10:09] mauxtin opened #931 "vue: Server Side Rendering"
I have been using this package for a long time so thanks for open sourcing it! 😃

We live in a time where SEO is crucial for many businesses. I'd would be amazing to have SSR support for the Vue package similar to what the react currently has.

I couldn't find anything in the docs so I suppose it is not supported, please correct me if I am wrong.

[2019-04-09 10:48] bietkul commented on #931
Currently we do not support it in `vue`, we will add this feature soon.

[2019-04-09 17:51] #907 closed, assigned to jyash97

[2019-04-09 17:52] #911 closed, assigned to bietkul, jyash97

[2019-04-09 18:03] mauxtin commented on #931
Awesome! Thanks @bietkul for letting me know :)

[2019-04-09 18:12] ebytton opened #933 "Incorrect dependency path is breaking the build (webpack + react)"
**Bug**
Incorrect dependency path in the reactivesearch source is breaking the build (webpack + react)

**Platform:**
OSX Mojave

**Description:**
Our project build is failing because require('../../../package.json') does not exist. The correct path is require('../../../../../../package.json').version.

https://github.com/appbaseio/reactivesearch/blob/323fc25bc51f8b9d7f5c1443426d7eb26ad38ce3/packa

[2019-04-09 19:43] dres-cifuentes commented on #929
That worked, thanks!

[2019-04-09 19:43] #929 closed, assigned to nobody

[2019-04-10 10:12] #821 closed, assigned to nobody

[2019-04-10 10:55] lakhansamani commented on #933
@ebytton I tried creating minimal example using `react: 16.3.2`, `webpack-4`, `babel-7` and `@appbaseio/reactivesearch-3.0.0-rc.0`. But couldn't replicate above issue.

Here is sample code base
https://github.com/lakhansamani/reactivesearch-non-cra-example

Seems, `js` or `jsx` loader is missing in your `webpack` config, can you please check that once.

For more information you can check https://g

[2019-04-10 10:55] #933 closed, assigned to lakhansamani

[2019-04-10 12:59] vermario opened #935 "Question: "remote control" the search input of DataSearch"
**Issue Type:**
inquiry
**Platform:**
Web

**Description:**
I am trying to find out if it's possible via another component to trigger the updating of the state of the DataSearch component (or similar component). I would like to have a way by pressing a button or interacting with a custom component to set the value of the input and to trigger a new search.

I think this is what the UrlParamsProvide

[2019-04-10 15:55] ebytton commented on #933
Hi @lakhansamani, Thanks for your prompt response. I have js and jsx loaders defined in my webpack config:

[code]

"react": "^16.3.2"
"babel-core": "6.17.0",
"webpack": "^1.15.0",

[2019-04-10 17:23] #902 closed, assigned to nobody

[2019-04-10 17:31] dres-cifuentes opened #937 "Possible to stop RemoveComponent?"
**Issue Type:**
Enhancement

**Platform:**
Native

**Description:**
Hello! So I've managed to create custom search components, while making it happen on a separate screen I called "Filters" connected through React Navigation. I'm using the ReactiveBase component at a root level so that I can go back and forth between my Results screen and Filters screen.

Here's the problem: Navigating away from t

[2019-04-12 07:56] jyash97 opened #939 "Browser Compatible"
**Issue Type:**
enhancement

**Platform:**
Web

**Description:**
Check for browser compatibility issues on Web v3.

- URLSearchParams is undefined - IE 16 & below
- Object doesnt support `scrollTo` property - IE Edge v18
- Seeing two close icons in IE18 on all date picker stories.
![image](https://user-images.githubusercontent.com/22376783/59690392-fdf62b00-91fe-11e9-8d09-8801a79e1399.png)
- Seein

[2019-04-12 09:41] lakhansamani commented on #926
@willopez we added new release `3.0.0-rc.1` which includes above fix

[2019-04-12 09:49] lakhansamani commented on #937
@dres-cifuentes can you try achieving this by global state / redux store?
Example with each change you store query and value in your state and when component remounts if you have `query` and `value` the you can set it via `setQuery` prop.

[2019-04-12 10:20] joergac opened #940 "Roadmap"
The company I work for, is considering moving from Algolia to Elasticsearch and Appbase. We saw the [pricing ](https://appbase.io/pricing/) appbase offers and seems like a great deal for us.

However after testing the Vue library we realized that it stills is in beta mode (although functional) and we were wondering if there is Vue Roadmap you could share.

Algolia's Vue library is pretty mature an

[2019-04-12 12:51] srujanponnur opened #941 "If Multiple Indices in ReactiveBase,how to access individual records in ReactiveList"
**Issue Type:**

Enhancement

**Platform:**

Web
**Description:**

I just Wanted a little clarification on the accessibility of the second Index mentioned in the ReactiveBase with in a single ReactiveList onalldata prop, is it possible to do that? or is there an other way other than self querying another index inside Reactive List.

**Screenshots:**

**Minimal reproduction of the problem with inst

[2019-04-12 19:10] willopez commented on #926
great! thanks

[2019-04-15 08:28] #879 closed, assigned to nobody

[2019-04-15 13:03] lakhansamani commented on #941
@srujanponnur

you can add `ReactiveComponent` from `@appbaseio/reactivesearch`, where the `customQuery/defaultQuery` could be index query and then you can pass that `componentId` to the `react` prop of `ReactiveList`

example

[code]

[2019-04-15 13:03] #941 closed, assigned to nobody

[2019-04-15 13:10] srujanponnur commented on #941
Yes,I know this way and this is the same as `<ReactiveBase app="index1,index2" url="">` right?
What I wanted was , is there a way to access individual records in ReactiveList in onAllData prop
` <ReactiveList onAllData={function(Data)}`
Here Data has records including both the indexes,I wanted a way to seperate them.

[2019-04-15 13:13] srujanponnur commented on #941
@lakhansamani

Yes,I know this way and this is the same as `<ReactiveBase app="index1,index2" url=""> ` right?
What I wanted was , is there a way to access individual records in ReactiveList in onAllData prop
`<ReactiveList onAllData={function(Data)}`
Here Data has records including both the indexes,I wanted a way to separate them.

[2019-04-15 13:14] lakhansamani commented on #941
Yes, your `ReactiveBase` seems correct.

You can have 2 `ReactiveList` and 2 `ReactiveComponents` where 1 responds to data from `index1` and another responds to data from `index2`.

Else you can filter it on the client side but that might add some problems with pagination.

[2019-04-15 13:27] srujanponnur commented on #941
@lakhansamani

I understand what you are saying but my use case is ,I don't want to render index2 records i just want to access index2 records while rendering index1 records as there is some data dependency like this  `<ReactiveList onAllData={function(Data)}` so, using two `ReactiveList` doesn't really solve my problem,currently what I am doing is while rendering records from `index1` I am manual

[2019-04-15 13:36] lakhansamani commented on #941
@srujanponnur
Didn't get last part of your use case.
But can you share the version of `ReactiveSearch` that you are using?

Also if there is no-co-relation between data of index1 and index2 then you can just get the data via `ReactiveComponent` / `ReactiveList` and store it in state of your application for manipulation of data.

[2019-04-15 13:43] srujanponnur commented on #941
@lakhansamani

This is my version `reactivesearch-2.16.1`

Okay got it, just a rookie question if you wouldn't mind, storing Millions of Records Prior to my usage, wouldn't it effect the sites performance.

[2019-04-15 13:46] lakhansamani commented on #941
Thanks @srujanponnur for sharing version.

So above logic should work and to answer your question, yes it will affect the site performance.

[2019-04-15 16:03] JoeDevGeeeee opened #943 "Comprehensive example usage of ReactiveComponent"
**Issue Type:**

Enhancement

**Platform:**

Web

**Description:**

Possibly add more comprehensive example usage of ReactiveComponent

**Reactivesearch version:** x.y.z

3.0.0-rc3

**Browser:** [all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Safari | iOS XX UIWebView | iOS XX WKWebView ]

**Anything else:**

Need a more comprehensi

[2019-04-15 20:46] dmce opened #944 "Multiple Queries"
Hi

I have a ReactiveComponent in the form of an single input that sets a custom query, a RangeSlider with a custom query and a ReactiveList. When the page loads the query from the reactive component loads into the search results and then the same query loads but with the addition of the custom query from the RangeSlider.

I would rather the ReactiveList didnt do anything until it considered what

[2019-04-15 20:52] danielsnider opened #945 "How to validate query or error check response with customQuery"
**Issue Type:**
enhancement

**Description:**
I'm using the customQuery feature of my `DataSearch` component to send [String Queries](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html) to ElasticSearch. Sometimes the user enters an invalid string query and a `200` is sent back with the error message:

[code]

Returning `200` here seems insane to me,

[2019-04-15 21:33] danielsnider commented on #945
This ElasticSearch query parameter might be helpful!

https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-body.html

But there is still a problem. The `allow_partial_search_results` setting must be passed as query-string parameters which isn't possible using `customQuery`, right? I've created an [ElasticSearch issue](https://github.com/elastic/elasticsearch/issues/41223)

[2019-04-15 22:48] #857 closed, assigned to jyash97

[2019-04-16 12:48] Danelicious opened #946 "selectAllLabel for MultiDropdownList"
**Issue Type:**
enhancement

**Description:**
I was wondering if in the future you could apply the selectAllLabel for the MultiDropDownList. My issue is as follows: I have a list of let's say 50 items. That is why I chose DropDownList instead of e.g. DataList, where "selectAll" is possible. However, there is one item in the list which contains most of the search results. In some case I want the us

[2019-04-16 13:55] dres-cifuentes commented on #937
I started going down that route but got a different recommendation.

I installed a package named "react-native-drawer" which gives me the animation I need, I can set the offset to 0 so the drawer takes up the entire screen, and it doesn't unmount!

Now to get `SelectedFilters` working properly with my custom components  :)

Thanks for your recommendation!

[2019-04-16 13:55] #937 closed, assigned to lakhansamani

[2019-04-16 15:37] dres-cifuentes opened #947 "ReactiveList isn't updating when clearing SelectedFilters (custom components being used)"
**Issue Type:**
Leaning more towards Enhancement issue rather than Bug

**Platform:**
Native

**Description:**
Alright, so I've created a custom dropdown list, using a drawer navigation to keep the filter screen from unmounting, and I'm able to create a query and clear the query by checking/unchecking in the child custom component.

Selected Filter's is unfortunately not working as intended. I bel

[2019-04-16 16:44] danielsnider opened #948 "Support for ElasticSearch 7.0.0"
Hi,

I'm wondering if you'll be supporting ElasticSearch 7.0.0 eventually?

I gave 7.0.0 a try using ReactiveSearch `2.16.1` and I get the following error:

[code]

[2019-04-16 17:20] danielsnider commented on #945
So the solution *should* be setting this global config setting, but the setting is not working 😟. If you have any suggestion to try to get it to work, it would be much appreciated!

[code]

[2019-04-16 18:22] danielsnider commented on #945
Ignore my last two comments. The option doesn't actually help here (see [ElasticSearch issue](https://github.com/elastic/elasticsearch/issues/41223#issuecomment-483781447)).

So I reiterate the problem: ElasticSearch is insane and returns a `200` HTTP status when there is a query parsing error and no result data. Currently ReactiveSearch doesn't know what to do and it does nothing, it appears to k

[2019-04-16 22:26] getorca opened #949 "customQuery with script_fields script fields not included in query"
**Issue Type:**
bug

**Platform:**
ReactiveSearch for Web 2.18.0
ReactiveMaps 2.0.1

**Description:**
Including script_fields in the customquery on a GeoDistanceDropdown the query DSL doesn't contain the script_fields. ie. script_fields is dropped form the DSL.

[code]

The request body for the query has dropped the script_fields

[2019-04-16 23:55] siddharthlatest commented on #949
Hey @getorca, which version of ReactiveSearch is this issue happening with?

[2019-04-17 00:14] getorca commented on #949
@siddharthlatest
reactivesearch 2.18.0
reactivemaps 2.0.1

It could also be related to a reactivemaps component, the custom query is on a GeoDistanceDropdown search filter.

[2019-04-17 01:24] siddharthlatest commented on #949
Thanks! We've fixed this behavior in v3, currently on `3.0.0-rc.0` release.

[2019-04-17 01:51] getorca commented on #949
@siddharthlatest
Thanks, is there a migration guide available? I'm getting quite a few errors off the start.

[2019-04-17 02:00] getorca commented on #949
@siddharthlatest I'm experiencing the same behaviour in 3.0.0-rc.3 as mentioned above

[2019-04-17 07:49] bietkul commented on #949
I don't think we support this behavior in reactive-maps.

[2019-04-17 11:12] hemanta001 opened #950 "queryParams feature not working in reactive base"
**Issue Type:**

**Platform:**
Web

**Description:**

import React from 'react';
import { ReactiveBase,} from '@appbaseio/reactivesearch';

import Navbar from './components/nav/nav';
import Sidebar from './components/aside/aside';
import Main from './components/main/main';

export default class App extends React.Component {

    render() {
        return (
            <ReactiveBase

[2019-04-17 15:20] getorca commented on #949
okay, might not be a bug, but an unexpected behaviour. Should probably update the docs and examples that mention "in the format of Elasticsearch Query DSL"

[code]
https://opensource.appbase.io/reactive-manual/v3/map-components/geodistancedropdown.html

[2019-04-17 15:51] getorca opened #951 "GeoDistanceDropdown beforeValueChange, onValueChange and onQueryChange do not function"
**Issue Type:**
Bug

**Platform:**
ReactiveSearch for Web, 2.18.0 and 3.0.0rc3
ReactiveMaps 2.0.1

**Description:**
 beforeValueChange, onValueChange and onQueryChange do not function on GeoDistanceDropdown.

**Screenshots:**

**Minimal reproduction of the problem with instructions:**
Implement beforeValueChange, onValueChange and onQueryChange as describe in https://opensource.appbase.io/reactive

[2019-04-18 23:50] bietkul commented on #931
Added in the latest version.
https://opensource.appbase.io/reactive-manual/vue/advanced/ssr.html

[2019-04-18 23:50] #931 closed, assigned to nobody

[2019-04-19 06:54] mauxtin commented on #931
🎉 🎉 🎉

[2019-04-19 07:46] mauxtin opened #952 "vue: Access reactivesearch current values"
Is there a way of accessing the current values of the reactivesearch components?

For example I'd like to know that there are results shown on the page and if not, show something else. This would really improve the UX since when the user set some filters (dynamic range slider, multi list etc) and ended up with no results, I'd like to show something else, maybe an image saying something etc.

I als

[2019-04-19 08:12] mikeq commented on #948
This particular error is now due to total hits no longer returns a number but an object

https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking-changes-7.0.html#_literal_hits_total_literal_is_now_an_object_in_the_search_response

[code]

[2019-04-19 10:11] lakhansamani opened #953 "ReactiveMaps: add support for `searchAsMove` in `ReactiveOpenStreetMap`"
**Issue Type:**
enhancement

**Platform:**
Web

**Description:**
Currently, we are not supporting `searchAsMove` and `showSearchAsMove` prop in OpenStreetMap. We can add support for this props, using `onDragend` available for `OpenStreetMap`

https://leafletjs.com/reference-1.4.0.html#marker-dragend

**ReactiveMaps version:** 3.0.0-alpha.6

[2019-04-19 10:20] #953 closed, assigned to lakhansamani

[2019-04-19 12:01] mauxtin opened #955 "vue: Console error when having unrelated get parameters"
I noticed that when a page with URLParams enabled has a get parameter that is not a json value, a console error (as well as on sentry) appears.

A case that I noticed this happening is when I open a page through facebook whichs adds a fb get parameter to the link such as `example.com/page1?fbclid=IwAR0kVPeLtq1zGZZIWkcPWU6TAmFOdWX-MhIjd0Qk4HeNg4eibl0gOempoUU

The error seems to happen here: https:/

[2019-04-19 13:22] #951 closed, assigned to jyash97

[2019-04-22 14:33] #855 closed, assigned to nobody

[2019-04-22 14:49] jianglin101 opened #958 "ReactiveBase headers encodeURI on Authorization Basic"
**Issue Type:**
bug

**Platform:**
ReactiveSearch for Web

**Description:**
https://github.com/appbaseio/appbase-js/commit/54d796bb1f6b8e69bfe14304af64973bf38e08e5#diff-1fdf421c05c1140f6d71444ea2b27638
appbase-js added shouldEncode default true for headers, which encodes
[code]
then request headers become
 authorization: Basic%20xxxxxxxx

Is there a way to set not to encode headers from ReactiveBa

[2019-04-23 09:05] #867 closed, assigned to nobody

[2019-04-23 09:05] #852 closed, assigned to bietkul

[2019-04-23 09:06] #531 closed

[2019-04-23 09:07] #900 closed, assigned to bietkul

[2019-04-23 12:07] bietkul commented on #912
@javialon26 It is working with Vue too.
https://codesandbox.io/embed/z33kl8p1ml?fontsize=14

[2019-04-23 12:41] #912 closed, assigned to nobody

[2019-04-23 12:58] bietkul commented on #952
1. It is not possible to access reactivesearch store for now.
You can definitely create a new issue for it.

2. You can use `slot` to show the custom no results component under the `ReactiveList` component.
for example
[code]
Check docs [here](https://opensource.appbase.io/reactive-manual/vue/result-components/reactivelist.html)

[2019-04-23 12:58] #952 closed, assigned to nobody

[2019-04-23 13:04] #955 closed, assigned to bietkul

[2019-04-23 15:58] #949 closed, assigned to nobody

[2019-04-23 21:59] lucascaro opened #960 "Missing type definitions for sub components"
**Issue Type:** enhancement

**Platform:** web

**Description:**
Typescript definitions for the following are missing:

- ReactiveList.ResultCardsWrapper
- ReactiveList.ResultListWrapper
- ResultList.Content
- ResultList.Title
- ResultList.Description
- etc.

Which limits what can be done with typescript.

**Screenshots:**
![Fullscreen_4_23_19__2_59_PM](https://user-images.githubusercontent.com/26

[2019-04-24 11:44] #960 closed, assigned to bietkul

[2019-04-24 16:43] antekai opened #961 "MultiList and DataController (v.2) migration to Multilist with defaultQuery (v.3)"
**Issue Type:**
Bug (?)

**Platform:**
ReactiveSearch for Web

**Expected behaviour**: MultiList - defaultQuery prop allows full control of the listed-options query
**Actual behaviour**: MultiList - defaultQuery prop allows partial control of the listed-options query

**Description:**
I am not sure if this is a bug or expected behaviour. I try to control the listed-options of MultiList. At Reactiv

[2019-04-24 17:13] lucascaro commented on #960
thanks!

[2019-04-24 20:07] dres-cifuentes opened #962 "renderNoResults isn't working as expected"
**Issue Type:**
enhancement

**Platform:**
Native

**Description:**
I'm using `renderNoResults` in my `ReactiveList` component and it's not working as expected. I'm probably not doing using it properly but I didn't see any examples. I've tried:

[code]

**Screenshots:**

**Minimal reproduction of the problem with instructions:**

**Reactivesearch version:** x.y.z
0.12.0

**Browser:** ios android

[2019-04-25 04:12] bietkul commented on #961
Can you please update to the latest `rc` version, we have fixed it recently.

[2019-04-25 05:50] #808 closed, assigned to lakhansamani

[2019-04-25 07:07] bietkul commented on #962
I think we don't support this prop in native.

[2019-04-25 13:18] dres-cifuentes commented on #962
@bietkul  Line 472 in ReactiveList, Native version:

https://github.com/appbaseio/reactivesearch/blob/next/packages/native/src/components/result/ReactiveList.js

[code]

It's in there. Is it just not active?

[2019-04-25 13:19] bietkul commented on #962
It's `onNoResults` in native.

[2019-04-25 13:29] dres-cifuentes commented on #962
This works, thank you!!
[code]

[2019-04-25 13:29] #962 closed, assigned to nobody

[2019-04-26 20:05] DustinKLo opened #963 "Is there any way to integrate GeoShape queries"
**Issue Type:**
Feature

**Platform:**
ReactiveSearch for Web

**Description:**
Is there a way to integrate geoshape queries into my query: https://www.elastic.co/guide/en/elasticsearch/reference/6.7/query-dsl-geo-shape-query.html
using `ReactiveList` to display my results

[code]

**Reactivesearch version:** 3.0.0-beta

[2019-04-27 14:41] redlinecodes commented on #834
@lakhansamani - Is this issue fixed in v3x?

[2019-04-27 17:52] antekai commented on #961
Updating to latest resolves the issue. Thank you!

[2019-04-27 17:52] #961 closed, assigned to nobody

[2019-05-01 20:37] rjacques opened #964 "Looking for a very simple example of @valueChange on DataSearch"
Hi,

I am looking for a simple implementation of @valueChange in a DataSearch component for Vue.
Apologies, I have looked far and wide but just can't find any examples.

I have a code example here: https://codesandbox.io/s/8yqy5l8jvj

I just want to implement a @valueChange event that does anything, even if it just alerts or logs something to the console.

Thanks!

[2019-05-01 20:50] bietkul commented on #964
Check it
https://codesandbox.io/s/j0x6rp3r3

[2019-05-01 20:50] #964 closed, assigned to nobody

[2019-05-01 20:54] rjacques commented on #964
Brilliant, thank you very much!

[2019-05-02 02:27] JoeDevGeeeee commented on #958
Having the same problem. Anyone found a solution yet?

[2019-05-02 12:56] joepio commented on #948
Workaround in your `ReactiveList` component:

[code]

[2019-05-02 14:39] jyash97 opened #965 "URLParams value not in sync with Component when using Vue Router"
**Issue Type:**
**Bug** but needs investigation as I am not sure if I've done some mistake while implementing.

**Platform:**
Vue

**Description:**
There are two  related issues :
1. When reloading the page the `URLParams` value is not in sync with the component.
2. When we change the route and send the param the component is not in sync.

**Minimal reproduction of the problem with instructions:**

[2019-05-02 18:11] zguillen opened #966 "In Getting Started Guide, links in components overview/results components get 404s"
**Issue Type:**
 Bug

**Platform:**
ReactiveSearch for Web

**Description:**
On this page https://opensource.appbase.io/reactive-manual/getting-started/componentsindex.html#4-result-components the links to ReativeList, ResultList, etc. all result in 404 responses.

**Minimal reproduction of the problem with instructions:**
go to https://opensource.appbase.io/reactive-manual/getting-started/compone

[2019-05-02 19:54] bietkul commented on #966
Thanks for reporting the issue, it has been fixed now.

[2019-05-02 19:54] #966 closed, assigned to nobody

[2019-05-02 21:59] getorca commented on #314
any updates on this? I'm looking for the same ability to use templates.

[2019-05-03 00:13] siddharthlatest commented on #314
@getorca It's possible to do this now but requires some work on a user's end. We support `transformRequest` prop in ReactiveBase which allows changing the endpoint, headers and request body. You would ideally keep a state of current components' values and use them as param values to pass in instead of the generated query.

Let me know if this helps! And if you have any ideas on how can make this e

[2019-05-04 21:55] rjacques opened #967 "How to have a ReactiveList update as typing in DataSearch (example)"
Hi,

There is an example here that I would like to duplicate: https://reactivesearch-vue-playground.netlify.com/?knob-sortBy=asc&selectedKind=Search%20Components%2FDataSearch&selectedStory=Without%20autosuggest&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs

Anyone knows how they manage to get that effect. There is no autosuggest, and the reactive list just up

[2019-05-05 21:11] rjacques commented on #967
Nevermind, I figured it out.

[2019-05-05 21:11] #967 closed, assigned to nobody

[2019-05-06 08:18] apiel commented on #935
Need the same here

[2019-05-06 10:16] bietkul commented on #935
One solution can be the use of controlled behavior of DataSearch component ( > 3.0 ), use the `value` prop with `onChange` to handle the selected value at a particular time.
Note: Now the `value` will be a reactive property, change it whenever you want and it will update the query.

[2019-05-06 19:51] chloesun opened #968 "How to use DataSearch as controlled component ?"
**Issue Type:**
Sorry to post this issue here, I was hoping to get some help.
Here is my question on StackOverflow: https://stackoverflow.com/questions/55976186/how-to-use-datasearch-as-controlled-component-from-reactivesearch

**Platform:**
ReactiveSearch for Web

**Description:**
I'm new to ReactiveSearch library, and I implemented the DataSearch component with autosuggestion as my in-site Searc

[2019-05-06 19:54] bietkul commented on #968
Can you please tell the ReactiveSearch version?
FYI we don't support this in 2.0.

[2019-05-06 19:56] chloesun commented on #968
"@appbaseio/reactivesearch": "^3.0.0-rc.4"

[2019-05-07 06:04] apiel commented on #935
Actually after playing around for hours, I think the right way to go is to use reactive component https://opensource.appbase.io/reactive-manual/advanced/reactivecomponent.html

[2019-05-08 13:07] Sergio094 opened #969 "Get results from a query"
**Issue Type:**
bug

**Platform:**
Web

**Description:**
I would like to know if there is way to get the results of a query whenever I use the Multi Dropdown List (for example). I'm trying to show these data in a custom table (so not a reactive search component) and I don't know how to retrieve them.

**Minimal reproduction of the problem with instructions:**
I found a sandbox that might solve thi

[2019-05-08 13:16] bietkul commented on #969
In `3.0-rc` we have added the `render` prop which can be used to render the custom UI for list components.
https://opensource.appbase.io/reactive-manual/list-components/multidropdownlist.html#extending

[2019-05-08 13:25] Sergio094 commented on #969
I know, but that's not what I was looking for :( that prop only render a list of the "keys", not a full object with all the data.

This is a screenshot from that sandbox I linked ->

![image](https://user-images.githubusercontent.com/49476822/57378599-6932f300-71a5-11e9-9564-661813fcfc76.png)

[2019-05-08 13:38] bietkul commented on #969
I'm not sure what do you mean by the `full object`, are you looking for the unparsed query results?
Or check the `render` method in ReactiveList
https://opensource.appbase.io/reactive-manual/result-components/reactivelist.html#extending

[2019-05-08 13:50] Sergio094 commented on #969
Sorry, I'll try to explain:

Let's say that the object Book has 3 properties: title, author and a publicationYear that has 2010 as value.
Using (for example) a multi dropdown list that contains all the years from 2000 to 2010, choosing 2010 I'd expect to get the data of the book that has 2010 as publicationYear, including title and author. That's what I meant with "full object" :P

I can't use Rea

[2019-05-08 13:56] bietkul commented on #969
Use `onAllData` ( if using 2.0 ) or `render` ( > 3.0 ) from ReactiveList to render your custom UI which can be anything like a table, list or whatever you want.

[2019-05-08 14:03] jyash97 commented on #969
Hey @Sergio094
By using `render` prop of `ReactiveList` you can display your data in any UI component. Let's suppose you want your data in a table, you can do something like this:

[code]

And use `react` prop to update the `ReactiveList` data based on the `MultiDropdownList` value.

[2019-05-08 14:07] jyash97 commented on #968
`onChange` returns the updated value it does not return a `Synthetic Event`. I have updated the Demo of DataSearch component from the docs to use controlled behavior.

I have also added a callback which would get called when you select any suggestion. You can make use of `downShiftProps` to achieve this.

Check the app [here](https://codesandbox.io/s/ommkkyv2y). You can also read more about this p

[2019-05-08 14:53] Sergio094 commented on #969
@jyash97  thanks for the example :) Sadly it throws me the error "data.map is not a function", plus it repeats the columns for each result

![image](https://user-images.githubusercontent.com/49476822/57384955-caf95a00-71b1-11e9-87f1-9808656b9ffe.png)

[2019-05-08 14:55] bietkul commented on #969
Can you share the codesanbox link

[2019-05-08 14:55] Sergio094 commented on #969
@jyash97  thanks for the example :) Sadly it throws me the error "data.map is not a function", plus it repeats the columns for each result  :/

![image](https://user-images.githubusercontent.com/49476822/57385051-fe3be900-71b1-11e9-8030-4a0a01f87903.png)

[2019-05-08 15:09] Sergio094 commented on #969
@bietkul @jyash97
nevermind, I solved the problem :) I was still using the "renderItem" prop instead of "render", and for the map I solved using data.data.map
Thanks for the support ^^

[2019-05-08 15:57] #969 closed, assigned to nobody

[2019-05-08 17:49] chloesun commented on #968
@jyash97  Thank you so much! This clarifies a lot!

[2019-05-08 18:02] #968 closed, assigned to bietkul

[2019-05-08 23:33] rjacques opened #970 "Clear DataSearch input element without the clear text icon (Vue)"
Hi,

Is there a way or a method that I can call to clear the DataSearch input element without clicking the clear text icon.

For my implementation I would like to clear the input when a user clicks outside.

Thanks!

[2019-05-08 23:57] bietkul commented on #970
For now, there is no straight way to do that.
You can check this workaround https://codesandbox.io/s/43mo5xv32x

[2019-05-09 00:01] bietkul opened #971 "Vue: Support controlled behavior in all data-driven components"
**Issue Type:**
Add `value` prop with `change` event handler in all the data-driven components similar to the React.

**Platform:**
Vue

**Description:**

**Screenshots:**

**Minimal reproduction of the problem with instructions:**

**Reactivesearch version:** x.y.z

**Browser:** [all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Safar

[2019-05-09 00:02] bietkul commented on #970
We'll track it here #971

[2019-05-09 00:02] #970 closed, assigned to nobody

[2019-05-09 04:09] Danelicious opened #972 "Check if value exists, than return it, else return something else in ReactiveList"
**Issue Type:**
Question

**Platform:**
ReactiveSearch for Web

**Description:**
I have items in ES with articles that consist of a title, description and a link. But sometimes there is only the title and description, no link.

I would like to check if there is a link in my ES-index. If yes, I want to return the link in my ReactiveList. If not, I want to return "No link available". I tried a coupl

[2019-05-09 06:42] Danelicious commented on #972
I finally got it! Of course it has nothing to do with ReactiveSearch, so I will close it. Feel free to delete the post. Cheers!

[2019-05-09 06:42] #972 closed, assigned to nobody

[2019-05-09 17:30] dres-cifuentes opened #974 "Ability to Clear Search Input in DataSearch outside of tapping the Clear X Button?"
**Issue Type:**
enhacement

**Platform:**
Native

**Description:**
I have a master filter reset button. I need this button to also clear the input text within DataSearch. It doesn't seem like there's a way to do so. Would appreciate any help or workarounds

**Reactivesearch version:** x.y.z
0.12.0

**Browser:** iOS

**Anything else:**

[2019-05-09 19:04] dres-cifuentes commented on #974
Found a work around. Took a look at a similar issue, and the sandbox example, which uses Vue, can be found [HERE](https://codesandbox.io/s/43mo5xv32x)

Essentially there's a `defaultSelected` prop. Use local state, set the `defaultSelected` value as an empty string, and use the `onValueChange` prop to pass the value to state. Create a function to set the local state item to an empty string when yo

[2019-05-09 19:04] #974 closed, assigned to nobody

[2019-05-09 19:22] dajinchu opened #975 "Bug: Not Excluding Fields From Suggestions"
**Issue Type:**
Bug

Related to #417

**Platform:**
Web

**Description:**
Include/excludeFields don't apply to suggestion queries. I have extremely large fields in my documents that I need to exclude for network performance, but while setting excludeFields inside ReactiveList will exclude the fields when searching, the requests being sent to get suggestions do not exclude.

**Minimal reproduction

[2019-05-09 19:30] dajinchu commented on #975
My current workaround is to add
[code]
to the DataSearch component.

[2019-05-09 19:34] bietkul commented on #975
Yes, for suggestions it won't work because it executes the internal query.
And `defaultQuery` is the right way to do that.

[2019-05-09 19:44] dajinchu commented on #975
Okay. I would also like to prevent the suggestion query from doing other things like highlighting and aggregating filters. I see how in defaultQuery, I can add options to the query, but is it possible to remove options like `highlight` and `aggs` ?

[2019-05-09 19:57] danielsnider commented on #945
I've checked with the ElasticSearch team ([issue](https://github.com/appbaseio/reactivesearch/issues/945)) and they repetitively say they won't help us with this.

The problem is that I can't access the response of my `customQuery` so I cannot check for the error: `{"responses":[{"error":{"root_cause": ...` ☹. `onData` doesn't give this data either and `onError` doesn't trigger.  Currently Reactiv

[2019-05-09 20:11] bietkul commented on #975
You can set `highlight` as `false` and override the `aggs` by using `defaultQuery`.

[2019-05-09 20:18] bietkul commented on #945
Whenever a query is wrong, elasticsearch throws the `200` with an error response, I think we should handle it in `appbase-js` and invoke the `onError` with the error message.
@siddharthlatest What do you think?

[2019-05-10 01:02] rjacques opened #976 "Highlight and Custom Highlight in Vue"
Hi Everyone,

I'm trying to get highlighting to work in Vue, but I'm stuck.
I see that there is an example here: https://reactivesearch-vue-playground.netlify.com/?selectedKind=Search%20Components%2FDataSearch&selectedStory=With%20highlight&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs

But it doesn't seem to work.

I tried to implement the custom highlight s

[2019-05-10 01:26] rjacques commented on #976
I tried the following: https://codesandbox.io/s/m4w5poo8pj

[2019-05-10 04:26] siddharthlatest commented on #945
@bietkul @danielsnider This seems specific to the `_msearch` query. I agree with the premise of handling the error in a better way.

@danielsnider If you are interested in fixing this, the fix should most likely be applied over here: https://github.com/appbaseio/appbase-js/blob/develop/src/core/request/fetch.js#L64.

[2019-05-10 15:57] bietkul commented on #398
Check the new [StateProvider](https://opensource.appbase.io/reactive-manual/base-components/stateprovider.html) component, which solves these problems efficiently.

[2019-05-10 15:57] #398 closed

[2019-05-10 17:53] Jscott388 commented on #948
@joepio this isn't working for me.

[2019-05-10 18:09] danielsnider commented on #945
Hi @siddharthlatest, we've taken a stab at a fix but we are stuck with an error when building your code into the minified format (which is what I found for appbase-js in my node_modules). I would rather test non-minified code in my node_modules but I tried dropping it in and I got import errors.

Here's the error I got when building your code into minified format:
[code]

Please help! I'd be happy

[2019-05-10 18:11] bietkul commented on #945
I think you can ignore it for now

[2019-05-10 18:14] danielsnider commented on #945
@bietkul I can't ignore my lack of built files. What you mean ignore?
[code]

[2019-05-10 18:22] bietkul commented on #945
I'm not sure where you're getting this.
Just clone the repo from [here](https://github.com/appbaseio/appbase-js)
and run
`yarn`
You can test it by adding a test case and run `yarn test`
If it works than create a PR

[2019-05-10 18:44] danielsnider commented on #945
@bietkul Thanks! Yes, it's as simple as that! No matter how simple, it would be good to say that in your documentation. I had looked on your [README](https://github.com/appbaseio/appbase-js/blob/develop/README.md) for build instructions but there are none. It would have saved us both time 👍.

[2019-05-11 19:14] #947 closed, assigned to bietkul

[2019-05-12 17:55] arcxyz commented on #958
Same problem here using the Vue components.

[2019-05-13 00:18] siddharthlatest commented on #958
If you are trying to use Basic Authentication, you can use the `credentials` prop of ReactiveBase, which accepts a `username:password` format (i.e. not base64 encoded).

[2019-05-13 01:57] scotthooker commented on #864
Hi!

I also wonder if this is possible similar to the extension done here for a reactive list https://github.com/appbaseio/reactivesearch/issues/798

Key issue being a site with lots of "facets" can't load them all into the multi dropdown list if there are say 500+

[2019-05-13 09:01] arcxyz commented on #958
As a temporary solution for my use case (elasticsearch proxy with express+jwt) I'm going to decode the header on server before extracting the token from request

[2019-05-13 09:37] lakhansamani opened #978 "bug: onQueryChange listener stops"
**Issue Type:**
bug

**Platform:**
Web

**Description:**
If we pass `key` prop to `ReactiveList` component and update that prop for force re-rendering of component, `onQueryChange` prop stops working

**Screenshots:**

**Minimal reproduction of the problem with instructions:**
* Demo: https://codesandbox.io/s/n7xv5p6vj0
* Open the console, try to search and hit enter, result component will be rend

[2019-05-13 10:15] bietkul commented on #978
#667

[2019-05-13 18:56] chloesun commented on #968
@jyash97 Thanks for your previous update! I notice this works perfectly when I select an option from the drop-down selection list, but it doesn't trigger the event when my input matches exactly one of the selections and I just click "Enter" on keyboard. How to trigger the event when I either click "Enter' or manually select a suggestion from the drop-down list? Thanks a lot!!

[2019-05-14 03:45] danielsnider commented on #945
Many thanks for the help ya'll! We got it working.

Here's a quick diff to see how we fixed it. Nothing special, for sure!

[code]

[2019-05-14 07:18] jyash97 commented on #968
You can use `onValueSelected` prop in `DataSearch`  it provides the cause of event like `ENTER_PRESS ` or `SUGGESTION_SELECT`, or you can add `onKeyDown` method on `DataSearch`. Read more [here](https://opensource.appbase.io/reactive-manual/search-components/datasearch.html#extending).

[2019-05-14 11:33] lakhansamani opened #981 "bug(web): add prop validation for common props"
**Issue Type:**
bug

**Platform:**
Web

**Description:**
Currently, common props are not validated across all the components example DateRange is not having validation for `customQuery`, `beforeValueChange`. https://github.com/appbaseio/reactivesearch/blob/next/packages/web/src/components/date/DateRange.d.ts

This behavior is there for many other components. While using it with Typescript it can s

[2019-05-15 07:00] #756 closed, assigned to nobody

[2019-05-15 07:00] #816 closed, assigned to nobody

[2019-05-15 07:01] #896 closed, assigned to nobody

[2019-05-15 08:35] StephanMa commented on #948
Anything new on this one? Currently i have to delete the total number to make it run. Unfortunately the pagination does not work without the total number

[2019-05-15 18:14] iseabock commented on #445
@metagrover FYI, the docs (here at least https://opensource.appbase.io/reactive-manual/base-components/selectedfilters.html) Make mention of an onChange, not an onClear

[2019-05-15 18:15] bietkul commented on #445
@jyash97 Can you update the docs

[2019-05-15 23:06] #945 closed, assigned to nobody

[2019-05-16 00:33] manikumarrepuri opened #984 "Access to XMLHttpRequest at 'https://mydomain.co.uk:9443/tests/_msearch?' from origin 'https://mydomain.co.uk' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource."
**Issue Type:**
Issue

**Platform:**
Reactivesearch for web [ReactJS web application/ nodejs backend]

**Description:**
From a React frontend
Code: <
ReactiveBase app="tests"
url= "https://mydomain.co.uk:9443"

Trying to connect but getting the below error.

Access to XMLHttpRequest at 'https://mydomain.co.uk:9443/tests/_msearch?' from origin 'https://mydomain.co.uk' has been blocked by CORS polic

[2019-05-16 05:13] siddharthlatest commented on #984
@manikumarrepuri This looks fine. Do you have any other service (e.g. nginx, nodejs) sitting in front of your ElasticSearch? The same CORS rules need to be applied there as well.

[2019-05-16 08:41] manikumarrepuri commented on #984
Thanks for the prmpt response @siddharthlatest , Yes I do have nodejs as backend and nginx as load balancer.
Find the CORS settings on the nodejs as below...

app.register(require('fastify-cors'), {
    origin: true, //Access-Control-Allow-Origin
    methods: ['GET','PUT','POST','DELETE','PATCH','OPTIONS'], //Access-Control-Allow-Methods
    allowedHeaders: ['Origin', 'X-Requested-With', 'Content-

[2019-05-16 10:26] manikumarrepuri commented on #984
By mistake, clicked close button...Appreciate your response.

[2019-05-16 12:31] vincepich opened #985 "ReactiveList does not display paging control"
**Issue Type:**
bug

**Platform:**
Web

**Description:**
ReactiveList component with the pagination = {true} setting does not display page numbers by returning this error to the console:
index.js: 1375 Warning: Failed prop type: Invalid `total` of type` object` supplied to `ReactiveList`, expected` number`.
I'm using elasticsearch 7.0.1

**Screenshots:**

**Reactivesearch version:** 3.0.0-rc9

**B

[2019-05-16 12:33] jyash97 commented on #985
Related #948

[2019-05-16 12:38] vincepich commented on #984
Put this in your configuration file _elastichsearch.yml_:

http.cors.enabled: true
http.cors.allow-credentials: true
http.cors.allow-origin: "*"
**http.cors.allow-methods: OPTIONS, HEAD, GET, POST, PUT, DELETE**
http.cors.allow-headers: X-Requested-With, X-Auth-Token, Content-Type, Content-Length, Authorization, Access-Control-Allow-Headers, Accept

[2019-05-16 12:41] manikumarrepuri commented on #984
@siddharthlatest
I have enabled cors settings on nginx side, looks like the issue is vanished but facing another issue.

react-dom.production.min.js:4408 Invariant Violation: Minified React error #31; visit https://reactjs.org/docs/error-decoder.html?invariant=31&args[]=object%20with%20keys%20%7Bvalue%2C%20relation%7D&args[]= for the full message or use the non-minified dev environment for full er

[2019-05-16 12:53] manikumarrepuri opened #986 "Invariant Violation: Minified React error #31 - with the version 3.0.0-rc.9"
**Issue Type:**
Seems to be a Bug

**Platform:**
Web

**Description:**
react-dom.production.min.js:4408 Invariant Violation: Minified React error #31; visit https://reactjs.org/docs/error-decoder.html?invariant=31&args[]=object%20with%20keys%20%7Bvalue%2C%20relation%7D&args[]= for the full message or use the non-minified dev environment for full errors and additional helpful warnings.

An error ha

[2019-05-16 13:01] jyash97 commented on #986
Can you please share a codesandbox link. Looks like you are rendering an `Object` somehwhere.

[2019-05-16 13:21] siddharthlatest commented on #984
@manikumarrepuri Since this is a separate issue, can you open it in a new issue thread? Also, if you just started seeing this right now, then you can also try downgrading the library version, that would be helpful to know if it's specific to this particular version.

[2019-05-16 13:39] manikumarrepuri commented on #984
Makes sense. closing this issue.
Below is the code added to nginx location /
add_header 'Access-Control-Allow-Origin' '*';
add_header 'Access-Control-Allow-Methods' 'GET,PUT,POST,DELETE,PATCH,OPTIONS';
add_header 'Access-Control-Allow-Headers' 'Origin, X-Requested-With, Content-Type, Accept, Access-Control-Allow-Origin, Cache-Control, Cookie, Accept, X-Requested-With';

[2019-05-16 13:39] #984 closed, assigned to nobody

[2019-05-16 14:51] kud opened #987 "[Question] about payload"
Hello!

I'm playing with your project, and I'm wondering if this payload is correct:

[code]

I see there two objects not embedded in a collection/array, is it normal?

It's not json compliant.

[2019-05-16 14:53] jianglin101 commented on #958
solution by @siddharthlatest works.   ReactiveBase [documentation](https://opensource.appbase.io/reactive-manual/getting-started/reactivebase.html): 'If you are not using an appbase.io app, credentials may not be necessary'.  So basically, prop credentials can be used for appbase.io app AND non-appbase Basic Authentication, prop headers is default encoded in appbase-js v4 beta

[2019-05-16 14:59] kud commented on #987
Answered myself via: http://ndjson.org/

Thank you.

[2019-05-16 14:59] #987 closed, assigned to nobody

[2019-05-16 22:43] manikumarrepuri commented on #986
I got what this issue is all about.
In the elasticsearch, there is a change recently in which the total was changed from number to an object. Below is the reference....
{
     "_shards": ...
     "timed_out": false,
     "took": 100,
     "hits": {
         "max_score": 1.0,
         "total" : {
             "value": 10000,
             "relation": "gte"
         },
         "hits": ...
     }
}

[2019-05-16 22:43] #986 closed, assigned to nobody

[2019-05-17 01:58] #948 closed, assigned to bietkul

[2019-05-17 01:58] #985 closed, assigned to nobody

[2019-05-17 15:09] kud opened #989 "[Doc] Add credentials support in documentation"
Hello,

I didn't find any documentation about this but found a way to make it work:

[code]

I found an old stackoverflow speaking about `beforeSend` but this prop has been removed.

[2019-05-17 15:43] kud opened #990 "[Doc] dataField should be described as mandatory in ReactiveList"
[code]

[2019-05-17 16:21] bietkul commented on #958
It is best to use `transformRequest` prop to set the headers which you don't want to encode.

For example:

[code]

[2019-05-17 16:21] #958 closed, assigned to bietkul

[2019-05-20 04:59] #981 closed, assigned to nobody

[2019-05-20 09:41] bietkul commented on #990
Only props labeled with the `optional` tag are optional, rest all are required.

[2019-05-20 09:41] #990 closed, assigned to nobody

[2019-05-20 09:45] bietkul commented on #885
Please try now, it should work now.

[2019-05-20 09:45] #885 closed, assigned to jyash97

[2019-05-20 11:56] bietkul commented on #965
@jyash97 The issue is with your configuration of Vue Router, it is adding an extra hash at the end of the URL.
Check the working example [here](https://codesandbox.io/s/vue-template-5meoz)

[2019-05-20 11:56] #965 closed, assigned to bietkul

[2019-05-20 14:51] jvorcak opened #991 "Allow to pass options to AutocompleteService when using GeoDistanceSlider"
**Issue Type:** Enhancement

**Platform:** Web

**Description:**
I'd like to be able to pass `window.google.maps.places.AutocompleteService` options, so that I'm able to limit the search to a certain scope or just modify the way how I get data from Google.

**Reactivesearch version:** 2.18.0

**Browser:** all

**Other:**

You can pass various options https://developers.google.com/maps/documentatio

[2019-05-21 10:08] joergac opened #992 "DataSearch on enter event"
**Issue Type:**
enhancement

**Platform:**
Web

**Description:**
I am looking of a way to handle the enter event on DataSearch.

When the user writes something and hits enter I'd like to redirect him to a search page.

I am not talking about the suggestions though.

I am already handling the case where the user hits enter on a suggestion. I only want to redirect the user to the search page if he j

[2019-05-21 10:18] bietkul commented on #992
You can use `onKeyDown` prop from `DataSearch` to check if the enter key is being pressed.
[code]

[2019-05-21 11:35] joergac commented on #992
Using `onKeyDown` (I suppose it got changed in version 3.0.x) worked! Thanks @bietkul!

[2019-05-21 11:35] #992 closed, assigned to nobody

[2019-05-21 12:33] joepio opened #994 "Enter key in DataSearch should ignore debounce value"
**Issue Type:**
I think this classifies as a bug

**Platform:**
Web

**Description:**
The default `debounce` value of 0 sends a lot of requests to my Elastic backend, which makes [my app](https://github.com/ontola/ori-search) laggy, so I turned up the Debounce value to 500ms. However, this delays every single search request - also if the user presses enter.

I believe the correct behavior should b

[2019-05-21 12:41] joergac opened #995 "ReactiveList - Process raw results before rendering"
**Issue Type:**
enhancement

**Platform:**
Web

**Description:**
I am looking of a way to process and alter the raw results received on ReactiveList before rendering them.

My use case is that I am building a search page where the user searches in two indexes (say Categories and Products).
I only want to display the categories of the products though so I want to filter the products out and get the

[2019-05-21 18:13] joepio commented on #573
Perhaps I'm missing something, but I can't find either `innerRef`, `inputRef` or `myForwardedRef` prop in the [v3.0.0-rc.6 `DataSearch` component.](https://github.com/bietkul/reactivesearch/blob/next/packages/web/src/components/search/DataSearch.d.ts)

[This commit](https://github.com/bietkul/reactivesearch/commit/6dadb68ba34c820ecf629d4722b346d9041b25aa#diff-774c82cb65c430e7849fab1e3b9f8132) seem

[2019-05-21 18:44] bietkul commented on #573
Just pass the `ref` prop and it should work, for example:

[code]
For some components which have an input element like `DataSearch` you get the input ref as the `_inputRef` property of the ref.
For example, `this.dataSearchRef._inputRef` will give you access to the input element.

[2019-05-22 07:48] joepio commented on #573
Thanks for the quick reply! However, the `ref` property also does not exist on DataSearch, according to my typescript:

[code]

It's present in the dev branch, but not in the latest v3.

[2019-05-22 09:36] joergac commented on #995
It seems like there is a `transformResponse` on `ReactiveBase`. Is this the only way to intercept the response?

[2019-05-22 12:49] bietkul commented on #573
Thanks, @joepio for reporting the issue.
Please try with the latest version, it should work now.

[2019-05-22 14:51] scottmont commented on #985
Why is this closed ?

[2019-05-22 15:19] vincepich commented on #985
Because in v3.0.0-rc10 is fixed!

[2019-05-22 15:21] scottmont commented on #985
You are amazing!! Thank you so much I have been struggling with this.

On Wed, May 22, 2019, 11:19 AM vincepich, <notifications@github.com> wrote:

[2019-05-22 15:35] scottmont commented on #985
heads up i installed rc12 and get this  ( using node v10.15.3  / react 16.2.0 )

TypeError: _react2.default.forwardRef is not a function

./node_modules/@appbaseio/reactivesearch/lib/components/basic/URLParamsProvider.js
[code]

[2019-05-22 15:38] scottmont commented on #985
Can disregard that using latest react everything works great.  16.8.6 - react

[2019-05-23 08:26] joergac opened #997 "web: DynamicRangeSlider with URLParams redirects on page load"
**Issue Type:**
bug

**Platform:**
Web

**Description & Minimal reproduction of the problem with instructions:**
When one has a DynamicRangeSlider with URLParams set to true and visit a page, the page redirects to `page.com/####?prices=[something].

[code]

**Reactivesearch version:** 3.0.00-rc10

**Browser:** all

[2019-05-23 10:09] #890 closed, assigned to nobody

[2019-05-23 14:15] joepio commented on #893
Seems to be fixed in the current `next` branch.

[2019-05-23 14:15] #893 closed, assigned to jyash97

[2019-05-23 15:25] joepio opened #999 "DateRange picker support for indefinite dates"
**Issue Type:**
Enhancement

**Platform:**
Web

**Description:**
Currently, the DateRange picker supports only ranges for definite dates, which means that both a `start` and `end` date is required. I suggest that this component could also be used in cases where only a a `start` or `end` date is set.

[2019-05-24 05:33] joergac opened #1000 "DataSearch input field custom attributes"
**Issue Type:**
enhancement

**Platform:**
Web

**Description:**
I am looking for a way to add custom attributes to the input field of my DataSearch component.

My use case is that I'd like to add aria-labels to my input for seo related issues. Chrome lighthouse complains about this.

![image](https://user-images.githubusercontent.com/47501888/58304790-759e8900-7dfe-11e9-87a3-b98520bc2cc1.png)

**

[2019-05-27 08:15] joergac commented on #997
Updated my issue.

The expected behavior would be to add the get parameter only after changing the values directly. (The same way the rest of the components currently work)

[2019-05-28 08:21] joergac opened #1001 "DynamicRangeSlider bug when no results"
**Issue Type:**
bug

**Platform:**
web

**Description:**
When you search for something that returns no results, dynamicrangeslider's values (min+max) are set to 0. Removing the search should display all results but instead show no results since the mix and max are still set to zero.

**Minimal reproduction of the problem with instructions:**
https://codesandbox.io/embed/dynamicrangeslider-915dp

1

[2019-05-28 16:11] dojutsu-user opened #1002 "parseSuggestion introduces duplicate results with DataSearch and highlighting does not work"
**Issue Type:**
Bug
**Platform:**
Reactivesearch web

**Description:**
I am using reactivesearch to build a search for books. Here is the Datasearch component:
[code]

This is introducing duplicates in the suggestions. And also the highlighting settings seems to have no effect on suggestions.

**Screenshots:**
![ezgif-1-9ae5c1afbe8a](https://user-images.githubusercontent.com/29149191/58493335-54d4

[2019-05-30 22:34] tristanreid commented on #608
It would be nice to have a ResultTable for large queries, to automatically handle pagination.

[2019-05-31 07:53] joergac opened #1004 "DynamicRangeSlider onChange is never called"
**Issue Type:**
bug

**Platform:**
Web

**Description:**
The onChange method mentioned in the docs in never called on the DynamicRangeSlider component.

**Minimal reproduction of the problem with instructions:**
https://codesandbox.io/embed/dynamicrangeslider-iflh8

**Reactivesearch version:** x.y.z
3.0.0-rc12

**Browser:** all

[2019-05-31 07:59] joergac opened #1005 "DynamicRangeSlider labels on SelectedFilters"
**Issue Type:**
enhancement

**Platform:**
Web

**Description:**
Right now, there is no way to specify the labels of a DynamicRangeSlider on SelectedFilters. This is usually done using the `filterLabel` prop but is seems like it is not implemented yet.

We could possibly use the already defined `rangeLabels` to avoid having to duplicate the labels.

I am using the slider to show prices and on the

[2019-05-31 09:15] siddharthlatest commented on #608
@tristanreid Since there are already very feature-rich table components out there, we made a conscious decision to not support one as part of the library.

We have created an [app](https://youthful-shockley-cfbba8.netlify.com/) that shows this using React virtualized list that can be purchased [here]( https://www.reactiveapps.io/datagrid-app).

[2019-05-31 09:53] siddharthlatest opened #1006 "Enhancement: Built-in support for search operators in *Search components"
**Issue Type:**

Enhancement

**Platform:**

Web, applies to Native as well

**Description:**

We should support a prop, e.g. `searchOperators` which when set to true will use a [simple query string query](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-simple-query-string-query.html) that offers built-in support of search operators similar to Google Search, e.g. + signif

[2019-05-31 12:56] janaka120 commented on #633
Any update on this one @rap2hpoutre

[2019-05-31 14:53] siddharthlatest commented on #633
@janaka120 We haven't added support for this yet, but are open to. Feel free to create a PR, or we will leave this open for now.

[2019-06-01 09:20] jyash97 commented on #267
This would be included in the next release ✨ . Fixed here #1003

[2019-06-01 09:20] #267 closed

[2019-06-01 17:04] anshumanv commented on #633
Picking this up ✨

[2019-06-02 05:44] csepulv opened #1007 "v3: ReactiveList.onData doesn't always fire"
**Issue Type:**
Possible Bug

**Platform:**
Web

**Description:**
in `ReactiveList`, the `onData` callback is not called when `resultStats` change, but hits don't.

In `componentDidUpdate`, it is checking if a limited subset of props change.  But this list doesn't include the total number of items available.

See https://github.com/appbaseio/reactivesearch/blob/255e5a905f275a49490266bdf396b286950d

[2019-06-03 11:07] bietkul commented on #1004
`onChange` must be used with `value` prop to implement the controlled behavior of components.
You should use `onValueChange` instead.

[2019-06-03 11:07] #1004 closed, assigned to nobody

[2019-06-03 11:10] bietkul commented on #1001
Duplicates to #739

[2019-06-03 11:10] #1001 closed, assigned to nobody

[2019-06-03 11:19] bietkul commented on #1002
Can you please share some reproducible demo?

[2019-06-03 11:24] bietkul commented on #1005
I think we can define one more prop `filterValue` which can be used by `SelectedFilters` component to render the custom filter values.

For example:

[code]
What do you think?
@siddharthlatest @lakhansamani

[2019-06-03 11:33] bietkul commented on #1000
We can have a new prop in search components to define the props applied to `input` element.

Meanwhile, you can use `ref` to set the attributes.

for example:

1. Access the input ref
[code]

2. Use it to set attributes
[code]

[2019-06-03 18:05] OElesin commented on #254
The `onValueSelected` does seem to work with VueJS. Or am I doing something wrong? See code below
[code]

[2019-06-07 12:43] nithinkashyapn commented on #515
Hey,

Thanks for the load more feature.

Can anyone tell me as to how the `DB search` feature will work or as to how to implement it?

[2019-06-07 15:39] bigscratcher commented on #256
Can you add example here, how to sort by `_geo_distance`. I am struggling with it some time.
I can't add it in `customQuery` in `DataSearch` or anywhere else, it needs to come after `query: {}` part as separate section and to get the following in _msearch header:
`{
    "from": 0,
    "size": 10,
    "query": {
        "match_all": {}
    },
    "sort": {
        "_geo_distance": {
            "pi

[2019-06-08 08:17] joergac commented on #1002
I can confirm this is an issue for me too.

[2019-06-08 09:27] mauxtin opened #1008 "Vue: Manipulate results before render"
**Issue Type:**
enhancement

**Platform:**
Vue

**Description:**
Looking for a way to manipulate the results, similar to the `transformResponse` on the `ReactiveBase` component of the React version.

I couldn't find any reference in [the docs](https://opensource.appbase.io/reactive-manual/vue/result-components/reactivelist.html). Can this be done on the Vue version?

[2019-06-10 03:19] bietkul commented on #1007
It's been fixed in the latest release.

[2019-06-10 03:19] #1007 closed, assigned to nobody

[2019-06-13 14:53] joepio opened #1011 "SortOption should be stored in URL"
**Issue Type:**
Enhancement

**Platform:**
Web

**Description:**
In a `ReactiveList` component, an array of `sortOptions` can be specified. The selected SortOption modifies the query and usually has a big impact on the results that are displayed. Therefore, the selected SortOption should be part of the URL parameters.

**Reactivesearch version:** 3.0.0-rc.13

[2019-06-13 15:48] bitbit-gmbh opened #1012 "No results in local ElasticSearch setup with VueJS"
I can connect successfully to my local ElasticSearch instance, but I receive no results within my VueAPP.

This is my setup:

package.json:

"dependencies": {
    "@appbaseio/reactivesearch": "^3.0.0-rc.13",
    "core-js": "^2.6.5",
    "vue": "^2.6.10"
  },

I'm using ReactiveSearch for Web.

This is my local ElasticSearch Instance:

![2019-06-13_17h38_05](https://user-images.githubusercontent.co

[2019-06-13 19:03] mauxtin commented on #1012
You have to use reactivesearch-vue, not reactivesearch.

https://www.npmjs.com/package/@appbaseio/reactivesearch-vue

[2019-06-13 19:04] mauxtin commented on #1012
You have to use reactivesearch-vue, not reactivesearch.

https://www.npmjs.com/package/@appbaseio/reactivesearch-vue

[2019-06-15 07:20] sagilo opened #1016 "DynamicRangeSlider error when using React property (range.start is null)"
**Issue Type:** bug

**Platform:** Web

**Description:**
I'm using `DynamicRangeSlider`, in its react property I set `DataSearch, DateRange, SingleDropdownList`.
As the app starts, I get a warning and the slider doesn't show up:
[code]

Edit:
I've noticed that if I remove the `SingleDropdownList` ('skillName') from the `react` property, everything works. Is there any reason why the single selectio

[2019-06-17 11:54] sahilchopra commented on #390
+1

[2019-06-17 12:04] siddharthlatest commented on #390
This can be achieved now with the `transformData` prop - https://opensource.appbase.io/reactive-manual/list-components/multilist.html.

[2019-06-17 12:04] #390 closed

[2019-06-17 14:12] bitbit-gmbh commented on #1012
Ok, thanks, at least I get some results on "id_ssy_land". But when I use for example "hafen_ort" as dataField, I receive the following error in the console:

![image](https://user-images.githubusercontent.com/9974678/59610905-a3839e80-911a-11e9-83f6-2b6b2d126a51.png)

[2019-06-18 03:37] smcguinness opened #1017 "URLSearchParams package issue"
**Issue Type:**
Bug

**Platform:**
Web

**Description:**
According to the URLSearchParams spec passing an object to URLSearchParams should be valid. I'm running into some sort of memory leak when I do so. However, when I pass a valid query string value I do not experience the leak.

**Minimal reproduction of the problem with instructions:**
https://codesandbox.io/s/winter-night-i58j6

**Reactivese

[2019-06-18 10:38] nithinkashyapn commented on #947
@dres-cifuentes How did you solve this?

[2019-06-18 13:38] jrishabh55 opened #1018 ""TypeError: renderData is not a function" when renderDataAll"
**Issue Type:**
BUG

**Platform:**
WEB - vue

**Description:**
When using result components like reactive list, renderData is required event when we pass renderAllData function/slot element

above example with throw error
[code]

**Screenshots:**

http://prntscr.com/o3em5l

**Minimal reproduction of the problem with instructions:**

[code]
-->

**Reactivesearch version:**  appbaseio/reactivesearch

[2019-06-18 13:55] mauxtin commented on #1018
Try this
[code]

[2019-06-18 13:57] mauxtin commented on #1012
I cannot see an actual error there. Try checking the http response in the network tab.

[2019-06-18 14:54] jrishabh55 commented on #1018
hey @mauxtin thanks for the reply,
Actually, this issue is not about a workaround, onAllResult has its own usages and its not working as it should,

if renderAllResult is preset the lib should use it instead of throwing an error that renderResult is not a function

[2019-06-19 00:42] bietkul commented on #1018
@jrishabh55 We haven't defined typings for ReactiveSearch Vue, that is why you're getting this error.

[2019-06-19 08:32] jrishabh55 commented on #1018
hey, @bietkul shouldn't this still work? I mean the renderAllResult doesn't get executed at all after the error comes up, Sorry for being so ignorant but as a user, i would still expect it to work even if types are not available it is used in vue component written in JS not TS

[2019-06-19 08:37] bietkul commented on #1018
It is `renderAllData` and it'll work well if you're not using Vue typescript.
Check the docs with the example [here](https://opensource.appbase.io/reactive-manual/vue/result-components/reactivelist.html)

[2019-06-19 14:48] jrishabh55 commented on #1018
Hey,
yeah sorry for the wrong name, but yeah it actually never gets called, not sure why,

[2019-06-19 17:50] cperlaAFX opened #1019 "Connecting to local Elastic cluster"
I am unable to connect my reactivesearch app to a vanilla version of Elasticsearch running on my local machine despite following the documentation (ES version 6.4.3).

I am using node.js and reactivesearch for web following the book search tutorial: https://codeburst.io/how-to-build-an-e-commerce-search-ui-with-react-and-elasticsearch-a581c823b2c3. I have added the following configuration to my el

[2019-06-19 18:46] siddharthlatest commented on #1019
@cperlaAFX Can you share the browser's console log and the specific error from the network request?

[2019-06-19 19:09] cperlaAFX commented on #1019
Here is the browser's console logs. I don't get a specific error when running npm start but am unable to search the app at localhost:3000.

index.js:1375 Warning: Unknown event handler property `onData`. It will be ignored.
    in a (created by Styled(a))
    in Styled(a) (created by ResultCard)
    in ResultCard (at App.js:49)
    in div (at App.js:48)
    in div (at App.js:34)
    in div (create

[2019-06-20 03:58] bietkul commented on #1018
Check this example [here](https://codesandbox.io/s/reactive-list-lclem)

[2019-06-20 03:58] #1018 closed, assigned to nobody

[2019-06-20 09:41] bietkul opened #1020 "web: CustomQuery is not working as expected in ReactiveComponent"
**Issue Type:**

**Platform:**

**Description:**

**Screenshots:**

**Minimal reproduction of the problem with instructions:**

**Reactivesearch version:** x.y.z

**Browser:** [all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Safari | iOS XX UIWebView | iOS XX WKWebView ]

**Anything else:**
CustomQuery is not accepting query options

[2019-06-20 09:43] bietkul opened #1021 "web: Better controlled behavior in search components"
**Issue Type:**

**Platform:**

**Description:**

**Screenshots:**

**Minimal reproduction of the problem with instructions:**

**Reactivesearch version:** x.y.z

**Browser:** [all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Safari | iOS XX UIWebView | iOS XX WKWebView ]

**Anything else:**
When user sets `onChange`, `onBlur`, `onKey

[2019-06-20 11:38] oshiniG opened #1023 "Custom pagination in ReactiveList"
Can user put custom button to load the data as "show more" and "show less" rather than using pagination in ReactiveList?

[2019-06-20 13:39] jyash97 commented on #1021
I tried to debug the current controlled behavior. So it works fine when there are no URLParams but when we have URLParams. For eg: `?search="da"` and when we reload the page and clear filters it doesn't clear search because of `Datasearch` internal state  `currentValue` which is set to `da`. If this edge case is solved I think we are good with the current controlled Component. Right? @lakhansamani

[2019-06-20 13:55] lakhansamani commented on #1021
@jyash97 this is the different edge that should be fixed, you can report this as a separate bug.

[2019-06-20 23:53] multidis opened #1024 "SSR fails with sortOptions in ReactiveList"
**Issue Type:** bug

**Platform:** Web

**Description:**
When `sortOptions` prop is passed to `ReactiveList` it fails with server-side rendering. The error traces to "only used for SSR" - commented code block [here](https://github.com/appbaseio/reactivesearch/blob/next/packages/web/src/components/result/ReactiveList.js#L435).

`options.sort = [(_ref10 = {}, _ref10[props.sortOptions[undefined.sortO

[2019-06-21 03:44] DustinKLo commented on #963
Is there any way a cleaner way to do this besides `transformRequest`?

[2019-06-21 05:44] bietkul commented on #1021
@jyash97 There seems to be some bug, I'll fix it in the next release.

[2019-06-21 06:12] siddharthlatest commented on #963
You can use `customQuery` prop for a component to pass your own query.

[2019-06-21 23:19] DustinKLo commented on #963
[code]
cool this worked. thanks!

[2019-06-21 23:19] #963 closed, assigned to nobody

[2019-06-24 03:07] DustinKLo opened #1025 "onData not working with ReactiveComponent"
**Issue Type:** Bug

**Platform:** Web

**Description:**
the `onData` function is not working in `ReactiveComponent`

**Reactivesearch version:** 3.0.0-rc.15

[code]

i've tried `onData={(data, rawData, aggregations) =>` and `onData={({data, rawData, aggregations})) =>` and neither work
`onQueryChange` is not working either

[2019-06-24 03:30] DustinKLo commented on #1025
Is there any other way to pass the queried data into `ReactiveComponent`, i see that `onData` is deprecated.

[2019-06-24 05:03] bietkul commented on #1025
@DustinKLo It seems to work [here](https://opensource.appbase.io/playground/?knob-debounce=300&knob-title=DataSearch%3A%20Books...&knob-weights%5B0%5D=1&knob-weights%5B1%5D=3&knob-filterLabel=Books%20filter&knob-defaultSelected=&knob-queryFormat=or&knob-URLParams%20%28not%20visible%20on%20storybook%29=true&knob-showFilter=true&knob-dataField%5B0%5D=original_title&knob-dataField%5B1%5D=original_tit

[2019-06-24 06:39] DustinKLo commented on #1025
Can `onData` work with `customQuery`, i need the custom `ReactiveComponent` to also be able to further filter on the main Elasticsearch query DSL
Examples I've found on `defaultQuery` looks like it doesn't touch the main query DSL

Is there a workaround so i can pass the query DSL into my custom component, since `onQueryChange` doesnt work either?
thanks!

[2019-06-24 06:57] bietkul commented on #1025
No, `setQuery` and `customQuery` does the same thing.
You can use the `react` prop in your custom component, in that way it'll be affected by the `ReactiveComponent`'s query.

For example,

[code]
In your custom component you can use `onData`
[code]

[2019-06-24 08:05] DustinKLo commented on #1025
Unfortunately i need to send the data to my `ReactiveComponent`, but thank you for clarifying
is there any plans in the future to trigger `onData` with a `customQuery`?

[2019-06-24 08:08] bietkul commented on #1025
I can better help you if you can explain the use-case with some code sandbox example.

[2019-06-24 08:12] DustinKLo commented on #1025
That would be great thank you so much

On Mon, Jun 24, 2019, 1:08 AM Kuldeep Saxena <notifications@github.com>
wrote:

[2019-06-24 08:37] DustinKLo commented on #1025
My use case is I'm using a leaflet map (https://react-leaflet.js.org/) and leaflet draw tools (https://github.com/alex3165/react-leaflet-draw) to create bounding boxes that allow to filter in elasticsearch.
the map acts as both a `ReactiveComponent` and also displays map images on the leaflet map itself

<img width="783" alt="Screen Shot 2019-06-24 at 1 37 00 AM" src="https://user-images.githubuse

[2019-06-24 08:39] #1008 closed, assigned to nobody

[2019-06-24 10:14] bietkul commented on #1023
You can set `infiniteScroll` and `pagination` prop as `false` in `ReactiveList`, it'll hide the default pagination.
You can use a custom `render` function to define the custom UI.
Check [here](https://opensource.appbase.io/reactive-manual/result-components/reactivelist.html#extending)

[2019-06-24 10:36] bietkul commented on #1024
Thanks for reporting it, it'll be fixed soon.

[2019-06-24 10:49] #1020 closed, assigned to bietkul

[2019-06-24 10:49] #1021 closed, assigned to bietkul

[2019-06-24 10:57] #1024 closed, assigned to nobody

[2019-06-24 11:13] bietkul commented on #1025
I think you just need to use the `defaultQuery` prop instead of  `setQuery`  in `ReactiveComponent`.
Update the `defaultQuery` when you want to change the query and `onData` will work as you expect.

[2019-06-24 16:52] DustinKLo commented on #1025
thank you @bietkul  i'll give it a shot

[2019-06-24 18:04] DustinKLo commented on #1025
I don't think `defaultQuery` works because it doesn't further filter my results based on the polygon, I can only use `customQuery` for this use case unfortunately,
is there a workaround to maybe pass the entire query into my custom component?

[2019-06-24 21:22] DustinKLo commented on #1025
I found a workaround, create a function in the parent component which is passed into the `<ReactiveList>` component, retrieve the data and store it as a state and pass it into the custom `<ReactiveComponent>`

[2019-06-25 07:30] swleighton commented on #1016
I'm also experiencing the same issue.

In my case I believe the issue is being caused by the range filter not handling the case where the combination of filters applied return a aggregations result that has a null value for the range filter.

In the code example below currently the only products with a quantityavailable between 1 and 100 don't have a price set

Does anyone have any input on how it

[2019-06-25 18:13] jwchia1 opened #1027 "inconsistent results after setting and clearing component values"
**Issue Type:** bug
**Platform:** web
**Description:**
extra terms were added even after the component was cleared

**Minimal reproduction of the problem with instructions:**
i have a reactiveList which specifies AND/OR/NOT components in the react prop
e.g.
[code]
1) say i have 100 results with this setup and CATSEARCH is empty
2) i toggle CATSEARCH to be in the orComponents and i still have 100 r

[2019-06-25 20:19] siddharthlatest commented on #1027
@jwchia1 Can you share a replicable code sandbox (or codepen) which shows the above? It's very hard to comment without that.

[2019-06-26 10:27] edcoreweb opened #1028 "[Vue] ReactiveBase setState not defined"
**Issue Type:**
Bug

**Platform:**
Web: Vue.JS

**Description:**
When making the app prop reactive on the ReactiveBase component, an unknown function is called: **setState** (maybe a remnant from React ?)
https://github.com/appbaseio/reactivesearch/blob/ddef5200a675594beae050a0922ba4bb6219dd50/packages/vue/src/components/ReactiveBase/index.jsx#L68

**Minimal reproduction of the problem with instru

[2019-06-26 10:32] bietkul commented on #1028
It seems like a bug, we'll fix it soon.

[2019-06-27 09:05] marcfielding1 commented on #504
Is anything happening with this at all, I have [this](https://stackoverflow.com/questions/56778180/reactivesearch-how-to-stop-initial-query-on-load) question open on stack.

I've got a huge ES index(1 million items) ideally I don't want the component to initially run match_all - looks like we could add a prop noInitialQuery={true} and then modify the source [here](https://github.com/appbaseio/reac

[2019-06-27 09:08] marcfielding1 commented on #504
In fact, let me have a fiddle on a fork and I'll PR if it pans out.

[2019-06-27 10:52] marcfielding1 commented on #504
So after fiddling this you can actually do the following via state - basically you check if the search has a value if it doesn't you match_none - please see my answer [here](https://stackoverflow.com/questions/56778180/reactivesearch-how-to-stop-initial-query-on-load/56789346#56789346) - does seem a bit odd you can't turn off the initial query though!

[2019-06-27 19:17] mauxtin commented on #1002
I am actually having the same issue on the Vue library. Can only reproduce with some searches only and the actual request's response returns only one result (but I am seeing it twice when rendering). Possibly an issue with the reactivecore.

[2019-06-28 03:18] dojutsu-user commented on #1002
@bietkul
It would be great help if you can look into this.
I think the index mapping, screenshot and DataSeach component is sufficient to reproduce this error.
And if you need any more info, please do tell.

[2019-06-28 09:31] bietkul commented on #1002
@dojutsu-user I tried to replicate the issue but no luck, it seems to be working fine [here](https://opensource.appbase.io/playground/?path=/story/search-components-datasearch--with-parsesuggestion) too.
It would be really helpful if you can create a code sandbox or codepen example.

[2019-06-28 16:38] dojutsu-user commented on #1002
@bietkul
You can produce the error with this -- https://codesandbox.io/s/frosty-wildflower-2ukr4?fontsize=14
Just type `a` and you will see the results.

[2019-06-28 16:42] bietkul commented on #1002
@dojutsu-user Thanks, I can see the issue.
It'll be fixed soon.

[2019-06-28 16:46] dojutsu-user commented on #1002
@bietkul Thanks for working on this. :tada:

[2019-06-28 18:28] bietkul commented on #1002
After digging more on it, I found that we extract the keywords (suggestions) from the returned hits based on the defined fields(`dataFields`) i.e if a query returns a total of 10 results than the actual suggestions can be greater than 10.
In your example, the generated suggestions are `50` from the `20` hits.
The data fields defined by you are:
[code]
So, the suggestions will have the value of all

[2019-06-28 18:50] jwchia1 commented on #1027
@siddharthlatest sure
finally got some time to write this: [https://codesandbox.io/s/categorysearch-q7tcq](https://codesandbox.io/s/categorysearch-q7tcq)

[2019-06-28 20:03] #1028 closed, assigned to nobody

[2019-06-28 20:04] bietkul commented on #976
Fixed in the latest version.

[2019-06-28 20:04] #976 closed, assigned to jyash97

[2019-06-28 20:05] adadiehl commented on #1027
This sounds very similar to the issue I'm having. I am intermittently seeing an extra query fire when selecting/deselecting an item in a ReactiveList component. This usually (but not always) happens only on the first selection, and the default "match_all" query is launched, followed by the new query. Since the new query returns a smaller result set, it loads briefly before being replaced with the

[2019-06-28 20:13] adadiehl commented on #831
I've solved this problem by using an external elasticsearch API call to store the min/max values in state, then supply these as args to RangeInput's range prop. An internal solution would be better, but this might get you up and going in the mean time.

[2019-06-28 20:19] adadiehl opened #1029 "Intermittent spurious requests on ReactiveList select/deselect when combined with RangeSlider/RangeInput"
**Issue Type:**

bug

**Platform:**

Native

**Description:**

I am intermittently seeing an extra query fire when selecting/deselecting an item in a ReactiveList component. This usually (but not always) happens only on the first selection, and the default "match_all" query is launched, followed by the new query. Since the new query returns a smaller result set, it loads briefly before being repla

[2019-06-29 20:18] siddharthlatest commented on #1029
@adadiehl Can you share a code sandbox where this behavior can be replicated?

[2019-06-29 21:09] siddharthlatest commented on #1027
Thanks @jwchia1 for taking the time to create the code sandbox scenario. I am able to see the issue.

@bietkul This is also replicable for the latest RS version: https://codesandbox.io/s/categorysearch-7xgcw (see the instructions in the code sandbox to replicate).

I also inspected the Redux state to better understand the root cause. Here it is:

1. The initial `queryList` is only set for componen

[2019-06-29 21:14] siddharthlatest commented on #1027
@adadiehl I don't think the two are related. Can you share a codesandbox? And let's keep the discussion for this on  #1029.

[2019-06-29 21:17] siddharthlatest commented on #1019
@cperlaAFX Looking at the logs, there doesn't seem to be a connection issue. However, you are using the code syntax for v2.x with v3.x of the library. If you want to leave the code unchanged, you can switch to using v2.x. Otherwise, I would recommend reading the docs for the replacement of the `onData` method - https://opensource.appbase.io/reactive-manual/advanced/migrationguide.html.

[2019-06-29 21:17] #1019 closed, assigned to nobody

[2019-06-29 21:17] #1023 closed, assigned to nobody

[2019-06-29 21:19] siddharthlatest commented on #1016
Can one of you share a codesandbox where this issue is replicable?

[2019-06-29 21:20] siddharthlatest commented on #1012
@Dreamfish19 Can you share a codesandbox showing the issue?

[2019-07-01 08:45] bietkul commented on #1025
It seems like an issue with the uses, so closing it for now.
Feel free to re-open.

[2019-07-01 08:45] #1025 closed, assigned to nobody

[2019-07-01 08:46] bietkul commented on #1002
Since it doesn't seem to be a library issue, so closing it for now.
Lmk if it doesn't work.

[2019-07-01 08:46] #1002 closed, assigned to nobody

[2019-07-01 08:52] bietkul commented on #1027
@siddharthlatest I can easily replicate the issue, we'll fix it in the next version.

[2019-07-01 08:53] bitbit-gmbh commented on #1012
@siddharthlatest Thanks for your support, it is running for now :-)

[2019-07-01 08:54] #1012 closed, assigned to nobody

[2019-07-01 13:02] #1017 closed, assigned to bietkul

[2019-07-01 13:02] #1027 closed, assigned to bietkul

[2019-07-03 13:31] bitbit-gmbh opened #1032 "CategorySearch in Vue?"
Hey,

are there any plans to implement category search in Vue, or is there a workaround for the DataSearch Component?

My goal is to autosuggest CategoryResults like this:

Input in SearchField: Harry Potter

AutoSuggest:

**Books**
- Title 1
- Title 2

**Movies**
- Title 1
- Title 2

[2019-07-04 12:24] bietkul commented on #1032
I think for now you can use `renderAllSuggestions` to render custom suggestions.
Check the docs [here](https://opensource.appbase.io/reactive-manual/vue/search-components/datasearch.html#props).

[2019-07-04 16:27] TopHatMan opened #1033 "[Question about Datasearch]"
I have a data search in my header and I want to be there for users to search data. But when I try to customize the render. The dropdown css breaks and just pushes my header down. Is there a better way to customize the highlighted data and list all of the details?

[2019-07-04 16:32] bietkul commented on #1033
You can use `render` prop in `DataSearch` to display the custom suggestions UI.

[2019-07-04 17:11] prayerslayer opened #1034 "Mismatch between URL and internal state breaks back button behavior"
**Affected Projects**

Web

**Library Version:** 3.0.0-rc19

Also whatever runs on https://opensource.appbase.io/reactivesearch/demos/gitxplore/

**Describe the bug**

There is a mismatch between the URL params and the component's internal state. The effect is that after applying a few filters, you can't set them to the previous value with the browser back button.

**To Reproduce**

Steps to repro

[2019-07-04 17:20] TopHatMan commented on #1033
When I do that thats when the header gets pushed back by the dropdown menu. As well as basic css breaks.

[2019-07-04 17:58] abhinavgurung opened #1035 "CategorySearch query on array in the json field"
In my json, i have a field var, which is an array of jsons. how do i make the query be applied to each element of that array as well.

[2019-07-04 20:33] bietkul commented on #860
`_index` is present inside `_source` object.
By the way, `renderSuggestion` has been changed to `parseSuggestion` in `rc` version.

[2019-07-04 20:33] #860 closed, assigned to nobody

[2019-07-09 14:25] adadiehl opened #1040 "Clearing RangeInput filters crashes reactivesearch"
**Affected Projects**

React

**Library Version:** x.y.z

3.0.0-rc.19

**Describe the bug**

Using the "Clear Filters" button and directly clearing a RangeInput filter causes the ReactiveBase component to crash.

**To Reproduce**

https://codesandbox.io/s/moviesearch-1p1wf

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g.

[2019-07-10 05:56] jyash97 commented on #1040
Hey @adadiehl
Thanks for reporting the bug. I will take a look into this today.

[2019-07-10 15:25] #1040 closed, assigned to nobody

[2019-07-11 10:48] trishantverma opened #1049 "Connecting to any search service"
How can i use Reactive Search with other Search service such as Azure Search ?

[2019-07-12 10:58] batFormat opened #1051 "Bug with modal components"
**Affected Projects**
React

**Library Version:** 3.0.0-rc.19

**Describe the bug**
My sensor components are in a modal window that opens and closes.

When I open the window I can use filters and they work.

But as soon as I close the modal window, the state that I set in the filters is reset.

Please tell me how can I solve this problem?

[2019-07-12 11:10] jyash97 commented on #1051
Hey @batFormat
When you close the Modal is the modal might be getting removed from DOM and so ReactiveSearch components are unmounted as the content is removed from DOM. So ideally you will need to use css for hiding the Modal.

[2019-07-12 11:14] batFormat commented on #1051
@jyash97
Is there any other way?
I think my logic does not allow me to hide a modal window through css?

[2019-07-13 13:31] batFormat commented on #1051
But could you tell me how you can load the initial state of the components, for example, from the URL, considering that the sensor(SingleList, DataSearch, etc...) components are not mounted to the DOM (they are mounted only if the modal window is open)

[2019-07-15 14:54] stefanlesik opened #1054 "Clearing filters when a DynamicRangeSlider is present doesn't return all results to List"
Affected Projects
React

Library Version:
3.0.0-rc.20

Describe the bug
Clearing filters when a DynamicRangeSlider is present doesn't return all results to List

To Reproduce
Sandbox:
https://codesandbox.io/embed/eager-leftpad-mhrp4

Steps to reproduce the behavior:
1. Enter search term "The Illearth War". Hit Enter.
2. Click 'Clear All'

Expected behavior
Should be returned to initial state with

[2019-07-15 18:26] mauxtin commented on #1002
Hey @bietkul, is there any way to manipulate the data before rendering in this case (in Vue)?

I tried to add a `transformResponse` on the `ReactiveBase` but since the response only has one result it doesn't make sense to do so.

Ideally I would like to avoid overriding the whole `render` method for this.

The duplication happens inside the library so I think this **is** a library issue.. Is there

[2019-07-15 18:42] mauxtin opened #1055 "vue: renderAllSuggestions throws an error"
**Affected Projects**
Vue.JS

**Library Version:** x.y.z
v1.0.0-beta.17

**Describe the bug**
In a attempt to solve this https://github.com/appbaseio/reactivesearch/issues/1002#issuecomment-511516296 I tried to use the `renderAllSuggestions` on the `Datasearch` component.
When overriding the `renderAllSuggestions` method, an error is thrown.
`[Vue warn]: Error in render: "TypeError: Cannot read pr

[2019-07-16 11:57] tpatartmajeur opened #1056 "Clear filters do not work with custom component"
**Affected Projects**

**Library Version:** 3.0.0

**Describe the bug**
Clear filters do not work with custom reactive component

**To Reproduce**
https://codesandbox.io/s/xrlm1y3y6p

**Desktop (please complete the following information):**
 - OS: [KDE]
 - Browser [chrome]
 - Version [latest]

**Additional context**

Currently, if I clean the filters, the results display is not updated.

If you ha

[2019-07-16 12:17] therealtbs opened #1057 "Allow customizing the Dropdown label similarly to the items"
**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**
I'm translating the items that are returned by Elasticsearch before displaying them to the user. For the actual dropdown list the `renderItem`-prop works great, however once the item is selected it displays the untranslated value from Elasticsearch in the dropdown label.

**Describe the solution you'd l

[2019-07-16 12:30] gaving commented on #634
@cooperka Don't suppose you got anywhere with this?

We've a similar requirement here to limit network traffic, we've some audit middleware auditing every request and it's looking a bit confusing since loads of these requests are being fired on every component interaction!

[2019-07-16 14:43] scotthooker opened #1058 "Create a ResultStats component"
**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**
Other libraries tend to have the result stats as their own component - makes it easier to render it in specific places.

**Describe the solution you'd like**
A <ResultStats> component

**Describe alternatives you've considered**
I've tried setting some values inside results render to no avail

**Additio

[2019-07-16 14:56] joepio commented on #994
Perhaps related: it would be nice to have a prop that determines that search is only triggered when the enter key is pressed. Especially for big, slow elastic instances this is really useful.

[2019-07-16 15:01] jyash97 commented on #994
Hey @joepio
You can use controlled behavior of DataSearch and with `triggerQuery` you can control the triggering of search. Here is the example: https://codesandbox.io/s/datasearch-v56r3

Hope this helps!

[2019-07-16 15:33] joepio commented on #994
Thanks, @jyash97!

However, this seems to require that the `value` prop is managed by the external component state. If I add `onKeyPress={handleKey}`, the query is triggered but is set to an empty string.

This also causes the autosearch (which uses debounce) not to work at all.

[code]

I think the expected default behavior is that the DataSearch component executes triggerQuery when the enter key

[2019-07-16 16:08] jyash97 commented on #994
@joepio
I didn't get the issue you are facing. So is `debounce` affecting even when you use `triggerQuery`?

Also on other note, don't pass `setQuery` directly to `onChange` of DataSearch it will give console errors as we pass `triggerQuery` as a second argument to `onChange`.

Here is the updated code sandbox using hooks: https://codesandbox.io/s/datasearch-v56r3

[2019-07-16 16:15] joepio commented on #994
Hi @jyash97,

The problem in my previous comment, is that search does not trigger at all, unless I use Enter. Debounce has no effect.

Regarding onChange: triggerQuery is not passed to onChange:

[code]
 Perhaps if `triggerQuery` is passed to `onChange`, I can work around the issue by manually calling `triggerQuery`.

[2019-07-16 16:20] jyash97 commented on #994
`triggerQuery` is passed as second argument you can check the docs for `onChange` prop in DataSearch component.

[2019-07-16 16:24] joepio commented on #994
It's in the docs, but [not in the sourcecode](https://github.com/appbaseio/reactivesearch/blob/7b8205fb05b66ceb07bf9bedd2a0ca6a261525e4/packages/web/src/components/search/DataSearch.js#L854)

[2019-07-16 16:27] jyash97 commented on #994
Check this https://github.com/appbaseio/reactivesearch/blob/7b8205fb05b66ceb07bf9bedd2a0ca6a261525e4/packages/web/src/components/search/DataSearch.js#L508

[2019-07-17 08:23] #1056 closed, assigned to nobody

[2019-07-17 09:12] joepio commented on #994
You're right, @jyash97 , sorry.

Now I can call triggerQuery using a custom `onChange` prop. I can set a timer and use the `useState` hook to pass the timer instance to the `onKeyDown` handler, so it does not trigger when the user presses enter.

[code]

I think this is the behavior that most users would expect: the enter key triggers the search engine and ignores the debounce value. Unfortunately

[2019-07-17 12:46] joepio commented on #1006
I've implemented something [similar](https://github.com/ontola/ori-search/blob/master/front/src/Components/SearchBar.tsx) in our project, but instead of having a prop that changes, I parse the query and if it contains special characters, I switch to `simple_query_string`.

[2019-07-17 12:54] bietkul commented on #1006
@joepio Great, from now on you can use `searchOperators` prop to achieve the same behavior.

[2019-07-17 12:54] #1006 closed, assigned to nobody

[2019-07-17 12:54] #1035 closed, assigned to nobody

[2019-07-17 15:40] joepio opened #1059 "Do not apply pristine range filters"
**Affected Projects**
React

**Library Version:** x.y.z
3.0.0-rc.20

**Describe the bug**
When filtering sparse data (i.e., when some of the attributes can be present, but may not be), you want filter components to only be applied when the user explicitly sets them.

For example: I work on a search app that filters by some date field, but that date field is only present in 40% of the documents. Wh

[2019-07-17 18:03] mauxtin opened #1060 "Vue SSR renderData prints html as plain text"
**Affected Projects**
VueJS

**Library Version:** x.y.z
latest

**Describe the bug**
I am trying out the Vue SSR with the ReactiveList component but the renderData outputs html as plain text. (See screenshot, ignore `undefined`)
![image](https://user-images.githubusercontent.com/40521145/61398799-7707a180-a8d5-11e9-9575-5353956aeeb8.png)

**To Reproduce**

1. Clone this and go to this Nuxt.js proj

[2019-07-18 00:52] bietkul opened #1061 "Maps: support loader in map components"
**Affected Projects**

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**
Currently, map components do not support `loader` prop and doesn't provide `loading` param in `renderAllData` prop too, so it is impossible to show a loader when the query is getting executed.

[2019-07-18 23:50] #1033 closed, assigned to nobody

[2019-07-19 11:15] abhinavgurung opened #1062 "sortBy in ReactiveList is not working"
So I am using ReactiveList. it gives the list back all nicely. once I add sortBy, the list disappears from the webpage. Am I missing something here.

My though was sortBy just sorts the results, any other config needed?

thanks

[2019-07-19 15:15] kud opened #1063 "ReactiveList > scrollTarget should/could also accept node"
For the moment scrollTarget only accepts id of the container you wish to apply infinite loading on.

It could be great to be able to give a node, like a react ref or a document.querySelector().

[2019-07-19 15:31] bietkul commented on #1062
Can you please share an example link (codesandbox) so we can debug it.

[2019-07-19 15:41] felubra opened #1064 "Custom tag for ReactiveBase"
**Affected Projects**
React / VueJS

**Is your feature request related to a problem?**
It is related to building proper Semantic HTML.
Sometimes the ReactiveBase component is not only used as a wrapper and also has a style/semantic function in the page, but there is no way to customize the rendered HTML tag, so the semantic is lost in some cases.

**Describe the solution you'd like**
Please provid

[2019-07-19 16:08] abhinavgurung commented on #1062
The issue has been fixed. it was error on my side. Thank you .

[2019-07-19 16:08] #1062 closed, assigned to nobody

[2019-07-19 16:10] kud commented on #519
+1 for the independent component for sorting.

[2019-07-19 16:20] kud opened #1065 "renderSortOptions in <ReactiveList /> available"
Like `renderResultStats` or `renderNoResults`, make `renderSortOptions` for customisation.

https://github.com/appbaseio/reactivesearch/blob/next/packages/web/src/components/result/ReactiveList.js#L616

[2019-07-19 17:39] smcguinness commented on #167
@vanja-bertalan  I'm implementing a custom component for this. An example can be found at https://codesandbox.io/s/reactivecomponent-x118p

@metagrover I'd love feedback on it and better eyes who are more familiar with using ReactiveComponent as I haven't entirely flushed out an optimal way to implement custom filters and handle all the conditions with confidence (ie - internal state, external sta

[2019-07-19 17:47] abhinavgurung opened #1066 "showCount props in multilist behave differently"
`  <MultiList
                                    componentId="keywordFilter"
                                    dataField="codeBook.stdyDscr.stdyInfo.subject.keyword.keyword"

                                    size={1000}
                                    showCheckbox={true}
                                    loader="loading...."
                                    sortBy="asc"

[2019-07-19 18:03] aol-nnov commented on #167
@smcguinness, as far as I can tell, metagrover is not a part of appbase anymore. Sad to find it out too....

[2019-07-19 18:48] metagrover commented on #167
@smcguinness @aol-nnov Ah yes, I don't work with appbase anymore, but I gave a quick look and it seems fine to me.

You may need to watch out for this use-case where you need to update the selectedItems based on the react prop of the `NestedList`. Say you have your nestedList watching a search component and the search term has changed -> this will trigger a new query for the NestedList component,

[2019-07-20 01:19] arpithparikh opened #1067 "renderItem is not a function TypeError: renderItem is not a function"
**Affected Projects**

REACT SSR  (next.js)
**Library Version:** x.y.z

3.0.0-rc.21
**Describe the bug**

After upgrading to latest I'm started getting this bug
appbaseio/reactivesearch/lib/components/result/ReactiveList.js:394:13
**To Reproduce**

Steps to reproduce the behavior:

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 -

[2019-07-20 01:28] arpithparikh commented on #1024
This still persists with the SSR Next.js

[2019-07-20 02:45] bietkul commented on #1067
Please check the [docs](https://opensource.appbase.io/reactive-manual/result-components/reactivelist.html#props) for `3.x`, `renderData` has been renamed to `renderItem`.

[2019-07-20 02:45] #1067 closed, assigned to nobody

[2019-07-20 14:45] arpithparikh commented on #1067
But it's coming as TypeError: renderItem is not a function

[2019-07-20 16:13] smcguinness commented on #1066
MultiList has a `renderItem` prop which is used to render each individual option in the MultiList. I put a quick example together showing its usage https://codesandbox.io/s/sad-diffie-7ohn4

You can also see more about renderItem and the props of MultiList in the docs - https://opensource.appbase.io/reactive-manual/list-components/multilist.html

[2019-07-22 10:09] gaving commented on #491
👍 For this.

Really keen to bump Reactivesearch in our project to 3 to take advantage of [this kind of thing](https://github.com/appbaseio/reactivesearch/pull/954) but it's a little unclear on the status on v3 and how much breakage it'll introduce.

[2019-07-22 10:19] siddharthlatest commented on #491
@gaving The migration guide covers the breaking changes involved for v3 migration: https://opensource.appbase.io/reactive-manual/advanced/migrationguide.html

[2019-07-22 12:27] gaving commented on #491
@siddharthlatest Ah missed that, thanks!

I don't suppose you a rough timeline of when v3 goes stable? Also, is Reactivesearch 3 compatible with Elasticsearch 6.x?

Apologies for asking dumb questions, can't see it detailed anywhere.

I see [this issue](https://github.com/appbaseio/reactivesearch/commit/21b45951b529f4de8effd1167f32725a562cd110) adding ES7 support but assume that means RS is compat

[2019-07-22 12:39] abhinavgurung commented on #1066
Everything works perfectly, except the line 'isSelected is not defined'. is it something i import. thanks

[2019-07-22 13:52] abhinavgurung opened #1068 "showclear not working for componentSearch"
I have a componentSearch , but I dont see the "x" beside to clear the typed text.
am I missing anything. thanks

[code]

[2019-07-22 13:57] jyash97 commented on #1068
Hey @abhinavgurung
Can you please specify the version of Reactivesearch and which library it affects. Along with the steps to reproduce.
Please follow the format for Bug Report Template.

[2019-07-22 14:34] abhinavgurung commented on #1068
@jyash97
I am using import { CategorySearch, SelectedFilters } from '@appbaseio/reactivesearch'
how can I check the version? thanks

[2019-07-22 14:38] abhinavgurung commented on #1068
@jyash97
found it !
 "@appbaseio/reactivesearch": "^3.0.0-rc.13",

[2019-07-22 14:39] jyash97 commented on #1068
You can check the version from `package.json`. And `showClear` prop works properly I confirmed it. Check this [demo](https://codesandbox.io/s/categorysearch-b1p89).

And here is the screenshot of the clear icon appearing on right side :
![image](https://user-images.githubusercontent.com/22376783/61641315-8b281600-acbc-11e9-9bbf-b972d22bc402.png)

[2019-07-22 14:40] abhinavgurung opened #1069 "search button"

[2019-07-22 14:40] #1069 closed, assigned to nobody

[2019-07-22 14:42] abhinavgurung commented on #1068
When I try it on sandbox it works, but on my component, it does not. Can you see any issue on my component which I am not able to notice.
thanks

[2019-07-22 14:45] jyash97 commented on #1068
Can you please share a CodeSandbox link for it?

[2019-07-22 14:47] jyash97 commented on #1066
@smcguinness  The demo looks great. @abhinavgurung  I am not seeing any errors in the demo. Can you please elaborate or provide a Codesandbox link for the same ?

[2019-07-22 14:52] jyash97 commented on #1064
@felubra  This makes sense 💯

Instead of `tag` prop we can name the prop `as`. So the API would look like:

[code]

@bietkul @siddharthlatest @lakhansamani  Thoughts ?

[2019-07-22 14:52] abhinavgurung commented on #1068
https://user-images.githubusercontent.com/12020147/61642290-ab30e880-ac6e-11e9-927a-ba6580db0b2b.png

[2019-07-22 14:54] jyash97 commented on #1063
Hey, @kud  thanks for the idea. It will be great if you can describe a scenario in which this enhancement would fit great.

[2019-07-22 14:55] abhinavgurung commented on #1066
https://user-images.githubusercontent.com/12020147/61642290-ab30e880-ac6e-11e9-927a-ba6580db0b2b.png

This is the error. I still need to learn how to put my app in sandbox :)

[2019-07-22 15:00] jyash97 commented on #1066
You can create sandbox from [here](https://codesandbox.io/s/) if you already have this app on GitHub you can import it directly. Do make sure you have `isSelected` as the third function argument in `renderItem`  function.

[2019-07-22 15:12] jyash97 commented on #886
Fixed in #1031

[2019-07-22 15:12] #886 closed, assigned to bietkul

[2019-07-22 15:13] abhinavgurung commented on #1066
The issue is fixed. I had it misspelled in the function argument. Thank you.

[2019-07-22 15:13] #1066 closed, assigned to nobody

[2019-07-22 15:17] abhinavgurung commented on #1068
https://user-images.githubusercontent.com/12020147/61644145-28aa2800-ac72-11e9-91fd-78a22b5bb4f9.png

whats weird is , its not showing when I am running the application. But when I try in sand box, its showing the x.
https://codesandbox.io/s/6gtls

Also , side thing but if you could tell me how to delete the sandbox after, thanks

[2019-07-22 15:18] jyash97 commented on #383
Fixed in version 3 rc versions Release 💥

[2019-07-22 15:18] #383 closed

[2019-07-22 15:20] jyash97 commented on #598
Fixed in #617

[2019-07-22 15:20] #598 closed

[2019-07-22 15:32] kud commented on #1063
[code]

or

[code]

[2019-07-22 15:42] siddharthlatest commented on #491
It’s going to be soonish - we’re waiting on closing out the reported bugs
and some WIP PRs.

On Mon, Jul 22, 2019 at 5:57 PM Gavin Gilmour <notifications@github.com>
wrote:

[2019-07-22 15:44] #1068 closed, assigned to nobody

[2019-07-22 17:59] abhinavgurung opened #1070 "Componentsearch on submit button/enter"
I would like my component search to do the query only when user press the submit button or press enter. how can I achieve this. I have been spending some time on it now.

I tried onValueChange

`class SearchBar extends React.Component {
    constructor(props){
        super(props);
        this.state={
            searchText: ""
        }
        //this.handleSubmit = this.handleSubmit.bind(this);

[2019-07-23 01:44] arpithparikh opened #1071 "TypeError: Cannot read property 'promoted' of undefined"
**Affected Projects**

React

**Library Version:** x.y.z

^3.0.0-rc.21
**Describe the bug**

**To Reproduce**

Steps to reproduce the behavior:
Getting this error TypeError: Cannot read property 'promoted' of undefined
@appbaseio/reactivecore/lib/actions/query.js:1:5048

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e

[2019-07-23 03:07] bietkul commented on #1064
I think we should implement it.

[2019-07-23 13:19] jyash97 commented on #1070
You can read the docs on controlled behavior in ReactiveSearch over [here](https://opensource.appbase.io/reactive-manual/advanced/componentsusage.html#controlled-components). I have also implemented a small example for the above situation you check the demo [here](https://codesandbox.io/s/datasearch-vf2sz).

Also, it would be great if you follow the PR template this makes easy for us to debug the

[2019-07-23 13:19] #1070 closed, assigned to nobody

[2019-07-23 13:29] jyash97 commented on #1071
Hey @arpithparikh
Can you give me more info on how to reproduce this bug?
It will be really helpful if you can provide a CodeSandbox or a Codepen link.

[2019-07-23 13:32] jyash97 commented on #1065
Hey @kud
This sounds good.  Open to accept PRs on this. :)

[2019-07-23 13:38] jyash97 commented on #1063
Awesome this is really great 💥 Are you open for creating a PR for this ?

[2019-07-23 13:41] jyash97 commented on #320
We support `showFilter` prop in both v2 and v3. 🚀

[2019-07-23 13:41] #320 closed

[2019-07-23 14:29] abhinavgurung commented on #1070
@jyash97
Thank you. this is my sandbox. I implemented your code. but its not letting me type anything in the search box.
(ignore no data for now)

[2019-07-23 14:37] jyash97 commented on #1070
Can you please add the code or codesandbox link?

[2019-07-23 15:22] abhinavgurung commented on #1070
https://codesandbox.io/s/moviesearch-e6qvw

[2019-07-23 15:54] jyash97 commented on #1070
Can you please follow the same approach as given in the above codesandbox. The current code is not going to work as the component is not controlled and does not make use of `triggerQuery`.

[2019-07-23 17:23] abhinavgurung commented on #1070
@jyash97
Thank you closing this issue, its fixed. Appreciate the help.

[2019-07-24 13:08] #1061 closed, assigned to nobody

[2019-07-25 13:26] bietkul commented on #1064
Added [here](https://github.com/appbaseio/reactivesearch/commit/422d37ad3b10707d65a2a76f1ae3e02307e15399), will be out in next release.

[2019-07-25 13:26] #1064 closed, assigned to nobody

[2019-07-25 20:34] allendol opened #1072 "Getting "A form control does not have a corresponding label" error on DataSearch component when running WAVE"
Our interface should be 508 complaint.
I am using DataSearch component and I am running WAVE (Google) access control.
Any idea how I can resolve this?

[2019-07-26 00:58] allendol commented on #1072
To recreate the error go to your example at:
https://booksearch-appbase.netlify.com/

Activate Wave from Google chrome and see the error. Screenshot is attached:
![ReactiveSearch](https://user-images.githubusercontent.com/40170767/61918264-c88bde00-af1e-11e9-9fde-199e5d2dd079.png)

[2019-07-26 06:16] jyash97 commented on #1072
Hey @allendol
Thanks for submitting the issue. We have recently added `aria-label` in search components. You can upgrade the version and check once again. Here is the screenshot of `DataSearch` component in latest version:

![image](https://user-images.githubusercontent.com/22376783/61930276-ded77f80-af9a-11e9-87ce-1771ee2300fb.png)

Code Link: https://codesandbox.io/s/datasearch-8e21k
Demo Link:

[2019-07-26 12:01] allendol commented on #1072
Hi @jyash97,
Thanks for the quick reply.
- Is this solved for DateRange component also?
- One stupid question as I am not expert in react. How can I upgrade reactivesearch? Can you write the syntax? It can save me time instead of finding it somewhere.
Cheers

[2019-07-26 12:37] jyash97 commented on #1072
Yes

___

You can do `yarn add @appbaseio/reactivesearch` or `npm install @appbaseio/reactivesearch`

Let me know if you feel there can be a chance to improve on accessibility even further. Thanks

[2019-07-26 12:47] allendol commented on #1072
@jyash97,
I already ran this twice:
npm install @appbaseio/reactivesearch
but still shows:
@appbaseio/reactivesearch@2.18.0
And the problem still exists.
Any idea?

[2019-07-26 12:50] jyash97 commented on #1072
So this is fixed in `v3`. You can add `@latest` after the dependency name to install the latest dependency. And do check the migration guide from v2 to v3 over [here](https://opensource.appbase.io/reactive-manual/advanced/migrationguide.html).

[2019-07-26 15:15] abhinavgurung opened #1073 "Componentsearch vs DataSearch autosuggest prop"
When I use ComponentSearch the auto suggest does not work for me. but As soon as i Change it in to DataSearch it works. Am I missing anything. I am not making any other changes. Just cahnging the name ComponentSearch to DataSearch.

Any info would be helpful. thanks

[2019-07-26 16:40] allendol commented on #1072
@jyash97,
I made a new version in a new project for v3.
My existing ResultList and Reactive don't work in Version 3. Don't know how much effort it needs to migrate or change them. I am using react-bootstarp table with some expand collapse, etc on the result.
- Is there any specific location that you added "aria-label: in v3 so I can do it manually for v2 for now? I can look for the upgrade later o

[2019-07-27 01:00] allendol opened #1074 "Getting error: TypeError: data.map is not a function in data.map(dat => function part of ReactiveList in ReactiveSearch Version 3"
I am migrating the reactivesearch interface from 2.x to 3.0. Following code was working fine in ReactiveList version 2.x. But now in version 3.0, it is giving the error in line 594:

**TypeError: data.map is not a function**
booksReactiveList
/App.js:
  592 |             var resList = [];

  596 |                 var a = {.......

Here is line in ResultList
render={this.booksReactiveList}
....
...

[2019-07-27 09:31] allendol commented on #1074
I solved the problem by changing:
data.map(dat => {
To:
data.data.map(dat => {

[2019-07-28 00:34] cooperka commented on #634
@gaving nope, we ended up coding our own filters from scratch because of this and other issues we kept running into.

[2019-07-29 14:02] tpatartmajeur opened #1075 "setValue on MultiRange component error"
Affected Projects

Library Version: 3.0.0

Describe the bug

Impossible to set a new value in a MultiRange

Desktop (please complete the following information):

OS: [KDE]
Browser [chrome]
Version [latest]
Additional context

Reproduce bug here:
https://codesandbox.io/s/selectedfilters-q5ld5?fontsize=14

Hello,
I am currently experiencing a problem with the "setValue" method that allows me to mana

[2019-07-29 14:48] jyash97 commented on #1072
Hey @allendol
We have changed ResultList to follow the compound Component pattern. You can check the docs.
___
Do let me know if you face any other difficulties on Migrating from v2 to v3.

[2019-07-29 14:52] jyash97 commented on #1074
Right, `render` returns an `object` which contains property `loading`, `error` , `data` & other useful properties. You can check all the properties in `render` prop description over  [here](https://opensource.appbase.io/reactive-manual/result-components/reactivelist.html#extending).

[2019-07-29 14:52] #1074 closed, assigned to nobody

[2019-07-30 08:46] tpatartmajeur commented on #1075
Hello, I have reproduced the bug in a SandBox

Thank you in advance for your help

https://codesandbox.io/s/selectedfilters-q5ld5?fontsize=14

[2019-07-31 15:39] marcelchastain commented on #486
@metagrover @siddharthlatest
This is a great enhancement and it looks like it was straightforward to implement. I have a data set that's extremely reliant on  `inner_hits` so I'm very eager for this :)

Is this something we can merge in soon?

(Also, if there's anything I can do to help (testing, cutting a new PR, etc) please let me know!)

[2019-07-31 16:08] siddharthlatest commented on #486
@marcelchastain We will try to merge this in the next release.

[2019-07-31 16:10] bietkul commented on #486
@marcelchastain Sure, it'll be helpful if you can create a new PR for the `next` branch.
We'll roll out it in the next version.

[2019-07-31 20:21] rjacques commented on #976
Thanks guys. I now get `<mark></mark>` escaped in my highlighting. It seems to want to work, but the highlighting syntax is not interpreted as HTML. Example here: https://codesandbox.io/s/reactive-list-e3n02
Thanks!

[2019-07-31 20:34] rjacques commented on #976
When I replace `<div class="book-header">{{ item.original_title }}</div>` with`<div class="book-header" v-html="item.original_title"></div>` the highlighting works. But I am not sure if this expected behaviour.

[2019-07-31 20:45] rjacques opened #1076 "Highlighting in Vue only works when using v-html and not curly braces"
Please see this example: https://codesandbox.io/s/reactive-list-e3n02

The `<mark></mark>` placed around a value seems to be escaped and instead of the HTML applied it will add the actual words to the value.

When I use v-html instead of the curly braces, the highlighting works, but I don't think it is supposed to work like that.

[2019-07-31 20:47] #1076 closed, assigned to nobody

[2019-07-31 20:48] rjacques commented on #1076
Apologies this is not a bug - didn't know how to post a regular issue

[2019-07-31 20:48] rjacques opened #1077 "Highlighting in Vue only works when using v-html and not curly braces"
Please see this example: https://codesandbox.io/s/reactive-list-e3n02

The `<mark></mark>` placed around a value seems to be escaped and instead of the HTML applied it will add the actual words to the value.

When I use v-html instead of the curly braces, the highlighting works, but I don't think it is supposed to work like that.

[2019-08-01 06:42] bietkul commented on #1077
I don't think that is an issue, highlight query returns the markup &  you have to use `v-html` instead of curly braces to render it correctly.

[2019-08-01 06:42] #1077 closed, assigned to nobody

[2019-08-01 07:25] gaving commented on #634
@cooperka Ah. Sounds about right (and painful!), thanks for getting back.

[2019-08-01 13:22] tpatartmajeur commented on #1075
Okay, I found the solution, finally using the SetValue method like this

`const clearFilter = (component, value) => {
            setValue(component, value);
          };`
I was looking for too complicated...

[2019-08-01 13:22] #1075 closed, assigned to nobody

[2019-08-05 10:13] bietkul commented on #840
Closing it, since no activity from a long time.

[2019-08-05 10:13] #840 closed, assigned to nobody

[2019-08-05 15:14] marcelchastain commented on #258
@metagrover wanted to follow up on this -- I've been having the toughest time getting this to work locally -- is there any way you can post a working example here please? 🙏

It would be a huge help!!

[2019-08-05 19:09] vlurgio opened #1080 "Is there a good way to make the search "live?""
**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**
I'm trying to keep my result card list updated when things change in the backend without the user having to execute a new search to get the new results. I was thinking to just set the value to empty again on update to anything that changes the backend. But, since onValueSelected only get executed when y

[2019-08-06 09:36] bietkul commented on #1080
Can you tell which version of ReactiveSearch you're using?
It is possible to implement this by using controlled behavior available in 3.x.
You can read about it [here](https://opensource.appbase.io/reactive-manual/advanced/componentsusage.html)

[2019-08-06 09:40] bietkul commented on #1073
We don't have any component named `ComponentSearch`.

[2019-08-06 09:40] #1073 closed, assigned to nobody

[2019-08-07 10:27] #606 closed

[2019-08-07 17:29] allendol opened #1083 "ReactiveBase headers on Authorization"
I am using token based authentication and the following code is working fine outside of ReactiveSearch:
----
                axios({
                    url: 'https://myurl/_search',
                    method: 'post',
                    headers: { 'content-type': 'application/json', 'authorization': vtoken }
                    , data: query
                    }
                    )
----
I am

[2019-08-09 00:56] tobinoh opened #1084 "customQuery gives no results when searching from another page"
- When the user hits search on the main page, I am passing the query value and switch the page  from 'main page' to the 'search result page'

- When I use plain vanilla settings in `DataSearch` (i.e., no `customQuery` props in `DataSearch`) everything works just fine and searching through the main page and search result page yields the same outcome.

- However, when I use `customQuery` props, ther

[2019-08-09 04:04] tobinoh commented on #1084
After posting this, I found a way to solve this problem. Basically, send the state of the main page with the `history.push` and initialize the state which will be used in the search result page.

Hope this comment be helpful to other guys in the future.

**Main.js**
[code]

**Search.js**
[code]

[2019-08-09 04:45] PunKHS commented on #1083
Hi @allendol !
Please, see [this issue](https://github.com/appbaseio/reactivesearch/issues/958).
It helped me resolve my problems with authorization.

[2019-08-09 12:57] abhinavgurung opened #1085 "send username and password to non appbase.io url"
so how do I send my username and password to non appbase.io url.
i tried credentials and headers both. is there anything else for this purpose.

tried credentials:"username:password"

and tried
headers={{
            username: 'username',
            password: 'password',
          }}

any suggestion would be appreciated.

[2019-08-09 13:04] jyash97 commented on #1085
Please check this issue: https://github.com/appbaseio/reactivesearch/issues/958

[2019-08-09 21:27] multidis opened #1086 "ReactiveList repeated item re-rendering"
**Affected Projects**
React

**Library Version:** x.y.z
3.0.0-rc.23

**Describe the bug**
ReactiveList keeps re-rendering the same items multiple times consuming resources, both with pagination and with the infinite scroll.

**To Reproduce**

Steps to reproduce the behavior:
* Edit [ReactiveList web-example](https://github.com/appbaseio/reactivesearch/blob/next/packages/web/examples/ReactiveList/s

[2019-08-10 00:33] siddharthlatest opened #1087 "Bug: onKeyPress Enter key isn't detected when autosuggest is true"
**Affected Projects**

React

**Library Version:**

3.0.0-rc.23

**Describe the bug**

The `onKeyPress` callback prop doesn't detect an enter key press with the `autosuggest` prop set to `true` (which is the default).

**To Reproduce**

Here's the code sandbox showing the issue: https://codesandbox.io/s/datasearch-5p8w4. You can see the console for key-press logs.

You can try setting `autosuggest

[2019-08-12 10:26] gaving commented on #631
Hi - I don't suppose this issue got tackled anywhere else?

We've back button functionality within our app and when we page back to the results we've a bunch of different queries firing before the filters are applied, resulting in this flash of results before the proper filtered ones appear.

This would be a minor issue normally - but we've a requirement to audit everything that leaves the server

[2019-08-12 11:36] siddharthlatest commented on #631
@gaving Which version of ReactiveSearch are you seeing this happening on? With v3.x, the above issue has been solved. We have seen users with your situation (a combination of controlled filters + search) where only one query is fired instead of multiple, i.e. it works as expected.

Here's the above code sandbox where this issue was reported on, but it doesn't occur with the latest release: https:/

[2019-08-12 12:35] gaving commented on #631
Hi @siddharthlatest -

Interesting. We're on 3.0.0-rc.22... I'll try rc23 and see if it sorts it. I'll compare what you have in the sandbox as I can see it works there.

Only difference I can see at a glance is our `react` prop is an array i.e.

[code]

[2019-08-12 13:06] gaving commented on #631
Hi @siddharthlatest -

Same effect with RC23. Admittedly a bit confusing since our app has more filters going on, and our `history.back()` button is really using URL parameters to refresh the search results.

However I managed to create a bit of weirdness with your https://fv4d9.csb.app/ example, if you go to page 2 on launch and then do a single letter search, you'll get 2 requests with the first

[2019-08-12 14:48] bietkul commented on #1087
@siddharthlatest It is an issue with downshift library, you can check it [here](https://github.com/downshift-js/downshift/issues/662).
By the way, one can use `onKeyDown` in this scenario to track the `ENTER` key event.

[2019-08-12 14:57] #633 closed

[2019-08-12 15:30] allendol commented on #1083
Hi @PunKHS
Thanks for you feedback. I tried and it didn't work for me.
This is what I am using in above and this is not connected to elasticsearch.

[2019-08-12 16:34] allendol commented on #1083
My problem was resolved. the code in above was correct. My URL was not. After i changed the URL it is fine now.

[2019-08-13 10:57] janus-reith opened #1088 "initReactiveSearch omits graphQLUrl"
**Affected Projects**
React

**Library Version:**
3.0.0-rc.25

**Describe the bug**
`initReactivesearch` will omit the `graphQLUrl` settings here and not pass it to `Appbase`
https://github.com/appbaseio/reactivesearch/blob/a7ddf5eb2a83c5a4d312b7c4e9c40fe58d375a5a/packages/web/src/server/index.js#L62

**To Reproduce**
Try to implement SSR with `initReactivesearch` and a Graphql-proxied Elasticsear

[2019-08-14 01:18] lakhansamani commented on #306
Fixed here https://github.com/appbaseio/reactivesearch/pull/996

[2019-08-14 03:04] ebytton commented on #1054
is there any workaround for this issue? I am able to reproduce the problem with 3.0.0-rc.23

Thanks

[2019-08-15 02:17] ebytton commented on #1054
This workaround worked for me.

` <DynamicRangeSlider
          dataField="ratings_count"
          componentId="BookSensor"
          showFilter={false}
          beforeValueChange={
            function (value) {
              return new Promise((resolve, reject) => {
                if (value.start === value.end) {
                  reject()
                } else {
                  resolve()

[2019-08-15 05:46] janus-reith opened #1091 "onChange handler and value behave weird and not consistent"
**Affected Projects**
React

**Library Version:** x.y.z
v3.0.0-rc.25

**Describe the bug**
`onChange` handlers only become active when the component has a `value` set.
While i don't understand why this limitation is in place, the real issue for me is that `onChange` does not return a value that I can use for `value`.
E.g. MultiList returns a single string upon change, expects an array and internal

[2019-08-15 07:43] janus-reith commented on #739
Any news regarding this issue?

[2019-08-15 08:22] bitbit-gmbh opened #1092 "Question about search result detail page"
Hey,

this is really an awesome project!

I'm using ReactiveSearch with VueJs. When it comes to SearchResults Details, is it the right way to get the search result detail page (let's say a book detail) with Vue directly, for example with axios?

Or would you recommend something else?

[2019-08-15 13:35] ijlind opened #1093 "Allow DataSearch to conditionally skip internal suggestion filtering"
**Is your feature request related to a problem? Please describe.**
I would like to be able to list all of the available options as suggestions with `DataSearch`. Currently the component uses [getSuggestions](https://github.com/appbaseio/reactivecore/blob/master/src/utils/suggestions.js#L23) internally and because of that, all but one of the source documents with an identical value in the targeted

[2019-08-16 11:16] bietkul commented on #1072
Closing since upgrading will resolve it, feel free to re-open.

[2019-08-16 11:16] #1072 closed, assigned to jyash97

[2019-08-16 11:21] lakhansamani commented on #1088
@janus-reith thanks for reporting it. We will be fixing this with the next release.

[2019-08-16 11:24] bietkul commented on #1059
Related #739

[2019-08-16 11:32] bietkul commented on #538
It is possible to set the state in 3.x by using controlled behavior.

[2019-08-16 11:32] #538 closed

[2019-08-16 11:35] bietkul commented on #524
In 3.x we return both `parsed` & `unparsed` suggestions.

[2019-08-16 11:35] #524 closed

[2019-08-16 12:08] siddharthlatest commented on #1087
- [ ] Sounds good. We can add this as a note in the docs for `DataSearch` and `CategorySearch`.

[2019-08-16 12:10] siddharthlatest commented on #1091
@janus-reith Is it possible for you to share a codesandbox showing this issue? That would help a lot :-)

[2019-08-16 12:35] siddharthlatest commented on #1005
This won't serve the purpose as they are the bounds, not the current values.

You can use the `render` prop of SelectedFilters to customize the label here. https://github.com/appbaseio/reactivesearch/blob/dev/packages/web/examples/CustomSelectedFilters/src/index.js.

[2019-08-16 12:36] #1005 closed, assigned to ShahAnuj2610

[2019-08-16 12:40] #1051 closed, assigned to nobody

[2019-08-16 12:42] #1083 closed, assigned to nobody

[2019-08-16 15:10] janus-reith commented on #1091
@siddharthlatest I forked the DataSearch example and modified it to demonstrate the issue:
https://codesandbox.io/s/datasearch-is3gu

[2019-08-16 15:26] janus-reith opened #1096 "Unable to Remove Query / DynamicRangeSlider enforces value once active"
**Affected Projects**
React

**Library Version:** x.y.z
3.0.0-rc.25

**Describe the bug**
As soon as it rendered, the DynamicRangeSlider will enforce the range it displays. Items that don't have this field will not be matched anymore at all.  In my case, that would be an optional memory filter for devices, while not all devices do have any memory.

The SelectedFilters component however doesn't sho

[2019-08-16 15:57] siddharthlatest commented on #1096
@janus-reith A codesandbox (when you can) would help a lot. We're looking into the set of issues related to DynamicRangeSlider next and can check on this.

[2019-08-16 19:07] anshumanv opened #1097 "[Vue] - Add a prop to hide tooltip in rangeslider"
**Affected Projects**

Vue

**Is your feature request related to a problem? Please describe.**
No option to hide tooltip

**Describe the solution you'd like**
add a prop to hide tooltip when set

**Describe alternatives you've considered**

None

**Additional context**
None

[2019-08-17 03:49] ddguru777 opened #1098 "change daterange date format"
**Affected Projects**

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2019-08-17 03:57] #1098 closed, assigned to nobody

[2019-08-17 03:59] wdev733 opened #1099 "How to customize component"
I need a custom data format ("dd.mm.yyyy") and translated Names of month.
How can I do that?

[2019-08-17 08:01] janus-reith commented on #1096
The reason that I didn't provide a sandbox yet is that I would first need to have a public accessible dataset available which has a field present on only some items which can also be queried by range.

[2019-08-19 16:12] abhinavgurung opened #1105 "Result stats at bottom with pagination"
hello,
by default, the resultstats is at the top of the page.  But what if we want to move it to bottom close to pagination such as

               345 results
    prev 1 2 3 4   next

Thanks

[2019-08-19 18:03] FrozenHearth opened #1106 "Movies Store homepage(one of the example starter apps) is broken."
**Affected Projects:**
React

**Library Version:**
3.0.0-rc.25

**Describe the bug**
As the title says, when navigating to [https://movies-store-appbase.herokuapp.com/](url), an error message shows up on the homepage, saying, "An unexpected error has occurred"

**To Reproduce**
Navigate to [https://movies-store-appbase.herokuapp.com/](url).

**Screenshots**
https://i.imgur.com/fczPxgV.png

**Deskt

[2019-08-19 18:19] siddharthlatest commented on #1106
@FrozenHearth Thanks for reporting. I can confirm the issue. We will fixing it shortly.

[2019-08-20 00:27] bietkul commented on #1106
Fixed it.

[2019-08-20 00:27] #1106 closed, assigned to ShahAnuj2610

[2019-08-20 04:47] #1054 closed, assigned to ShahAnuj2610

[2019-08-20 05:10] #739 closed

[2019-08-20 05:30] #512 closed

[2019-08-20 05:30] #1088 closed, assigned to lakhansamani

[2019-08-20 06:43] #689 closed

[2019-08-21 08:29] janus-reith commented on #1096
I think this is related: https://github.com/appbaseio/reactivesearch/issues/1059

Ah, just noted that @ShahAnuj2610 already referenced the PR that fixes this, great!

Still, I'm wondering:

- How would I go about this if I manually want to remove the query somehow that the DynamicRangeSlider created?(Or any other query)  I didn't find a way for this yet.
I also tried to use the `connect` handle an

[2019-08-21 11:58] jyash97 commented on #1097
Hey @anshumanv
We are using [vue-slider-component](https://nightcatsama.github.io/vue-slider-component/#/basics/tooltip)  to create the UI and you can directly use the `sliderOptions` prop to pass any prop directly to the component.
Check this [demo](https://codesandbox.io/s/range-slider-1jhxg)

[2019-08-21 12:03] anshumanv commented on #1097
Makes sense, thanks @jyash97! 😄

[2019-08-21 12:03] #1097 closed, assigned to nobody

[2019-08-21 12:22] jscheidtmann opened #1109 "ReactiveBase should inform user that search backend cannot be reached."
**Affected Projects**

React

**Library Version:** x.y.z

3.0.0-rc.26

**Describe the bug**

When specifying the url property in ReactiveBase the component should render an error message to the user, if that url (ElasticSearch cluster) is not available, for whatever reason. Ideally it would give an indication on CORS.

**To Reproduce**
Run application with `npm start`, with-out running ElasticSear

[2019-08-21 13:55] ShahAnuj2610 commented on #1091
right now you can handle it as shown in the example -> https://codesandbox.io/s/multilist-ew5pk

[2019-08-21 14:59] Dionnelektra commented on #775
@Arvind6353 Hi. Were you able to connect your own server? I am also trying to connect mine

[2019-08-21 18:24] janus-reith commented on #1091
@ShahAnuj2610 I don't see how that example solved the issue.
`handleChange` will only add strings to the beginning of the array and won't allow for removing them. It crashes as soon as you uncheck a checkbox.

Sure this could work if I check before if that string exits and remove it if present.

But in my opinion still this shouldn't be the default behaviour. If `value` as a prop sets the whole ar

[2019-08-22 09:30] hansendx opened #1112 "Query for Multilist Filter is altered on load"
**Affected Projects**
Vue.JS

**Library Version:** 1.0.0-beta.18

**Describe the bug**

I am using a Multilist filter.
When setting  `:URLParams="true"`, something like `Filter=["thing1","thing2"]` is added to the query part of the url. When reloading the page or taking the url and freshly loading it
`Filter=["thing1","thing2"]` is changed to `Filter=["thing1,thing2"]`.
In addition the results are

[2019-08-22 12:37] abhinavgurung commented on #1085
Thanks

[2019-08-22 12:37] #1085 closed, assigned to nobody

[2019-08-22 15:15] abhinavgurung opened #1113 "case# MultiList dataField is an array type"
Case#
 Some of the dataField of the MultiList Component I have is an array.
eg.
      "field" : [
        "item1",
        "item2",
        "item3",
      ]

Now if My dataField is field. then my view of MultiList for this data is
 item1,item2,item3

Goal:
     I want to separate these items on separate as
     item1 (1)
     item1 (2)
    item1 (3)

[2019-08-23 12:11] PunKHS opened #1114 "Add support for async transformRequest"
**Affected Projects**
React

Hello, I have a feature request to ReactiveBase component. It would be great if you could add support for async transformRequest functions.

The goal I want to achieve is to add JWT token to the authorization header, but this token must be fetched from external service, and sometimes must be refreshed, so the function which manages it is asynchronous.

It'd be great if

[2019-08-23 12:29] allendol opened #1115 "Accessibility issue with MultiDopdownList"
I need to use the tab key to go to MultiDopdownList. In MultiDopdownList I select two or more options using the keyboard and not mouse.
The I leave the field (component). But the drop down still stays open.
There should be a way that the opened MultiDopdownList to be collapsed or closed without using the mouse.
![MultiDropDownList](https://user-images.githubusercontent.com/40170767/63592600-f301a3

[2019-08-23 12:35] jyash97 commented on #1115
Hey @allendol
Thanks for reporting the bug. I was able to replicate this I think we can use `escape` key to close the dropdown.

[2019-08-23 12:56] allendol commented on #1115
Strange, the escape key doesn't work for me. I tried earlier. Which browser are you using? I use Edge.

[2019-08-23 13:01] jyash97 commented on #1115
Oh sorry, I didn't phrase it well.  Currently, it is not closing the dropdown using the escape key.  But I can check on this to close the dropdown when the escape key is pressed. Would this be a good solution for this ?

[2019-08-23 13:04] allendol commented on #1115
Yes, we definitely need a solution for it. Escape key can be a solution.

[2019-08-26 08:57] bietkul commented on #1087
Updated the docs [here](https://github.com/appbaseio/Docs/commit/da9594c9b8c1941178052dd32dfba738cfee7e37).

[2019-08-26 08:57] #1087 closed, assigned to bietkul

[2019-08-26 09:18] #1091 closed, assigned to ShahAnuj2610

[2019-08-26 09:57] #486 closed

[2019-08-26 10:22] ShahAnuj2610 opened #1117 "Reactive maps `renderPagination` bug"
**Affected Projects**
React

**Library Version:** x.y.z
v3.0

**Describe the bug**
I have my `renderAllData` method for `ReactiveGoogleMap` as below:
[code]
When I click on the last page, `renderPagination` renders as below:
<img width="323" alt="Screenshot 2019-08-26 at 3 51 12 PM" src="https://user-images.githubusercontent.com/10362927/63683932-5d814000-c819-11e9-94ce-632048d871b4.png">
In fact,

[2019-08-26 15:54] janus-reith commented on #1059
Actually I think this is not fixed completely.
While the mechanics implemented with the `includeNullValues` prop are necessary to get the desired behaviour, a typical solution should be to have something like the `ignoreUntouched` prop which @joepio proposed.

The component could then set `includeNullValues` to `true` internally as long as it is not selected, and turn it to false as soon as there

[2019-08-27 09:43] PunKHS commented on #1109
I have the same problem. Library Version: 3.0.0-rc.26

[2019-08-27 09:48] bietkul commented on #1109
You can use `renderError` prop to display the error message or use `onError` prop to handle the error.
For more details check the docs [here](https://opensource.appbase.io/reactive-manual/search-components/datasearch.html).

[2019-08-27 13:34] jyash97 commented on #876
Hey @jrock17
I was not able to replicate this issue. I tried with multiple datasets and different sizes of `ReactiveList`. Can you confirm if this is happening in the latest version ?

[2019-08-27 14:00] blicksky commented on #876
A user may see duplicate items when a previous item is added after one page is loaded but before the next. This can occur not only when a new item is inserted into the index, but also when an existing item that didn't match the current search criteria is modified such that it does, or when an existing item that would have appeared later based on the current sorting is modified such that it appears

[2019-08-27 20:12] allendol commented on #1115
@jyash97 Do you know when the fixes will be available?

[2019-08-27 23:26] piwel opened #1120 "No list options after "Load More" has been used"
**Affected Projects** React, maybe others

**Library Version:** 3.0

**Describe the bug**
The `after` property from the composite aggregation shall be reset when the query change from another React component, causing the "Load More" button to disappear and no result to display in certain cases.

**To Reproduce**

Steps to reproduce the behavior:

Create a set of data like this:
- Foo: A, Bar: 1
-

[2019-08-28 04:25] michael-wolfenden opened #1121 "Vue.JS UMD build: 'Cannot use 'in' operator to search for 'default' in undefined'"
**Affected Projects**
Vue.JS

**Library Version:** x.y.z
reactivesearch-vue@1.0.0-beta.18

**Describe the bug**
Adding a script reference to the [minified umb build](https://cdn.jsdelivr.net/npm/@appbaseio/reactivesearch-vue@1.0.0-beta.18/dist/@appbaseio/reactivesearch-vue.umd.min.js) results in the following error:

[code]

**To Reproduce**
https://jsbin.com/sajanuhuya/edit?html,console

**Expect

[2019-08-28 11:30] therealtbs commented on #1057
Fixed in version 3.0.0

[2019-08-28 11:30] #1057 closed, assigned to nobody

[2019-08-29 13:31] jyash97 commented on #1115
Hey @allendol
Have created a fix for this in PR #1126 .

[2019-08-29 17:29] allendol opened #1128 "Pagination key when the button is disabled and pagination text is not helpful for 508 accessibility"
We are using ReactiveList with pagination. The component should be accessible.
There are two issue with pagination:
1- When the Prev button is disabled the tab will still go there.
2- Number 1, 2,, 3 doesn't help to say what this is. There is no alt tag on href created. Is there any place we can change numbers 1, 2, 3 to like "Page 1", "Page 2", "Page 3", etc?

![Pagination](https://user-images.gi

[2019-08-29 17:59] allendol opened #1129 "Accessibility issue with filter criteria in ReactiveList"
We are using ReactiveList. The filter criteria is not accessible using the key tab.
When using the key tab, the filter criteria is skipped. No way to get focus on it using the keyboard.
![FilterCriteria](https://user-images.githubusercontent.com/40170767/63964450-2010f280-ca65-11e9-8fe1-729c95389d6b.png)

[2019-08-29 23:12] mengleihouzz opened #1130 "Question: How to reload the reactivesearch queries/states?"
Hi,

We are building an admin tool using reactivesearch. One important functionality of our tool is to save the search query or the state. Then people can reload the previous search result and modify on top of it. Does reactivesearch support this?
Basically, we have two requirements:
1) save the reactivesearch states so that we can reload it.
2) get the Elasticsearch query

Thanks,
Menglei

[2019-08-30 05:51] jyash97 commented on #1128
Thanks, @allendol  I will take a look into this.

[2019-08-30 05:52] jyash97 commented on #1129
Thanks for reporting issues on accessibility will take a look into this and create a fix for this.

[2019-08-30 07:01] jyash97 commented on #1117
This is replicable in `ReactiveList`  as well and this is the main reason why `renderPagination` is giving incorrect pages in `ReactiveGoogleMap`. We should fix this issue on ReactiveList. I think this is a side effect from this PR: #1022

How to Replicate:

1. Run ReactiveList Example
2. Go to last page ( Check `totalPages` prop on Pagination )

[2019-08-30 07:04] #1128 closed, assigned to nobody

[2019-08-30 07:09] #1115 closed, assigned to nobody

[2019-08-30 15:38] allendol opened #1133 "Pagination number losses its accessibility when is focused"
When you focus on any buttons on pagination, it losses its accessibility. Cannot read the number any more. Combination of dark blue and black number is not readable.
![PaginationNumber](https://user-images.githubusercontent.com/40170767/64033475-8b68cc00-cb1a-11e9-834d-201d046bb9dd.png)

[2019-08-30 15:42] allendol commented on #1115
Hi @jyash97
Thanks for the quick workaround. I am trying to add the changes to Download.JS located at \node_modules\@appbaseio\reactivesearch\lib\components\shared\Download.JS but looks like this JS file is not called at all.
Do I miss anything?

[2019-08-30 17:08] allendol commented on #1128
Hi @jyash97
Thanks for your quick response. I am adding the changes at node_modules\@appbaseio\reactivesearch\lib\components\result\addons\Pagination.js and it doesn't have any affect. It must be somewhere else that I need to update and I don't know where.

[2019-08-30 17:21] allendol commented on #1115
I found my problem. The location was correct. I had to run NPM start again. It is working.
Thanks again!

[2019-08-31 12:02] siddharthlatest commented on #1130
@mengleihouzz Yes, this is possible. You can check the [`StateProvider`](https://deploy-preview-38--appbase-docs.netlify.com/docs/reactivesearch/v3/base/stateprovider/) component.

[2019-08-31 12:02] #1130 closed, assigned to nobody

[2019-09-02 05:36] jyash97 commented on #1133
Hey @allendol
Check this example of [ReactiveList](https://codesandbox.io/s/github/appbaseio/reactivesearch/tree/next/packages/web/examples/ReactiveList?from-embed) I can see the color of the active page is white. Can you create a codesandbox link for the issue?

[2019-09-02 05:37] jyash97 commented on #1115
Hey @allendol
Right after doing the changes on `node_modules` you will need to re-run your app to see the changes.

[2019-09-02 20:05] allendol commented on #1133
Hi @jyash97
For some reason I cannot see the code example you sent the link. Can you resend the link?

[2019-09-02 21:01] allendol commented on #1133
Hi @jyash97
I found other example and saw the focus is working fine. The issue was in my code.
Thanks!

[2019-09-03 06:22] #1133 closed, assigned to nobody

[2019-09-03 12:29] allendol commented on #1129
@jyash97,
Below is my selectedfilters.js file. It is much different than the one is written in #1132
---------------------

'use strict';

exports.__esModule = true;

var _extends = Object.assign || function (target) { for (var i = 1; i < arguments.length; i++) { var source = arguments[i]; for (var key in source) { if (Object.prototype.hasOwnProperty.call(source, key)) { target[key] = source[key];

[2019-09-03 12:33] jyash97 commented on #1129
Can you please specify what is different and what did you change as this isnt helpful as you copied  all the code directly from node_modules

[2019-09-03 12:44] allendol commented on #1129
@jyash97,
I didn't change anything. I was trying to say the source code of selectedfilters.js file that I have is different than the one updated in #1132
I just copied and pasted the whole source code of my selectedfilters.js file in above which is not changed.
I think if I want to correspond this with the code in #1132 , may be the following part should be updated on my selectedfilters.js file ve

[2019-09-03 12:48] jyash97 commented on #1129
Any specific reason you want to change things on `node_modules` or are you just want to test the changes done in PR #1132 ?

[2019-09-03 12:54] allendol commented on #1129
@jyash97 ,
- In my original bug report I wrote there is accessibility issue in filter criteria in ReactiveSearch.
- I believe you guys find a way to fix it and write in #1132
- It is my understanding that in #1132 you have located where the changes has to apply.
- I think the changes should be applied in selectedfilters.js
- So I compared my selectedfilters.js with selectedfilters.js defined in #1

[2019-09-03 18:27] nwidynski commented on #471
Are there any plans to revisit the customization of endpoint URL in the upcoming versions?

[2019-09-03 19:31] siddharthlatest commented on #471
It's possible to customize the URL: `beforeSend` is now renamed to `transformRequest`, but the request payload is meant for msearch(..). It's more efficient to club search requests that are related than not to.

That said, in v3.x at some point, we want to (consider) introduce a broader support for backends outside of ElasticSearch. It's an idea and may / may not materialize in an actual change. B

[2019-09-03 20:30] OfficialSui commented on #471
I have tried using transformRequest but have failed to manipulate the url of the request object that is passed. Other than the url im not trying to manipulate anything. Im only looking to proxy the traffic through our domain on a custom endpoint. Basically like so: api.owndomain.com/search
Can you give me a small example on how the url can be manipulated using transformRequest?

[2019-09-04 07:15] ShahAnuj2610 commented on #1096
- I agree that the start and end range should be computed dynamically, but query should only be applied based on a `prop`
- There should be a visible difference that whether query has been applied or not
I think this is a sort of feature enhancement. We just have to decide whether it's on priority or not?
cc: @siddharthlatest

[2019-09-04 08:38] hijodigital opened #1135 "Cannot style disabled pager buttons"
**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**
I'm trying to style my ReactiveSearch to look like the rest of my website. I'm having difficulty styling the disabled pager buttons. I'm using Bootstrap as the framework to style my website.
Pager buttons which are disabled do not take the disabled button style. The pager button markup looks like this:

[2019-09-04 09:18] kvin97 commented on #1086
shall I look over the above issue? ...By the way, I'm doing it for my university assignment in which we have to contribute for a open source project.

[2019-09-04 09:24] jyash97 commented on #1086
Hey, @kvin97  this issue was already closed by PR #1102 , I forgot to close the issue.

Thanks for your interest you can look into other issues which are not assigned or taken by others :)

[2019-09-04 17:03] allendol commented on #1129
@jyash97
Any feedback? I still don't know how I can change my selectedfilters.js.

[2019-09-04 17:25] #1129 closed, assigned to nobody

[2019-09-04 17:36] allendol commented on #1129
@bietkul,
I tried to add this:
tabIndex="0"
onKeyPress={event => handleA11yAction(event, () => this.remove(component,
value))}

But below is the format of my selectedfilters.js:
----
						_Button2.default,
						{
							className: (0, _helper.getClassName)(_this.props.innerClass, 'button') || null,
							key: component + '-' + (index + 1),
							onClick: function onClick() {
								return _th

[2019-09-04 17:39] grinono opened #1136 "implementation of graphQLUrl for the react native stack"
For the react native components i would like to query my Graphql: graphql-compose-elasticsearch
it's implemented on React v3 but see it not reflected in Native. Where to start in implementing the graphQLUrl?

[2019-09-05 07:44] siddharthlatest commented on #1096
@janus-reith Isn't this already possible by using the `customQuery` prop? You can set a `match_all` clause for instance if you don't want the default range query to be triggered.

[2019-09-05 08:03] mihalo opened #1137 "MultiDropDownList not triggering renderNoResults"
**Affected Projects**
ReactJS

**Library Version:** x.y.z
3.0.0

**Describe the bug**
MultiDropDownList not triggering renderNoResults when there isn't any results

**To Reproduce**
` <MultiDropdownList
                    componentId="Test"
                    dataField="data.test.keyword"
                    size={100}
                    sortBy="asc"
                    showCount

[2019-09-05 10:10] bietkul commented on #1129
@jyash97 Can you check on it?

[2019-09-05 10:14] jyash97 commented on #1129
Hey @allendol
This changes would be added in the next release you can then just upgrade your version and run the app. Making changes to `node_modules` is not good way to go about. But if you still want to make the changes in `node_modules` you can setup this repo locally and copy the files from respective library files.

[2019-09-05 11:41] #505 closed

[2019-09-05 11:41] #521 closed

[2019-09-05 11:41] #550 closed

[2019-09-05 11:41] #554 closed

[2019-09-05 11:41] #555 closed

[2019-09-05 11:41] #561 closed

[2019-09-05 11:41] #559 closed

[2019-09-05 11:41] #431 closed

[2019-09-05 11:41] #571 closed

[2019-09-05 11:41] #577 closed

[2019-09-05 11:41] #579 closed

[2019-09-05 11:41] #593 closed

[2019-09-05 11:41] #596 closed

[2019-09-05 11:41] #585 closed

[2019-09-05 11:41] #582 closed

[2019-09-05 11:41] #599 closed

[2019-09-05 11:41] #640 closed

[2019-09-05 11:41] #283 closed

[2019-09-05 11:41] #682 closed

[2019-09-05 11:41] #743 closed

[2019-09-05 11:41] #762 closed, assigned to nobody

[2019-09-05 11:41] #776 closed, assigned to nobody

[2019-09-05 11:41] #787 closed, assigned to nobody

[2019-09-05 11:42] #792 closed, assigned to nobody

[2019-09-05 11:42] #794 closed, assigned to nobody

[2019-09-05 11:42] #782 closed, assigned to nobody

[2019-09-05 12:41] #259 closed

[2019-09-05 12:41] #315 closed

[2019-09-05 12:41] #344 closed

[2019-09-05 12:41] #358 closed

[2019-09-05 12:41] #355 closed

[2019-09-05 12:41] #384 closed

[2019-09-05 12:41] #404 closed

[2019-09-05 12:41] #108 closed

[2019-09-05 12:41] #425 closed

[2019-09-05 12:41] #346 closed

[2019-09-05 12:41] #457 closed

[2019-09-05 12:41] #467 closed

[2019-09-05 12:41] #481 closed

[2019-09-05 14:02] allendol commented on #1129
Hello @jyash97
I am at deployment phase and I am afraid if I upgrade the version, it would cause something else to break.
All I want is how I can modify these two lines:
tabIndex="0"
onKeyPress={event => handleA11yAction(event, () => this.remove(component, value))}
to work at:
_Button2.default,
    {
        className: (0, _helper.getClassName)(_this.props.innerClass, 'button') || null,
        ke

[2019-09-05 14:58] marcelchastain commented on #1096
Here's how I fixed it locally.

1. For a rangecomponent, I store the start/end values in a separate exportable variable, keyed by the `componentId`

[code]

2. create a custom query generation function that checks the range value against the default, and if it matches, drops that part of the range query.

[code]

3. use it in a component
[code]

[2019-09-05 18:36] ishaanjain opened #1138 "Filters being reset when navigating back/forward"
**Affected Projects**: React

**Library Version:** 3.0.0-rc.22

**Description**
I'm using several ReactiveSearch components in my single page application. When the user clicks on a react-router Link and goes to a different virtual page, then any ReactiveSearch component that remained mounted from the first "page" to the second continues to work correctly.
But when the user navigates between "pages

[2019-09-06 05:39] jyash97 commented on #1129
Can you try with this code: https://gist.github.com/jyash97/6b12e343ebc68a0e298b49b8d232fb13

If this doesnt work. You can follow these steps:

1. Setup Project Locally. Check this: https://github.com/appbaseio/reactivesearch/blob/next/.github/CONTRIBUTING.md

2. Run `yarn dev:web`

3. Go to `packages/web/lib/components/basic/SelectedFilters` and check the code that has changed.

I highly recommen

[2019-09-06 07:09] lakhansamani commented on #1136
@grinono thanks for bringing that up. It would be great if you can create PR for this.

For `graphQLUrl` prop, you can take reference from [`<ReactiveBase />`](https://github.com/appbaseio/reactivesearch/blob/next/packages/web/src/components/basic/ReactiveBase.js) component of ReactiveSearch v3 and trying adding similar implementation here.
https://github.com/appbaseio/reactivesearch/blob/next/pac

[2019-09-09 05:13] neoromantic opened #1139 "ReactiveSearch components do not support ElasticSearch v7"
**Affected Projects**
React

**Library Version:** 3.0.0

**Describe the bug**
Since breaking change in Elastic 7.0 which changes the way hits.total displayed from plain value to object, the ReactiveSearch fails on parsing that field, thus breaking whole app.

**To Reproduce**
Steps to reproduce the behavior:

1. Set up appbase with Elastic 7
2. Try to connect ReactiveSearch in any shape or form
3.

[2019-09-09 05:14] bietkul commented on #1139
Can you please let us know which version you're using?
It works well with `3.x`.

[2019-09-09 05:32] neoromantic commented on #1139
It's the latest:

[code]

I've checked the source code, it expects that in hits.total there will be a number returned. And starting from ElasticSeach 7, it returns something like { relation: "eq", value: 5}.

Elastic which I'm testing is on the AppBase.

It works well with Elastic 5.

[2019-09-09 05:34] neoromantic commented on #1139
Specifically it is in server/index.js:298

[code]

As you can see, it gets total document count from "response.hits.total", which is an object since ES7.

[2019-09-09 05:37] bietkul commented on #1139
@lakhansamani Can you check on it?
I think it is the side effects of your SSR PR.

[2019-09-09 07:32] lakhansamani commented on #1139
@bietkul will check this.
Can you add more details on how this is a side effect of adding new props for `ReactiveBase` component on SSR?

[2019-09-09 07:51] bietkul commented on #1139
@lakhansamani You can check the code snippet added by @neoromantic.

[2019-09-09 08:21] lakhansamani commented on #1139
Thanks 👍

[2019-09-09 14:34] axelhildingson opened #1141 "Add a renderSearchBox prop to multiList and singleList"
**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**
I can't find a way to render my own customized search box for miltilist and singlelist

**Describe the solution you'd like**
Add a renderSeachBox props

[2019-09-09 14:36] jyash97 commented on #1141
Hey @axelhildingson
Can you please elaborate what customization do you need?

[2019-09-09 14:44] jyash97 commented on #1137
Hey @mihalo
I can see it working over [here](https://fe4k3.csb.app/). Try searching `fff` on search you will see the text Nothing Found.

Screenshot:
![image](https://user-images.githubusercontent.com/22376783/64540788-56d8e980-d33e-11e9-8fbb-5118bdff482d.png)

It would be great if you provide an example link.

[2019-09-09 15:35] mihalo commented on #1137
Hey @jyash97
Sorry I was a bit unclear. In your case it is working as expected but when there is initially no options without any search input it doesn't render. I expect it to work even there isn't any values to select. At least show error or no results found text but all I get is empty div.

You can see it here: https://codesandbox.io/embed/multidropdownlist-d059y

What I made is changed origina

[2019-09-09 20:53] tankchintan opened #1142 "QUESTION: Is it possible to specify `cross_fields` in DataSearch generated ES Query?"
Hello I have recently started using your excellent project & I fell it provides lots of extension points.

I was wondering though is it possible to also do a multi_match using `cross_fields`. I know you are using `best_fields` & `phrase_prefix` right now.

I know I could possibly use `customQuery` to accomplish this but I am afraid that I might end up duplicating lot of logic you have already bake

[2019-09-09 21:49] tobinoh opened #1143 "[Question] Make items in MultiList to reflect ReactiveList"
**Issue Type:**
The items in MultiList are not reflecting returned data in ReactiveList

**Platform:**
Web / Version - 3.0.0-rc.22

**Description:**
First of, thanks for the great library. It saved me tons of times building the search from scratch.

So I tried to link `MultiList` and `ReactiveList` to filter out the results, and the filter successfully filters results in the `ReactiveList` when I

[2019-09-10 04:42] PunKHS commented on #1114
May be somebody knows a workaround, which can help resolve this issue?

[2019-09-10 05:43] jyash97 commented on #1137
Hey @mihalo
Thanks for pointing the issue this does look like a bug will check into it and let you know.

[2019-09-10 07:03] axelhildingson commented on #1141
I basically want to access the props, so something like this,
[code]

[2019-09-10 16:17] kvin97 commented on #978
Shall I work on this bug...I have to contribute to an open source project as an assignment in university. Can you assign this to me?

[2019-09-11 04:50] tankchintan opened #1148 "Autocomplete dropdown shows inconsistent results in `DataSearch` component"
**Affected Projects**
React Web

**Library Version:**
`3.0.0-alpha.3`

**Describe the bug**
I use `customQuery` in a `DataSearch` component. When I type a query in the search box I see 2 issues,
1. The query generated by autocomplete (the one that shows instance results as a drop down list form the search box) is the stock query that is fired as if there was no `customQuery` being specified. This

[2019-09-11 10:32] #1139 closed, assigned to nobody

[2019-09-11 10:40] #1137 closed, assigned to nobody

[2019-09-11 10:42] jyash97 commented on #1137
Hey @mihalo
Thanks for the issue, it will be released in the upcoming version of ReactiveSearch.

[2019-09-11 13:22] bietkul commented on #1114
Fixed in v3.0.1.

[2019-09-11 13:22] #1114 closed, assigned to nobody

[2019-09-11 15:34] kud opened #1149 "[Feature Request] Modify placeholder in dropdown"
**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**
Can't change the placeholder in the search of a MultiDropdownList and Dropdown itself.

**Describe the solution you'd like**
https://github.com/appbaseio/reactivesearch/blob/next/packages/web/src/components/shared/Dropdown.js#L185 add a prop here

[2019-09-11 15:54] bietkul commented on #1149
The current implementation of `placeholder` prop in dropdown components is not correct, it sets the dropdown value but the documentation says that it'll set the placeholder of the search box which should be the ideal case.
We can not change this behavior because it'll break the things for the current users.
@ShahAnuj2610 We need to do these changes.
1. Update the docs of `placeholder` prop, it'll

[2019-09-11 15:56] kud commented on #1149
For the moment I did this:

[code]

but yeah, it only changes the placeholder for the select, not the search. `searchPlaceholder` could be the solution!

[2019-09-11 17:04] kud opened #1150 "[Feature Request] componentId shouldn't be used as selected filter name"
**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**
As I code in english, I also named my components in english in their `componentId` prop.

However, I had to change it in french because it's what it's used to display the name of the filter in `<SelectedFilters />` buttons.

There's a problem here between code naming and interface.

**Describe the solut

[2019-09-11 17:05] kud commented on #1150
[code]

It makes me quite sad to use those names in `react` prop as it's all about code here, not about interface.

[2019-09-11 19:03] nwidynski commented on #471
@siddharthlatest I have tried using transformRequest but have failed to manipulate the url of the request object that is passed. Other than the url im not trying to manipulate anything, since I'm only looking to proxy the traffic through our domain, like so: https://api.owndomain.com/search.

Can you give me a small example on how the url can be manipulated using transformRequest?

[2019-09-11 19:06] bietkul commented on #471
@OfficialSui Can you please check the docs of `transformRequest` prop [here](https://docs.appbase.io/docs/reactivesearch/v3/overview/reactivebase/), I added the example to modify the URL.

[2019-09-11 19:06] #471 closed

[2019-09-11 20:21] allendol opened #1151 "MultiDropdownList background color is not visible enough. How to change the background color in Multidropdown list"
Please look at the sample at: https://codesandbox.io/s/github/appbaseio/reactivesearch/tree/next/packages/web/examples/MultiDropdownList?from-embed
I would like to change the background color of items when I use the keyboard to choose the right selection.
How can I do it? Where is the location to change this?
![MultiDropDownListBackgroundColor](https://user-images.githubusercontent.com/40170767/64

[2019-09-11 20:24] nwidynski commented on #471
@bietkul The passed request object does not feature a url property, therefore the snippet you provided doesnt work. Are there any additional settings to enable the url aswell as credentials to be passed or am i missing something?

[2019-09-11 20:28] bietkul commented on #471
You must use the `3.0.1` version of Reactivesearch to use this feature.

[2019-09-12 00:32] nwidynski opened #1152 "Add option to update inputs of RangeInput component and trigger a callback on slider handle change"
Issue Type:
Feature request/question

Platform:
Web

Description:
I would like to have an option to update the the inputs aswell as trigger a callback function whenever a handle of the slider changes position.

This would provide more feedback to the user on when he wants to release the handle instead of guessing on where he needs to release the handle in order to pick a certain value. This also w

[2019-09-12 00:54] nwidynski commented on #471
@bietkul Well, that was obvious... Didnt notice that that was a v3 docs link. Thanks a lot!

[2019-09-12 07:09] siddharthlatest commented on #1150
@kud `componentId` is just a default key used in the SelectedFilters component. If you use the `filterLabel` key, that label will be used in the SelectedFilters component instead. HTH!

[2019-09-12 07:09] #1150 closed, assigned to nobody

[2019-09-12 08:51] kud commented on #1150
Thank you!

[2019-09-12 10:24] bietkul commented on #835
@mauxtin Can you please share a codesandbox link which reproduces this issue?
It seems like there are some configuration issues.

[2019-09-12 11:11] bietkul commented on #1060
Yes, you're not using it in the correct way.
You can just use the `renderData` as `slot`, for example in your `template` use it like that
[code]
If you're using `JSX` then you can just define the `renderData` as a function.

[2019-09-12 11:11] #1060 closed, assigned to nobody

[2019-09-12 14:54] kud opened #1155 "[Feature Request] On <SelectedFilters>, showClearAll should always display the button"
**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**
I would like to have a button which allows me to remove all filters. However I don't want the filters cloud with  it. So, my solution was to do this:

`<SelectedFilters showClearAll clearAllLabel="Remove all filters" />`

and put `showFilter={false}` on each other component.

However, if you do that, yo

[2019-09-12 17:05] tankchintan commented on #1148
So seems like the dropdown issue is happening when the fields in the `dataField` are all derived fields. i.e. the content of those fields are due to use of `copy_to`

And per my understanding even though the ES sends back results there is some filtering going on in the reactiveSearch side which doesn't see the query clauses in the fields present in `dataField`, this is because technically there is

[2019-09-12 17:09] bietkul commented on #1148
It seems like a duplicate of #1002.

[2019-09-12 17:29] tankchintan commented on #1148
@bietkul thanks for responding.

I think it is similar to #1002 in the sense that the proposed solution might be the same. But I think the cause is different, in this case it might be genuinely an issue since the derived fields (or `copy_to`'ed target fields) by default will never have any stored content in it.

So looking at the proposed solutions,
1. Use label key for the title or define dataFie

[2019-09-12 17:40] bietkul commented on #1148
The second solution will work for you now, use `rawData` instead of `data`.
Please check the docs of `render` prop [here](https://docs.appbase.io/docs/reactivesearch/v3/search/datasearch/).

We can have a new prop in the search components to disable this behavior, currently, we parse the suggestions which may lead to duplicates if someone customizes the `label` key.
For now, the only solution is t

[2019-09-12 17:43] bietkul commented on #1148
Regarding the custom query issue( empty `data` key), can you create a codesandbox example.

[2019-09-12 17:53] bietkul commented on #1055
@mauxtin Fixed in the latest version, you can check the example [here](https://github.com/appbaseio/reactivesearch/tree/next/packages/vue/examples/data-search-custom-suggestions).

[2019-09-12 17:53] #1055 closed, assigned to nobody

[2019-09-12 18:15] bietkul commented on #1121
Fixed in the latest version, please find the docs [here](https://docs.appbase.io/docs/reactivesearch/vue/overview/QuickStart/#step-2-reactivesearch-as-umd).

[2019-09-12 18:15] #1121 closed, assigned to bietkul

[2019-09-12 20:33] lucmski opened #1156 "toggle on/off"
Hi guys,

Hope you are all well !

Is there a component to toggle re-tweet/tweet with a single checkbox or toggle button ?

Example:
[code]

Cheers,
L

[2019-09-12 20:38] lucmski opened #1157 "embed videos and images"
Hi guys,

Hope you are all well !

I would like to parse tweets and embed videos or images in results.
How can I do it ?

[code]

Cheers,
L.

[2019-09-13 06:31] tankchintan commented on #1148
@bietkul I am not sure I follow. I don't think I have any custom query issue. I was facing issue with `data` being empty. But that was because `data` contains all the filtered response, as opposed to `rawData`.

[2019-09-13 09:33] bietkul commented on #1148
Ok, it seems like you're getting hits in `rawData`.
We'll soon introduce a new prop to disable this parsing logic.

[2019-09-13 10:33] #1152 closed, assigned to nobody

[2019-09-13 11:43] z4m0 opened #1158 "How to re-run render function"
Given the following setup:
[code]
Is there a way to re-run the render function `props.children({data, ...props})` when some value of the variable props changes without repeating the ES query?

[2019-09-13 11:54] ShahAnuj2610 commented on #1148
@tankchintan right now it is not feasible to include a `prop`, that would control whether suggestions should be parsed or not. Since suggestions are formed of the shape `{label, value, source}`, it is not possible to parse suggestions keeping the no of items same for multiple `dataFields`. If we have to implement this feature, we have to assume that `dataFields` will always be single.

[2019-09-13 12:13] bietkul commented on #1158
It was an issue with `v3.0.0` fixed it in `v3.0.1`, please upgrade to the latest.

[2019-09-13 12:13] #1158 closed, assigned to nobody

[2019-09-13 17:59] tankchintan commented on #1148
Thanks for the note @ShahAnuj2610
I guess my question is, is it possible to instead have a `prop` which determines whether or not to allow more suggestions than requested? i.e. if there exists a prop `maxNumSuggestions` (I dont think I found it), can it be instead converted to `minNumSuggestions`?

Or we could have a separate prop instead, `allowMoreSuggestions`?

Or we could just show the max sug

[2019-09-13 23:12] #833 closed, assigned to nobody

[2019-09-14 01:24] multidis commented on #1086
I still see the same problem (in fact identical to the screenshot above) with `"@appbaseio/reactivesearch": "^3.0.1"`. Am I missing something?

[2019-09-14 01:24] multidis commented on #1086
@jyash97

[2019-09-14 22:18] anshumanv commented on #1117
https://github.com/appbaseio/reactivesearch/blob/f05fc12bd5c4dec4d2d1e1b03292b72ce55b04ea/packages/web/src/components/result/addons/Pagination.js#L23

The issue seems around the currentPage exceeding the total available pages, need to handle some math and edge cases around, that's it. ✨ 🔢

Can fix this if required. 👍

[2019-09-15 10:39] lucmski opened #1160 "SearchFilters with SingleDropdownRange for date"
**Affected Projects**
 React

**Library Version:** 3.0.1

**Describe the bug**
https://github.com/twintproject/twint-search/blob/master/searchapp/src/SearchFilters.js#L68-L143

**To Reproduce**
http://x0rzkov.hd.free.fr:5000/
http://x0rzkov.hd.free.fr:9200/limo/_search?pretty=true&q=*:*

**Expected behavior**
How to filter by range of date in format "2009-01-01 00:00:00 " instead of "2009-01-01T00

[2019-09-15 13:34] #1071 closed, assigned to nobody

[2019-09-16 11:18] kvin97 commented on #1160
Shall I work on this bug...I have to contribute to an open source project as an assignment in university. Can you assign this to me?

[2019-09-16 11:31] siddharthlatest commented on #1160
@lucmski This isn't a ReactiveSearch issue. You have to first set the date format in your ElasticSearch index - see [ref here](https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-date-format.html). Then, you should be able to query it via RS.

@kvin97 You can pick up any issue with a label `good first issue`.

[2019-09-16 11:53] kvin97 commented on #814
Shall I work on this...I have to work on a contribution to an open source project for an assignment in our university..

[2019-09-16 11:54] jyash97 commented on #814
Hey @kvin97  You can work on this.

[2019-09-16 13:41] #1149 closed, assigned to ShahAnuj2610

[2019-09-16 23:05] multidis commented on #1086
When each item is rendered with e.g. a high-resolution image, any re-rendering noticeably affects the application performance.

[2019-09-16 23:10] multidis commented on #876
Possibly related to this [re-rendering issue](https://github.com/appbaseio/reactivesearch/issues/1086) (still a problem)?

By the way we observe duplicate key errors with multi-list when the app data does not change. Search filters changes typically trigger that (Gatsby SSR setup similar to [this one](https://github.com/multidis/reactivesearch_gatsby)).

[2019-09-17 08:10] ShahAnuj2610 commented on #1117
@anshumanv I have fixed this. So lmk if there would be any side effects.

[2019-09-17 11:35] #813 closed, assigned to nobody

[2019-09-17 12:38] #1117 closed, assigned to ShahAnuj2610

[2019-09-17 14:20] #1155 closed, assigned to ShahAnuj2610

[2019-09-17 15:56] kud opened #1162 "How do you handle releases?"
Hello!

After some feature requests I asked, you did a quick and amazing job to fix:

- https://github.com/appbaseio/reactivesearch/pull/1159
- https://github.com/appbaseio/reactivesearch/pull/1153

As I need it, I would like to know when you'll make a new version of RS for Web, and what's your routine to make a version?

Thank you!

[2019-09-18 08:29] nserbass opened #1163 "Question: DataSearch customQuery with value"
**Platform:**
Web / Version - 3.0.1

**Description;**
I'm trying to use the input value in the customQuery but it doesn't work. Actually, using the exemple code doesn't work neither. Ths is my code with a default value:

[code]

If I print value with a console.log, it prints undefined so I don't know how to get the value typed in the search box. Do you have any idea?
[code]

[2019-09-18 11:29] lucmski commented on #1160
We could change the date format, but it would break a lot of stuff for Twint users.
And a lot of people are using elastic as backend, for work...

If with kibana we can set a specific datetime window, I'm sure we can do the same via requests since the endpoint is still the same.

Maybe you can add a date formatter on your side.

[2019-09-18 13:25] gpassarelli opened #1164 "Error on Analytics with Toggle"
**Affected Projects**
Not sure if this is an issue with the reactivesearch or with the core. I'm currently using the Vue.JS version.

**Library Version:** x.y.z
1.0.0.beta-19

**Describe the bug**
When you set the Analytics options and try to toggle off a filter, it will fire the following error:
`TypeError: Cannot read property 'start' of null`
And breaks the code

**To Reproduce**
Set the analyt

[2019-09-19 14:56] kud opened #1165 "[Feature Request] Add a class when something is chosen in a List Component"
**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**
I don't know in CSS when a filter / facet has a value chosen.

**Describe the solution you'd like**
For the moment I did this workaround:

[code]

[2019-09-19 16:04] kud opened #1166 "[Feature Request] On DataSearch, disable autosearch"
**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**
I don't want to search when I don't click on any submit button

**Describe the solution you'd like**
Disable autosearch on keyup/keydown

[2019-09-20 14:02] KrishnaPG commented on #940
Wondering the same about the Vue support, and future

[2019-09-21 06:32] tankchintan opened #1168 "[QUESTION] Is it possible to completely customize the look/feel of the DataSearch `input`?"
I would like the ability to customize the look & feel of the search box completely. Currently we have support for class name & style, which gets me there like 80%.

But in tune with custom render property on `ReactiveList` & other components I would like to be able to customize this as well.

Basically I was hoping to use Bootstrap's `button-addons` like described here https://getbootstrap.com/doc

[2019-09-22 14:25] #850 closed, assigned to nobody

[2019-09-22 20:32] devinsm commented on #947
@dres-cifuentes @bietkul I'm running into the same issue. Is there a work around?

[2019-09-22 21:32] devinsm commented on #947
I have solved the issue I was experiencing. When using ReactiveComponent, your render function needs to update the query when the value changes. My render function rendered a single component. Inside that component I used the useEffect hook to reset the query every time the value was set to null:
[code]

[2019-09-24 11:29] joepio opened #1169 "State mismatch (URL + view) on unmounting RangeSlider"
**Affected Projects**
React

**Library Version:** x.y.z
3.0.2

**Describe the bug**
User renders RangeSlider component, component is unmounted, the filter is removed in the display, but the filter persists in the URL and influences the shown results.

This might be related to #368.

To explain why we use this component, and why unmounting is so important:

The RangeSlider sets some query parameter

[2019-09-24 11:37] joepio commented on #1059
I agree with @janus-reith, the `includeNullValues` prop does not solve this issue by itself.

@bietkul Could you perhaps re-open this issue?

[2019-09-24 12:06] bietkul commented on #1059
@ShahAnuj2610 Can you please check it.

[2019-09-24 13:51] ShahAnuj2610 commented on #1059
As of now, this approach should work => https://github.com/appbaseio/reactivesearch/issues/1096#issuecomment-528411554

[2019-09-24 15:57] kud opened #1170 "[Feature Request] Allow to use `data` in MultidropdownList and whatever"
**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**
I use some aggregations to get more informations rather than just labels ands counts.

However, `renderItem` doesn't give you the opportunity to use  `data` where `render` allows you that.

I could use `render` but the thing is the `renderItem` way is great for me.

So I would like to have like a 4th pa

[2019-09-24 16:13] kud commented on #1170
My workaround was to do something like this for the moment:

[code]

😬

[2019-09-24 18:47] kirtishjain9 opened #1171 "Can reactivesearch be used with Cloud Firestore Database"
**Affected Projects**
React Native

**Is your feature request related to a problem? Please describe.**
I'm developing a React Native mobile app (iOS & Android) with Cloud Firestore as my backend Database to store my data.

Can I use reactivesearch components and APIs with Cloud Firestore Dataset? If yes then please suggest any example with Google Maps.

Please let me know your response. Thanks in

[2019-09-24 19:02] siddharthlatest commented on #1171
@kirtishjain9 ReactiveSearch assumes that your backend is an ElasticSearch index. Although we want to support more options at some point, it's not possible today and not on the immediate roadmap.

We offer a CLI to help you bring your Firestore data to ElasticSearch: https://medium.appbase.io/cli-for-indexing-from-firestore-to-elasticsearch-80286fc8e58b. Which can then be used to power your Reacti

[2019-09-24 19:18] kirtishjain9 commented on #1171
@siddharthlatest Thanks a lot for your prompt response on my query.

Sure, I'll check it out and try to implement it if Application's Client would agree to share application data.

Thanks once again.

[2019-09-25 17:29] #854 closed, assigned to nobody

[2019-09-25 18:13] abhinavgurung opened #1172 "passing i18n instance within the ReactiveList props"
I am trying to use i18n instance which is declared as
 const {t, i18n} = withTranslation();
I can use it inside the ReactiveList component but not one step below inside sortoptions prop.

How can i use the i18n instance in here:
sortOptions={[
            {
              label: 'Recently Updated',
              dataField: {**i18n**.language === 'en' ? 'dateStudyVersion.en' : 'dateStudyVersion.fr'}

[2019-09-25 20:03] AaronPlave opened #1173 "[Question]: Refresh search using same query parameters"
**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**
I'm looking for a way to force a refresh of the elasticsearch query using the same active set of search parameters since my database may be updated fairly frequently and I don't want to force the user to refresh the page. After searching through the docs and issues I haven't found a clear way to do this

[2019-09-25 20:46] bietkul commented on #1173
You can try with the `customQuery` prop in `DataSearch`, update it whenever you want.
You can also define the `ref` property to access the `updateQuery` method of `DataSearch` and call it.

[2019-09-26 11:18] #856 closed, assigned to nobody

[2019-09-27 21:25] tankchintan opened #1175 "`innerClass` property passed to components not getting applied in final DOM"
**Affected Projects**
React

**Library Version:** x.y.z
3.0.2

**Describe the bug**
`innerClass` is not being applied to the dom elements of MultiDropdownList (& I am sure other components as well)

**To Reproduce**

Steps to reproduce the behavior:
* Go to https://codesandbox.io/embed/multidropdownlist-f4xrk
* Open up developer console & inspect the class for the list, list item, title. None of t

[2019-09-27 22:45] bietkul commented on #1175
It works you should use `innerClass` instead of `innerClassName`.
https://codesandbox.io/embed/multidropdownlist-f4xrk

[2019-09-27 22:45] #1175 closed, assigned to nobody

[2019-09-27 23:32] tankchintan commented on #1175
Wow, don't know how I missed that! Thanks!

[2019-09-29 15:03] kvin97 commented on #814
Hi @jyash97 @metagrover I went through the documentation and code block but I couldn't clearly grasp the meaning of *** two suggested categories*** as mentioned above.......Can you please explain what are the suggested categories in the given image above. For me, it feels like the highlighted ones?...Can you please explain?

[2019-09-30 00:55] kvin97 commented on #814
@jyash97 @metagrover please review the above PR

[2019-10-01 09:00] priyanksha-monotype commented on #167
Is "NestedMultiList" available in v3 version?

[2019-10-01 14:05] jyash97 commented on #1086
Hey @multidis sorry I missed the thread.

Currently, it's difficult to fix this from the library side. I created a fix that caused some other side effects. But there is a workaround that can help decrease the re renders. Here are the steps:

- Create a higher order component in the `render` method of `ReactiveList`
[code]

- Implement `shouldComponentUpdate` in `Results` ( higher order component )

[2019-10-02 02:07] multidis commented on #1086
Thank you @jyash97 this approach helps to some extent. However there is still quite a bit of re-rendering happening. Hope a fix is still on the roadmap.

[2019-10-02 12:31] delkant opened #1180 "[Question] v3 ReactiveGoogleMap How to add layers, polygons etc"
I couldn't find any example on how to add polygons to a ReactiveGoogleMap

There is an old example on how to do this
https://github.com/appbaseio/reactivesearch/blob/next/site/demos/datalayer/src/index.js#L56

but I don't know how to adapt this to a ReactiveGoogleMap component.

Any examples or pointers to documentation on how to do this?

[2019-10-02 12:54] jyash97 commented on #1086
Hey @multidis Can you create an example showing the extra re-rendering after doing the above approach maybe I can help you further on that.

It's on our roadmap and we will be figuring a way out in which it doesn't introduce side effects.

[2019-10-02 12:56] jyash97 commented on #1172
@abhinavgurung  Please follow the issue template. An example would really help us understand the issue.

[2019-10-02 12:58] jyash97 commented on #1180
Hey @delkant thanks for the issue. We should definitely have some documentation on this.

@lakhansamani Any idea on how to do this?

[2019-10-02 13:00] jyash97 commented on #1170
Hey @kud this sounds good. Are you up for creating a PR for this ?

[2019-10-02 13:07] jyash97 commented on #1165
We do apply a class `active` to the item which is currently selected. Consider the below example:

[code]

And you can use this selector:

[code]

Example: https://codesandbox.io/s/multidropdownlist-kjxby

[2019-10-02 13:10] jyash97 commented on #1165
Reopening it because I may have interpreted incorrectly. So you want to create a class whenever a filter is active. Right?

[2019-10-02 13:25] kud commented on #1165
I would like to know as a developer that at least one element has been selected in the list, on the whole component.

I need it to change the colour of the whole component when the filter has something selected or it's the initial state.

I don't need to change the style of the list but the style of the select in fact :D

[2019-10-02 18:07] Gouravagrawal opened #1182 "How can I have a filter similar to DateRange but not with start date and end date and calender view ( as in few cases its not needed) . But the options in the filter should be predefined like - "Last Month", Last 3 Months" and "Last Year". So I checked at the Daterange filter by reactivesearch but I dont want two date field( start date and end date and also dont want calender view in the filter) . ONLY 3 fields last x days and automatically filter records based on my date from datafield. Do you guys know how can I do that?"
**Affected Projects**

**Library Version:** x.y.z

**Describe the bug**

**To Reproduce**

Steps to reproduce the behavior:

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please complete the following information):**
 - Device: [e.g. iPhone6]
 - OS: [e.g. iOS8.1

[2019-10-02 18:17] Gouravagrawal commented on #1182
Something like this...which is ultimately filtering results based on dates but does not need start date, end date or calender view

![image](https://user-images.githubusercontent.com/11697927/66070471-61db0000-e51f-11e9-83b1-099dfd964360.png)

[2019-10-03 05:46] kvin97 commented on #814
@jyash97 @metagrover please review the above PR for the added `categorySuggestionsListSize` prop.
Now it can be added as `categorySuggestionsListSize={*}` in CategorySearch component.

[2019-10-03 05:51] jyash97 commented on #1182
Hey @Gouravagrawal Please follow the issue template.  This is not a bug this is more of a question.

You can do this using `MultiDataList` with `customQuery` for Date Range. You can read more about query [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-range-query.html#range-query-time-zone).

[2019-10-03 07:16] multidis commented on #1086
Taking your example @jyash97 with `shouldComponentUpdate`: with pagination, each page renders the entire set of ReactiveSearch results (i.e. the `Results` class) 4 times (per `count` updates). Each individual item (from `data.map`) is rendered twice; the total item renders per page is `2n` where `n` is the number of results per page.

When infinite scroll is enabled this re-rendering slows things

[2019-10-03 07:46] #870 closed, assigned to nobody

[2019-10-03 12:43] kvin97 commented on #1065
Hey, I would like to work on this

[2019-10-03 12:46] jyash97 commented on #1065
Sure you can work on this 👍

[2019-10-03 14:46] #873 closed, assigned to nobody

[2019-10-03 15:38] delkant commented on #1180
hi @lakhansamani any pointers about where should I be looking? Can a _ReactiveMap_ component be used directly instead of a _ReactiveGoogleMap_?? so I can do something like what you have for datalayer's example for V2

[2019-10-04 09:20] z4m0 commented on #1173
Is it possible to do the same with ReactiveList?

[2019-10-04 12:08] 0mars commented on #140
Hello, how to pass custom headers ? can you give an example please

[2019-10-05 07:20] jyash97 commented on #1086
I agree on the above point whenever data changes `data.map` will re-render all items but re-rendering doesn’t always mean that it will unmount all the previous components ( Component present on DOM ) and create it again. It will discard the changes having the same keys.

Here is a detailed explanation of the above:

- Consider infinite scroll is on:
Whenever we scroll, the results are loaded and g

[2019-10-05 10:42] dmoskovtsov opened #1187 "ReactiveList stream issue"
**Affected Projects**
    "react": "16.8.6"

**Library Version:** x.y.z
    "@appbaseio/reactivesearch": "3.0.2",

**Describe the bug**
I'm trying to build a list which gets updated when data in elastic search is updated. Data is hosted with appbase.io. I used a basic example from docs. However, the list is never updated and I get following error in console:

"This method does not support streamin

[2019-10-05 10:53] z4m0 commented on #1173
@bietkul I wasn't able to make updateQuery work with the same query I think this line is preventing it:

https://github.com/appbaseio/reactivecore/blob/9490a737adba49be70a9df5dd7ca55f384ac23c1/src/actions/query.js#L363

[2019-10-05 20:46] lakhansamani commented on #140
@0mars there is `headers` props in `ReactiveBase` component which accepts JSON object. For more information, you can check docs [here](https://docs.appbase.io/docs/reactivesearch/v3/overview/reactivebase/)

[2019-10-06 01:55] #875 closed, assigned to nobody

[2019-10-06 08:02] matsava opened #1188 "Suggestion duplication"
**Affected Projects**
All of them

**Describe the bug**
I am trying to get around this issue https://github.com/appbaseio/reactivesearch/issues/1002 and I think this is something that should be addressed by the library.

Having to override the render method seems overkill and the solution mentioned using the `label` key doesn't seem to work. I used `parseSuggestion` to return the values and althou

[2019-10-06 11:04] z4m0 commented on #1173
If anyone wonders I solved it by making the query different but ensuring that it returns the same results
[code]
Where dummy is an attribute that doesn't exist and lastRefreshTime is the time where the server was updated.

Anyway I think it should be a better way to update the data when the user presses a refresh button or the app knows that the query could return different data.

[2019-10-07 08:09] jyash97 commented on #127
Added here: #1026

[2019-10-07 08:09] #127 closed

[2019-10-07 08:15] jyash97 commented on #989
Closing this as this is fixed [here](https://github.com/appbaseio/Docs/commit/d660ca7136c73fd6a0331364d9ad069f59170bc5). Thanks for the PR 🎉

[2019-10-07 08:15] #989 closed, assigned to nobody

[2019-10-07 18:00] abhinavgurung opened #1190 "when I land on my search page i want to hard code the value to be searched first."
so I am coming to the search page from different component A. now I am bringing a search text from component A to my search page. I want the search to be queried as soon as I land on my search page.
currently I have it set up as when user types the value in search page and either press enter or a search button. it then sends query.

I see there is defaultValue  prop, but how to trigger the query o

[2019-10-07 23:04] scotthooker opened #1192 "RangeInput triggers query on render"
**Affected Projects**
React
**Library Version:** x.y.z
3.0.2

**Describe the bug**
RangeInput triggers query on render

**To Reproduce**
Add a range input filter

**Expected behavior**
The customQuery should not fire until an input is made.

**Desktop (please complete the following information):**
Mac OSx (Irrevelant)

[2019-10-08 08:09] #871 closed, assigned to nobody

[2019-10-08 13:02] abhinavgurung commented on #1190
May be the other way of saying is: I have triggerQuery function controlled like it only fires when enter key is pressed. but I want to hard code an initial search value that fires automatically once.

[2019-10-10 12:20] delkant commented on #1180
Hi @jyash97 @lakhansamani I know you must be very busy, but I am really needing a way to draw polygons and until now I haven't found a way to accomplish this. I would be very graceful if you can point me to a place where I can read more or find examples

[2019-10-10 12:39] lakhansamani commented on #1180
Hi @delkant sorry for the late reply. Will be sharing a quick sandbox by end of this day.

[2019-10-10 13:49] lakhansamani commented on #1180
@delkant here is a quick example of how you can add polygons to a ReactiveGoogleMap
https://codesandbox.io/s/reactivemaps-6loll

Closing this issue for now. Feel free to reopen if you face any other issues

[2019-10-10 13:49] #1180 closed, assigned to lakhansamani

[2019-10-10 18:40] rams23 opened #1196 "ReactiveComponent execute two queries on react and defaultQuery change simultaneously"
**Affected Projects**
React

**Library Version:** 3.0.3

**Describe the bug**
If I change in a single render both _react_  and _defaultQuery_ props, the ReactiveComponent execute two queries, the first with a mix of the previous state and the current one, the second is the correct query. Looking at redux dev tools actions, the watch components triggers a LOG_QUERY and a SET_LOADING, after that the

[2019-10-11 15:07] mauxtin commented on #801
Closing this since it has been implemented.

[2019-10-11 15:07] #801 closed, assigned to nobody

[2019-10-13 07:41] kvin97 commented on #1065
Hey @kud @jyash97 Need to clear some points.
`renderNoResults` and `renderSortOptions` are written in similar manner, and render to the dom as follows.

`.......{this.props.sortOptions ? this.renderSortOptions() : null}`
`{!this.props.isLoading && !error && filteredResults.length === 0? this.renderNoResults(): null}......`

`renderResultStats` is implemented with conditional rendering using `if/el

[2019-10-14 02:45] rohanbhangui commented on #824
can we perhaps see examples of these functions in action?

[2019-10-14 07:13] rohanbhangui opened #1198 "URL Parse/Builder"
**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**
I am frustrated at how difficult it is to customize the parser and builder for urls. In addition, the default url structure is terrible and does not fit with proper semantic conventions

**Describe the solution you'd like**
I would reccommend more documentation and examples on how to customize urls. Mak

[2019-10-14 13:37] aikodeio commented on #824
@rohanbhangui i need the same

[2019-10-14 13:59] aikodeio commented on #804
@alexandre033 hello, in which component is the function added defaultQuery  ?? in ReactiveBase ?

[2019-10-15 07:55] #884 closed, assigned to nobody

[2019-10-17 12:01] FuriioS opened #1201 "Unable to resolve data for blob: (null)"
**Affected Projects**
React Native

**Library Version:** x.y.z
"@appbaseio/reactivesearch-native": "^0.12.0"

**Describe the bug**
An error message showing the following:
Unable to resolve data for blob: (null)

**To Reproduce**
Create an empty screen and add to the render <ReactiveBase />, <DataSearch /> and <ReactiveList />.

When the UI render the <ReactiveList />, app crashes showing the follo

[2019-10-17 15:26] jyash97 commented on #1170
Hey @kud  by `data` you mean the data that we just got back from aggregations query. Right?

[2019-10-17 15:35] kud commented on #1170
Yes :) `renderItem` could/should get all the data, not only label and count.

[2019-10-17 15:36] jyash97 commented on #1170
So you will get an array of object with this composition: `{ doc_count, key }`.

How this will be useful ?

[2019-10-17 15:47] kud commented on #1170
No :(

I  need the result of the aggreggation too.

[2019-10-17 18:27] #889 closed, assigned to nobody

[2019-10-17 19:15] danielsnider commented on #749
We're on version 2 and we find the loader at the bottom, although we want it at the top and the bottom, depending on where the user is looking! If the user is using a filter at the top of the UI we want tho loader to show at the top of the results. If the user does infinite scroll and is at the bottom we want the loader displayed on the bottom. Hmm, the loader location is tricky. We're not sure wh

[2019-10-18 09:00] henricazottes opened #1203 "SingleDataList not working (value not matching in uppercase)"
**Affected Projects**
React

**Library Version:** 3.0.3

**Describe the bug**
I'm using a `SingleDataList` to filter on user gender. In my dataset, gender is either `"M"` or `"F"`, ex:
[code]
When I set those values in uppercase (to match my dataset) in the `SingleDataList` component, it doesn't work (no results). But if I use lowercase values, it works.

**To Reproduce**
Run an elasticsearch inst

[2019-10-18 16:29] danielsnider commented on #749
We decided to meet our needs by writing a [patch](https://github.com/aim-sk/aim-platform/commit/cc7ad095188fa120b0126aec300ac0499f833915) that always displays the loader at the top of the infinite scroll container. 👍

[2019-10-18 21:20] gbentim commented on #519
It'd be nice if `sortBy` could take the `dataField`, so we could sort by relevance by default, without the filter dropdown that comes with the `sortOptions`.

E.g,
```sortBy="={{dataField: "_score" ,order: "desc"}}```

Also, I'm surprised that displaying results by score relevance isn't default in an ES framework

[2019-10-18 23:19] siddharthlatest commented on #519
@gbentim Not setting a `dataField` would sort by score the way you are thinking.

[2019-10-20 12:39] allendol opened #1204 "Is there any example for singledropdownlist that doesn't get data from dataField but gets data from RenderItem"
I would like to use SignleDropDownList to display some hard coded dropdown values like
FirstItem
SecondItem
This data is not in the datafield so I may have to use RenderItem function.
Can I see some sample of doing it? I don't care if I need to use RenderItem or something else as long as I can display the above.
I am using the code below but it doesn't show any data and doesn't give any error:

[2019-10-20 23:09] allendol commented on #1204
I had some progress. I found RenderItem is not working.
I used Render instead and it displays data. However it renders data before I click on drop down. I like when the user clicks on down arrow drop down it display the drop down.
Please see below:
![SingleDropDownList](https://user-images.githubusercontent.com/40170767/67167943-e9709d80-f36c-11e9-9763-9af85ff72485.png)

[2019-10-21 15:41] IntegralProgrammer commented on #167
Is **NestedMultiList** working for v2? There exists documentation which gives the impression that it does (https://opensource.appbase.io/reactive-manual/v2/search-components/nestedmultilist.html) however there appears to be no links leading to this page. The codepen.io example (https://codepen.io/sids-aquarius/pen/ayXeyv) on the documentation page does not work and when used in our project, the er

[2019-10-21 16:09] JakeShelley1 opened #1205 "DynamicRangeSlider not rendering when minimum value is 0"
**Affected Projects**
React

**Library Version:** x.y.z
v3.0.3

**Describe the bug**
I have a field of datatype long called `rating_count`. When I use that as the `dataField` for my `DynamicRangeSlider` component the component does not render.

The network request goes out and returns the proper response with the min and max of the field. When I update my index to make all `rating_count` values gr

[2019-10-22 04:23] thehicksivist opened #1207 "Chrome requests infinite pending status"
**Affected Projects**
React - "react": "^16.8.6",

**Library Version:** x.y.z
"@appbaseio/reactivesearch": "^3.0.1",

**Describe the bug**
When running our elastic search tool on Chrome, the max connections limit is being hit which is stopping our results from returning. It happens on page load 4 out of 5 times. If the page loads successfully, requests will resolve temporarily (applying filters wi

[2019-10-23 15:47] dbruvers opened #1209 "[Question] How to set search state?"
**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**
[StateProvider](https://opensource.appbase.io/reactive-manual/base-components/stateprovider.html) gives read access to the search state but it is not clear if and how to set the search state.

**Describe the solution you'd like**
Ideally, we would have a way to set the state with StateProvider. This wou

[2019-10-23 15:49] kud opened #1210 "Installing the latest emotion version breaks the design of components like DataSearch"
All is in the title. :)

Example of DataSearch:
![image](https://user-images.githubusercontent.com/655838/67411154-74e06d80-f5bd-11e9-85be-02e7032bcdfd.png)

[2019-10-23 22:04] multidis commented on #1086
Thank you @jyash97 for the helpful demo code.

We notice that lots of results are being added from ElasticSearch upon a relatively small scroll in some cases when infinite scroll is enabled in ReactiveList. This happens in `scrollHandler` here:
https://github.com/appbaseio/reactivesearch/blob/master/packages/web/src/components/result/ReactiveList.js#L359

When mentioning `react-window` did you mea

[2019-10-24 14:46] derantigo commented on #1164
Same mistake with reactivesearch@3.0.3.
I think need to add check componentValues.value on null in analytics.js (line 88).

[2019-10-24 15:28] crenardy opened #1212 "DataSearch feedback for syntax errors"
**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**
In my DataSearch input field, I want feedback if my input/syntax is invalid (or not if valid) while typing (or after pausing) - but I don't get feedback...
While typing not valid syntax, my elasticsearch backend is evaluating my input and responding with 400 Errors, which don't bubble into onError or re