[2018-10-14 13:31] siddharthlatest commented on #568
@csepulv Yes, you can fork the `develop` branch for appbase-js.

[2018-10-15 06:08] metagrover commented on #568
We intend to keep the appbase-js usage as it is now. Need to make necessary fixes in reactivesearch to use the new syntax.

[2018-10-16 13:52] metagrover commented on #544
Works perfectly in `v2.12.0`

----

If you are seeing this issue in your app, it could potentially be because of defaultQuery being updated dynamically after component mount, which is an expected behavior.

[2018-10-16 13:52] #544 closed

[2018-10-17 13:44] #284 closed

[2018-10-18 03:39] hemixam opened #575 "regression: ReactiveList network error uncaught"
**Issue Type:**
Bug

**Platform:**
Web

**Description:**
With 2.8.2, if a user loose his network connection the `onError` returns properly the source error in `ReactiveList` component.

With 2.12.0, the error is not caught anymore and therefore is not returned either.

**Screenshots:**

**Minimal reproduction of the problem with instructions:**
Assume you want to display an error when the user loo

[2018-10-18 04:13] hemixam opened #576 "MultiDropdownList and MultiList should allow users to unselect/clear selected value(s) even if no results are found"
**Issue Type:**
enhancement

**Platform:**
Web

**Description:**
`MultiDropdownList` and `MultiList` should allow users to unselect/clear selected value(s) even if no results are found without using `SelectedFilter`

**Minimal reproduction of the problem with instructions:**
Assume you have a `Datasearch` and a `MultiList` and that we don't use the `SelectedFilter` component but only a `ClearAll`

[2018-10-18 15:48] #568 closed

[2018-10-19 15:30] allendol opened #577 "Display meta tag like metatag.targetdate in ResultList"
We are indexing the metatag in our search. The property is created as metatag.targetdate .
We want to display it in reactivesearch resultlist. If I use res. metatag.targetdate  we get error. The issue is nutch has created metadata as metatag.targetdate with dot in between.
How can I display it in resultlist with a column which has dot in the name like metatag.targetdate?

[2018-10-19 16:58] aleplusplus opened #578 "Object doesn't support property or method 'find' - IE 11"
**Issue Type:**
Bug

**Platform:**
ReactiveSearch for Web

**Description:**
Object doesn't support property or method 'find'

**Screenshots:**
![screen shot 2018-10-19 at 12 51 18 pm](https://user-images.githubusercontent.com/6319838/47232472-c4360180-d39d-11e8-8f5a-52111a7c5d7f.png)

**Reactivesearch version:** 2.12.1

**Browser:** IE 11

**Anything else:**
https://stackoverflow.com/questions/377

[2018-10-19 17:04] aleplusplus commented on #578
[code]

[2018-10-20 16:00] andreasasprou opened #579 "Web: Installing from development branch"
How do I install reactivesearch from the development branch via npm/yarn?

[2018-10-20 18:14] philohelp opened #580 "Query multiple ids with a DataController using "terms""
**Issue Type:**
Bug ?

**Platform:**
ReactiveSearch for Web

**Description:**
I'm trying to set a DataController in order to be able to perform a query on an array of ids.

**Screenshots:**

**Minimal reproduction of the problem with instructions:**

THIS WORKS (but it's only one id):
[code]
THIS DOES NOT WORK :
[code]
What am I doing wrong ?

**Reactivesearch version:** 2.7.0

[2018-10-20 21:15] philohelp commented on #580
Ok I've found it - not familiar enough with elastic search, should have used "id.keyword" instead of just "id"...

THIS WORKS :
[code]

[2018-10-20 21:16] #580 closed

[2018-10-21 07:06] amirasyraf opened #581 "showClear and showFilter props aren't working"
**Issue Type:**
Bug

**Platform:**
Web

**Description:**
For DataSearch, showClear isn't showing a clear text icon, and showFilter isn't showing the search term nor the "Clear All" button. I'm modifying and following the ReactiveSearch Quickstart sample app here: https://opensource.appbase.io/reactive-manual/getting-started/reactivesearch.html

Here is my DataSearch code:

`<DataSearch

[2018-10-21 09:32] amirasyraf commented on #579
I'm not familiar with this, but isn't the one from the quickstart guide installing from dev branch?

`create-react-app my-awesome-search && cd my-awesome-search`

`yarn add @appbaseio/reactivesearch`
or
`npm install @appbaseio/reactivesearch`

https://opensource.appbase.io/reactive-manual/getting-started/reactivesearch.html

[2018-10-21 17:14] andreasasprou commented on #579
I believe this describes how to install from the latest production version, not dev

[2018-10-22 06:37] metagrover commented on #55
Track the progress here - https://github.com/appbaseio/vue-reactivesearch/

[2018-10-22 06:37] #55 closed

[2018-10-22 11:09] karetfe commented on #398
Hi @Arvind6353  How you resolve this point? using onValueChange()? @metagrover  the issu still Open, is there a new enhancement for it?

[2018-10-22 14:09] amirasyraf commented on #581
nvm...

need SelectedFilters.

[2018-10-22 14:09] #581 closed

[2018-10-22 17:52] metagrover commented on #398
@karetfe Yes, `onValueChange` should work. Refer [docs here](https://opensource.appbase.io/reactive-manual/list-components/multilist.html#extending).

[2018-10-23 06:23] spoobar opened #582 "ReactiveComponent SSR"
**Issue Type:** enhancement (docs)

**Platform:** Web

**Description:** Hi, could not find any information about using a ReactiveComponent with SSR (next.js) in the docs. Is it possible? Where can I find an example? Thanks

**Reactivesearch version:** 2.12.1

[2018-10-23 08:34] metagrover commented on #578
Hi @aleplusplus, thanks for reporting this. I will include this in the next release.

***

For now, anyone facing this issue - you can add [the polyfill in your app](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/find#Polyfill).

[2018-10-24 04:09] george-dotdev opened #583 "Working with floats"
**Issue Type:**
Bug

**Platform:**
Web

**Description:**

![image](https://user-images.githubusercontent.com/41870207/47405586-f7153680-d79d-11e8-8064-d980560d027e.png)
The search is returning  a range of results between 0.3 and 8.27 and and I am trying to display them using the following component. I am assuming this is to do with the lack of floats in Javascript. Is there something I can do to r

[2018-10-24 05:51] metagrover commented on #583
I guess, you can use `defaultQuery` prop on `DynamicRangeSlider` wherein, you should get the range values in the params and you can round off the floating numbers there in the query. The query looks like this:

[code]

Let me know if this works.

[2018-10-24 18:05] aol-nnov commented on #579
@andreasasprou did you try [npm link](https://docs.npmjs.com/cli/link)?

build reactivesearch from git, then `npm link` it and use it in your app.

[2018-10-25 01:30] csepulv opened #584 "Loading information for ReactiveComponent?"
I have multiple custom components that use `ReactiveComponent`. Is there a way to get `isLoading` information for these components? I tried to `connect` to the redux store, but I don't think anything but a `ReactiveList` gets `isLoading` info.

I hope I am doing something wrong as I'd like a way to provide user feedback while the component is waiting on a query.

Thanks

[2018-10-25 02:18] yytsui commented on #486
I tried to patch parseHits in [reactivecore](https://github.com/appbaseio/reactivecore), it seems work.
I will send a pull request tomorrow after more tests.

[2018-10-25 05:44] george-dotdev commented on #583
Hey @metagrover
Thanks for the suggestion, unfortunately it doesn't work. Is `defaultQuery` definitely a prop of `DynamicRangeSlider` I could see it in the docs, and it doesn't seem to work at all. I couldn't even console.log the value.

[2018-10-25 07:01] metagrover commented on #583
My bad, `customQuery` should work.

[2018-10-25 07:01] #583 closed

[2018-10-25 07:06] metagrover commented on #584
Thanks @csepulv! This is a known issue and will be included in `v3.0.0`

Related issues: https://github.com/appbaseio/reactivesearch/issues/227 https://github.com/appbaseio/reactivesearch/issues/250 https://github.com/appbaseio/reactivecore/issues/12

[2018-10-25 07:07] metagrover commented on #486
@yytsui That'd be awesome 🕺 🎉

[2018-10-25 15:36] csepulv commented on #584
Thanks. Sorry to have missed it. I can close this since the other issues track this, or leave it open till 3.0. (Let me know your preference)

[2018-10-26 10:41] PierrePX opened #585 "return the score in the ReactiveList onData callback"
**Issue Type:**
Enhancement

**Platform:**
ReactiveSearch Web

**Description:**
Sometimes it's useful to get the score for debugging purposes when writing advanced queries

**Screenshots:**
N/A

**Minimal reproduction of the problem with instructions:**
N/A

**Reactivesearch version:** 2.11.0

**Browser:** all

[2018-10-28 13:51] samuelfvlcastro opened #588 "RatingFilters are unavailable on SelectedFields"
Hi there,
I would like to have the RatingsFilter show on the SelectedFields component, but I found it to be impossible because of the following code:
https://github.com/appbaseio/reactivesearch/blob/7625239804b55ede0efa90a2977f1e81072ae3f6/packages/web/src/components/range/RatingsFilter.js#L136-L143

The `showFilter` is always false independently of what's passed in the props
Is it supposed to be

[2018-10-29 07:36] #588 closed

[2018-10-29 17:35] twosdai commented on #322
Does the manual need to be updated to include this? Currently onError isn't mentioned as a prop for the result components.

Links: https://opensource.appbase.io/reactive-manual/result-components/resultlist.html#props
https://opensource.appbase.io/reactive-manual/result-components/resultcard.html#props
https://opensource.appbase.io/reactive-manual/result-components/reactivelist.html#props

[2018-10-30 05:01] hbish opened #591 "web: DataSearch and CategorySearch is missing renderSuggestions on the interface"
**Issue Type:**
bug

**Platform:**
Web

**Description:**
As per the documentation on [Custom Suggestions](https://opensource.appbase.io/reactive-manual/advanced/customsuggestions.html#custom-suggestions-for-datasearch), `renderSuggestion` is exposed as a property on both `DataSearch` and `CategorySearch`.

This is currently not exposed through the interface

**Minimal reproduction of the problem w

[2018-10-30 07:03] metagrover commented on #322
Thanks for bringing this up @twosdai. We will update the docs to include this.

@jyash97 can you add docs for `onError` in reactive-manual, please?

[2018-10-30 11:38] naibedya opened #593 "Need to keep the selected items at the top of the Multilist filter"
**Issue Type:** Enhancement

**Platform:** ReactiveSearch for Web

**Description:** Thanks a lot for the “Load More” button for the Multilist filter. It helps a lot.
But it is not very easy to know what are the items being checked from the filter. Because once we select an item and the result loads, the selected items are again hidden unless we click the load more button to check those.

So is it

[2018-10-30 11:49] metagrover commented on #593
You can use `transformData` prop to achieve this. It allows transforming the data to render inside the list. You can change the order of the items based on your preferences (i.e. keep the selected ones at the top). It provides the data as param which is an **array** of objects of shape {key: <string>, doc_count: <number>} and expects you to return the **array of objects** of same shape. For exampl

[2018-10-31 02:42] george-dotdev commented on #519
@siddharthlatest This is brilliant, thank you so much. I will try and get around to making a sandbox as an example for other people.

[2018-10-31 10:39] siddharthlatest opened #595 "Feature: Add support for `nested` object mapping"
**Issue Type:**

Enhancement

**Platform:**

ReactiveSearch for Web

**Description:**

ReactiveSearch today doesn't support querying the fields of an object field with a [nested mapping](https://www.elastic.co/guide/en/elasticsearch/reference/6.4/nested.html).

A nested object requires a different query (where a path for the nested field needs to be specified) along with the original query. The sa

[2018-10-31 12:04] lakhansamani opened #596 "ReactiveList: `onQueryChange` not returing new query with infinite scroll"
**Issue Type:**
Bug

**Platform:**
ReactiveSearch for Web

**Description:**
With Infinite scroll, `onQueryChange` does not return new query even if page is getting changed in query.

**Reactivesearch version: x.y.z**
2.12.1

[2018-11-01 06:35] metagrover commented on #595
@aol-nnov Left the reviews on the commit. Thanks for taking out the time to work on this!

[2018-11-01 06:38] aol-nnov commented on #595
Thanks, I'll revisit the changes soon.

It worked for me months before, but I was never confident if it's a clear fix for nested fields.

[2018-11-01 07:57] KalleVuorjoki opened #597 "Add an option to format tooltip value"
**Issue Type:**
Enhancement

**Platform:**
ReactiveSearch for Web

**Description:**
Tooltip for DynamicRange Slider 2.x #284 does not support formatting the tooltip. In case of multilingual services number thousand separators might differ. Some examples in [toLocaleString](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/toLocaleString)

**Screenshots:**
See

[2018-11-01 16:59] iseabock opened #598 "Can we add another date format for DateRange component"
**Issue Type:**
Date range query format doesnt support date format in my index

**Platform:**
Web

**Description:**
In my ES indexes I have date time in the following format: 2018-06-13T16:07:26.443000 and I'm trying to use the DateRange component but none of the query formats support that format. Is it possible to add it?

**Reactivesearch version:** x.y.z
2.12.1

**Browser:**
Chrome

[2018-11-02 03:35] csepulv opened #599 "Bug? ReactiveComponent persists aggregations from previous queries."
**Issue Type:**
Bug

**Platform:**
Web

**Description:**
I have a `ReactiveComponent` whose `defaultQuery` varies based on app state. In some cases, there is an aggregation element, in others there is not.

If I go from aggs to no-aggs  in `defaultQuery`, the children of `ReactiveComponent` are provided the aggregation results from the previous queries that had an aggregation result. But if I look

[2018-11-02 08:03] axeff opened #600 "ssr with pagination: false broken"
**Issue Type:**
Bug

**Platform:**
Web

**Description:**
The pagination on scrolling does not work with ssr

**Minimal reproduction of the problem with instructions:**
Checkout https://github.com/appbaseio/reactivesearch/tree/dev/packages/web/examples/CategorySearch
and run. If I change to pagination: true it works, with pagination: false it doesn't.

**Reactivesearch version:**
2.13.0

**Browser:

[2018-11-02 08:10] axeff commented on #582
I simply used DataController for those cases in getInitialProps.

[2018-11-02 08:34] axeff commented on #600
found workaround but I'm not sure if this won't brake something:
in src/components/result/ReactiveList's constructor set initial state `isLoading` to `false`

[2018-11-02 09:12] aol-nnov commented on #595
@metagrover I've redone my changes in `MultiList`.

My previous idea was to store "nested" part of property name in `nestedField`
i.e. `vendor` is nested object with field `name`
[code]
(it was some time before your changes for nested mapping support)

Now, I've followed your guidelines and made it your way:
[code]

tested it with my local ES instance of my project. Everyting works like a charm! F

[2018-11-02 09:31] metagrover commented on #595
Probably something's off with the `defaultQuery`. Check if the final query is being wrapped by `nested` query?

I'm looking into this!

[2018-11-02 09:34] aol-nnov commented on #595
no need to.. It was me again ). I've updated the comment (strike through was not applied though)

[2018-11-02 17:32] twosdai commented on #322
@metagrover I've also recently notice that onError doesn't seem to be activating in reactivelist when handed a 400-418 http response code. Is this expected or known behavior?

[2018-11-02 17:57] metagrover commented on #322
@lakhansamani you were facing a similar issue, right? Were you able to debug this?

[2018-11-02 18:39] twosdai commented on #322
I was able to debug it, basically in your response you need to send an object with status as a property for the onError to fire appropriately. Look at the network response for msearch for the following codesandbox https://codesandbox.io/s/921zy6pl6o All I did was take the example from https://opensource.appbase.io/reactive-manual/result-components/resultlist.html and alter the creds to be bad, and

[2018-11-05 18:17] iseabock commented on #598
@aol-nnov @mateusfreira @siddharthlatest @mtxr Does this sound like something that can get done or should think about a different solution?

[2018-11-05 18:31] aol-nnov commented on #598
@siddharthlatest it seems to me like an overkill here.. If one could override `formatInputDate` function, things might be a lot easier...

Anyway, it is not possible now and writing a custom query is the only solution for now...

[2018-11-05 18:58] siddharthlatest commented on #598
I agree, we have an open issue for adding support for it - https://github.com/appbaseio/reactivesearch/issues/483.

[2018-11-06 13:37] gabzon opened #604 "Unable to properly install reactivesearch-native"
Unable to properly install reactivesearch-native.
When I run npm install it says:
found 1 high severity vulnerability in 39193 scanned packages
1 vulnerability requires manual review. See the full report for details.

Here is the npm audit:

npm audit security report
Manual Review
Some vulnerabilities require your attention to resolve
Visit https://go.npm.me/audit-guide for additional guidance
Hig

[2018-11-08 12:56] thebuilder opened #606 "ReactiveList onNoResults wraps content in a paragraph"
**Issue Type:**
bug

**Platform:**
web
**Description:**
`<ReactiveList>` onNoResults wraps the children in a `<p>`. This makes sense if you just wan't to list a simple text message, but it prevents us from rendering a more detailed description.
Nesting other block elements inside the paragraph makes the DOM invalid HTML. So for example you can't have a `<h2>` and `<p>` tag inside it. In my usecase

[2018-11-08 13:16] thebuilder opened #607 "ReactiveBase tries to parse all query parameters as JSON"
**Issue Type:**
bug

**Platform:**
web

**Description:**
When creating a new `<ReactiveBase>` it tries to parse all the query parameters as JSON strings.
If it encounters any parameter that fails to parse as JSON, it will stop and log an error to the console.

[code]

https://github.com/appbaseio/reactivesearch/blob/7a9fb9bd39213bf4fde0f5268d4c9350ac4bedaa/packages/web/src/components/basic/Reactiv

[2018-11-08 13:32] metagrover commented on #606
We will be releasing support for `renderResultStats` and `onResultStats` props in the upcoming `v3.0.0` which should improve the custom rendering in this case - https://github.com/appbaseio/reactivesearch/pull/461

- `on<>` props will only expose the data for the user to consume and use (custom render from the parent) as they like.
- `render<>` props will handle the default rendering.

[2018-11-09 01:30] calebdel commented on #607
I also encountered this today.

[2018-11-09 02:02] tatdatpham opened #608 "Reactivesearch support ResultTable"
How to create result as table with Reactivesearch ? Thank!

[2018-11-09 02:03] calebdel commented on #607
Same issue today. As suggested this solution seems to work:
`              params.get(key).charAt(0) == '"'
                ? params.get(key)
                : JSON.parse(params.get(key))`

[2018-11-09 04:49] siddharthlatest commented on #608
@tatdatpham This is a better question for StackOverflow. You can do this by using `ReactiveList` which allows custom rendering of data, and use a Table component like react-table in the `onAllData` prop.

[2018-11-09 04:49] #608 closed

[2018-11-12 06:37] siddharthlatest commented on #370
Sorry I missed out on this for long. The behavior of the library makes sense. If you really need to enable this behavior, it's possible by programmatically setting the `queryFormat` prop when the missing label is selected.

[2018-11-12 06:37] #370 closed

[2018-11-12 15:45] karetfe opened #609 "https://stackoverflow.com/questions/53264830/reactjs-reactivesearch-select-an-offer-in-datasearch-then-redirect-to-search-pag"
https://stackoverflow.com/questions/53264830/reactjs-reactivesearch-select-an-offer-in-datasearch-then-redirect-to-search-pag

[2018-11-12 15:52] metagrover commented on #609
Not sure if I understand this completely. Do you need a page like google homepage, where once the suggestion value is selected, you move to a different page and render results there (like google does with a search-box and results in one page)?

[2018-11-13 07:52] #597 closed

[2018-11-14 02:44] nicholasfay opened #614 "Question about multiple indices and the scalability?"
Is there anyway to supply multiple indices to a reactiveBase and only pull results from a specific index within a reactive component. If not, I don't see how this could be scalable if you want to use many indices and poll specific indices using for example a term query on the _index field of a document it would have to check across extra documents.

[2018-11-14 06:39] metagrover commented on #614
Hi @nicholasfay, `app` can take multiple indexes: you have to separate them by comma:

[code]

You can use `customQuery` prop for modifying the query of a component to target a particular `index`. Related: https://github.com/appbaseio/reactivesearch/issues/545

[2018-11-14 11:56] siddharthlatest opened #616 "Enhancement: Support prop to filter results by a particular index"
**Issue Type:**

Enhancement

**Platform:**

All

**Description:**

When ReactiveSearch is used against multiple indices / cluster, there can an additional `index` (or `appFilter`, name can be decided) prop within each component that allows specifying which index/index pattern should be used to query against for the component.

Internally, this would work as mentioned in #545. Currently, this beha

[2018-11-14 12:05] siddharthlatest commented on #614
Closing this issue, I have filed #616 which talks about an enhancement to support this out of the box. This is on our `3.x` roadmap, so it might be a while before we actually have this out.

@nicholasfay If you want to take a stab at a PR for one of the components, feel free to.

[2018-11-14 12:05] #614 closed

[2018-11-14 15:45] berpcor opened #618 "Problem when compile signed apk."
[code]
That all appears after
`$ ./gradlew assembleRelease`

Something similar to my problem here - https://stackoverflow.com/questions/42681128/react-native-assemblerelease-error-invalid-filename-unable-to-add (it seems that the second answer explain the problem, but I can't delete images, module needs them...) and here https://github.com/react-navigation/react-navigation/issues/3097
And some mor

[2018-11-14 17:45] nicholasfay commented on #614
A scenario I have is: A one page dashboard where I want to switch searching contexts based on the dashboard context that is set. If I put in multiple indices into the ReactiveBase and only want to search through one of them using the CustomQuery prop (As they have vastly different fields), would this accomplish this? Essentially I don't want my hotel search to be looking through my movie index as

[2018-11-14 17:49] metagrover commented on #618
Hi @berpcor, this seems like an issue with the old react-native version (for some folks, upgrading to [latest version helped resolving this issue](https://github.com/facebook/react-native/issues/16906#issuecomment-434305165)). Otherwise, it is pointing to an asset for `react-native-calendar` component which we use in this libarary for date component - Related issue: https://github.com/wix/react-na

[2018-11-15 03:38] berpcor commented on #618
Thanks for reply.
Yes, I tried to upgrade react-native yesterday and everything broke. )
Another react-native related issue appeared - https://github.com/facebook/react-native/issues/21150 When I solve it, I'll write whether it helped or not.

[2018-11-15 07:29] berpcor commented on #618
There is no another worda except 'shit'.
Everything is broken now, damn react-native...

[2018-11-15 07:34] metagrover commented on #618
Sorry to know. Please refer the [react native CHANGELOG](https://github.com/react-native-community/react-native-releases/blob/master/CHANGELOG.md) to track the breaking changes.

[2018-11-15 10:46] karetfe commented on #609
I have the datasearch in the homepage(route : /), I save the selected value in the state and I redirect the user to the result in the search page(route: /search/selectedQuery), I want that the result card give me juste offers having that selectedQuery as cars Marque? I tried to use a customQuery with the resultCard I am I clear?

[2018-11-15 12:16] #357 closed

[2018-11-15 12:16] karetfe commented on #609
Sorry But I didn't get it, the fact "keep the datasearch component with the same componentId" , I used the datasearch just once in the first page and in the search page I used a resultCard!!

[2018-11-15 12:30] metagrover commented on #609
You will have to keep the DataSearch in both the pages - only then the query will get applied - since the inital component has unmounted on page change.

Also, if the format of the URLParam is not in the same format set by the libarary, you will have to read and parse it on your own and set it as the `defaultSelected` prop of the DataSearch component.

[2018-11-15 13:10] karetfe commented on #609
@metagrover , in the second page /search/kia
I add <DataSearch
          componentId="SearchSensor"
          dataField={['modele', 'marque', 'titre']}
          fieldWeights={[2, 1]}
          categoryField="titre.keyword"
          placeholder="Trouvez une voiture..."
          react={{
            and: ['result_card', 'carsmodel', 'carsbrand', 'cardate', 'drivenrange', 'ratingsSensor', 'pricera

[2018-11-15 13:21] karetfe commented on #609
@metagrover  I add the Datasearch in the search container page! As you can see but I want to hide the field with loop select , also I am wondering what to assign to defaultSelected={this.state.?}

[2018-11-16 10:08] divyanshu-rawat opened #621 "vue: sortOptions property of ReactiveList is not working"
**Issue Type: BUG**

**Platform:**
Web (Vue.JS)

**Description:**
`sortOptions` property of `ReactiveList` is not working.
UI is working fine but not the functionality, please find attached gif to get insights on the same.

**Screenshots:**
![bugtwo](https://user-images.githubusercontent.com/13464678/48614886-60f7b900-e9b5-11e8-9b41-6542f958ea28.gif)

**Minimal reproduction of the problem with ins

[2018-11-22 05:13] Arvind6353 commented on #434
Hi , AM trying the default query as below :
[code]

[2018-11-22 05:38] Arvind6353 commented on #413
Hi Guys, Is the above enhancement available now with the latest release ?

[2018-11-22 05:56] metagrover commented on #434
Hi @Arvind6353, can you share a codesandbox replicating this issue?

[2018-11-22 05:57] metagrover commented on #413
We support `onQueryChange` prop now, which can help you figure out when the query is changing and you can reset the `sortOptions` then. Let me know if this works.

[2018-11-22 06:40] Arvind6353 commented on #413
Am able to capture listen to this method .

  onQueryChange={(oldval, newval) => {

                    console.log(oldval);
                    console.log(newval);
                    if(oldval != newval) {
                      this.setSortOptions(TOGGLE_SORT_OPTIONS);
                    }

                  }}

var DEFAULT_SORT_OPTIONS =  [
  {label :'Date - Most Recent First', dataField:'dat

[2018-11-22 06:59] Arvind6353 commented on #413
ALso , can u please share a sample on how to set the sort via custom query and default query and how to change the sort based on some side effects?

[2018-11-22 18:55] divyanshu-rawat opened #624 "Running ReactiveSearch in Windows"
**Issue Type: BUG**

**Platform:**
Widnows 10

**Description:**
Running ``` yarn dev:web ``` will not work.

**Screenshots:**
![capture](https://user-images.githubusercontent.com/13464678/48918767-bf8ccd80-eeb4-11e8-8335-1483c81d51ba.PNG)

**Minimal reproduction of the problem with instructions:**
After setting up the development enviroment in Windows 10 by following instructions mentioned here ht

[2018-11-23 17:07] allendol opened #627 "getting error in ReactiveSearch"
I am getting the following error when I am running Reactivesearch using DataSearch, DateRange and ReactiveList components:

REACTIVESEARCH - An error occured while parsing the URL state. SyntaxError: Unexpected token e in JSON at position 1
    at Object.parse (<anonymous>)
    at ReactiveBase.js:147

With this error the application is still working in Google Chrome

[2018-11-26 07:44] metagrover commented on #627
Related #607

[2018-11-26 07:47] metagrover commented on #624
We should use `cross-env`. @divyanshu-rawat Can you propose a PR to fix this? 😅

[2018-11-26 07:51] metagrover commented on #413
Based on your code snippet, it seems like an issue with rendering the active sort value in sort-options dropdown (smells like a library issue and I will look into this). For now, you can use a `key` prop on your result component to fix this.

[2018-11-26 07:52] metagrover commented on #609
Closing due to inactivity. Please feel free to re-open if you need help.

[2018-11-26 07:52] #609 closed

[2018-11-26 07:53] metagrover commented on #618
Closing due to inactivity. Please feel free to re-open if you need help.

[2018-11-26 07:53] #618 closed

[2018-11-26 18:10] divyanshu-rawat commented on #624
@metagrover sure will do that.

[2018-11-26 19:21] redlinecodes commented on #607
@metagrover - I've been having this issue for awhile and just saw this. If I update to the latest version will that fix query parameters issue?

[2018-11-27 05:37] metagrover commented on #607
This issue hasn't been fixed yet. It will be released in `v3.0.0`.

[2018-11-27 10:15] #624 closed

[2018-11-27 12:13] rafrox opened #630 "npm ERR! code ELIFECYCLE"
**Issue Type:**
Hey guys, I always did this in the past but last time I ran "npm run-script build" I have received an error. Not sure what is happening since the only thing I did was to delete a logo from my app.js and also update appbase using npm i @appbaseio/reactivesearch@latest (also updated npm using npm i -g npm-upgrade

**Platform:**
Win10

**Description:**
Error as per below:

PS C:\ozgam

[2018-11-27 12:43] metagrover commented on #630
This seems helpful - https://github.com/facebook/create-react-app/issues/2504

[2018-11-27 12:52] rafrox commented on #630
Thanks metagrove, but do you mind to try to explain a little bit better to a total noob like me please? What exactly do I need to do to fix the issue? Thanks !

[2018-11-27 13:14] rafrox commented on #630
I have opened all files... package.json, app.js, app.css, index.html... I
could only find one reference at package.json to something like
" --env=jsdom" and I have deleted it but still nothing :(

The funny thing is that I didn't change anything, I just updated
reactivesearch and deleted one logo from my site and now I can "build" it
not sure why :(

On Tue, 27 Nov 2018 at 23:57, Deepak Grover <no

[2018-11-27 13:22] metagrover commented on #630
Okay, if you are still seeing this issue and can share the code repository with me, I can give it a look and try fix this for you.

[2018-11-27 13:35] rafrox commented on #630
Which e-mail you want me to grant access to?

On Wed, 28 Nov 2018 at 00:22, Deepak Grover <notifications@github.com>
wrote:

--
*Rafael Souza*

[2018-11-27 13:39] rafrox commented on #630
I think I gave you access to my bitbucket. Hope that works for you.

On Wed, 28 Nov 2018 at 00:34, Rafael Tosi Dias de Souza <
rafael.tosi@gmail.com> wrote:

--
*Rafael Souza*

[2018-11-27 13:47] metagrover commented on #630
Cool, I will check in some time and get back to you.

[2018-11-27 14:00] metagrover commented on #630
Works for me:

![image](https://user-images.githubusercontent.com/9116042/49086541-c9c71700-f27a-11e8-8bd0-377d87948749.png)

I am using `yarn`. Running `yarn build` generated the above build smoothly.

[2018-11-27 15:59] metagrover commented on #630
Closing this issue. Feel free to reopen if you need any further assistance.

[2018-11-27 15:59] #630 closed

[2018-11-27 16:50] carlopascual opened #631 "Question: Possible to show nothing (not "no results") when not searching?"
As the title says, is it possible to show nothing on the results when you haven't typed anything in a DataSearch field? I'm having flashes of the results of `match_all` or `match_none` when I search.

[2018-11-28 15:15] rap2hpoutre opened #633 "Pagination customization: get last page"
**Issue Type:** enhancement

**Platform:** web

**Description+Screenshots:**
Currently, the pagination only displays the N first page (and not the last one) :

<img width="390" alt="capture d ecran 2018-11-28 a 16 12 56" src="https://user-images.githubusercontent.com/1575946/49161123-7f03d880-f328-11e8-9cbf-9c9eb628d235.png">

It could be great if we could display something like this (with the las

[2018-11-28 21:07] spencern commented on #283
Any recent updates or thoughts about supporting GraphQL?

[2018-11-29 00:17] davidklebanoff commented on #633
I understand that some websites do this, but can you provide a use case when this would be a desired feature? I can't think of a compelling case, and it seems is presence would harm usability.

[2018-11-29 02:08] cooperka opened #634 "Examples of request caching?"
**Issue Type:** Docs

**Summary:** I couldn't find any existing docs on how to set up a local (client-side) caching layer for requests. I could write something myself, but I'm sure others have been there before and may have good advice. I'd love to contribute these docs.

As I navigate page to page, add/remove filters, etc. I often see the same query hitting the network over and over. A cache woul

[2018-11-29 06:39] siddharthlatest commented on #634
Hey @cooperka, Elasticsearch already maintains a cache of the most frequent queries - https://www.elastic.co/guide/en/elasticsearch/reference/current/shard-request-cache.html.

That said, there can be scenarios where some caching on your own could be useful. If you use your own middleware proxy, that could be a good place to cache the query request and responses. You can see how to setup one here

[2018-11-29 06:43] siddharthlatest commented on #633
I second @davidklebanoff's point. What's a good use-case for showing the last page? I think it can be useful for testing purposes, but not anywhere else.

[2018-11-29 06:45] siddharthlatest commented on #631
Hey @carlopascual, you should be able to use the `defaultQuery` prop in your Result component to match_none by default. Whenever the user is typing something in the search box, you can use its `onValue` listener to remove the defaultQuery condition.

Hope this helps.

[2018-11-29 06:46] siddharthlatest commented on #607
@metagrover Since this should ideally be a backward compatible change (right?), we can also patch it in the next `2.x.y` release.

[2018-11-29 06:54] metagrover commented on #607
Yes, makes sense.

[2018-11-29 14:47] jyash97 opened #638 "Update Contributing.md for Vue"
**Issue Type:**
Update docs about JSX plugin in contributing.md

**Platform:**
Vue

[2018-11-29 15:57] Ionut-Milas opened #640 "beforeValueChange rejected promise does not block the query"
**Issue Type:**
Bug

**Platform:**
Web

**Description:**
Hello guys.

I want to prevent the initial query on load.
For that I reject the promise on `beforeValueChange` as described in the docs for DataSearch.
However it does not work.
I added beforeValueChange on DataController but still nothing changed.
`ReactiveBase` calls an Firebase function` _msearch`, that can be seen in the Network tab ( se

[2018-11-29 21:57] cooperka commented on #634
Hi @siddharthlatest, I realize my original post was ambiguous -- I'm specifically looking for a local (client-side) cache. I want to prevent the request from firing at all if it already has the data locally. `onAllData` will probably help, thanks.

[2018-11-30 17:10] bietkul commented on #621
Fixed in `1.0.0-beta`

[2018-11-30 17:10] #621 closed

[2018-12-01 04:16] divyanshu-rawat commented on #621
@bietkul this issue is still there, kindly have a look,
I have updated the `sandbox` with the recent version.

[2018-12-01 20:08] chrysanthos opened #648 "Nuxt.js support"
**Issue Type:** Bug

**Description:**

Right now, when vue-reactivesearch is installed it produces an error " document is not defined" which is a result of the vue-slider-component dependency. This makes the package unusable for Nuxt projects right now.

**Screenshots:**

**Minimal reproduction of the problem with instructions:**

1. npx create-nuxt-app vue-reactive-ssr-problem
2. cd vue-reactive-

[2018-12-02 07:18] #638 closed

[2018-12-04 16:26] atMari opened #654 "Elasticsearch Cluster requests are failing for demos"
**Issue Type:**
This is a bug

**Platform:**
Web

**Description:**
I was showing a friend the [airbeds demo](https://opensource.appbase.io/reactivesearch/demos/airbeds/) yesterday, and they thought it was really cool.  We checked it out again today, and it looks like the Elasticsearch cluster may be down.  The requests are failing.

**Screenshots:**
<img width="1437" alt="screen shot 2018-12-04 at

[2018-12-04 17:15] metagrover commented on #654
Hello, our servers are currently under maintenance, hence some apps are non-functional at the moment. It should be back shortly. Sorry for the inconvenience 🐱

[2018-12-04 19:41] atMari commented on #654
All good, @metagrover ! Thanks for the heads up 👍

[2018-12-05 01:16] spencern commented on #283
Thanks for the update @siddharthlatest! @willopez anything we can contribute towards ideas/specs for this type of functionality?

[2018-12-05 10:33] #654 closed

[2018-12-05 14:32] carlopascual commented on #631
Hi @siddharthlatest, thanks for the input! I tried it out though, and it still briefly shows. I made a sandbox using the example for DataSearch to show you how it looks like. Try putting a value in the DataSearch component repeatedly to see a flash of the no results component.

https://codesandbox.io/s/xppv7q47yo

[2018-12-05 15:30] metagrover commented on #631
Does this work for you - https://codesandbox.io/s/nnm79llpr4?

I removed the customQuery from the DataSearch component because it's unnecessary. It seems to be working for me - not sure why though 😅

Anyway, if this still persists, we can keep this issue open and I can look into the rendering logic for the result component.

[2018-12-05 16:13] carlopascual commented on #631
Hi @metagrover, in your example, if you look closely, it renders a "match_all" before the actual result.. It's not that big of a deal when you have a lot of results, but when you're expecting only one or two hits, it shows all the content before the actual filtered results.

Here's a screen grab of it:
https://streamable.com/xogs8

[2018-12-05 16:38] willopez commented on #283
@spencern @siddharthlatest We are using [graphql-compose-elasticsearch](https://github.com/graphql-compose/graphql-compose-elasticsearch) as a proxy to stand up a GraphQL API for Elasticsearch. ReactiveSearch would need to extend its querying capabilities to support sending and consuming GraphQL queries and responses.

[2018-12-05 20:55] metagrover opened #661 "Controlled behavior of components with selected-filters"
**Issue Type:**
Enhancement

**Platform:**
Web - React

**Description:**
Component should support `onChange` trigger when there is a change in selected-filters value. Currently, it bypasses the `onChange` and sets the value from the selected-filters as the component's current-value.

**Reactivesearch version:** x.y.z
This is only applicable to `next` (version `3.0.0`).

[2018-12-05 21:00] metagrover opened #662 "Support category retrieval from URL (or) store in CategorySearch"
**Issue Type:**
Bug

**Platform:**
Web - React

**Description:**
CategorySearch doesn't set the selected category in URL Param (or) the redux store. Hence, the component doesn't support reading the category on initial load.

**Minimal reproduction of the problem with instructions:**
1. Search something in CategorySearch.
2. Select the suggest with a certain category.
3. Reload the page and check t

[2018-12-05 21:04] #270 closed

[2018-12-06 09:13] metagrover opened #665 "Support controlled behavior on suggestion select in search components"
**Issue Type:**
Enhancement

**Platform:**
Web - React

**Description:**
Search components should support `onChange` trigger when user selects a suggestion from the auto-suggest list. Currently, it bypasses the `onChange` and sets the value on suggestion select.

**Minimal reproduction of the problem with instructions:**
1. Set `value` prop on the search component.
2. Set `onChange` handler on the

[2018-12-06 10:03] #487 closed

[2018-12-06 12:44] axeff opened #667 "Crash if SingleDropdownList's parent changes"
**Issue Type:**
Bug

**Platform:**
Web

**Description:**
If the parent of a SingleDropdownList changes, the whole app crashes.

**Minimal reproduction of the problem with instructions:**
See [codesandbox example](https://codesandbox.io/s/vmqkypz22y) for reproduction.
When you click the button, the parent of the List component changes to a div and vice versa.

The thing is I try to render two diffe

[2018-12-06 22:08] calebdel opened #670 "Best practices for saving searches"
**Issue Type:**
enhancement

**Platform:**
Web, React

**Description:**
How would you suggest keeping track of the state of selected filters for the purpose of saving a search?

We have a "saved search" feature that I'm trying to refactor (See screenshot) but I can't figure out an ideal way to track the state of which filters have been selected. I've tried the following:

1. Parsing the URL params

[2018-12-07 08:56] metagrover commented on #670
Thanks for filing this issue. This has been on my mind for a while now. I will look into this and expose a convenient way to get the selected-values. For now, maybe you can utilize `URLParams`, i.e. save URLParams string and retrieve when needed.

[2018-12-08 21:59] bpkennedy opened #676 "0.10.0 of reactivesearch-native depends on vue, http-proxy-middleware example does not work for native"
**Issue Type:**
Documentation

**Platform:**
Native

**Description:**
Improve your docs.

1). 0.10.0 of the React Native has dependencies on Vue (which I assume is a "whoops" as someone wrote reactivecore for the web version first).  I had to roll back to 0.9.0, and I don't know what all bugs I experience from this point forward were fixed from 0.9.0 to 0.10.0, which leads to....

2). In the React

[2018-12-10 07:30] metagrover commented on #427
This should help:

[code]

`onAllData` expects you to return one element (container) which contains everything you want to render in the results component. Hence, we wrap all the results in one `div.grid`.

[2018-12-10 07:33] metagrover commented on #676
Sorry about this. We will be doing a reactivesearch-native release today to fix the vue-dependency issue.

The other issue that you are seeing seems to be pointing to missing icons package from nativebase. I will check on this and update the docs accordingly. The proxy example is platform agnostic, your proxy server should work the same with web and native.

[2018-12-10 07:35] metagrover commented on #667
Hi @axeff, until we roll out a fix for this - you can change the `SingleDropdownList` component's `componentId` on wrapper change to get around this issue.

[2018-12-10 15:44] axeff commented on #667
@metagrover I realised that but that's no option since we have strong focus on SSR. And I would expect the google bot to not like that same content on different params of the url based on the device type.

[2018-12-10 16:00] metagrover commented on #667
Alright, I understand. I will try to get the fix out soon (Expect 2-3 days).

[2018-12-10 16:14] allendol opened #677 "DataRange cannot easily select or type the wide date range"
The user wants to select or type date range from 1/1/2010 to 1/1/2020.
User cannot type the date range. Only has to select 1/1/2017 from the calendar and go sequentially back month by month to date 1/1/2017 and then for the end date, has to click the calendar month by month to get to 1/1/2020.
There is no other easy way to select data range.

[2018-12-10 18:04] gaving opened #678 "ProductSearch demo broken"
https://opensource.appbase.io/reactivesearch/demos/producthunt/ seems broken.

https://scalr.api.appbase.io/producthunt/post/_search prompting for credentials.

[2018-12-11 05:43] allendol opened #680 "DateRange Component is hard to use for wide date range"
We have developed the interface using ReactiveSearch. We are using DateRange component.
User wants to select Date range from 1/1/2007 to 1/1/2020. The only way to do this, is to navigate sequentially and go back month by month to 1/1/2007 for Date Start and then go forward sequentially month by month  to 1/1/2020.
I don't think any user likes this. Please provide real alternative or an interrum so

[2018-12-11 13:54] bietkul opened #681 "next: Components using Rheostat are not working"
**Issue Type:**
bug

**Platform:**
web

**Description:**
The components which are using Rheostat library are broken.

**Screenshots:**
![alt text](https://i.imgur.com/ddCIR7H.png)

**Minimal reproduction of the problem with instructions:**
Run DynamicRangeSlider story

**Reactivesearch version:** x.y.z
3.0.0

**Browser:** [all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome

[2018-12-11 20:26] ilkerceng opened #682 "Security Concern and proxy server example"
**Issue Type:**

**Platform:**

web
**Description:**

security concern
**Screenshots:**

**Minimal reproduction of the problem with instructions:**

**Reactivesearch version:** x.y.z

**Browser:** [all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Safari | iOS XX UIWebView | iOS XX WKWebView ]

**Anything else:**

I have read security

[2018-12-11 21:31] #681 closed

[2018-12-11 21:53] maijs opened #683 "Allow customisation of endpoint URL (/app_name/_msearch)"
**Issue Type:**
Enhancement

**Platform:**
ReactiveSearch for Web

**Description:**
ReactiveBase has [`url`](https://opensource.appbase.io/reactive-manual/getting-started/reactivebase.html#props) prop which allows setting the URL for the Elasticsearch cluster. Reactive search seems to be very opinionated in terms of endpoint URL where request with query is sent, as it appends `/[app_name]/_msearch

[2018-12-11 21:54] ilkerceng commented on #682
@siddharthlatest thank you so much for such a quick response :) I have no any authentication mecanism, and i think these kind of issues like auth, DoS attacks are not security concerns of this library, these are all common related for any kind of web-service. but i have just want to learn that What endpoints of elasticsearch does this library use, like /index_name/doc_type/_msearch? with POST and

[2018-12-11 21:59] siddharthlatest commented on #683
Hey @maijs, we are working on this in the new `v3.0.0` release. It should address customization of  URI / request body / use of GraphQL instead of REST.

I am closing this since we already have #471 open and there is an active discussion over there. And we will keep that updated instead.

[2018-12-11 21:59] #683 closed

[2018-12-12 02:21] bietkul commented on #604
@gabzon Regarding the `ws` vulnerability, It seems like the issue is with `react-devtools`.
Lmk if it helps you https://github.com/websockets/ws/issues/1455#issuecomment-428651039

[2018-12-12 08:00] metagrover commented on #604
@bietkul the path seems to be at `appbase-js > ws`. I think we should upgrade `ws` in `appbase-js` to fix this.

[2018-12-12 09:21] bietkul opened #685 "Next: Update rheostat in web"
**Issue Type:**
enhancement

**Platform:**
web

**Description:**
Maps & web uses different versions of rheostat library

**Screenshots:**

**Minimal reproduction of the problem with instructions:**

**Reactivesearch version:** x.y.z

**Browser:** [all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Safari | iOS XX UIWebView | iOS XX WKWe

[2018-12-12 09:30] metagrover commented on #680
Repeated: #677
PR to fix this: https://github.com/appbaseio/reactivesearch/pull/563

[2018-12-12 09:30] #680 closed

[2018-12-12 09:30] metagrover commented on #677
Related PR: https://github.com/appbaseio/reactivesearch/pull/563

[2018-12-12 09:35] BartoszCoyote opened #686 "Different host"
**Platform:**
Web

**Description:**

Hello, i using reactivesearch for visualize my elasticsearch data but, at this moment i want to use different host than appbase, for example bonsai.

Can i provide new url to ReactiveBase component?

[2018-12-12 09:46] metagrover commented on #686
Yes - [Refer docs here](https://opensource.appbase.io/reactive-manual/getting-started/reactivebase.html#connect-to-elasticsearch).

[2018-12-12 09:53] BartoszCoyote commented on #686
Ok, but

and if i delete my credentials i get "Error: Authentication information is not present. Did you add credentials?"

[2018-12-12 10:01] metagrover commented on #686
In my understanding, we only show that error when a user is using appbase.io and doesn't have a `credentials` prop.

What does your `ReactiveBase` props look like?

[2018-12-12 10:13] #627 closed

[2018-12-12 10:36] #648 closed

[2018-12-12 12:17] #604 closed

[2018-12-13 17:32] gabzon opened #688 "Unable to resolve "vue" from "node_modules/vue-types/dist/utils.js""
**Issue Type**: BUG
**Platform**: Native
**Description**:
I'm getting the following Error message:

_Unable to resolve "vue" from "node_modules/vue-types/dist/utils.js"_

I am trying to follow the tutorial **ReactiveSearch Quickstart** https://opensource.appbase.io/reactive-manual/native/getting-started/reactivesearch.html

This is what I did:
`expo init myproject`
cd myproject
`yarn add @appbasei

[2018-12-13 17:48] metagrover commented on #688
Sorry about this. This is a known issue and we will be doing a release early tomorrow to fix this.

[2018-12-13 18:33] metagrover opened #689 "Fix Date components example for react-native demo app"
**Issue Type:**
Enhancement

**Platform:**
React Native

**Description:**
The DateRange and DatePicker components in the native example app are based on the mappings of old car-store app. We should upgrade their `dateFormat` utilise the mappings of new cars dataset.

[2018-12-13 18:50] metagrover commented on #676
Fixed. Please update to `0.11.0` to get things rolling 🎉

[2018-12-13 18:50] #676 closed

[2018-12-13 18:50] metagrover commented on #688
Fixed. Please update to `0.11.0` to get things rolling 🎉

[2018-12-13 18:50] #688 closed

[2018-12-13 18:51] metagrover commented on #604
Fixed. Please update to 0.11.0 to get things rolling 🎉

[2018-12-14 09:30] mauxtin opened #693 "Vue - Dev tag on npm"
Would it be possible to have a dev tag for reactivesearch-vue so we can test it?

[On npm](https://www.npmjs.com/package/@appbaseio/reactivesearch-vue) the last release only has a few basic components. It would be good to have a dev tag (since a lot more components have been developed) so we can test for bugs and try it out :)

[2018-12-14 20:08] willopez opened #696 "transformRequest does not work with SSR"
Issue: Bug

**Platform:**
Web

**Description:**
I am using ReactiveSearch web, with Next.JS. Attempting to implement SSR with `transformRequest` provided in settings like so:
[code]
The provided transform function does not get executed on the server. Looking at this line: https://github.com/appbaseio/reactivesearch/blob/dev/packages/web/src/server/index.js#L271

It's obvious that the transform fun

[2018-12-15 13:44] divyanshu-rawat opened #698 "Vue: Bug in DataSearch `innerClass` key `input`"
**Issue Type:**
BUG

**Platform:**
Vue: RS

**Description:**
Bug in DataSearch `innerClass` property `input` `key`.

After passing `innerClass` property to `DataSearch` using this snippet of code.

[code]

intended behaviour is to add `search-input` as a class in DataSearch not `className`.

For more info. check the SandBox:
https://codesandbox.io/s/54l2m5rqxl

**Screenshots:**

![screenshot 2018-

[2018-12-15 13:45] divyanshu-rawat commented on #698
#697  solves this 👍

[2018-12-17 08:58] #698 closed

[2018-12-17 11:34] metagrover commented on #686
Closing due to inactivity. Feel free to re-open if needed.

[2018-12-17 11:34] #686 closed

[2018-12-18 15:48] object505 opened #705 "Guidance needed for showing results on a separate results page"
**Platform:**
ReactiveSearch for Web

**Description:**
I was checking the docs and couldn't find any way to initialize a search on a separate page using a link generated with ReactRouter 4.
The link is something like this: example.com/search?category="documentary"
It should go to the search results page and show all results from the category "documentary". Currently it goes to the search page and

[2018-12-18 18:40] divyanshu-rawat opened #706 "VueRs: MultiDropdownList emitting single value."
**Issue Type:**
BUG

**Platform:**
version - 1.0.0-beta.1

**Description:**
Vue ReasctiveSearch MultiDropdownList emitting single selected value, instead of returning an array of selected values.

[2018-12-18 19:16] willopez commented on #696
@metagrover Please checkout my proposed implementation

[2018-12-18 19:21] metagrover commented on #696
Thank you for the contribution. We will roll this out in the upcoming release 🎉

[2018-12-18 19:21] #696 closed

[2018-12-19 07:09] george-dotdev commented on #670
@metagrover Your method would also address this issue: #705

[2018-12-20 07:55] amirasyraf commented on #427
@metagrover
Thanks, but it seems allData is returning an object instead of the expected array? So allData.map does not work since Objects do not have a .map method.

[2018-12-20 10:50] mauxtin opened #715 "Apply global CustomQuery for all components"
This is not an issue but I found other people having the [same](https://stackoverflow.com/questions/53818777/how-to-filter-initial-response-in-reactivesearch) [question](https://stackoverflow.com/questions/53842011/reactivesearch-customquery) so I thought it would be a good idea to post it here as well. (Feel free to close this.)

I am looking for a way to add a predefined selected value when the

[2018-12-20 11:08] mauxtin commented on #715
Seems to be somewhat related to this #705 however doing it with `url-params` is not an option for us.

[2018-12-20 14:07] metagrover commented on #705
[You can check this answer to achieve the desired implementation.](https://stackoverflow.com/questions/51910986/reactivesearch-search-from-any-route/51915054#51915054)

Notice how we are using the same `componentId` for DataSearch in both pages. That manages everything for you. You won't have to write any manual code/query to achieve what you're looking for.

Hope this helps.

[2018-12-20 14:09] metagrover commented on #715
You can utilise `defaultSelected` prop for this. Say you want to select `Item A` from SingleList component on load. Just use `defaultSelected={"Item A"}` to achieve this. Now, considering your `ReactiveList`'s react prop includes the SingleList component, it will consider this selected value while generating its result query.

Using customQuery here, comes with the weight of managing the removal o

[2018-12-20 14:40] mauxtin commented on #715
Hello @metagrover and thanks for taking the time to address this.

The only problem with this approach is that it requires that I have a SingleList component in the page with the categories which is not the case.

When visiting  `/manufacturers/bmw` it doesn't make sense to have a manufacturers SingleList component in the page since I expect to only display the results of this specific manufacture

[2018-12-20 14:46] jyash97 opened #717 "Vue: Change in DefaultSelected cause error in MultiDropdownList"
**Issue Type:**
Bug 🐛

**Platform:**
Vue

**Description:**
When we change the `defaultSelected` value using the state variable, the value returned from `valueChange`  breaks.

**Screenshots:**
Value Returned from `valueChange`-

![image](https://user-images.githubusercontent.com/22376783/50291013-5be5c800-0493-11e9-85e6-5e798f98d45b.png)
![image](https://user-images.githubusercontent.com/22376783/

[2018-12-20 14:52] metagrover commented on #715
Got it! For your usecase, `defaultQuery` prop on `ReactiveList` component makes perfect sense. It allows appending your desired query say `{ query: { 'match': { 'manufacturer_id': 1 } } }` with the existing ReactiveList component's query (which includes `size`, `from` and other defaults which the component provides).

[2018-12-20 15:06] mauxtin commented on #715
That doesn't seem to have any effect on the filters however. Is there any way I could possibly apply the `defaultQuery` to ReactiveBase so that it becomes global?

[2018-12-20 15:17] metagrover commented on #715
Oh I see what you mean. [Check `DataController` component](https://opensource.appbase.io/reactive-manual/base-components/datacontroller.html). It's a simple component with no/custom UI. If you set the desired `{ query: { 'match': { 'manufacturer_id': 1 } } }` query on this component's `customQuery` prop and add its `componentId` to the `react` prop of all the filters and `ReactiveList`, everything

[2018-12-20 15:54] mauxtin commented on #715
The `customQuery` prop on DataController doesn't seem to have any effect :/

I created a sandbox for this: https://codesandbox.io/s/zq87l7mr2m

[2018-12-20 16:08] metagrover commented on #715
Sorry about that. We don't support this in the `vue` library yet (It's only available for `react` and `react-native`). @bietkul should be able to help you with ReactiveComponent implementation for the same with the vue library.

[2018-12-20 16:35] bietkul commented on #715
@mauxtin Check this working example with `ReactiveComponent` https://codesandbox.io/s/94l1mvwxqy

[2018-12-20 22:45] mauxtin commented on #715
Thanks @bietkul! 👍 This seems to work for my use case even if it's a bit hackish.

(Not sure if you want to close this or leave it open until a less-hackish way is found :) - Feel free to close it.)

[2018-12-20 23:10] mauxtin opened #719 "Feature: Allow for sortByKey prop in ReactiveList"
I noticed that there is a `sortBy` prop but no way of setting the key to be sorted with and the results are being sorted based on the `dataField` prop which only makes sense if you are ordering alphabetically.

It would be nice to have a way of setting the key prop, something like `sortByKey`.

Of course, you can use sortOptions and do something

[code]

But that limits you in terms of how the UI

[2018-12-20 23:17] siddharthlatest commented on #719
@mauxtin In a ReactiveList, the primary use of `dataField` is to apply the sorting order, it acts as a proxy for the `sortByKey` functionality you are proposing. Do you see any limitations with using it?

[2018-12-20 23:23] mauxtin commented on #719
Hi @siddharthlatest, I didn't know that the `dataField` is meant only for this use case.

I haven't seen any limitations with it but consider changing its name to something close to what I proposed so that it is more clear what it is intended for :)

Thanks for the clarification :)

[2018-12-20 23:29] mauxtin opened #720 "Feature: Add realtime prop to DataSearch"
A boolean prop on the `DataSearch` component that will basically allow for realtime search as the user types in the searchbox.

Example:
[code]

This will allow for a much better User Experience since now the user must press enter in order to search.

[2018-12-20 23:38] siddharthlatest commented on #719
Great, in a result component, sorting is the primary use-case for it. We should make this more clear in the docs. cc @jyash97

[2018-12-20 23:39] siddharthlatest commented on #720
@mauxtin This is already possible via the `autosuggest` prop, you can set it to `false` to get a search as you type behavior. I noticed that our docs didn't list this. I have updated them to reflect the change.

[2018-12-20 23:39] #720 closed

[2018-12-20 23:40] mauxtin opened #721 "Vue: Allow customization of RangeSlider"
It would be nice to have more options for `RangeSlider`, [here](https://github.com/appbaseio/reactivesearch/blob/dev/packages/vue/src/components/range/RangeSlider.jsx#L164-L175).

Ideally, this can be a single prop `sliderOptions` which will accept an object and `v-bind` it on vue-slider.

Possibly something like this, instead of the reference code above.

[code]

This will allow for maximum custo

[2018-12-20 23:43] siddharthlatest commented on #721
@mauxtin I love the feedback, keep it coming. What is a good customization use-case here?

[2018-12-20 23:46] mauxtin commented on #720
Ah! I thought `autosuggest` prop was only for displaying the suggestion list or not.

Shouldn't this be in a different prop since someone may want to display suggestions as well as having the realtime search at the same time? (Not my use case but the prop seems to do two completely different things right now.)

Anyway thanks, that works for me 👍

[2018-12-20 23:52] mauxtin commented on #721
One good use case would be the `formatter` prop.

It allows you to display the numbers with some customization.

For example instead of using the `rangeLabels` like this
[code]

We can simply set a formatter which (in this case) will add the euro sign automatically to the tooltips.

[code]

Some other ones that I use are `bgStyle`, `tooltipStyle` and `processStyle` but the props are too many so `v

[2018-12-20 23:53] #693 closed

[2018-12-21 00:43] mauxtin opened #722 "Feature: Aggregate min and max in RangeSlider"
Not sure if I am missing something or if it is developed in the react libraries and not in Vue but it would be awesome if the `RangeSlider` could aggregate the min and max values of the field that was passed automatically.

This would mean that the min and max values are not needed anymore.

There are no docs for that component so I am not 100% sure but I couldn't find anything related to that [in

[2018-12-21 01:15] mauxtin opened #723 "Vue SelectedFilters slot-scope bug"
I think there is a bug (or I am doing something wrong) with using `slot-scope` on the SelectedFilters component.

(I am not very familiar with slots, so let me know if I am doing something wrong)

When no slot is given the selected filters are shown fine but when trying to add some customization on them with a slot nothing is being displayed.

[code]

What I am trying to achieve is fix this:
![scr

[2018-12-21 01:36] mauxtin opened #724 "Nuxt.js bug with URLParams"
Simply using `:URLParams="true"` has no effect in the URL when selecting a filter or writing something in the `DataSearch`.

However when typing a filter's URL directly (e.g. .com?colors=["Black"]) the filter recognizes and selects the "Black" value.

When you remove the value from the `SelectedFilters` component, the value is removed from the listing but not removed from the URL.

(Not sure if th

[2018-12-21 05:57] jyash97 commented on #706
@divyanshu-rawat Is this issue solved in #708  ?

[2018-12-21 09:09] metagrover commented on #722
@bietkul We need to add support for `DynamicRangeSlider` in the vue libarary. It should be trivial to implement since it's an aggs based abstraction over the RangeSlider component.

[2018-12-21 09:10] metagrover commented on #723
You can use `filterLabel` prop to achieve this. Feel free to reopen if that doesn't work for you 🐱

[2018-12-21 09:10] #723 closed

[2018-12-21 09:13] metagrover commented on #715
@bietkul We should add support for `DataController` component here to improve the usability.

[2018-12-21 09:13] #705 closed

[2018-12-21 12:55] bietkul opened #726 "vue: Add DataController component"
**Issue Type:**
Feature

**Platform:**
Vue

**Description:**
Add DataController component for better queries customization.

**Screenshots:**

**Minimal reproduction of the problem with instructions:**

**Reactivesearch version:** x.y.z

**Browser:** [all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Safari | iOS XX UIWebView | iOS XX

[2018-12-21 12:55] #715 closed

[2018-12-23 16:04] sebolek opened #728 "currency comma delimited RangeSlider"
**Issue Type:**
enhancement

**Platform:**
Web, Vue

**Description:**
How can I format the range numbers to be comma delimited? Basically I need to format it as currency for example 1000999  should look like $1,000,999 on the 'tool tip' on the RangeSlider?

<img width="310" alt="screen shot 2018-12-23 at 7 57 44 am" src="https://user-images.githubusercontent.com/6601508/50385324-b136fa80-0688-11e9

[2018-12-23 19:01] metagrover commented on #728
You can use `renderTooltipData` prop for the same. [Refer docs here](https://opensource.appbase.io/reactive-manual/range-components/rangeslider.html).

[2018-12-23 19:03] metagrover commented on #728
Sorry, we don't support it in vue yet. The aforementioned prop only works in react library. Thanks for filing this.

[2018-12-24 01:34] george-dotdev commented on #491
I think that utilising the projects board on Github is a nice way to handle a roadmap.
I have seen other repositories using a different board per release. This allows users to see which features are coming up in the next release and allow contributors to priorities certain issues.

[2018-12-24 11:54] #546 closed

[2018-12-27 09:31] Arvind6353 opened #733 "Show loader on each query execution"
Hi ,

I have a scenario where , am using sortOptions with sorting on _score and date fields.

By default the sorting is on _score .

If the user selects the sort option to sort by date , then the results are sorting by date .

And if the user performs another query , the sort option retains on date and results are shown in date order instead of relevance.

I can manually change the sort options to

[2018-12-27 09:36] metagrover commented on #733
Can you please add more details here? We do support `loader` props on the result components.

[2018-12-27 09:36] Arvind6353 commented on #733
Hi ,

I have a scenario where , am using sortOptions with sorting on _score and date fields.

By default the sorting is on _score .

If the user selects the sort option to sort by date , then the results are sorting by date .

And if the user performs another query , the sort option retains on date and results are shown in date order instead of relevance.

I can manually change the sort options to

[2018-12-27 09:40] metagrover commented on #733
Interesting. We currently don't support events to expose the start and end of loading. Can you try accommodating your implementation to use the `loader` prop instead? It accepts a `JSX` and renders it when loading is in progress.

[2018-12-27 09:49] Arvind6353 commented on #733
Okay. The Prob I have is that I have to rest the sorting field to _score
before doing the search if the user had changed the sorting to date before.

In that case I am manually triggering the click event on the sort options
dropdown to select score As a option and also execute the new query.

And there is a single place where am able to find the query finish in on
Resultstats callback and am closi

[2018-12-27 10:05] metagrover commented on #733
Okay, I think I fairly understood your problem. It seems the only optimal solution to this problem would be to implement request cancellation at the libarary level i.e. cancelling the stale pending queries of a component when new queries are fired, but we don't support it at the moment and it's not on our upcoming timeline either. So, instead of programmatically changing the sort options on `onVal

[2018-12-27 10:08] Arvind6353 commented on #733
OK got it. What do u mean by remount? Rerender the component?. I would have
to force Re-render right?.

Do u have any small snippet for that?

On Thu, Dec 27, 2018, 3:35 PM Deepak Grover <notifications@github.com wrote:

[2018-12-27 10:14] metagrover commented on #733
Changing any component's `key` prop remounts the component. For your case, you will have to change the `componentId` as well. Please note that you only have to remount when there is a change in sort "programmatically", otherwise it can affect the user experience.

[2018-12-27 10:14] jyash97 commented on #667
Hey @axeff
Here is the detailed description of this issue.
###  Why this is Happening?
We are running into this error because `SingleDropdownList`'s `componentWillUnmount` is getting triggered lazily and hence the clean up happens (asynchronously) after the re-mounted component's `componentWillMount` is executed which is expected behavior as per react.

Since we have same `componentId` both of the

[2018-12-27 22:59] iksnae commented on #399
hello. thank you for sharing challenges and solution. i've encountered a related issue, where the `onValueSelected` handler isn't being invoked when search result item is selected. note: I am using React Native. I've tried the solutions offered here and elsewhere but having no luck.

any help is greatly appreciated. thank you!

[2018-12-27 23:02] siddharthlatest commented on #399
@iksnae Can you open a separate issue? Please mention the lib version being used, and if you have a reproducible snack showing the issue, that would be perfect for us to check on it quickly.

[2018-12-27 23:06] iksnae commented on #254
has this been released? I'm using `DataSearch` component with `onValueSelected` set but handler is never invoked.

[2018-12-27 23:11] siddharthlatest commented on #254
@iksnae This isn't available in React Native yet. Doc ref: https://opensource.appbase.io/reactive-manual/native/components/datasearch.html. Can you create an enhancement issue for this? Would you like to take a stab at porting this to the RN lib?

[2018-12-28 03:13] iksnae commented on #254
@siddharthlatest thank you. i just took a crack at it and created pull request. https://github.com/appbaseio/reactivesearch/pull/737

[2018-12-28 06:52] #717 closed

[2018-12-28 07:07] jyash97 commented on #728
@sebolek You can now use `sliderOptions` prop to customize the value.

usage:
[code]

You can read more about this [here](https://opensource.appbase.io/reactive-manual/vue/range-components/rangeslider.html#props)

[2018-12-28 07:07] #728 closed

[2018-12-28 07:11] jyash97 commented on #721
Thanks for the feedback @mauxtin
`sliderOptions` prop is added in the latest release. You can check the docs [here](https://opensource.appbase.io/reactive-manual/vue/range-components/rangeslider.html#props).

[2018-12-28 07:11] #721 closed

[2018-12-28 10:39] gabzon opened #738 "Removing a tag wrapper from ReactiveCard"
**Issue Type:**
Bug or config issue

**Platform:**
ReactiveSearch for Web (ReactiveCard)

**Description:**
I'm trying to develop a SPA using ReactiveCard. This is what I did
![screenshot 2018-12-28 at 11 01 50](https://user-images.githubusercontent.com/142036/50512052-52122500-0a90-11e9-83ac-622b3920bd5d.jpg)

The problem I have is that a `<Styled(a)>` component it's been generated for every item

[2018-12-28 11:30] metagrover commented on #738
It seems to be working for me - [Check this codesandbox using ResultCard with no `url`](https://codesandbox.io/s/81j8p2mv3l).

I'd suggest you to check the DOM of your app and see if there is any CSS issue.

Let me know if you need any further assistance.

[2018-12-28 14:53] gabzon commented on #738
hi @metagrover I created a brand new project using create-reactp-app
I added RS  `yarn add @appbaseio/reactivesearch`
The version is: **^3.0.0-alpha.4**
I copied and pasted the code from your sandbox you gave me and it doesn't work.
I checked the version of ReactiveSearch in the codesandbox example and is **2.12.1**
I downgraded the version of reactivesearch in my project to 2.12.1 and it worked a

[2018-12-28 14:57] metagrover commented on #738
Yes, I tested it with `2.15.0`.

v3 is in alpha right now. We are fixing docs + making breaking changes. If you want to give it a spin with `3.0.0-alpha.x`, rename `onData` prop to `renderData` and it should work.

[2018-12-28 15:28] bietkul opened #739 "DynamicRangeSlider breaks search when no results found"
**Issue Type:**
Bug

**Platform:**
Web

**Description:**
DynamicRangeSlider adds an unnecessary filter with min & max value as `0` when there no results present for the search keyword.
It breaks the search completely until I refresh the page.

**Screenshots:**
![alt text](https://i.imgur.com/mjhnGZk.png)

**Minimal reproduction of the problem with instructions:**
Use DynamicRangeSlider component &

[2018-12-28 16:40] gabzon commented on #738
Great, it worked with renderData. Thx

[2018-12-28 16:46] #738 closed

[2018-12-29 11:52] Arvind6353 opened #741 "Query on handling highlight using Datasearch and ResultList"
Hi Am using DataSEarch and ResultList component with customHighlight query .

[code]

I have a large text field (description) on which I have enabled highlight .

How should I get the highlight field .  In the onData callback of the ResultList  am getting all the source fields .

In the description field am seeing the highlighted tags (<mark>).

Since the field is very large (5k chars), is there a

[2018-12-31 09:49] chrysanthos commented on #724
Hey @mauxtin, did you by any chance found a workaround until this is fixed?

[2018-12-31 19:49] EvanWritesCode opened #743 "Angular Support"
**Issue Type:**  Enhancement

**Platform:**  Web

**Description:**  Now that there is Vue support,  it would be great if ReactiveSearch supported Angular too!

[2018-12-31 21:11] sebolek commented on #728
Awesome, Thanks! Keep up the good work.

[2019-01-01 05:16] siddharthlatest opened #744 "Enhancement: Search icon click should trigger search"
**Issue Type:**

Enhancement

**Platform:**

Web

**Description:**

Clicking on the search icon in the `DataSearch`, `CategorySearch` components should trigger the search query.

**Screenshots:**

N/A

**Minimal reproduction of the problem with instructions:**

Currently, the search icon acts as an icon with no associated action.

**Reactivesearch version:** x.y.z

2.15.0

**Browser:** [all | Chro

[2019-01-01 05:20] siddharthlatest opened #745 "Enhancement: Aggregations should be optimized"
**Issue Type:**

Enhancement

**Platform:**

Web

**Description:**

When running aggregations on List components (to get the count value), query size should be set to `0`. This lets ElasticSearch cache the aggregations for future use (by default, it returns 10 hits making the query uncacheable) and should also improve the performance by avoiding the extra query.

**Screenshots:**

N/A

**Minimal r

[2019-01-01 08:40] #733 closed

[2019-01-01 08:42] Arvind6353 commented on #741
Thank you :)

[2019-01-01 13:25] metagrover opened #748 "Fix scrollOnChange behavior with infinite loading"
**Issue Type:**
Bug

**Platform:**
React, v3

**Description:**
`scrollOnChange` should not be considered for infinite loading on the result components. This is causing the page to scroll to top whenever new set of results are loaded on scroll - resulting in bad UX.

`scrollOnChange` should only be considered with truthy `pagination` prop.

[2019-01-01 14:14] metagrover opened #749 "Enable better loader rendering support for infinite loading"
**Issue Type:**
Enhancement

**Platform:**
Web - React, v3

**Description:**
Loader should get rendered at the bottom of the screen for infinite loading - to enable better feedback while loading as the user scrolls. Currently, it gets rendered at the top by default.

[2019-01-02 07:23] ilkerceng opened #751 "Objects are not valid as react child"
**Issue Type:**

bug
**Platform:**

Native
**Description:**

**Screenshots:**

![reactive_search_native](https://user-images.githubusercontent.com/4923344/50582910-0936e380-0e77-11e9-8025-23d4f472debd.JPG)

**Minimal reproduction of the problem with instructions:**

**Reactivesearch version:** x.y.z

^0.11.1
**Browser:** [all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome X

[2019-01-02 16:02] rap2hpoutre commented on #607
@thebuilder @calebdel @redlinecodes Fixed via #752 & #754, available in v2.16.1.

Thanks to @metagrover for the quick release!

[2019-01-02 16:03] #607 closed

[2019-01-03 02:27] aheimlich commented on #513
The solution I found was to do the JSON parsing of the query string parameters inside your `getInitialProps` function.

[code]

[2019-01-03 13:16] metagrover commented on #751
Hi @ilkerceng thanks for pointing this out. Although this doesn't seem like a reactivesearch-native issue, but there are definitely some icon-fonts related issues that I ran into while building an app with react-native-cli. I'm looking into this and will fix all the setup issues in this week.

For now, I'd recommend you to build an app with [`expo-cli`](https://facebook.github.io/react-native/docs

[2019-01-03 13:18] metagrover commented on #513
Thanks, we will include this logic at the library level to improve the development experience.

[2019-01-03 16:30] ilkerceng commented on #751
Hi @metagrover thank you so much.  i really didn't try expo until tody, but i will try, thank you so much, i will try [your repo](https://github.com/appbaseio-apps/react-native-bookstore/) just now.

[2019-01-03 17:53] ilkerceng commented on #751
@metagrover which react-native version installed in global should i use?

[2019-01-03 18:02] metagrover commented on #751
Expo maintains their own fork of react-native: https://github.com/expo/react-native/ which will be used automatically if you run `expo init myproject`. (Make sure you have latest expo installed: `npm install -g expo-cli`).

[For this starter app](https://github.com/appbaseio-apps/react-native-bookstore/), running `yarn` will install the [relevant react-native fork](https://github.com/appbaseio-app

[2019-01-03 18:23] ilkerceng commented on #751
@metagrover i had installed before react-native@0.57.1. now i have also installed expo-cli, started [the app](https://github.com/appbaseio-apps/react-native-bookstore/) with yarn start, but it gives error:  `React-Native Version Mismatch Javascript Version 0.57.1 Native version: 0.55.2` and a warning `This version of the Expo app is out of date. Uninstall the app and run again to upgrade.`

[2019-01-03 18:30] metagrover commented on #751
Okay, it seems your expo on the simulator is out of date. You need to uninstall expo app from your simulator and install it again to get the app working:

Press `Shift-CMD-H` to get the home screen, then delete the Expo App followed by a `yarn start` which will run the metro bundler and will install the latest Expo app on the simulator to run your project.

[2019-01-03 19:14] mauxtin commented on #724
No, not yet :/ I will probably wait for a fix..

[2019-01-03 19:55] ilkerceng commented on #751
@metagrover Thank you very much, it works just now. 💯

[2019-01-04 00:49] ilkerceng commented on #751
Hi @metagrover i am getting this error when i use elasticsearch locally

[code]

[2019-01-04 09:57] mauxtin commented on #724
FWIW, I experimented a bit with [URLParamsProvider.jsx](https://github.com/appbaseio/reactivesearch/blob/dev/packages/vue/src/components/URLParamsProvider.jsx) without luck. Maybe @bietkul can give us a hint on what might be the problem so we can try to fix.

My guess is that [setUrl](https://github.com/appbaseio/reactivesearch/blob/dev/packages/vue/src/components/URLParamsProvider.jsx#L108) doesn

[2019-01-04 10:55] metagrover commented on #751
I'm not sure what's wrong with your local elasticsearch config but you can check the [documentation here](https://opensource.appbase.io/reactive-manual/getting-started/reactivebase.html#connect-to-elasticsearch) to see if everything is in place.

[2019-01-07 10:46] contifra opened #756 "Highlight problem with composed fields"
**Issue Type:**
bug

**Platform:**
Web

**Description:**
Highlight seems have problems with composed fields in datasearch component:

<DataSearch componentId="searchbox" highlight={true}
                    showClear={true}
                    dataField={["A", "B", "C.subject" ]}
                    queryFormat="and" placeholder="Press enter to search" />

For "A", "B" fields i have the results hi

[2019-01-07 10:51] metagrover commented on #756
We have addressed this issue here - https://github.com/appbaseio/reactivesearch/issues/357

You should be able to access the `highlight` object in the response and can use the same to enable highlighted rendering of results.

[2019-01-07 10:57] lakhansamani commented on #756
@contifra you can try accessing composed highlighted field as string.

**Instead of rendering result in following manner**

[code]
**you can rendering in follwing manner**

[code]

[2019-01-07 13:38] jwchia1 opened #757 "DateRange: specifying default selected causes error"
**Issue Type:** bug

**Platform:** reactivesearch

**Description:**
I'm specifying defaultSelected on the dateRange component and it's fine on display.
The error pops up when I try to modify the dates by clicking on either of the start or end date.

**Minimal reproduction of the problem with instructions:**
modified the demo slightly
https://codesandbox.io/s/m7x7qloj29

**Reactivesearch version:**

[2019-01-08 13:18] #677 closed

[2019-01-08 13:38] gabzon commented on #159
Hey guys I know this is a closed issue. I don't know if you prefer me to open a new one. I wrote here because it is the same problem I am trying to solve regarding React Router/Link and the ReactiveList component.

@divyanshu013 I'm trying to use your solution of ReactiveList. Unfortunatelly It gives me a white page. I'm using RS `v^3.0.0-alpha.4`

I tried to recreate everything from scratch using

[2019-01-08 13:38] #662 closed

[2019-01-08 13:43] metagrover commented on #159
Hi @gabzon, there are some breaking changes b/w v2 and v3 of reactivesearch. Please refer to this [migration guide](https://opensource.appbase.io/reactive-manual/v3/advanced/migrationguide.html) to upgrade to v3.

Please note that v3 is still in alpha currently.

[2019-01-08 13:52] gabzon commented on #159
Great I'll follow the guide! Thx!
Yes don't worry about the alpha. I'm not building anything for production yet.

[2019-01-08 16:02] metagrover opened #760 "Pagination is broken with SSR"
**Issue Type:**
Bug

**Platform:**
Web

**Description:**
With SSR, result component fires multiple queries when page is set to any value (say 4: `?result=4`), and resets the page to 1 (`?result=1`) on load.

[2019-01-08 17:31] #760 closed, assigned to nobody

[2019-01-08 19:12] metagrover commented on #511
We have removed `type` key from the SSR API. This will be available in reactivesearch `v3` upwards.

[2019-01-08 19:12] #511 closed

[2019-01-09 03:41] #741 closed

[2019-01-09 03:51] Arvind6353 opened #761 "Custom query with sorting"
Am currently using sortOptions with ResultList with 2 values , date and score

I would want to introduce one more sort option say recency which has to run a custom query to bring the documents sorted by both relevance and date (am using a function score here).

I would like to implement an option like this with sort options .

Can u help with this use case?

@metagrover @siddharthlatest

[2019-01-09 10:22] yashanandan opened #762 "Default Sort Option"
**Issue Type:**
Question

**Platform:**
Web

**Description:**
I am trying to set the default sort option for my ResultCard. The sortOptions are:
`sortOptions={[
{
dataField: "launchDateEpoch",
sortBy: "desc",
label: "SORT BY : LAUNCH DATE"
},
{
dataField: "popularity",
sortBy: "desc",
label: "SORT BY : POPULARITY"
},
{
dataField: "name",
sortBy: "asc",
label: "SORT BY : ALPHABETICAL"
}
]}`

Now I

[2019-01-09 10:29] metagrover commented on #762
Hi @yashanandan, as per our current spec, we take the first item in the `sortOptions` array prop as the selected (default) sort.

Let me know if you are seeing any issues with the same.

[2019-01-09 10:32] metagrover commented on #761
One option would be to create a separate react dropdown component to handle sort query. On selection of any option from the dropdown, you can update the `defaultQuery` of the result component to apply relevant sort.

This is the most flexible way to add any kind of sort behavior to result components.

[2019-01-09 10:34] #751 closed

[2019-01-09 10:34] #748 closed

[2019-01-09 10:39] yashanandan commented on #762
Hi @metagrover, no I don't face issue with respect to that but then each of my pages have a custom sort order then the whole sort drop down shuffles. I want to preserve the sortOptions order and still select a default sortOption. Any idea ?

[2019-01-09 10:55] metagrover commented on #762
I understand. For this usecase, it would be best if we can introduce an optional prop - `defaultSortOption <string>` which when set - will take the label of the desired option from `sortOptions` array as the default sort.

This should be a trivial enhancement if you or anyone else wants to take this up.

Code reference: https://github.com/appbaseio/reactivesearch/blob/dev/packages/web/src/componen

[2019-01-09 11:03] yashanandan commented on #762
Sure, we can do for the Web version but for other versions ?

[2019-01-09 11:04] metagrover commented on #762
Awesome, we will take care of the rest 🐱

[2019-01-09 12:25] jyash97 commented on #757
Hey @jwchia1

Pass `date` object in start & end key of defaultSelected. For eg:

[code]

Check this example [here](https://codesandbox.io/s/1oo070q2vq) I have modified the keys for you.
Do let me know if you face other issues.

[2019-01-09 12:25] #757 closed, assigned to jyash97

[2019-01-10 01:53] berpcor opened #769 "undefined is not an object (evaluating 'window.navigator.userAgent.toLowerCase')"
I get error on android only when debugger is turned off:

`undefined is not an object (evaluating 'window.navigator.userAgent.toLowerCase')`

I found that - https://stackoverflow.com/questions/49798615/app-crashes-on-start-when-remote-debugging-is-disabled

It is said there:

This is full error text:

As you can see the problem starts from ReactiveBase.
I suppose, that something wrong with it. Can

[2019-01-10 06:29] ghost opened #770 "minimum_should_match"
**Issue Type:**
Enhancement

**Platform:**
Web

**Description:**
Would like to request a prop for list components to add a minimum should match to the query for situations where you want to always return something.

[2019-01-10 09:44] metagrover commented on #769
Which version of `reactivesearch-native` are you using?

[2019-01-10 10:37] siddharthlatest commented on #770
@george-dotdev Can you elaborate on this?

[2019-01-10 10:59] alexandre033 opened #774 "How to add custom filter in reactiveSearch query ?"
**Issue Type:**

**Platform:**
Reactive search for web

**Description:**
Hello,
I try to implement some customs filters according to user parameter. For example if a user is "protected" i want him to see only data with  protected filter and have always the possibility to use reactivesearch filters.

So how to use transformRequest to modify the body of the request ?

Thanks for your help

PS: When

[2019-01-10 13:52] Arvind6353 commented on #761
Cool . It worked :). Thank you

[2019-01-10 13:52] #761 closed, assigned to nobody

[2019-01-10 13:57] Arvind6353 opened #775 "Send queries to custom server and call elasticsearch from the custom server"
I would like send the queries to my own node express server and would like to execute the _msearch from my express server .

Is it possible ?

 <ReactiveBase app="index_name" url="**http://elastisearchserver:9200**"/>

Instead of pointing to elastic search url directly , can I Point to my own server ?

@metagrover @siddharthlatest

[2019-01-10 13:58] siddharthlatest commented on #775
This is possible. Refer to the docs here https://opensource.appbase.io/reactive-manual/getting-started/reactivebase.html#connect-to-elasticsearch.

[2019-01-10 13:58] #775 closed, assigned to nobody

[2019-01-10 15:34] Arvind6353 commented on #775
@siddharthlatest . Are you talking about using proxy server ?

[2019-01-10 16:41] alexandre033 opened #776 "Disable checkbox"
**Description:**
It is possible to disable checkbox if count == 0 and not erase the label from the multilist ?

Thanks a lot

[2019-01-10 17:28] berpcor commented on #769
[code]

[2019-01-10 17:47] metagrover commented on #665
@jyash97 Please refer [this commit](https://github.com/appbaseio/reactivesearch/commit/4ffee7c0dfddbe8b5df0d5b4d1a0a2b7a7dacfe2) for `DataSearch` component upgrades and you can replicate the same behavior for `CategorySearch`.

[2019-01-10 17:51] metagrover commented on #769
I think you are importing `ReactiveBase` from `@appbaseio/reactivesearch` - which won't work on react-native. If you are using reactivesearch on react-native, you only need to install `@appbaseio/reactivesearch-native`.

Please refer to the getting started guide for further details: https://opensource.appbase.io/reactive-manual/native/getting-started/reactivesearch.html

[2019-01-10 17:51] #769 closed, assigned to nobody

[2019-01-11 01:03] jwchia1 commented on #757
Yup. It works fine now. Thanks for updating the documentation too!

[2019-01-11 17:57] jwchia1 commented on #776
I've a related question but it's not regarding the checkbox.
Say, I have a gender selection multi-list and the options "Male", "Female", "Unknown" (for null, empty values).
I'm saving the selected options and setting them again as default when the user wishes to view the selected options.
In this scenario, I've selected "Male" and "Unknown" but there are only results from "Male".
If I save it and

[2019-01-11 21:10] alexlle opened #782 "DateRangeSensor fails to get results when start & end dates are the same"
**Issue Type:**
bug

**Platform:**
ReactiveSearch for Web

**Description:**

**Screenshots:**
![imagen](https://user-images.githubusercontent.com/17745866/51059620-8f67ce00-15cb-11e9-9a14-818bd00086f6.png)

**Minimal reproduction of the problem with instructions:**
When I filter through DateRangeSensor and set the same day for start date & end date, It's doesn't respond with any results. But there

[2019-01-11 21:12] alexlle opened #783 "DateRangeSensor fails to get results when start & end dates are the same"
**Issue Type:**
bug

**Platform:**
ReactiveSearch for Web

**Description:**
When I filter through DateRangeSensor and set the same day for start date & end date, It's doesn't respond with any results. But there are items for that particular date.
If I try that date and beyond (or whatever range for two days or more), I do get the results.

**Screenshots:**
![imagen](https://user-images.githubuserc

[2019-01-12 13:57] #783 closed, assigned to nobody

[2019-01-14 13:18] dmce opened #787 "Data/Test Attributes"
**Issue Type:**
enhancement

**Description:**
Would it be possible to be able to pass a data-testid attribute to the input used in the components. I only looked at the CategorySearch component so appreciate this might not be workable across the range of components.

e.g.

`
<input {...getInputProps({
    placeholder: this.props.placeholder,
    data-testid: controlName,
    moreProps: this.props.a

[2019-01-14 17:30] metagrover commented on #787
This definitely looks like something we can (and should) support.

Thoughts on this @bietkul?

[2019-01-14 17:32] metagrover commented on #782
Hi @jyash97, can you give this a spin and check what could possibly be an issue here?

[2019-01-14 20:54] bietkul commented on #787
Yeah, we should have it.
As suggested by @dmce we can define a prop called `inputProps` & use it to extend the props in input elements.
The shape of the prop can be like that:
[code]

Note: Properties can have functions, to handle the multiple input(checkbox/radio) instances in list & range components.

[2019-01-14 22:57] bietkul commented on #724
@metagrover I think this is caused by `SelectedFilters` component where we're calling setValue without passing the URLParams which sets the URLParams as `undefined`.
https://github.com/appbaseio/reactivesearch/blob/dev/packages/vue/src/components/basic/SelectedFilters.jsx#L57

Because of it the condition fails at `URLParamaProvider` to reset the URL.
https://github.com/appbaseio/reactivesearch/blo

[2019-01-15 07:27] metagrover commented on #724
I see what you mean. The `URLParams` property gets set to `true` whenever there is a change in value (triggered by the `setValue` call from the component which contains `URLParams` key as `true`).

Check the following lines of code which handles the unmount or selectedFilter removal scenario. Are you not covering this use-case in URLParamsProvider - https://github.com/appbaseio/reactivesearch/blob

[2019-01-15 07:49] jyash97 commented on #782
Hey @alexislorenzo @metagrover

I tried this, but I wasn't able to replicate the issue. Check this demo I am getting results on same `start` & `end` date:
![daterange- same start end date](https://user-images.githubusercontent.com/22376783/51165907-b3772800-18c7-11e9-94ff-775a6b314309.gif)

Also I am getting results in `dejavu`
![image](https://user-images.githubusercontent.com/22376783/51166027-2

[2019-01-15 10:16] alexandre033 opened #790 "customQuery + aggs"
When i use customQuery and add aggs like this

`{
  "query": {
    "match_all": {}
  },
  "aggs": {
    "genres_data.raw": {
      "terms": {
        "field": "genres_data.raw",
        "min_doc_count": 0
      }
    }
  }
}`

The aggregation is not updated. I have the header request instead
`  "aggs": {
    "genres_data.raw": {
      "terms": {
        "field": "genres_data.raw",
        "size":

[2019-01-15 10:38] alexandre033 opened #791 "_this.props.renderData is not a function"
**Description:**
i switch to reactivesearch 3.0.0-alpha.10 and i have this error : "_this.props.renderData is not a function"
with the 2.0 version all works fine

and i also have this error in the network console on chrome : "**message: "Rate limit exceeded."
status: 429**"

**Reactivesearch version:** 3.0.0-alpha.10

[2019-01-15 10:43] metagrover commented on #791
Please refer to this migration guide - https://opensource.appbase.io/reactive-manual/v3/advanced/migrationguide.html

[2019-01-15 10:43] #791 closed, assigned to nobody

[2019-01-15 10:44] metagrover commented on #791
If you're seeing issues regarding rate limits, that's because of recent plan changes for free appbase users. Please visit https://appbase.io/pricing/ for more details.

[2019-01-15 10:46] metagrover commented on #790
This should be feasible with version 3.0 which is currently in alpha. You will need to use `defaultQuery` to modify aggs query. We have briefly covered this here - https://opensource.appbase.io/reactive-manual/v3/advanced/migrationguide.html#standardized-usage-of-custom-and-default-queries

[2019-01-15 10:48] metagrover commented on #782
Hi @alexislorenzo, if you can share a codesandbox replication of your issue, we can help you debug.

---

@jyash97 It would be best if you can also share the code for the above working demo for reference.

[2019-01-15 11:05] alexandre033 commented on #790
Thanks for your help. But i also have an error with the results component: **Uncaught TypeError: _this.props.renderData is not a function**

i can't show any results

[2019-01-15 11:08] metagrover commented on #790
Please refer the migration guide. We have renamed methods like `onData` to `renderData`. [We have covered all these changes here](https://opensource.appbase.io/reactive-manual/v3/advanced/migrationguide.html).

[2019-01-15 11:15] alexandre033 commented on #790
Yes i found thanks a lot

[2019-01-15 11:18] alexandre033 commented on #790
And how can i disable checkbox in multilist ?

[2019-01-15 11:27] metagrover commented on #790
I suppose you're referring to #776, we don't support disabling checkbox at the moment. But I think this can be supported with customQuery + render props combination in v3.0. I will check on this and update you on issue #776.

[2019-01-15 12:05] rohit-sourcefuse commented on #531
F+

[2019-01-15 12:30] jyash97 commented on #782
Sure, Check the [link](https://codesandbox.io/s/383x3rnl11) for the above demo.

[2019-01-15 16:17] bietkul commented on #724
I already have this piece of code https://github.com/appbaseio/reactivesearch/blob/dev/packages/vue/src/components/URLParamsProvider.jsx#L65

But the problem is that when I remove a filter it goes to this line https://github.com/appbaseio/reactivesearch/blob/dev/packages/vue/src/components/URLParamsProvider.jsx#L43  and condition gets fail.

[2019-01-15 19:01] richardhuili opened #792 "Limit the max results to display"
**Issue Type:**

Enhancement

**Platform:**

Web

**Description:**

I want to display only a limited number of results despite the total number of results returned by the query. For example, I want the first 100 results (10 pages with 10 per page) are displayed and accessible, while the total are 26443 results.

Ideally there is a prop setting in the Result component (limit={100}) so only the firs

[2019-01-15 19:02] metagrover commented on #792
@siddharthlatest thoughts on this?

[2019-01-15 19:04] siddharthlatest commented on #792
A crawler can still go and download all results. Such an enforcement should be done from the backend.  For instance, you can use a middleware along with ReactiveSearch that caps the max results for any search query or puts an IP based rate limit. We offer this as a security option on hosted appbase.io apps and clusters.

[2019-01-15 19:23] richardhuili commented on #792
I see, thanks. We currently host our own ES cluster on AWS. Is there a way to specify the context like { "from" : 0, "size" : 3 } to cap the returned number of results?

[2019-01-15 19:32] siddharthlatest commented on #792
`size` prop lets you set the size. The *from* parameter is controlled via the `pagination` prop indirectly, but the generated query itself can be manipulated by setting a `defaultQuery` or `customQuery` prop.

[2019-01-15 20:10] richardhuili commented on #792
I tried to add the following to the Result component
			defaultQuery={(value, props) => ({
        "from" : 0, "size" : 100,
				"query": {
		        "match_all": {}
		    }
 			})}

but it did not work. Still return the full results. The query works on ES directly.

[2019-01-15 20:54] lgaskill opened #794 "Selected Values become invalid after navigating back in the browser"
**Issue Type:**
Bug

**Platform:**
Web

**Description:**
When navigating back in the browser after setting one or more filter values, the SelectedFilters component is hidden and the current filters are unchanged.

**Screenshots:**
**After setting a filter value with `URLParams` set to true in the `<MultiList />` component**
![image](https://user-images.githubusercontent.com/37128589/51209321-9ba6a

[2019-01-15 21:13] mauxtin commented on #724
Hey @bietkul and thanks for the fix however this doesn't seem to work. It seems like nothing changed. If I click on a multilist item the url doesn't change and if I put the url something like ?colors=["Blue"] the multilist item is selected but if I deselect it the url doesn't change.

Not sure if it's something wrong with my setup but this is what I am using for the multilist.

[code]

[2019-01-15 21:23] bietkul commented on #724
@mauxtin I think somehow you're unable to pass ` URLParams` as `true` in `MultiList` component.
Current implementation works well with our Gitxplore example at
https://96jkl96z4.codesandbox.io/?language=%5B%22JavaScript%22%5D&repo=%22the%22

[2019-01-15 21:26] pbbhopp commented on #538
If we make a list of movies, then when the user click one card we need to go to detail page. All these props of this card must goes to this page. What about if we want to use the onAllData props to make the detail page information?

[2019-01-15 21:30] mauxtin commented on #724
@bietkul I think the problem is specifically when using Nuxt.js.. It seems like it works with pure Vue.js projects (Your codesandbox is a Vue.js project instead of Nuxt.js). Do you have a Nuxt.js sandbox that works?

[2019-01-16 16:16] alexandre033 opened #798 "use of react-virtualized"
hello,
It's possible to use the package react-virtualized or did you implement the possibility to use the same behaviour with your plugin ?

[2019-01-16 21:00] alexlle commented on #782
Hi, thanks for responding.
I'll try to upload a replica to codesandbox.
Meanwhile, I think it may have something to do with date format.
I'm using date_time_no_millis because that's the date format of the source
Is there a way to transform the date format before it's used by the datafield parameter in the DateRange component?

[2019-01-16 21:05] mauxtin commented on #724
Can we reopen this? The problem haven't been fixed.

[2019-01-16 21:09] metagrover commented on #724
@bietkul can you check the use-case with nuxt.js setup and add the example here?

[2019-01-16 22:08] mauxtin commented on #722
Closing as it seems like this has been implemented.

[2019-01-16 22:08] #722 closed

[2019-01-17 07:57] AlrikOlson commented on #724
I can confirm that this issue is occuring with a non-Nuxt.js project. I initialized my project with VueCLI 3 and added the Akryum SSR plugin. Everything has been working great except the URLParams attribute.
I've tried every which way of parsing the URL as it comes into my server entry-point to no avail.

It seems that on MultiList components there is something altering the query string value is t

[2019-01-17 08:48] alexandre033 commented on #792
I need the same thing to avoid the overload of the results. I create this issue #798 and you can try to use react virtualized

[2019-01-17 10:44] metagrover opened #799 "Fix categorysearch behavior"
**Issue Type:**
Enhancement + bug

**Platform:**
React/Web

**Description:**
Here are some enhancements and fixes needed:

- <strike>Add support for firing query on input blur</strike>
- [x] Add support for category selection via value prop
- [x] Fix suggestion selection controlled behavior

[2019-01-17 10:53] metagrover commented on #798
We have used `react-virtualized` with `ReactiveList` in one of our projects. @lakhansamani can help you with the same if you have any specific questions or are facing any issues there.

[2019-01-17 13:04] alexandre033 commented on #798
@lakhansamani can you show me an example of react-virtualized in reactivesearch ? or just explain how can i use the List system of RV without the use of ResultList.. My problem is, i can't access data outside ResultList. Thanks a lot

[2019-01-17 13:34] lakhansamani commented on #798
Hey @alexandre033,

You can use `ReactiveList` with `onAllData` to render `react-virtualized` List component

Here is an example

[code]

[2019-01-17 15:15] alexandre033 commented on #798
Thanks for your help i'll try this :)

[2019-01-19 22:13] #799 closed, assigned to metagrover

[2019-01-22 11:34] mauxtin opened #801 "Vue pagination UX problem"
Current outcome when current page is 5 and there are more than 5 pages

Prev 1 2 3 4 **5** Next
![image](https://user-images.githubusercontent.com/40521145/51532811-cc448800-1e49-11e9-84d2-f9975d5d51fb.png)

Expected outcome when current page is 5 (Show that there are more than 5 pages)
Prev 1 ... 4 **5** 6 7 ... Next

Of course the Next button goes to sixth page as expected but it should somehow

[2019-01-22 12:07] metagrover commented on #801
Thanks for bringing this up. This enhancement can also be applied to react library as well.

[2019-01-22 12:07] #798 closed, assigned to nobody

[2019-01-24 08:45] #152 closed

[2019-01-24 08:46] metagrover commented on #528
Now available in 3.0

[2019-01-24 08:46] #528 closed

[2019-01-24 08:46] metagrover commented on #380
Now available in 3.0

[2019-01-24 08:46] #380 closed

[2019-01-24 08:47] metagrover commented on #353
TODO: Clean up `defaultQuery` from search components.

[2019-01-24 08:48] metagrover commented on #573
Now available in 3.0 (alpha and above)

[2019-01-24 08:48] #573 closed

[2019-01-24 08:48] metagrover commented on #438
Now available in 3.0 (alpha and above)

[2019-01-24 08:49] metagrover commented on #392
Now available in 3.0 (alpha and above)

[2019-01-24 08:49] #392 closed

[2019-01-24 08:51] metagrover commented on #454
We have added support for callbacks for no-results-found event in 3.0 (alpha and above)

[2019-01-24 11:56] #584 closed

[2019-01-24 11:57] #227 closed

[2019-01-24 11:58] #250 closed

[2019-01-24 17:08] bietkul commented on #584
Check `isLoading` property in child component's props, it can be used to render a loader component.
https://opensource.appbase.io/reactive-manual/v3/advanced/reactivecomponent.html#child-component

[2019-01-24 17:23] alexlle commented on #445
Hi @axeff
I'm facing a similar issue.
I didn't get what dirty workaround you found. Could you explain more pls?

I use a CustomQuery for the DataSearch default component and it does NOT reset when I toggle the "clear all" filter button or when I press its own filter toggle button.

[2019-01-24 17:38] alexlle commented on #782
Finally, I got a kind of workaround.
I updated every single doc and added a **text field** based on the original date field for each doc, with the format YYYYmmdd, so the datafield for the component is this new one with format basic_date.

[2019-01-24 18:48] alexlle opened #802 "DataSearch component fails to reset input or reset own filter when a CustomQuery is used"
**Issue Type:**
bug

**Platform:**
ReactiveSearch for Web

**Description:**
When I use a customQuery inside DataSearch component, I got the expected results but If I clear its filter or use "Clear All" toggle button, the results

**Code**
<DataSearch

						className="datasearch"
						componentId="datasearch"
						dataField={["title"]}
						queryFormat="or"
						highlight={true}
						placehol

[2019-01-24 18:51] metagrover commented on #802
Please specify the version of reactivesearch you're using.

[2019-01-24 19:01] alexlle commented on #802
@metagrover
v2.16.0

[2019-01-24 19:09] metagrover commented on #802
Okay, it seems the issue is with your `customQuery` definition. Please check the query that you're firing from `customQuery` when you have no value (i.e. `null`).

Ideally, it should look like this:

[code]

[2019-01-24 19:25] alexlle commented on #802
OMG
Thank you so much! =)

[2019-01-24 19:32] #802 closed, assigned to nobody

[2019-01-24 19:37] metagrover commented on #445
Closing this issue because we support `onClear` event on SelectedFilters.

[Refer updated docs here](https://opensource.appbase.io/reactive-manual/base-components/selectedfilters.html).

[2019-01-24 19:37] #445 closed

[2019-01-25 10:50] alexandre033 opened #804 "Query by id"
Hello,

in defaultQuery, how can i request by ids to retrieve few ids. I try this :

`{
            "query": {
                "ids": {
                    "values": ['293450']
                }
            }
 }`

But it return no results. Thanks for your help

[2019-01-25 11:40] metagrover commented on #804
You can do a `terms` query on the `id` field:

[code]

Refer elasticsearch docs for more details: https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-terms-query.html

[2019-01-25 11:42] alexandre033 commented on #804
Thanks i founded the solution :)

[2019-01-25 11:43] #804 closed, assigned to nobody

[2019-01-28 08:19] Danelicious opened #806 "Connection to localhost results in a blank page"
Hello,

I am trying to connect reactivesearch to my ES instance on a localhost. When I turn off ES, I can see the whole App I created in the browser. When I run ES, I suddenly get a blank page when opening my App in the browser. Actually, it does show everything for like a ms (including the loader="Loading Results.."  - function) but afterwards the page remains blank. If I change the ReactiveBase

[2019-01-28 11:06] metagrover commented on #806
Please [refer the docs here](https://opensource.appbase.io/reactive-manual/getting-started/reactivebase.html#connect-to-elasticsearch).

[2019-01-28 11:29] Danelicious commented on #806
Well, that's where I started and according to the docs I can't find the mistake. I e.g. also changed to `http.cors.allow-origin : /https?:\/\/(localhost)?(127.0.0.1)?(:[0-9]+)?/`, which doesn't change anything (still a blank page unless I turn off ES).

[2019-01-28 11:36] metagrover commented on #806
Are you seeing any errors in console?

[2019-01-28 11:48] Danelicious commented on #806
Yes, 4 errors.

(1) Uncaught TypeError: _this.props.renderData is not a function
--> a bunch of functions are following, e.g. "at ResultList._this.renderAsListItem"

(2) Warning: ReactiveBase: Error boundaries should implement getDerivedStateFromError(). In that method, return a state update to display an error message or fallback UI.

(3) Connect.push../node_modules/react/cjs/react.development.js

[2019-01-28 11:54] metagrover commented on #806
This is not ES problem. We recently released a new version of reactivesearch (currently in alpha) which has some breaking changes from our widely used release. Instead of `onData` prop in the result component, you should be using `renderData` prop. Please [refer to this migration guide](https://opensource.appbase.io/reactive-manual/v3/advanced/migrationguide.html) and [new docs here](https://opens

[2019-01-28 11:56] metagrover commented on #806
You can also browse component-wise examples here: https://github.com/appbaseio/reactivesearch/tree/next/packages/web/examples

[2019-01-28 11:57] Danelicious commented on #806
Thank you so much! This solved my problem. I will go through the migration guides, as well as the new docs. But for now changing to `renderData` did the "trick". Cheers and great work btw!

[2019-01-28 11:58] #806 closed, assigned to nobody

[2019-01-30 14:46] metagrover opened #808 "New reactivemaps components usage documentation and upgrades"
**Issue Type:**
Enhancement

**Platform:**
Web(maps)

**Description:**
This issue is concerned with cleanup, docs and demo upgrades for `v3-alpha` - reactivemaps package. Things to do:

- [x] Update Reactive OpenStreet maps docs (We support less props there).
- [x] Update examples and demo apps in the `next` branch to use the updated map component.
- [x] Add a migration Guide for Reactivemaps pack

[2019-01-30 18:10] willopez opened #809 "onData does not support passing a React element as a template to render result items"
**Issue Type:** enhancement

**Platform:** web

**Description:** I am attempting to render a custom React element as seen in the `ssr-with-react-dom` example, specifically I would like to do pass a custom React element to the `onData` prop as seen here; https://github.com/appbaseio/reactivesearch/blob/5a4a0141b5a000ad1dcfe81f7828bbb59f3996db/packages/web/examples/ssr-with-react-dom/client/index.js

[2019-01-30 18:38] metagrover commented on #809
This example uses `ReactiveList` component, not `ResultList`. If you want to add custom React elements in the results - you should use `ReactiveList`.

Hope that helps

[2019-01-30 20:58] #809 closed, assigned to nobody

[2019-01-30 21:25] metagrover opened #810 "sortBy prop doesn't work with showLoadMore prop in list components"
**Issue Type:**
Bug

**Platform:**
Web

**Description:**
If `showLoadMore` prop is present on the list components, `sortBy` prop gets ignored and aggregation list is sorted in the ascending order.

[2019-01-30 23:05] Andy1408 commented on #419
I know this is closed, but I have the same issue and I just can't figure out how to do the proxy, the flow is exactly the same (Reactivesearch -> API Gateway -> ElasticSearch).

Also, I tried to follow your example but I really don't understand the difference between host and hostUrl (I'm really new to this ElasticSearch thing).

[2019-01-30 23:16] csepulv commented on #419
I've been using the `transformRequest` prop/method to sign AWS requests for a while. (It used to be called `beforeSend` in earlier version.)

https://opensource.appbase.io/reactive-manual/getting-started/reactivebase.html documents the prop.

I use [aws4](https://www.npmjs.com/package/aws4) to sign the request going to AWS API Gateway / Lambda proxy for the ES instance.

On the AWS API Gateway, I

[2019-01-31 16:43] #745 closed

[2019-01-31 16:45] metagrover commented on #810
This is an expected behavior. With composite aggs, sorting is supported for `asc` and `desc` orders only.

[2019-01-31 16:45] #810 closed, assigned to nobody

[2019-02-01 20:08] willopez opened #813 "Jest testing"
**Issue Type:** Enhancement

**Platform:** web

**Description:** I have searched the docs and issues looking for instructions on how to test Reactive Search and have not found anything. How can I test ReactiveSearch with Jest? It seems that a MockProvider similar to what `react-apollo` provides would be necessary. https://www.apollographql.com/docs/react/recipes/testing.html#MockedProvider

**Mini

[2019-02-02 00:56] iseabock opened #814 "More than 2 suggested categories in categorySearch?"
**Issue Type:**

I think this falls into the category of enhancement

**Platform:**

Web

**Description:**

Is there currently a way, or is it possible for you to add more than just two suggested categories in the categorySearch?

![screen shot 2019-02-01 at 4 53 55 pm](https://user-images.githubusercontent.com/994856/52157206-32978a80-2642-11e9-8bb6-d5c1cd41fe9f.png)

[2019-02-04 12:56] mauxtin opened #815 "[Vue] Object doesn't support property or method 'endsWith'"
I am currently getting a lot of this sentry exceptions. Didn't have the chance to check it further but here is the stack trace. The page loads fine as far as I can see though.

[code]

[2019-02-04 13:22] metagrover commented on #814
Sounds good. Open to accepting PRs on this.

We can maybe introduce a prop called `categorySuggestionsListSize` (open to suggestions on the prop name to make it more intuitive)

Refer the code block here for implementation details: https://github.com/appbaseio/reactivesearch/blob/next/packages/web/src/components/search/CategorySearch.js#L693-L703

[2019-02-04 13:23] metagrover commented on #813
Sounds good. Open to accepting PRs on this.

[2019-02-04 15:39] bietkul commented on #815
Hey @mauxtin,
Can you please share some more details about it?
like what are the components being used in your code
I think this line is causing the issue https://github.com/appbaseio/reactivecore/blob/master/src/actions/query.js#L421 which can be simply fixed by using a check, but still, we want to know the root cause from vue library.

[2019-02-04 15:41] rap2hpoutre opened #816 "Avoid dangerouslySetInnerHtml with highlight"
**Issue Type:**
enhancement

**Platform:**
Web

**Description:**
Reading the docs and the demos (example: https://opensource.appbase.io/reactivesearch/demos/technews/), currently, ReactiveSearch needs `dangerouslySetInnerHtml` in order to highlight result. It's a problem because text is not protected and XSS injection can occurs. Still, it could have returned something like `return <React.fragment

[2019-02-04 15:42] bietkul commented on #801
Something like that might be a better option

![image](https://i.imgur.com/jNVvxuf.png)

Reference: https://ant.design/components/pagination/

[2019-02-04 15:50] metagrover commented on #816
Sounds good. I will try it out and get back to you. Thanks for the input 👍

[2019-02-05 20:19] mauxtin commented on #815
Hi @bietkul,

This seems to occur in multiple components (saw it in MultiList and ReactiveList) but I noticed that it only happens in IE11 so I am thinking that my `babel-preset-app` might me misconfigured.

I will continue to investigate since I receive too many error notifications lately about this particular error. Would it make sense for `babel-preset-app` to be causing something like this?

[2019-02-05 22:43] bietkul commented on #815
@metagrover It seems like a known issue https://stackoverflow.com/questions/29434868/script438-object-doesnt-support-property-or-method-endswith-in-ie10
Any idea, what can be the best solution here?

[2019-02-06 00:39] gcloeval opened #818 "two main demo apps are not working"
**Issue Type:**
bug

**Platform:**
web

**Description:**
hi, just wanted to let you know the following 2 demos linked from your main github demos page dont show any results:
https://opensource.appbase.io/reactivesearch/demos/producthunt/
https://opensource.appbase.io/reactivesearch/demos/ecommerce/

Its a good library, but this can give a wrong impression, Cheers

[2019-02-06 08:51] metagrover commented on #815
We can add it as a polyfill in vue setup. Similar to https://github.com/appbaseio/reactivesearch/commit/96bcc162b955fae6a75fa2554ede89576dc9ec61.

[2019-02-06 09:07] metagrover commented on #818
Thanks for pointing it out @gcloeval. Just deployed the fix. It was a build issue and may need a hard refresh to fetch the new build.

[2019-02-06 09:07] #818 closed, assigned to metagrover

[2019-02-06 09:55] bietkul commented on #815
cool, so basically we need to handle `endsWith` too in this file.
https://github.com/appbaseio/reactivesearch/blob/96bcc162b955fae6a75fa2554ede89576dc9ec61/packages/web/src/polyfills.js
Can we move this file in reactivecore?

[2019-02-06 10:20] metagrover commented on #815
okay, let's do that.

[2019-02-06 11:07] mindis commented on #412
same issue

[2019-02-06 11:18] metagrover commented on #412
As of the cursor position issue mentioned here in this issue, it has been fixed for a while now.

---

If you still want to add a highlight query in ReactiveComponent, you can use <strike>`customQuery` (if using v3) (or)</strike> `defaultQuery` prop <strike>(or) `setQuery` method in children components</strike> based on your needs.

[2019-02-06 12:14] mindis commented on #412
Would you be able to spot why I can't get highlights in product matches in the following setup.
I'm using two separate indices "products" and "brands".
User is shown list of brands from "brands" index. If user clicks one of displayed brands a query with selected brand is executed on "products" index.
For some reason matching snippets are not highlighted.

Version: v3

### App.js

[code]

### Custo

[2019-02-06 12:28] metagrover commented on #412
You need to set the highlight query in elasticsearch. Please refer docs here: https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-highlighting.html

[2019-02-06 12:47] #815 closed, assigned to bietkul

[2019-02-06 17:20] gcloeval opened #820 "drilldown search example"
**Issue Type:**
enhacement / question about possibility
**Platform:**
reactive search web

**Description:**
Apologies if this has been explained, I couldnt find it in the documentation and all the examples demo seem to work with "global" aggegations. Is it possible with this library to enable drill-down of searches?
For example, taking your goodbooks example:
https://opensource.appbase.io/reactive

[2019-02-06 17:25] gcloeval commented on #820
oh nevermind, i see it working properly in ecommerce example
https://opensource.appbase.io/reactivesearch/demos/ecommerce/

there selecting car type affect the vehicle type count which is what i need, so I will work off that example...

[2019-02-06 17:25] #820 closed, assigned to nobody

[2019-02-06 18:06] mindis commented on #412
Still can't get it working.
Added highlight to query.  Query works from python.

[code]

I've looked at the request payload generated by reactivesearch and it seems that highlight is not passed to elasticsearch.

Request Payload if I select brand "formula"

{"preference":"ResultList"}
{"query":{"bool":{"must":[{"bool":{"must":[{"bool":{"must":[{"term":{"name_unigram_no_stemm":"formula"}},{"terms":

[2019-02-07 02:54] metagrover commented on #412
Check this codesandbox example - https://codesandbox.io/s/o7lvno2kq9 (using a dummy query here, but it should help)

[2019-02-07 10:02] mindis commented on #412
thanks, but in your example if I replace line 73 with  {data.brand} I should expect the brand in results to be highlighted, but it isn't?

[2019-02-07 10:14] metagrover commented on #412
I just added that as a dummy for highlight query usage with `defaultQuery`. Check this functional example here: https://codesandbox.io/s/y39x51lx0x

[2019-02-07 10:29] mindis commented on #412
thanks, but I expected that after clicking any brand, the results of brand to be highlighted. Example only highlights hard coded "Ford". Sorry I miss something obvious here.

[2019-02-07 10:42] metagrover commented on #412
No worries. Here you go - https://codesandbox.io/s/xlyvl0o07p

I'm now updating the relevant query from `setQuery` of the custom component - instead of the fixed query like before.

[2019-02-07 10:49] mindis commented on #412
Thanks, now it works :)

[2019-02-07 12:13] mauxtin opened #821 "Global search that return categories of books instead of books"
I was just wondering if there is a way to create a search input which will behave in the following way:

Say this example https://codesandbox.io/s/y2rvj53koz

Imagine each book has a category such as
[code]

Is there any way to create a search input that returns the categories that have products according to the search?

After showing the categories that have books related to what the users search

[2019-02-07 19:22] mauxtin opened #822 "Demo doesn't work"
Just a heads up that the demo in the docs doesn't work.

Link: https://opensource.appbase.io/reactive-manual/vue/advanced/reactivecomponent.html (at the bottom)

[2019-02-08 19:19] earnjam opened #823 "React Router history polluted by component unmounting"
**Issue Type:**
I don't know if this is a bug, or if I'm just not fully understanding how the internals work, so I apologize in advance.

**Platform:**
Reactivesearch Web

**Description:**
I'm trying to use Reactivesearch with React Router. I have some Reactivesearch list components used as filters inside of a broader `Search` component. This is rendered off a specific route to basically be the se

[2019-02-09 11:05] earnjam commented on #823
So upon further inspection, the issue just happens when `ReactiveBase` wraps multiple routes. Putting individual `ReactiveBase` components inside the locations they are needed and then just using `onQueryChange` or `onValueChange` to redirect seems to solve the problem.

[2019-02-09 11:05] #823 closed, assigned to nobody

[2019-02-10 13:52] AlloVince opened #824 "URLParams not able to work with react HashRouter"
**Issue Type:** BUG

**Platform:** Web

**Description:**

My project is using react HashRouter, so the expected URL should as `index.html#/search?q=foo`

In reactivesearch, I saw the `URLParamsProvider` hard code params from `window.location.search`, in this case,  `window.location.search` will be always empty, so URLParams not able to work with react HashRouter

In project searchkit, there is a `

[2019-02-10 17:10] ruanchaves opened #825 "Cannot connect to local Elasticsearch on CentOS 7 ( using nginx proxy_pass )"
**Issue Type:** bug

**Platform:** ReactiveSearch for Web

**Description:**

I have a ReactiveSearch app that's running perfectly on my local machine ( Ubuntu 18 ) with a local Elasticsearch database.

However, when I deploy it to a remote server ( CentOS 7 ) running the same versions of ReactiveSearch and Elasticsearch as my local machine, the app does not display any Result components. All other

[2019-02-11 02:25] metagrover commented on #824
Thanks for filing this. I will take a look at it today.

[2019-02-11 08:04] JamesMichael commented on #825
It sounds like the symptoms you are seeing are a result of SELinux.

This is enabled by default on CentOS systems. You can check if it is enabled on your system by running the `sestatus` command.

To confirm if the issues are SELinux related, try disabling SELinux (`setenforce Permissive`) and seeing if that fixes your issue.

If you wish to continue running SELinux, you'll need to configure it to

[2019-02-11 08:30] Danelicious opened #826 "React component Read-More-Less semi-working"
Hi, I am really struggling with an issue. I am trying to call data from my local ES instance, which works like a charm in general. But the descriptions I call are very long. So I want to have a "Read More" link and found this: [ReadMoreAndLess](https://www.npmjs.com/package/react-read-more-less). It works perfectly when I use it like this:

`ReadMoreAndLess
      className="read-more-content"

[2019-02-11 11:25] metagrover commented on #816
On a careful try, it doesn't seem like it will be possible:

We get the `string` data from elasticsearch with `<mark>text</mark>` tags as strings. We don't do this on front-end. And, the only way to parse this is to use `dangerouslySetInnerHtml`. If you think this can be done, we would be open to accepting PRs on this.

[2019-02-11 14:23] metagrover commented on #824
Added two new props for complete customisations:

[code]

Find docs here: https://github.com/appbaseio/reactive-manual/blob/v3/content/getting-started/ReactiveBase.md#props

[2019-02-11 15:16] metagrover commented on #824
Released in `v3.0.0-beta.1`

[2019-02-11 15:16] #824 closed, assigned to metagrover

[2019-02-11 15:26] metagrover commented on #826
If you can create a [codesandbox](https://codesandbox.io) for this, it would be a little easier to understand the issue and help you better :)

In any case, if this is about the result component, you can always use [ReactiveList](https://github.com/appbaseio/reactive-manual/blob/v3/content/docs/result-components/ReactiveList.md).

---

[I'd recommend you to start here](https://github.com/appbaseio

[2019-02-11 20:48] ruanchaves commented on #825
Actually SELinux was already disabled on my system so there's no chance that it's causing the problem.

[code]

[2019-02-11 20:51] siddharthlatest commented on #825
@ruanchaves Just like setting CORS headers in ElasticSearch, since you are proxying via Nginx, you will also need to set CORS headers for Nginx. You can check an example here: https://gist.github.com/Stanback/7145487.

[2019-02-11 21:56] bietkul commented on #822
It should work now.

[2019-02-11 21:56] #822 closed, assigned to jyash97

[2019-02-12 01:54] AlloVince commented on #824
Thanks for your quick response

[2019-02-12 02:21] philohelp commented on #824
Hi! Sorry I'm still pretty new to reactive search, what should the function return ? An object with field and selected values, like { "data_field": ["value1", "value2"...] } ?

[2019-02-12 02:39] AlloVince commented on #824
If you want to support HashRouter, could use it as follow

[code]

[2019-02-12 03:06] philohelp commented on #824
Oh thanks. Actually, using react-router, I'm trying to build a url by myself, then history.push(the_url), then see the results.
This works when I type it in my browser : `http://localhost:3000/alt?authorfilter=['Thpo']`
But this : `<Link to={{ pathname: "/alt?authorfilter=['Thpo']" }}>Hello</Link>` or this : `history.push("/alt?authorfilter=['Thpo']")` is transformed into this encoded thing :` htt

[2019-02-12 03:40] AlloVince commented on #824
I think the easiest way is not build url params your self, open all components `URLParams`, then just copy the url generated by components :)

[2019-02-12 03:48] ghost opened #827 "Using JSX for ToggleButton labels causing URLParams to return null"
**Issue Type:**
Bug

**Platform:**
Web

**Description:**
If you use JSX components from the labels in ToggleButtons it breaks the URL parameter
`?ShapeToggle=[null,null,null]`
**Screenshots:**

**Minimal reproduction of the problem with instructions:**
https://codesandbox.io/s/4wp8mm20k7

**Reactivesearch version:**
2.16.1

[2019-02-12 07:24] Danelicious commented on #826
@metagrover Thanks for your response and sorry that I didn't make myself clear :). To make things easier, I stick with the example I learned from: [GitXplore](https://codesandbox.io/s/github/appbaseio-apps/gitxplore-app/tree/master/)  by @divyanshu013   😄

In the file `Result.js ` I would like to apply the above mentioned component "ReadMoreAndLess" to line 24:
`<div className="m10-0">{data.descri

[2019-02-12 08:04] metagrover commented on #824
If you are using the `getSearchParams`, you will also have to use `setSearchParams` to set the URLParams with the desired format.

[2019-02-12 08:13] metagrover commented on #826
Okay, I see. You should be able to customise the `line 24` as:

[code]

If that's not working, I'd recommend you to check the final-css getting applied to the `div` container and `ReadMoreAndLess` injected DOM - you will get some clues from there.

---

If this doesn't help, shoot a link to codesandbox here and I will dive into it :)

[2019-02-12 08:41] Danelicious commented on #826
Thank you. Actually, that is exactly what I tried and it didn't work for me. However, when I apply it to the existing example in codesandbox (thanks for the hint), it works. See [here](https://codesandbox.io/s/n0z29rj21m). So I assume it must have something to do with the data structure in ES!?

[2019-02-12 08:44] metagrover commented on #826
Possibly. Check if you are getting a proper string. You can easily browse your ES data with [dejavu](http://dejavu.appbase.io/).

[2019-02-12 09:01] Danelicious commented on #826
Ok, this is weird. It only works in one case for me. I have 3 fields: title, title_alt and description. All are mapped like this:

`"title" : {
            "type" : "text"
          },
          "title_alt" : {
            "type" : "text"
          },
 "description" : {
            "type" : "text"
          }`

I get my data by a crawler and feed it directly into ES. When there is no "title_alt" (

[2019-02-12 09:03] metagrover commented on #826
Happy to help!

[2019-02-12 09:03] #826 closed, assigned to nobody

[2019-02-13 10:41] alexandre033 opened #828 "renderAllData return empty array"
I use renderAllData but i have a problem, it return 2 empty array then an array with my data.. So i have at the first try an undefined.. It is possible to use async await on renderAllData ?

Thanks a lot

[2019-02-13 10:54] metagrover commented on #828
Since `renderAllData` is a simple callback prop, not a promise, you won't be able to use it with `async-await`. You can possibly use boolean checks to identify the truthy results and then render the desired output.

[2019-02-13 15:47] alexandre033 opened #830 "Infinite scroll return the same 10 results"
Hello,
I use the infinite scroll and in the result (reactivelist + renderAllData) there is only the 10 first elements which are shown again and again.. For testing i use the appmovie data base.
I try to use stream={true} but nothing change.

Thanks for your help

[2019-02-13 16:25] metagrover commented on #830
Thanks for filing this. Fixed and released in `v3.0.0-beta.3`.

[2019-02-13 16:25] #830 closed, assigned to metagrover

[2019-02-14 05:41] ghost opened #831 "DynamicRangeInput"
**Issue Type:**
Feature request/question

**Platform:**
Web

**Description:**
I need the functionality of the DynamicRangeSlider: to show the highest and lowest values.
And the functionality of the RangeInput: Modify the highest and lowest values by entering a value into the input.

Is there a way that this can be done with the existing components or if not It would be awesome if there could be on

[2019-02-15 06:55] jyash97 commented on #827
Hey @george-dotdev

This is expected behavior since we don't support JSX in `label`, we can only pass `string` to the label. Read more [here](https://opensource.appbase.io/reactive-manual/base-components/togglebutton.html#props).

 If you want custom control, you can create a [custom component](https://opensource.appbase.io/reactive-manual/advanced/reactivecomponent.html).

[2019-02-15 10:33] Danelicious opened #832 "Passing tags/keywords to SelectedFilters while using them as tags in ReactiveList"
**Issue Type:**
Not sure if bug or a migration issue.

**Platform & Version:**
ReactiveSearch Web 3.0.0-beta-3

**Description:**

I am trying to replicate[ GitXplore](https://codesandbox.io/s/github/appbaseio-apps/gitxplore-app/tree/master/). Everything works as expected, except for the tags/topics in ReactiveList. Usually you can click on a topic/tag and the chosen tag will be passed to the Selec

[2019-02-15 10:41] metagrover commented on #832
This is due to the changes in controlled and uncontrolled components introduced in v3. Instead of `defaultSelected` (as per v2) or `defaultValue` (as per v3), you will have to use `value` props (i.e. controlled behavior) for the component to enable this.

Read more about controlled components [here](https://reactjs.org/docs/forms.html#controlled-components) and in [our migration guide as well](htt

[2019-02-15 10:41] #827 closed, assigned to jyash97

[2019-02-15 10:52] Danelicious commented on #832
Thank you for the clarification. It works now!

[2019-02-15 10:52] #832 closed, assigned to nobody

[2019-02-15 17:30] philohelp opened #833 "ReactiveComponent - Having a hard time filtering an array of ids"
**Issue Type:**
Rather an enhancement (or did I miss something)

**Platform:**
ReactiveSearch for Web

**Description:**
I'm trying to filter an array of ids (I have an independant collection of "subscribed posts" which contains the ids of the Posts I wish to query). Currently I have : solution 1 that semi works and solution 2 that works great but on the grounds of an ugly hack.
Solution 1 : filter

[2019-02-15 23:33] willopez opened #834 "Extra request on page load"
**Issue Type:** Bug

**Platform:** Web

**Description:**

I followed the example here: https://github.com/appbaseio/reactivesearch/tree/v2.16.1/packages/web/examples/ssr-with-react-dom to implement SSR in my app. The app correctly renders on the server and it's hydrated on the client. However, once the page has loaded, an extra `match_all`(the default query) request is fired, which is unnecessary

[2019-02-16 11:35] mauxtin opened #835 "[Vue] Apply custom query to all components"
Following up on #715 and probably #726, the solution provided for my issue (#715) solved it up to a point however I can see the queries being fired to not include the customQuery ([see sandbox](https://codesandbox.io/s/94l1mvwxqy)).

This causes a problem when the dynamic-range-slider is loaded.

The first time the page loads this query runs first:
[code]
Notice that it doesn't include the customQ

[2019-02-18 09:23] AlloVince opened #836 "Consider show count numbers for SingleRange"
**Issue Type:** enhancement

**Platform:** web

**Description:**

I'm a searchkit user, I'm tring to migrate my searchkit project into reactivesearch. reactivesearch is much faster than searchkit!

However, the SingleRange has no count number is not same as searchkit, I think show the aggs of each range, will be a necessary feature (at least its very useful for me and my users), since SingleList c

[2019-02-18 09:37] AlloVince opened #837 "Hoping improvements of RangeSlider"
**Issue Type:** enhancement

**Platform:** Web

**Description:**
As I mentioned in #836, I'm tring to migrate from searchkit to reactivesearch,  the searchkit has some good features I think RangeSlider is really needed

First I think when sliding, the range of `start`, and the `end`, should allow same value, it is a useful search, it not allow same value, I have to add a new SingleRange component

[2019-02-18 09:40] metagrover commented on #837
@jyash97 didn't we add this?

[2019-02-18 09:49] siddharthlatest commented on #836
This can done using a [Range Aggregation](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-range-aggregation.html).

[2019-02-18 09:57] AlloVince opened #838 "Consider add an global interceptor before render UI component with data"
**Issue Type:** enhancement

**Platform:** web

**Description:**

Hi, me again :P

Also here is another useful feature in searchkit:

In my project, data not only store in Elastic,  so I need to add some extra fields or modify some values before render components, in searchkit I could do it by overwride parent class:

[code]

I think it will be helpful if there has global interceptor support :)

[2019-02-18 10:16] jyash97 commented on #837
Hey @AlloVince
You can show tooltip by using prop `tooltipTrigger="always"`. Check this example [here](https://codesandbox.io/s/23llp4kw1r).

[2019-02-18 10:31] metagrover commented on #838
We do support `transformRequest` and `transformResponse` props on `ReactiveBase` component, so that can definitely work here. [Find docs here](https://opensource.appbase.io/reactive-manual/v3/getting-started/reactivebase.html#props).

---

I also want to understand this from developer experience standpoint. I'd really appreciate if you give this a try and provide us with any feedback on this spec

[2019-02-18 10:33] AlloVince commented on #837
Great! it works. it is better to add this param to docs and typescript definition, I didn't find it in both.

Also please consider my start/end suggestion, it is also an important feature.

[2019-02-18 13:16] bietkul commented on #726
Since we have added the support for `customQuery` & `defaultQuery` props in all data-driven components, there is no need to have `DataController` component anymore.
https://opensource.appbase.io/reactive-manual/vue/advanced/customquery.html

[2019-02-18 13:16] #726 closed

[2019-02-18 13:45] jyash97 opened #839 "Support custom icons in RatingsFilter"
**Issue Type:**
Enhancement

**Platform:**
Web

**Description:**
Add support for custom icons in `RatingsFilter`.

[2019-02-18 14:24] emrealper opened #840 "onValueSelected only accepts 1 argument"
**Platform:**

onValueSelected (DataSearch component) only takes "value" as an argument but "cause" and "source".

Here is the usage with onSuggestion. Value is ok but cause and source are undefined.

[code]
![githb](https://user-images.githubusercontent.com/388829/52957122-069a3a00-33a2-11e9-9a38-20ebdae0db70.png)

[2019-02-18 15:21] psorensen opened #841 "List component style bug: longer elements labels that wrap"
**Issue Type:**
Bug

**Platform:**
Web

**Description:**
When elements in list components wrap to next line, styling is off.

**Screenshots:**
![screen shot 2019-02-18 at 7 11 06 am](https://user-images.githubusercontent.com/6152801/52960087-d4aab880-334c-11e9-9c54-a52b63ab7086.png)

**Minimal reproduction of the problem with instructions:**
[code]

**Reactivesearch version:** 2.16.1

**Browser:**

[2019-02-18 16:05] metagrover commented on #840
Can you please specify the version and variant of reactivesearch (react/react-native/vue)?

[2019-02-19 06:35] AlloVince commented on #838
thanks for quick response. I tried `transformResponse` and it works, but it not very easy (or clear) to use.

In searchkit case, because all components will send only ONE request to elastic, so if I override the
response will be clear that, the response will share to all components

In reactivesearch, because components are independent, if we have 3 components, will send 3 requests and got 3 Elast

[2019-02-19 06:40] metagrover commented on #838
Thanks for the input. I think that makes a lot of sense. We will improve this spec for better usability 👍

[2019-02-19 06:41] AlloVince opened #842 "ResultList.onResultStats not work in 3.0.0-beta.3"
**Issue Type:** bug

**Platform:** web

**Description:**
As title, I set onResultStats as

[code]

but the UI still use default message

[2019-02-19 06:44] metagrover commented on #842
The prop is now called `renderResultStats`. [Refer docs here](https://opensource.appbase.io/reactive-manual/v3/result-components/resultlist.html#props).

[2019-02-19 06:45] metagrover commented on #842
`on<Event>` props are now event callbacks in v3. Custom rendering is supported by `render<>` props.

[2019-02-19 06:48] AlloVince commented on #842
Got it. docs and typescript definition require update

[2019-02-19 06:55] metagrover commented on #842
Both seem fine to me:

TS definitions: https://github.com/appbaseio/reactivesearch/blob/1aa9dcc711a497c00bf6cd0ec90985a6525bab16/packages/web/src/components/result/ReactiveList.d.ts#L19

Docs: Make sure you're checking v3 docs:

<img width="306" alt="image" src="https://user-images.githubusercontent.com/9116042/52995677-54b24a80-3441-11e9-9ee3-e28a15cc9e03.png">

[2019-02-19 07:00] AlloVince commented on #842
For me, it looks like docs not updated yet on website
https://opensource.appbase.io/reactive-manual/v3/result-components/resultlist.html

<img width="968" alt="2019-02-19 2 58 03" src="https://user-images.githubusercontent.com/176019/52995913-f1cbae00-3456-11e9-93bb-e8476f591b8f.png">

[2019-02-19 07:04] metagrover commented on #842
@lakhansamani can you check on the `renderResultStats` and `onResultStats` docs please? Feel free to close this issue after updating the docs 🐱

[2019-02-19 07:06] lakhansamani commented on #842
Sure 👍

[2019-02-19 07:06] AlloVince commented on #842
sorry, my misunderstanding, renderResultStats is a new param, not a replacement of onResultStats

[2019-02-19 07:07] #842 closed, assigned to nobody

[2019-02-19 10:08] metagrover opened #843 "RFC: Better specs for render props for result components"
**Issue Type:**
RFC

**Platform:**
All

**Description:**
With our current spec, we have introduced a set of unintended opinions into the component rendering control. Given how `loader` prop works, it is hard for a user to take control of loader rendering. For instance, some users may want to hide the results when the results are loading, or some may not. Again, the loader behavior is very ambiguou

[2019-02-19 10:19] lakhansamani commented on #843
Along, with the above specs, we can also add `stats` and make pagination and infinite loading optional props, this can help developers to implement their own pagination component or scroll logic, thus allowing them to customize ui completely

[2019-02-19 10:20] metagrover commented on #843
Absolutely, that sounds good. This will further improve the rendering control.

[2019-02-19 10:23] metagrover commented on #837
hey @AlloVince, we support rendering start/end values on the range slider.

Can you expand on the issue you're seeing with start/end?

[2019-02-19 10:26] lakhansamani commented on #843
Also, we should consider using [Render Prop](https://reactjs.org/docs/render-props.html) that way developer can use this data inside `ReactiveList` children

[code]

[2019-02-19 10:27] bietkul commented on #843
Similar to the Query component from Apollo Client
https://www.apollographql.com/docs/react/essentials/queries.html#basic

[2019-02-19 10:35] metagrover commented on #834
Thanks for filing this. I will look into this!

[2019-02-19 10:37] metagrover commented on #828
Closing due to inactivity. Feel free to reopen if you have any further questions.

[2019-02-19 10:37] #828 closed, assigned to nobody

[2019-02-19 10:39] metagrover commented on #825
Closing due to inactivity. Feel free to reopen if you have any further questions.

[2019-02-19 10:39] #825 closed, assigned to siddharthlatest

[2019-02-19 10:39] #412 closed

[2019-02-19 13:38] AlloVince commented on #837
What I want is allow start and end with same value, for example, here is a Year slider, range from [2002, 2019]

In searchkit component, I could slide to Year range [2019, 2019]

<img width="302" alt="2019-02-19 9 30 06" src="https://user-images.githubusercontent.com/176019/53018947-9a493480-348e-11e9-849e-4771d6d63130.png">

But in reactivesearch, the Year range could only be [2018, 2019],  [2019

[2019-02-19 13:41] metagrover commented on #837
Got it! @jyash97 can you take a look at this?

[2019-02-19 23:32] nathan-ca commented on #841
I'm not sure if it's the same bug. For a long data list, I'm trying to limit the height of this SingleDataList, so it will show a scroll bar for user. It's not working for whatever css I tried.

[2019-02-20 00:34] willopez commented on #513
on the other hand, this update breaks the SSR on sites that are not using NextJS. I am working with a server side rendered app with SSR and now the site does set the initial search state on the server. I see this error: `REACTIVESEARCH - could not parse the search state for componentId`

[2019-02-20 00:35] willopez commented on #834
More details: The issue is related to setting the initial search value on the server. No extra request will be fired if the default `match_all` query is fired. However, when an initial search value is provided, here: https://github.com/appbaseio/reactivesearch/blob/v2.16.1/packages/web/examples/ssr-with-react-dom/server/server.js#L95 an extra request is fired when the page loads.

[2019-02-20 00:41] willopez commented on #513
currently "working around" it by adding quotes to the search string 😕

[2019-02-20 01:33] nathan-ca opened #845 "SingleDropdownList query on nested field generate incorrect query"
**Issue Type:**

bug

**Platform:**

web

**Description:**

SingleDropdownList component generate incorrect query

**Screenshots:**

**Minimal reproduction of the problem with instructions:**

Here is the component definition (ommiting other fields):
<SingleDropdownList
              dataField="userIdentity.arn"
              nestedField="userIdentity"
.../>

Generated http call payload is:
{"quer

[2019-02-20 06:24] metagrover commented on #841
@nathan-ca that sounds like a css specifity issue. Please inspect the css application order in your browser to fix that behavior

[2019-02-20 06:32] metagrover commented on #834
Is this happening on v3.x?

[2019-02-20 16:36] ThunderDev1 commented on #670
@metagrover I would also be interested in a convenient way to get the selected filter values other than `URLParams` :wink:

At the moment, we are tracking the query in the transformRequest function from ReactiveBase, then passing it as defaultQuery to the ResultList component. It works well enough for displaying only a result, but now we need to save the search filters so we can display it at a la

[2019-02-20 17:00] ThunderDev1 opened #847 "Updating MultiList defaultValue does not trigger re-render"
**Issue Type:** Question
**Platform:** Web
**Reactivesearch version:** 3.0.0-beta.3

**Description:**

I need to load a default value asynchronously, however in the following example, the MultiList is not updated. Is this the normal behaviour ? Thanks :smile:

[code]

[2019-02-20 17:07] willopez commented on #834
I experienced the same behavior on v2.x, and I am now an v3.x and I see the same behavior.

[2019-02-22 11:11] jyash97 opened #848 "web: renderNoResults parent component in ReactiveList"
**Issue Type:**
Bug

**Platform:**
Web

**Description:**
When we pass a `div` in renderNoResults in ReactiveList we get invalid DOM nesting error because of this line https://github.com/appbaseio/reactivesearch/blob/next/packages/web/src/components/result/ReactiveList.js#L500

**Screenshots:**
![image](https://user-images.githubusercontent.com/22376783/53238851-7705cb80-36c0-11e9-923a-51ee5a1931f9

[2019-02-23 06:36] jyash97 commented on #843
We should also do this in DataSearch and CategorySearch. Consider this case:
If we use renderAllSuggestions, we want loader when the suggestions are loading and an empty state when there are no suggestions. In the current situation, I see both loader and empty state.

Preview:
![image](https://user-images.githubusercontent.com/22376783/53282832-5cd0f980-3763-11e9-8ba1-ec437eb99060.png)

[2019-02-24 05:38] metagrover commented on #848
or we can always render a `div`?

[2019-02-24 05:47] metagrover opened #849 "Add support for renderAllItems in the list components"
**Issue Type:**
Enhancement

**Platform:**
Web

**Description:**
This enhancement will allow us to perform data transformation and rendering at one place - which can significantly improve the development experience in some cases.

Please note that we will have to expose `itemProps` for individual list items to avail click handlers and other prop injections that the library does to every item in th

[2019-02-24 13:45] danielsnider opened #850 "Add documentation example for full-text search across ALL fields of elastic document type"
**Issue Type:**
enhancement

**Description:**
Searching across all fields of a document type seems like a common task. Eventually I figured out how to do it but it took a while and I think it would be helpful to add documentation on the [DataSearch Component page](https://opensource.appbase.io/reactive-manual/search-components/datasearch.html).

Here's a working minimal implementation for how to s

[2019-02-25 10:59] ThunderDev1 commented on #847
I also tried using `defaultQuery` instead

[code]

The `aggs` part is working, but the query part seems to be ignored.
Would love to have your input on this problem ;)

[2019-02-25 11:00] metagrover commented on #843
Thoughts on this:

[code]

[2019-02-25 11:04] metagrover commented on #843
DataSearch suggestions rendering API:

[code]

[2019-02-25 11:07] metagrover commented on #847
Yes, it's an expected behavior. You should use `value` prop if you wish to update the component value dynamically.

Read more about controlled and uncontrolled behavior here: https://opensource.appbase.io/reactive-manual/v3/advanced/componentsusage.html

[2019-02-25 11:08] metagrover commented on #847
This migration guide will come handy: https://opensource.appbase.io/reactive-manual/v3/advanced/migrationguide.html

[2019-02-25 11:23] lakhansamani commented on #843
Soon the render props will be replaced by `hooks`, as it can reduce lot DOM hierarchy

[2019-02-25 11:28] metagrover commented on #843
I agree, we will discuss that abstraction after the v3 stable release - since it will be non-breaking. But for now, I strongly feel this API is very flexible and puts the developer in control of what and how things get rendered.

Above all, this is very commonly used and requires very less intrusion from library docs/guidelines.

[2019-02-25 11:30] lakhansamani commented on #843
Yes, this change is great, and it will improve the developer experience 👍

[2019-02-25 14:09] #847 closed, assigned to nobody

[2019-02-26 11:56] lakhansamani opened #852 "`defaultQuery` in MultiList component is not getting executed"
**Issue Type:**
bug

**Platform:**
ReactiveSearch for Web

**Description:**
In Aggregation network request, `defaultQuery` prop value is not appended.

**Minimal reproduction of the problem with instructions:**
https://codesandbox.io/s/32koxx9n0p?fontsize=14

**Reactivesearch version:**
`3.0.0-beta.4`

**Browser:**
all

[2019-02-27 10:09] jamiguet opened #854 "Spurious wrapping in ResultList default query"
**Issue Type:**
BUG

**Platform:**
Seen on Web

**Description:**
The default query as passed to a *ResultList* gets wrapped in 2 "bool: must:" groups before it gets posted.

**Screenshots:**
This has no impact on the rendering of the result

**Minimal reproduction of the problem with instructions:**
Set up the reactive list sandbox.
Modify it so that the reactive list has a default query by adding

[2019-02-27 10:20] metagrover commented on #854
In this context, additional wraps of `bool: must:` doesn't really affect the results, does it? 🤔

[2019-02-27 13:37] jamiguet commented on #854
Not it doesn't but makes the requests messy and harder to read debug /
decypher.
The query is the same, but there is no need for the extra wrapper unless it
is extremely hard to fix.

On Wed, Feb 27, 2019 at 11:20 AM Deepak Grover <notifications@github.com>
wrote:

--
Juan Amiguet Vercher, Data Scientist
Unit8 SA - Digital natives
*http://unit8.co/ <http://unit8.co/>  m: *+41 7794867913

[2019-02-27 15:37] bietkul commented on #719
You can find the updated docs [here](https://opensource.appbase.io/reactive-manual/vue/result-components/reactivelist.html).

[2019-02-27 15:37] #719 closed

[2019-02-27 16:15] metagrover opened #855 "defaultQuery support in search component"
**Issue Type:**
Enhancement

**Platform:**
All

**Description:**
This will enable customising only the suggestions query, and not the component's search query. With our current behavior, we use the same query to fetch suggestions and same query to fire the search query after the suggestion is selected - which can be updated via `customQuery`.

This will essentially enable users to customise both t

[2019-02-27 16:16] metagrover commented on #854
The multiple `bool-must` blocks could be because of your `react` prop being an `array` i.e. `react={{ and: ['component-x'] }}`. Can you check if that's the case?

[2019-02-27 16:26] scotthooker opened #856 "showSearch filter should ignore diacritics"
**Issue Type:**
enhancement

**Platform:**
Web

**Description:**
showSearch filter should ignore diacritics

[2019-02-28 07:28] metagrover commented on #845
This fix will be released in `3.0.0-beta.8`. Thanks for the patience on this!

[2019-02-28 07:28] #845 closed, assigned to metagrover

[2019-02-28 09:36] metagrover commented on #513
@willopez Fixed the parsing for non-next.js SSR apps. You will no longer need to add extra quotes to the search values. Fix will be out in `3.0.0-beta.8`.

[2019-02-28 09:36] #513 closed

[2019-02-28 09:40] metagrover commented on #834
This has been possibly fixed (unable to replicate now) with 1b4faeffeb566a983c661e9c4d938a896ed18232

Please check once the new release `v3.0.0-beta.8` is out (~later today).

Feel free to reopen if you still face the issue.

[2019-02-28 09:41] metagrover commented on #353
Support for necessary components was added.

Related: https://github.com/appbaseio/reactivesearch/issues/855

[2019-02-28 09:41] #353 closed

[2019-02-28 09:48] metagrover commented on #856
Can you add more details to this issue with relevant example usage? I'm not completely sure about the context here.

[2019-02-28 10:18] metagrover commented on #670
Hey everyone 👋

Thanks for the patience on this. We've added support for `onChange` prop on `SelectedFilters` component to support this. You can simply do:

[code]

Shape of `selectedValue`:

[code]

This will be out in `v3.0.0-beta.8`.

[2019-02-28 10:18] #670 closed

[2019-02-28 10:19] #661 closed

[2019-02-28 10:20] metagrover commented on #678
Works now. Thanks!

[2019-02-28 10:20] #678 closed

[2019-02-28 10:24] metagrover commented on #600
Verified with `v3.0.0-beta.7`. Works!

[2019-02-28 10:24] #600 closed

[2019-02-28 10:29] scotthooker commented on #856
If you index Elasticsearch with a filter such as

`        'my_ascii_folding' => [
          'type' => 'asciifolding',
          'preserve_original' => TRUE,
        ],`

The search results from submitting a search rightly ignore diacritics such as ö or ô but the list filters or auto complete suggestions do not.

On reactivesearch filters that appear with showSearch they rightly ignore case but sh

[2019-02-28 10:56] metagrover commented on #838
`transformResponse` spec has been improved to avail `componentId`s with individual responses for every components. It will be released in `v3.0.0-beta.8`.

Find docs here: https://github.com/appbaseio/reactive-manual/blob/v3/content/getting-started/ReactiveBase.md#props

[2019-02-28 10:56] #838 closed, assigned to lakhansamani

[2019-02-28 12:15] Jokinen opened #857 "onValueSelected prop's source argument changes based on which dataField value was used for option's query"
**Issue Type:**

Enhancement/Bug depending on your view on the issue

**Platform:**

Web

**Description:**

In `<DataSearch />` in the `onValueSelected(_, _, source)` prop the `source` parameter varies based on `dataField` values when you could expect the source to always return the root entity.

**Minimal reproduction of the problem with instructions:**

Sorry, don't know the lib well enough to s

[2019-02-28 12:50] metagrover commented on #857
This seems like a bug. `source` should always reflect what elasticsearch returns.

[2019-03-01 10:37] mauxtin opened #859 "[Vue] Vue-emotion dependency breaks reactivesearch after version 0.4.28"
**Issue Type:**
Bug

**Platform:**
Vue

**Description:**
After running `yarn upgrade` `vue-emotion` has been updated to version 0.4.28 and shows this warning when running `yarn run dev`
[code]

As a result, the reactivesearch components **no longer work** _at all_.

Browser error:
[code]

[2019-03-01 12:19] mauxtin commented on #859
Adding to this, `yarn install` shows this
[code]

[2019-03-01 14:04] #790 closed, assigned to nobody

[2019-03-01 14:05] metagrover commented on #665
@jyash97 can you verify this and close if it works properly?

[2019-03-01 14:05] #667 closed

[2019-03-01 15:07] jrock17 opened #860 "Include index/meta fields in DataSearch"
**Issue Type:**
Enhancement

**Platform:**
Web

**Description:**
Currently only source fields are exposed in DataSearch. It would be useful to also have access to the _index when searching across multiple indexes. That way we can apply conditional logic or formatting based on the index each item is returning from. ReactiveList currently gives you access to _index and _type but DataSearch does not.

[2019-03-01 17:38] joergac commented on #859
I had some weird problems after deploying an updated yarn.lock. Sadly just reverting the yarn.lock commit did not work. Even with the reverted yarn.lock I was getting errors..

Now I am using this during deployment which seems to work.
[code]

Hope this helps for anyone having a similar problem just a couple of hours before the weekend 😃

[2019-03-03 00:32] jrock17 opened #861 "MultiDataList/ToggleButton loses defaultValue on re-render"
**Issue Type:**
Bug

**Platform:**
Web

**Description:**
When specifying defaultValue on MultiDataList or ToggleButton, it works on the first load. But if you change the search term in DataSearch, then the defaultValues are lost and resets to an all unselected state.

These buttons should retain their previous state at best, and at worst reset to the defaultValues on a new search.

**Minimal repro

[2019-03-03 08:55] metagrover commented on #861
You should use `value` prop if you want controlled behavior. Refer controlled vs uncontrolled approach docs here - https://opensource.appbase.io/reactive-manual/v3/advanced/componentsusage.html

[2019-03-03 08:55] #861 closed, assigned to nobody

[2019-03-03 13:06] brod-dotdev commented on #491
ola @george-dotdev 👋

@metagrover Also interested in a roadmap and updated documentation for library development purposes - for the past hour or so I've been trying to figure out what appbaseio package I should be working with to add a click handler for markers in reactivemaps, I assumed [@appbaseio/reactivemaps](https://github.com/appbaseio/reactivemaps) but stumbled on a few issues with the sour

[2019-03-03 18:12] metagrover commented on #491
Hi @brod-dotdev, we maintain `reactivemaps` in this monorepo along with reactivesearch for react, vue and react-native. You can find the maps package implementation here - https://github.com/appbaseio/reactivesearch/tree/next/packages/maps

And, you can find [Reactivemaps docs here](https://opensource.appbase.io/reactive-manual/v3/map-components/reactivegooglemap.html).

---

We used to maintain r

[2019-03-04 01:34] bietkul commented on #849
@metagrover Should we implement it now or just wait for the changes proposed in #843?

[2019-03-04 05:47] metagrover commented on #849
@bietkul We can go ahead with this, and follow the spec at #843. What do you think?

[2019-03-04 09:34] srujanponnur commented on #185
hello,

        I was facing the same problem when the size >1000 , I face a lot of lag and you suggested to use react-virtualized can you please elaborate on it's usage with reactiveSearch as I couldn't find necessary resources any help would be appreciated.

Thank you.

[2019-03-04 09:39] metagrover commented on #185
Hi @srujanponnur, since we support fully customizable rendering controls, you can use `renderAllData` (if you're using v3.0 `beta`) or `onAllData` (if using v2.x) prop in `ReactiveList` component to integrate `react-virtualised`.

We do this in https://github.com/appbaseio/dejavu so you can refer its source code if that helps.

[2019-03-04 09:42] metagrover commented on #185
We have decided not to support this on the library level since we don't want to force any rendering opinions. You can easily use the render props of your Reactivesearch components to customize the rendering experience suited for your needs.

Cheers

[2019-03-04 09:42] #185 closed

[2019-03-04 09:44] srujanponnur opened #862 "hello,"
**Issue Type:**

**Platform:**

**Description:**

**Screenshots:**

**Minimal reproduction of the problem with instructions:**

**Reactivesearch version:** x.y.z

**Browser:** [all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Safari | iOS XX UIWebView | iOS XX WKWebView ]

**Anything else:**

[2019-03-04 09:44] srujanponnur opened #863 "hello,"
**Issue Type:**

**Platform:**

**Description:**

**Screenshots:**

**Minimal reproduction of the problem with instructions:**

**Reactivesearch version:** x.y.z

**Browser:** [all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Safari | iOS XX UIWebView | iOS XX WKWebView ]

**Anything else:**

[2019-03-04 09:44] srujanponnur opened #864 "react-virtualized usage for multi dropdown list components"
**Issue Type:**

Enhancement
**Platform:**

Web
**Description:**

can you please provide the usage of the package react-virtualized for the multi or single drop down list as mentioned in issue #185
**Screenshots:**

**Minimal reproduction of the problem with instructions:**

**Reactivesearch version:** x.y.z

**Browser:** [all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome

[2019-03-04 09:53] metagrover commented on #864
We currently do not support rendering "all items" in the list components. This will be supported via #849

Once that supported it is added, you can utilise `renderAllItems` prop to take control of rendering with `react-virtualised`.

[2019-03-04 09:54] #862 closed, assigned to nobody

[2019-03-04 09:54] #863 closed, assigned to nobody

[2019-03-04 09:59] alexandre033 opened #865 "onChange on SelectedFilter"
Hi, I saw the new feature in the beta 8 that allows us to save the selected value with the selectedFilter. The onChange method give an object, but how can we reuse this object to pre-fill the multilist component ?

thanks a lot for your help :smile:
Good job for this lib :+1:

[2019-03-04 10:09] metagrover commented on #865
The object via `onChange` will give you the current state of selected-values for the active components - which you can save for later use.

Say if you wish to use the saved state, you can:

- use it in combination with `defaultValue` or `value` prop on the desired multilist component.

- use it with ssr via `searchState` param in `initReactivesearch()` method

- use it to set the urlparams with ne

[2019-03-04 10:09] #865 closed, assigned to nobody

[2019-03-04 10:09] mauxtin commented on #859
@joergac Will try your solution however this basically prevents us for updating our dependencies _at all_. Unless you want to dig into yarn.lock and remove any related changes, this shouldn't be anything but a temporary solution. 😕

[2019-03-04 17:05] willopez commented on #834
I still see this issue in `beta.8` reproduced in this repo: https://github.com/willopez/ssr-with-react-dom. I believe this issue should be reopened.

[2019-03-04 17:06] metagrover commented on #834
Sure, will take a look. Thanks!

[2019-03-05 06:57] ghost commented on #770
I forgot why I wanted this I probably found a better way of doing it.

[2019-03-05 06:57] #770 closed, assigned to nobody

[2019-03-05 13:36] alexandre033 opened #867 "Pre-fill components with defaultQuery"
Hi :),
i just need to know if it's possible to pre-fill the component compared to a reactiveList defaultQuery ? I save the query "{preference: ReactiveList}" so when i call this query the results items is perfect, it fits well with the selected filters, but the range component and multilist component are not up to date with the reactive list render. There is a way to save the query, reuse it and b

[2019-03-05 13:41] joergac commented on #724
@mauxtin Has this been fixed? Couldn't find a demo with nuxt.js in the docs

[2019-03-05 13:49] joergac opened #868 "Vue demos doesn work"
Just found this package and it seems really nice. The ui is great! - Thanks for open sourcing this.

It seems like every vue demo I checked shows this error
[code]

https://opensource.appbase.io/reactive-manual/vue/list-components/multilist.html#demo
https://opensource.appbase.io/reactive-manual/vue/list-components/singlelist.html#demo
etc.

[2019-03-05 16:19] bietkul commented on #868
Fixed it.

[2019-03-05 16:19] #868 closed, assigned to bietkul

[2019-03-06 04:04] wehrlock commented on #859
My temporary fix was to manually install the vue-emotion peer dependency with a fixed version.

`npm install --save-exact vue-emotion@0.4.2`

And also manually install the emotion peer dependency.

`npm install emotion@9.2.0`

[2019-03-06 05:23] metagrover commented on #859
@bietkul can you please roll out a release fixing the deps?

[2019-03-06 11:10] srujanponnur commented on #864
can I please know when would this prop be available for usage as I have an immediate requirement,
Thank you.

[2019-03-06 12:21] alexandre033 opened #869 "Unexpected end of JSON input with url on reactiveBase"
Hello,
I connect my reactive serach to a local elastic index on port 9200 and i have this error :
SyntaxError: Unexpected end of JSON input

Did you have an idea of what happened ?

[2019-03-06 13:59] alexandre033 commented on #869
When i use postman to try my GET request with this query
[code]
I retrieve all my data, but in my reactive search project i still have this SyntaxError

[2019-03-06 22:12] willopez commented on #834
thanks @metagrover, and any update on this issue?

[2019-03-07 02:09] jrock17 opened #870 "ReactiveBase - Allow relative url"
**Issue Type:**
Enhancement

**Platform:**
Web

**Description:**
I've got a proxy setup for my url value for security purposes. But the url param will only let me use a full url.

Example:
   url="http://localhost:8081/searchProxy"

I want to be able to just use:
   url="/searchProxy"

This way I can use the same url on local, staging, and production and my relative environment will use the correc

[2019-03-07 05:57] ghost opened #871 "Non linear steps"
**Issue Type:**
Enhancement

**Platform:**
Web

**Description:**
I would like the ability to increment then steps of the slider in a non linear way. For example on a slider ranging from 1 to 1000. I want like 1 - 500 to take up 85% of the width of the slider because this is where most of the values are.

See an example here:
https://refreshless.com/nouislider/slider-values/#section-non-linear-step

[2019-03-07 06:50] metagrover commented on #870
Open to accepting PRs on this.

[2019-03-07 06:51] metagrover commented on #834
Hey @willopez I will try to squeeze in some time early next week to look into this. Thanks for patience. We really want to get this right from our end.

[2019-03-07 06:52] metagrover commented on #871
Looks good! Open to accepting PRs on this.

[2019-03-07 09:16] ilostit opened #872 "window is not defined (leaflet)"
Hi,

i have this issue after update reactivemaps "@appbaseio/reactivesearch": "^3.0.0-beta.9"

XXX/node_modules/leaflet/dist/leaflet-src.js:7
        typeof exports === 'object' && typeof module !== 'undefined' ? factory(exports) :
                                                                ^
ReferenceError: window is not defined
    at XXX/node_modules/leaflet/src/core/Util.js:217:24
    at v

[2019-03-07 09:25] metagrover commented on #872
Can you share a codesandbox replicating this issue?

[2019-03-07 12:17] ilostit commented on #872
i will do that, but sorry it's reactiveMaps update not reactiveSearch

[2019-03-07 13:43] pparke opened #873 "Changing dataField on ReactiveList can cause old value of from to be set on next query"
**Issue Type:**
Possible Bug

**Platform:**
ReactiveSearch for Web (React)

**Description:**
Changing the `dataField` prop of `ReactiveSearch` component triggers a new query with the old query options to be fired from `componentWillReceiveProps`.  This results in the `from` field of the query retaining its old value resulting in the next search results being offset from the start.  This is happeni

[2019-03-07 15:17] #869 closed, assigned to nobody

[2019-03-07 16:27] metagrover commented on #872
We manage the current version reactivemaps here in this (mono-)repository.

[2019-03-08 17:58] mauxtin commented on #724
I only know what you know 😄

The commit above https://github.com/bietkul/reactivesearch/commit/10a935eac2f582d05705c8afc1a80afbf7121660 seems to address this issue but haven't been released yet so I am not sure

[2019-03-08 20:59] bietkul commented on #724
You are Right, this commit has the fix for it but we haven't released the version yet.
We're actively working on a couple of issues to release a stable version as soon as possible.
Thanks

[2019-03-10 01:23] jrock17 opened #875 "Add 'cause' to onValueChanged"
**Issue Type:**
Enhancement

**Platform:**
Web

**Description:**
We currently get `value, cause, selected` from onValueSelected but only `value` from onValueChange. I was hoping to use 'cause' to prevent redirect when clicking the clear button in the search field (as opposed to typing a value).

Any chance we could expose that in onValueChange?

[code]
**Reactivesearch version:** x.y.z
3.0.0-beta.

[2019-03-10 18:23] jrock17 opened #876 "Infinite scroll creates duplicate records"
**Issue Type:**
Bug

**Platform:**
Web

**Description:**
When using infinite scroll, if you scroll down past the first page or so it shows new results but loads duplicate hits. It appears the duplicates are the last hit of the previous "page". In addition to showing duplicates, it also throws a React error:

    Warning: Encountered two children with the same key, `{id}`. Keys should be unique so

[2019-03-12 03:28] ghost commented on #827
@metagrover @jyash97 If i made a PR for this would it be accepted?
I was thinking that it could change to use the value of the current values instead of the title.

[2019-03-12 07:31] ghost commented on #871
Will take a swing at this one.

[2019-03-12 10:48] mauxtin commented on #835
Any update on a way to achieve this?

[2019-03-13 01:48] danielsnider opened #877 "Toggle on or off a ReactiveSearch Component with a checkbox"
**Issue Type:**
Question

It's been two weeks and I'm eager for help. Can I please ask you for help with my short question on StackOverflow? https://stackoverflow.com/questions/54852930/how-to-toggle-on-or-off-a-reactivesearch-component-with-a-checkbox

I've included my question below for your convenience.

**Question:**
My ReactiveSearch project looks like this [demo](https://woy8013rj7.codesandb

[2019-03-13 12:18] bietkul opened #879 "web: Is there any way to catch _msearch errors in ReactiveMap component?"
**Issue Type:**
Feature

**Platform:**
Web

**Description:**
ReactiveMap should have something like `onError` prop to support error handling.

**Screenshots:**

**Minimal reproduction of the problem with instructions:**

**Reactivesearch version:** x.y.z

**Browser:** [all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Safari | iOS XX U

[2019-03-13 14:48] metagrover commented on #879
We support this in reactivecore but need to upgrade this w.r.t. v3 changes to support this behavior.

[2019-03-13 15:50] blicksky commented on #876
One way to address this is to add support for Elasticsearch's "search_after" field: https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-search-after.html. Perhaps there could be an option to choose between "from" and "search_after" based paging for infinite scrolling.

[2019-03-13 16:10] metagrover commented on #876
I can see this adding value to the state of things only if the results are getting updated in the real time. Do you see any other benefit of using `search_after`?

[2019-03-13 16:23] blicksky commented on #876
It depends what you mean.

If you mean that the data in the Elasticsearch index is being updated in real time, which is what causes duplicate items to appear by items being bumped up a position in between the client loading one page and the next, then I think this benefit is justified on it's own.

If you mean that the data on the client is being updated in real time, such that data that has alrea

[2019-03-14 11:25] mauxtin commented on #859
Not sure why it works for you guys but for me even if I manually install both packages like this, it does not work.

[code]

`yarn` also pulls the version requested by `reactivesearch` (ofc) which results in the above error.
[code]

Can we push a beta release with just the dependency fix instead of waiting for the library to be completely stable for a release?

[2019-03-14 18:26] #859 closed, assigned to bietkul

[2019-03-14 18:27] #724 closed

[2019-03-15 09:07] mauxtin commented on #724
Works great @bietkul! Thanks 🎉

One thing I noticed however is that URLParams on `DataSearch` doesn't work with `:debounce="0"`.
I think when `debounce` is set to 0 the url params should respect that and not wait for pressing enter to change the url.

Does this make sense?

[2019-03-17 19:01] #848 closed, assigned to jyash97

[2019-03-18 14:51] robocop-bob opened #884 "question: HierarchicalMenuFilter - how to ?"
Can you share any advice how to achieve with reactivesearch similar result to searchkit example ```https://www.npmjs.com/package/searchkit/v/2.2.1-0```

[2019-03-18 20:14] Dmitry-Kucher opened #885 "React ecommerce demo doesn't work"
**Issue Type:**
'bug'

**Platform:**
ReactiveSearch for Web

**Description:**
There is no any kind of `*.lock` files, so demo sites doesn't work. Trying to start in development mode and getting blank page [vehicle-store](https://github.com/appbaseio/reactivesearch/tree/next/site/demos/ecommerce)

**Minimal reproduction of the problem with instructions:**

- Clone repo
- Navigate to demo path (`cd

[2019-03-19 03:21] ghost opened #886 "Edge scrollTo error"
**Issue Type:**
Bug

**Platform:**
Web

**Description:**
The ReactiveList component uses scrollTo to endless scroll more items when pagination is false. Edge has a bug that means scrollTo is not working correctly. See this SO issue for more information.

https://stackoverflow.com/questions/51517324/scrollto-method-doesnt-work-in-edge

**Minimal reproduction of the problem with instructions:**
Crea

[2019-03-19 06:33] metagrover commented on #885
Thanks for filing this @Dmitry-Kucher - they all seem like version mismatch issues.

@jyash97 Can you take this up? We will need to update the `render<X>` methods as per `v3.0` and add `yarn.lock` files in every demo. I believe they are missing due to the project being a yarn workspace - so nobody ran `yarn` inside demos.

[2019-03-19 06:36] metagrover commented on #884
Related: https://github.com/appbaseio/reactivesearch/issues/167

[2019-03-19 06:38] metagrover commented on #877
The code looks okay to me. Please check the state in react-devtools to ensure that `show_rangeSliderAge` holds the correct value.

[2019-03-19 13:46] danielsnider commented on #877
Thanks @metagrover. Yes, `show_rangeSliderAge` shows the correct value. But the search results don't reload. ResultsList need to reload somehow to get the effect of not having the RangeSlider filter. Any suggestions on how to update the results?

[2019-03-19 14:30] metagrover commented on #877
I see, can you try updating the `key` and `componentId` of the result component whenever there is a change in `show_rangeSliderAge` value? Given how the component unmount cleanup works asynchronously, result list will reload asynchronously. Changing these props on the result component ensure the instant reload.

[2019-03-19 16:37] pandeybk opened #887 "why reactive search required es:ESHttpPost for normal search operation"
**Issue Type:**
General question

**Platform:**
Web

**Description:**
I am trying to use reactive search with aws elastic search. I don't have any authentication method configured on ES. Just using aws IAM role policies to restrict access. I added role `es:ESHttpGet`, but looks like reactive search module required `es:ESHttpPost` access also. Any reason for that. Can I make it work without allowin

[2019-03-19 16:40] danielsnider commented on #877
Thanks! Changing the "react" field of the ResultsList gets the results to
update properly.

Issue closed.

On Tue, Mar 19, 2019 at 10:30 AM Deepak Grover <notifications@github.com>
wrote:

[2019-03-19 16:40] #877 closed, assigned to nobody

[2019-03-19 16:44] metagrover opened #888 "SSR support for reactivemaps"
**Issue Type:**
Enhancement

**Platform:**
Web (Maps)

**Description:**
We should enable SSR for results without rendering the actual map to enable rendering of results cards/list next to maps via SSR.

For example, consider the airbnb example with SSR - ideally, on the first load, it should render the result cards and render the map on client.

[2019-03-19 16:45] siddharthlatest commented on #887
@pandeybk We currently use `POST` for the search requests. I am not sure if there can be any side effects if we switch to GET, but it's worth considering 🤔

In the meanwhile, you can restrict the resource to the `/_msearch` endpoints of the particular index configured with ReactiveSearch and that should help with an effective security role.

An example may look like this:

[code]

[2019-03-19 19:21] metagrover commented on #872
I'm able to replicate this. Are you running your app in a SSR setup?

[2019-03-20 00:04] pandeybk commented on #887
This is awesome, thank you for quick response.

[2019-03-20 00:04] #887 closed, assigned to nobody

[2019-03-20 09:13] ilostit commented on #872
yes that's true :) thanks for your work !!!

[2019-03-20 20:06] cedricium commented on #774
Hey @alexandre033, any luck figuring this out? Sounds like I have a similar use-case and I'm wondering how to do the same thing.

[2019-03-20 22:37] metagrover commented on #872
Fixed here: 8a44613 🎉

We will roll out a release with this update including some other SSR and rendering prop upgrades shortly.

[2019-03-20 22:37] #872 closed, assigned to nobody

[2019-03-21 08:15] metagrover commented on #774
Please find the usage [docs here](https://opensource.appbase.io/reactive-manual/v3/getting-started/reactivebase.html). You can use `transformRequest` and `transformResponse` in combination to achieve any level of request/response customisation.

[2019-03-21 08:38] alexandre033 commented on #774
hi  @cedricium like @metagrover said check the doc, but i think the best way is to filter in the backend or inject custom query in reactive list

[2019-03-21 09:00] metagrover commented on #774
I highly recommend giving `customQuery` prop a try if it is related to modifying request body. For most usecases, `customQuery` should do, but if you wish to update the request headers or other request data, you can use `transformRequest`.

[2019-03-21 10:42] metagrover commented on #774
Feel free to reopen if you have any further questions.

[2019-03-21 10:42] #774 closed, assigned to nobody

[2019-03-21 10:42] metagrover commented on #888
Added here: 8a44613 🎉

[2019-03-21 10:42] #888 closed, assigned to nobody

[2019-03-21 13:04] joepio opened #889 "renderNoResults prop missing in MultiList, but present in docs"
**Issue Type:**
bug / documentation problem

**Platform:**
Web

**Description:**
The `renderNoResults` property no longer exists in [MultiList for React](https://github.com/appbaseio/reactivesearch/blob/dev/packages/web/src/components/list/MultiList.js) in v3, but [is still documented](https://opensource.appbase.io/reactive-manual/v3/list-components/multilist.html#props).

**Reactivesearch version

[2019-03-21 13:10] bietkul commented on #889
Hey, we have `renderNoResults` implementation in code too, can you please share how you're using it.
https://github.com/appbaseio/reactivesearch/blob/next/packages/web/src/components/list/MultiList.js#L554

[2019-03-21 17:16] joepio opened #890 "sortOptions in ReactiveList has object type, should be array"
**Issue Type:**

**Platform:**
Web
**Description:**
The `sortOptions` type should be an array of objects, instead of a single object, [according to the docs](https://opensource.appbase.io/reactive-manual/v3/result-components/resultlist.html#props).

**Minimal reproduction of the problem with instructions:**
[code]

**Reactivesearch version:** 3.0.0-beta.8, and 3.0.0-rc.6

[2019-03-21 17:20] joepio commented on #889
I'd like to render a react component in the Multilist to communicate to the user that his search does not match any items. I can't show how I'm using it, because the application can't compile if the property does not exist in 3.0.0-beta.8. For some reason it has been removed, I think.

[2019-03-22 19:01] nadrane opened #891 "Run ElasticSearch Query on Component Re-Render"
**Issue Type:**
Bug

**Platform:**
Web

**Description:**
I am creating a component called `LeasePrice` that maintains its own state and wraps a `RangeInput` component.

I am able to successfully change the state of `LeasePrice` and re-render my component. Unfortunately, upon re-render,` RangeInput` does not query Elasticsearch for new data, despite its `customQuery` depending on the state of the `

[2019-03-22 21:29] willopez commented on #834
Hi @metagrover any questions or updates on this issue?

[2019-03-22 22:26] nadrane commented on #891
I was able to do this using `onChange` :)

But now I think I'm having issues getting `RangeSlider` to update when I use the little up arrows (it works when I use the actual slider itself)

[2019-03-23 19:53] lcalcagni commented on #885
How Can I add the lock files to make my projects work? I get the same errors as Dmitry

[2019-03-23 20:02] metagrover commented on #885
You can run it with reactivesearch - `v2.x`, we haven't updated the demo examples' code for `3.0-beta` yet. Please try with this - https://github.com/appbaseio/reactivesearch/tree/dev/site/demos/ecommerce

Run `yarn && yarn start` in the ecommerce directory to get started.

[2019-03-25 11:04] metagrover commented on #834
@bietkul Please check on this.

[2019-03-25 13:12] vanja-bertalan commented on #167
@metagrover any ideas when could this be available? Do you have any suggestions for a workaround?

[2019-03-25 20:18] #891 closed, assigned to nobody

[2019-03-26 03:10] cedricium commented on #774
Thanks for the help everyone. What I actually needed was to extend the default query by applying a match and there was already an API for that (`defaultQuery`), keep up the great work!

[2019-03-26 09:18] joepio opened #893 "MultiList crashes when showLoadMore is true"
**Issue Type:**
When `showLoadMore` is set to `true` in a `MultiList` component, the component does not render. The following appears in the browser console:

`Warning: Can't call setState on a component that is not yet mounted. This is a no-op, but it might indicate a bug in your application. Instead, assign to `this.state` directly or define a `state = {};` class property with the desired state

[2019-03-26 11:46] ilostit opened #894 "ReactiveGoogleMap : onPopoverClick on the custom renderData ?"
Hello,

When i add my custom marker the onPopOverClick not working ?

any idea ?

my code :

renderData={result => ({
custom: (

<FontAwesomeIcon icon={['fa', 'map-marker']} size="3x" />

)
})}

[2019-03-26 12:35] ilostit commented on #894
In fact i would like a dynamic pin map based on a category something like this :

       renderData={result => ({
                custom: (
                  <FontAwesomeIcon icon={['fa', 'result.MYCATEGORY']} size="2x" />
                )
              })}

but i'm not sure is the best approach, because i would like to replace the pin of the map with this dynamic icon.....

[2019-03-26 14:16] metagrover commented on #894
This used to work with 2.x. @lakhansamani can you check if it is functional with 3.x as well?

[2019-03-26 15:22] alekseiancheruk opened #896 "ResultList nested objets not showing"
**Issue Type:**
enhancement

**Platform:**
ReactiveSearch for Web

**Description:**
I'm building my search platform with the latest ElasticSearch and reactivesearch. My first document from my *.json file looks like this:
`[{
    "Reactor_type": [
        "EPR",
        "PWR"
    ],
    "Safty_authority": [],
    "System": [
        "SEP",
        "SAT",
        "SEI",
        "SAR"
    ],
    "Fil

[2019-03-26 15:25] metagrover commented on #896
`Text` is an array as per you result. So try `res.Text[0].sentence`? You can simply map over your `Text` array and also concatenate the `sentence` values in the desired JSX format.

[2019-03-26 15:43] alekseiancheruk commented on #896
Already tried `res.Text[0].sentence`, it's not quite what I want...

I want to have a global search on all `Text.sentence` objects which works already. I also want a faceted search within `Text` using `Text.component`. So when I type "cables" in global search, choose system type and component, the search should give me **all the matched documents** with their names and **all the matched sentences

[2019-03-26 16:26] metagrover commented on #896
Okay, you can set the `dataField` of DataSearch component to be an array of all the fields you want the search to work on, and you can also set the desired field weights to apply search preferences on desired fields. Check docs here - https://opensource.appbase.io/reactive-manual/v3/search-components/datasearch.html#props

If you wish to get the highlighted search values in your results to find th

[2019-03-26 16:40] alekseiancheruk commented on #896
Maybe I was not clear enough, sorry. The problem is that when I search globally in `Text.sentence`, `ResultList` doesn't update accordingly... I want it to return a name of the document from `FileName` and  an array of matched phrases after searching "cables" in `DataSearch` field and specifying `Text.component` within this very doc. For now, `ResultList` just gives me my doc name and plain text w

[2019-03-26 16:51] metagrover commented on #896
ResultList only renders what it gets from Elasticsearch hits. So, please check if your Elasticsearch query looks good (in the networks-panel `_msearch` request), and then see if the hits are coming as expected.

If you think there is some issue with rendering those hits values with ResultList - give `ReactiveList` a try, it allows full customization in the UI.

[2019-03-27 05:37] lakhansamani commented on #894
Sure I will check this today 👍

[2019-03-27 13:04] lakhansamani commented on #894
Fixed here: [558d741](https://github.com/appbaseio/reactivesearch/commit/558d7414e9aba1526ea2617b9a462d05fe91bb9b) 🎉

@ilostit for reference you can check https://codesandbox.io/s/k57v0qmy0v

[2019-03-27 13:04] #894 closed, assigned to lakhansamani

[2019-03-27 21:05] felubra commented on #845
I'm having the same problem with the vue package `1.0.0-beta.9`: https://codesandbox.io/s/r5z6y1x8yn?expanddevtools=1&fontsize=14

[2019-03-28 07:58] ilostit commented on #894
Thanks :)

[2019-03-28 08:56] ThunderDev1 commented on #261
This would be a very helpful feature, any chance of seeing this in a future release @metagrover ?

[2019-03-28 09:04] metagrover commented on #261
@bietkul can you take a look at this?

[2019-03-28 17:53] TCMiranda commented on #595
Hey guys, thanks for this, really helpful!
Here follows an observation: One `nested` property is allowed to have another `nested` one inside it. This API doesn't support that case.

Since it is a new API, wouldn't it be appropriate to consider an API definition which enables this "recursion" into the appropriate nested level?

I believe its a corner case, but i've come to it recently:
[code]

[2019-03-28 18:10] jyash97 commented on #893
Hey @joepio
Thanks for reporting this. Can you confirm the app you are using is above ElasticSearch version 6 ?

Check docs [here](https://opensource.appbase.io/reactive-manual/v3/list-components/multilist.html#props)

[2019-03-28 18:33] joepio commented on #893
Yep, it's 6! It's running here: http://ori.argu.co
Sourcecode here: https://github.com/ontola/ori-search

[2019-03-28 19:38] rarmstrong-netflix opened #899 "SelectedFilters stops displaying filters when using custom URL parameters"
**Issue Type:**
bug

**Platform:**
web

**Description:**
I encountered this while debugging an issue w/ reactivesearch combined w/ react-router and additional custom URL params for other application state. When a URL change occurs on my custom parameters and URLParamsProvider attempts to resynchronize state, SelectedFilters drops any existing filters it had in place. While debugging, I can tell th

[2019-03-29 18:36] nadrane opened #900 "`UpdateQuery` when `CustomQuery` changes"
**Issue Type:**
Enhancement

**Platform:**
web

**Description:**
I've run into quite a few scenarios now where I have a Reactivesearch component that is is wrapped in an outer component that maintains its own state. The Reactivesearch's custom query is driven based on the state inside the outer component.

The problem with custom queries today is that the query does not update/execute when the cus

[2019-04-01 07:14] metagrover commented on #900
We used to have this functionality (in v2)

@bietkul -  can you please check on this? I think it stopped working after we changed the spec for customQuery prop.

[2019-04-01 08:18] #899 closed, assigned to lakhansamani

[2019-04-01 12:27] #843 closed, assigned to nobody

[2019-04-01 12:38] #849 closed, assigned to bietkul

[2019-04-01 12:38] metagrover commented on #849
Implemented with new render props in #843

[2019-04-01 21:09] dres-cifuentes opened #902 "Clearing a single filter in a custom component?"
**Issue Type:**

Not sure if bug or enhancement issue.

**Platform:**
Native

**Description:**
Created custom ReactiveComponent and having trouble clearing the single filter

**Screenshots:**

**Minimal reproduction of the problem with instructions:**

I believe the issue has to do with the `setQuery` props.
I'm setting `setQuery` within my `setValue` function. If the value has been selected, I'm

[2019-04-02 05:41] DustinKLo commented on #445
The docs only say:
`onClear` function [optional]
Gets triggered when the `clear all` button is clicked.

It's not very clear, and i don't see any examples of this `onClear` function

Can you point us to an example?

[2019-04-02 08:06] DustinKLo commented on #902
+1

[2019-04-02 12:56] metagrover commented on #445
You can use it as:

[code]

[2019-04-02 15:32] jyash97 commented on #665
Works properly 💯

[2019-04-02 15:32] #665 closed

[2019-04-02 18:59] felubra opened #907 "[vue] RangeSlider/SelectedFilters not resetting / clearing correctly"
**Issue Type:** bug

**Platform:** web (vue)

**Description:** clearing a RangeSlider in the SelectedFilters component does not reset the range of the RangeSlider component

**Screenshots:**

![2019-04-02-15-55-13](https://user-images.githubusercontent.com/25326257/55428622-d5478900-555f-11e9-9ebd-d781c563cbfa.gif)

compare this with the react playground:

![2019-04-02-15-58-01](https://user-image

[2019-04-02 20:34] DustinKLo commented on #452
Can you show me an example? I'm having trouble with this. thanks!

[2019-04-02 20:53] metagrover commented on #452
Check the props of your child component (inside ReactiveComponent) - you will have access to the selectedValue prop there.

[2019-04-02 21:00] moritzlang opened #908 "SingleList/MultiList incorrectly rendering list items"
**Issue Type:**
Bug

**Platform:**
Web

**Description:**
My elasticsearch index has a 'attributes' field which is an array of strings e.g.
`["Trusted user", "Fast response", "Video chat"]`
I want to use these to filter my search results using a MultiList. The filtering works, but the MultiList is rendered weird. It seems like the strings are split on the whitespace. The same problem appears using

[2019-04-02 21:02] siddharthlatest commented on #908
Hi @moritzlang, it's a mapping issue in your ES index. Prior to v5 in ES, you need to explicity set your mapping to a not_analyzed string for it to pick the string as is. This isn't a ReactiveSearch issue. Hope this helps!

[2019-04-02 21:02] #908 closed, assigned to nobody

[2019-04-02 21:34] moritzlang commented on #908
Thank you so much @siddharthlatest it is working now!

[2019-04-03 04:19] javialon26 opened #911 "[Vue] Error when use react prop in single range filter"
**Issue Type:**
Bug

**Platform:**
Vue

**Description:**
When i use react prop in the single range filter an error occurs.
Error:
`[Vue warn]: Error in beforeMount hook: "TypeError: props.watchComponent is not a function"
..........
`

**Minimal reproduction of the problem with instructions:**
https://codesandbox.io/embed/kmvkpv64k5?fontsize=14

**Reactivesearch version:** 1.0.0-beta.9

**Browser:

[2019-04-03 05:21] javialon26 opened #912 "[Vue] Custom component and clear filter doesn't work"
**Issue Type:**
Enhancement/Bug

**Platform:**
Vue

**Description:**
Use selected filters component with a custom reactive search component and try to clear all filters or remove the custom filter.

Current behavior: The result list remains without changes. (with the last custom filter applied)
Expected behavior: The result list must be updated.

**Minimal reproduction of the problem with instruct

[2019-04-03 12:31] bietkul commented on #912
@metagrover Any idea how to do that? I was also getting the same issue.

[2019-04-03 12:37] metagrover commented on #912
Since it's a custom component, you will have to manually check for the updated `selectedValue` (which should be `null`) in props, and then fire a null query via given `setQuery` method in your child component.

[2019-04-03 13:34] ansuaggarwal opened #915 "Print query sent to the elasticsearch"
**Issue Type:** Question

**Platform:** ReactiveSearch for web

**Description:** I have implemented ReactiveSearch and connected it with my own elasticsearch implementation. But I can see that total number of result found from the custom query in Reactivesearch is different from what I am getting it from elasticsearch directly .

I want to see the query that is being sent to the elasticsearch.

Be

[2019-04-03 13:41] metagrover commented on #915
You can check the query in the browser's network panel: look out for `_msearch` requests.

<img width="1185" alt="image" src="https://user-images.githubusercontent.com/9116042/55483413-25981700-5644-11e9-807b-0649d07d957f.png">

Hope that helps!

Feel free to reopen if you have any further questions.

[2019-04-03 13:41] #915 closed, assigned to nobody

[2019-04-03 14:17] dres-cifuentes commented on #445
@metagrover  does the `onClear` prop work on native? I noticed that the documentation for `SelectedFilters` for Native doesn't include everything that the Web version has

[2019-04-03 14:33] metagrover commented on #445
@dres-cifuentes No, it isn't supported on native yet. It should be very similar to implement though. Open to accepting PR on this :)

[2019-04-03 15:42] javialon26 commented on #912
@metagrover I think this is a workaround. I achieve the same behavior with the clean event in the selected filter component but in the react example this works out of the box.

See: https://opensource.appbase.io/reactive-manual/advanced/reactivecomponent.html#examples

[2019-04-03 15:45] metagrover commented on #912
@bietkul can you check on this? Both variants should be consistent.

[2019-04-04 03:55] cedricium commented on #852
Until this is fixed, is there any workaround for this?

For some background info, I use `defaultQuery` to filter out results by requiring them to match a specific id.

[2019-04-04 04:11] DustinKLo commented on #915
Is there a way to extract it into a variable?
I may need the raw query to use in another page

[2019-04-04 16:08] lakhansamani commented on #834
@willopez I have investigated on the above issue
So following are the reason for extra network requests on the browser

1. `SearchResult` was triggering extra request because of improper `react` prop configuration, You can check the correct configuration for sample application you shared over here (react prop should have been same on client and server otherwise it could change the query)
https://g

[2019-04-04 16:08] #834 closed, assigned to lakhansamani

[2019-04-04 19:49] DustinKLo commented on #915
i noticed you can parse the stringify'd JSON with the `transformRequest` function

[code]

but it brings up a 400 (Bad Request) error.
not sure how to use the `transformRequest` function without breaking anything

[2019-04-04 19:52] siddharthlatest commented on #915
@DustinKLo You also have to return the updated request. It's failing as you don't return anything back.

[2019-04-04 19:54] DustinKLo commented on #915
@siddharthlatest  thank you for the clarification, works great 👍

[2019-04-05 05:22] DustinKLo commented on #458
+1

[2019-04-05 06:07] DustinKLo opened #922 "How to save the queried data in a state?"
**Issue Type:** Feature

**Platform:** Web

**Description:** I want to save the queried data so that i can render the results in customized visualizations

**Reactivesearch version:** 3.0.0-beta

**Browser:** Chrome

[2019-04-05 18:28] eef opened #925 "Attempted import error: 'TextField' is not exported from '@appbaseio/reactivesearch'"
**Issue Type:** Bug

**Platform:** Web

**Description:** When importing TextField I get the error
[code]

**Minimal reproduction of the problem with instructions:**  I have included code under "Anything else".  This example does not work.

**Reactivesearch version:** 3.0.0-rc.0

**Browser:** all

**Anything else:**

[code]

[2019-04-05 18:30] metagrover commented on #925
Hello @eef, we have removed support for TextField component - we are also updating our docs to reflect this. Please consider using `DataSearch` instead of `TextField`.

[2019-04-05 18:30] #925 closed, assigned to nobody

[2019-04-05 19:19] willopez opened #926 "App crash on IE11 due to popstate event"
**Issue Type:**
Bug

**Platform:**

web V3-beta8

**Description:**
On IE11, ReactiveSearch crashes when changing from one page to another. The root cause is the following command:
[code]
on IE11 it causes the following error:
[code]
ReactiveSearch is using the `popstate` event here:

https://github.com/appbaseio/reactivesearch/blob/next/packages/web/src/components/basic/URLParamsProvider.js#L126

[2019-04-07 09:55] DavidRamsdale opened #927 "Combining multiple values into one label on SingleDataList"
Issue Type: I believe enhancement

Platform: Web

I am trying to combine label values in the SingleDataList on reactive search. Using the example they provide below:

                        <SingleDataList
                            title="SingleDataList"
                            componentId="CitySensor"
                            dataField="group.group_topics.topic_name_raw.raw"

[2019-04-08 14:39] jyash97 commented on #926
Hey @willopez
Thanks for filing this. It looks like `new Event` is not supported in `IE11`. I will take a look at this.

[2019-04-08 15:51] willopez commented on #926
Hi @jyash97 thanks for looking at this issue. I believe adding this will fix the issue:
[code]

[2019-04-08 18:07] willopez commented on #926
@jyash97 I have created a PR to fix this issue: #928

[2019-04-08 19:20] dres-cifuentes opened #929 "Possible to use filters on one screen and display results on another?"
**Issue Type:**
Enhancement Issue

**Platform:**
Native

**Description:**
So I created a Filter Component that imports a bunch of custom created filters so that I can style the UI as much as I want.  Originally I had `{isFilterDisplayed && <Filters />}` in my results screen so that the user can see this component based on local state. For performance purposes, I wanted to to make Filters it's own