[2019-10-25 06:52] jyash97 commented on #1086
Hey @multidis

React-window can help you in improving performance when rendering large lists. You can read this article about `react-window`: https://addyosmani.com/blog/react-window/

[2019-10-25 13:54] henricazottes commented on #1203
#### Explanation

I found that `SingleDataList` is using a **term** search. In elastic search [documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-term-query.html), you can see that using term search on text field is risky because words are lowecased in the index for optimisation. Add the fact that **term** search are case sensitive, it explains why it wasn't w

[2019-10-25 20:44] anusha-dey opened #1214 "ReactiveList: renderNoResults not triggering"
**Affected Projects**
Web

**Library Version:** x.y.z
3.0.3

**Describe the bug**
In ReactiveList, renderNoResults does not get triggered if onError has been previously triggered by the component.

**To Reproduce**
Cause an error to occur in an ElasticSearch msearch that triggers onError, then search for something that should result in no results. The renderNoResults function does not get triggere

[2019-10-28 16:58] JakeShelley1 commented on #1205
I've continued to dig on this with no luck. For more context, here's the query that my DynamicRangeSlider makes initially:
[code]

The `aggregations` field this returns looks like this
[code]
After removing all 0 values from the `review_count` field I'm searching, I tried again and the format of the result looks identical (except the values being 1.0 and 27.0 respectively), but the component still

[2019-10-29 13:55] elektracodes commented on #845
Same here! Please re-open the issue

[2019-10-29 15:37] elektracodes opened #1215 "Nested filed adds unnecessary size and breaks the query on Vue"
**Affected Projects**
Vue.JS

**Library Version:** x.y.z
1.0.0-beta.20

**Describe the bug**
This issue has not been fixed on your Vue Library
https://github.com/appbaseio/reactivesearch/issues/845
I can find the bugged code still inside.
E.g. @appbaseio\reactivesearch-vue\dist\@appbaseio\reactivesearch-vue.umd.js line 14517,
still has the affected line

**To Reproduce**
Add `nested` on Multilist

[2019-10-29 17:08] julillosamaral opened #1216 "Preference field on requests"
Hi,

This is more an informative question rather than an issue.

In the search requests, I see this payload:
[code]

Why is the preference sent to the elasticsearch service? Is it really needed?
Is there a way to avoid having that?

Thanks,
Julio

[2019-10-29 19:57] siddharthlatest commented on #1216
@julillosamaral The `preference` is used by ES to preserve ordering when the same search query is used over. Read more over [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-body.html#request-body-search-preference).

[2019-10-30 10:59] elektracodes commented on #1216
@siddharthlatest I know I am hijacking this unrelated issue but could someone from your team see this issue? https://github.com/appbaseio/reactivesearch/issues/1215
I expected bugs would have been higher on your priority list, since it seems that you look at the issues people write.

[2019-10-30 12:57] bietkul commented on #1164
@gpassarelli I couldn't replicate it.

[2019-10-30 13:00] gpassarelli commented on #1164
@bietkul open the codesandbox I added, then click on "Social" to add the toggle filter, then click on "Social" again to remove the toggle filter, and you'll see the console error.

The expected behavior would be whenever "disabled" the toggle filter, to show all results, right?

[2019-10-30 13:05] bietkul commented on #1164
Thanks for the explanation, we'll fix it soon.

[2019-10-30 13:07] julillosamaral commented on #1216
Thanks @siddharthlatest
I read that before but didn't understand why it is send always and is not something optional...

I'll close the issue.

[2019-10-30 13:07] #1216 closed, assigned to nobody

[2019-10-30 13:21] bietkul commented on #1164
@gpassarelli Fixed it in `1.0.0-beta.21`.

[2019-10-30 13:21] #1164 closed, assigned to jyash97

[2019-11-01 06:16] #458 closed

[2019-11-01 15:27] WGriffing opened #1218 "ReactiveList pagination button bug"
**Affected Projects**
React

**Library Version:** x.y.z
3.0.3

**Describe the bug**
The pagination buttons do not work as expected for the `ReactiveList` (or `ResultList`) component.

I think there are 2 problems:
1. When `showEndPage={false}`, the last 2 pages do not display the pagination buttons properly.
2. When `showEndPage={true}` and `pages={5}`, the last 2 pages receive dedicated buttons,

[2019-11-01 15:39] WGriffing commented on #1218
I just want to add that I'm very happy with how useful the entire tool is and I'm not at all opposed to doing some work and contributing back. I just haven't quite figured out the solution yet.

[2019-11-04 14:13] kud opened #1219 "[ReactiveList] URLParams could also handle sort option"
**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**
I would like to sort my list also via url.

**Describe the solution you'd like**
When URLParams is enabled, it changes the query strings to also keep the order/sort.

[2019-11-04 17:49] allendol opened #1221 "SingleDropdownList and MultiDropdownList are not accessible (not 508 compliant)"
Looks like **SingleDropdownList** and **MultiDropdownList** are changed to:
**<button type="button" role="button"**
even if I put id to the **<button id="123">** control and use **<label htmlFor={`123`}**, they are not accessible.
According to our 508 team, these until controls are converted to **select** control they are not accessible.
Any idea, Feedback?

[2019-11-05 05:18] #927 closed, assigned to nobody

[2019-11-05 05:39] ShahAnuj2610 commented on #1218
I was thinking we could introduce a prop called `pageNeighbours`, which indicates the number of additional pages to show on each side of the current page, this could address the rendering of pagination as quoted above in a much more generic way. This would collide with `pageSize` prop. Thoughts?

![](https://i.imgur.com/ACldHNb.png)

[2019-11-05 14:02] WGriffing commented on #1218
I'm not opposed to something like `pageNeighbors`, but as you mentioned, it is very similar to the `pageSize` property. You may also consider altering the behavior of `pageSize` such that when `showEndPage` is enabled, `pageSize` functions like your proposed `pageNeighbors` but otherwise functions as it does today. Then again, that may be an upgrade headache for users who are accustomed to the cur

[2019-11-06 15:46] elektracodes commented on #1215
@ShahAnuj2610  Thank you for the quick fix. Can you help me find out how to add this on my package.json as the PR still has not been merged?
What to write to on my npm command? Can I install the fork? How to write it? Github keep rejecting, or not beeing able to find the branch or fork I am trying to install.

Thanks for your time

[2019-11-07 06:18] elektracodes commented on #1215
Bump again. @siddharthlatest

How can I install the PR? The GitHub cannot find 'reactive-vue' on forks and when I enter the username/project, it keeps telling me that the 'reactivesearch-packages' that is undefined. On this Project it keeps telling me that It cannot find the commit of the PR. Just please someone give me the command line or merge the two lines of code change. They are correct. Nuxt

[2019-11-07 16:57] 0mars opened #1224 "Question: How to use customQuery in native, as the example doesn't work"
please see: https://stackoverflow.com/questions/58753460/reactivesearch-native-custom-query-not-enforced

for an example of what I am trying to do, the end result is that all results are fetched instead of the query above

Thanks

[2019-11-07 21:29] rshahhutch opened #1225 "ReactiveBase Connect to AWS ElasticSearch via Lambda as proxy"
Hi!

We are trying to connect ReactiveBase to AWS ElasticSearch with Lambda as proxy. The POST request payload we are seeing is as below that is being sent.

{"preference":"SearchResult"}
{"query":{"match_all":{}},"size":5,"_source":{"includes":["*"],"excludes":[]},"from":0}

The response we get back is

"errorType": "SyntaxError",
    "errorMessage": "Unexpected token \\ in JSON at position 30",

[2019-11-08 01:00] robert-armstrong opened #1226 "Set script_fields in ReactiveList"
**Affected Projects**
ReactiveSearch Web 3.0.3

**Is your feature request related to a problem? Please describe.**
I'd like to include scripted values in the results returned on ReactiveList using the script_fields property

**Describe the solution you'd like**
Support script_fields in defaultQuery or another property on the component

**Additional context**
I tried returning script_fields in defa

[2019-11-08 02:28] multidis commented on #1086
It seems that react-window setup requires querying all ElasticSearch results at once and then rendering in portions, which is not practical for over 50k records.

We did however find a way to reduce re-renderings by fixing the height of result elements. In the past the height was fluid and as images were loading window scroll position was drifting, triggering more ReactiveSearch queries to the bac

[2019-11-10 16:41] siddharthlatest opened #1230 "Use GET requests for searching over POST requests"
**Affected Projects**

All

**Library Version:**

3.0.3

**Describe the bug**

The `_msearch` requests made by ReactiveSearch make a POST API call currently. A POST request isn't considered idempotent [1] by HTTP client implementations. (An idempotent request is one that should return the same result irrespective of the number of times it is called.) This is for good reasons as a POST request is t

[2019-11-11 17:01] #943 closed, assigned to nobody

[2019-11-11 22:01] #944 closed, assigned to nobody

[2019-11-12 13:28] #946 closed, assigned to nobody

[2019-11-13 09:45] bietkul commented on #1214
@qrst07 No results found is the case when there are empty results present in your db for the query, in case of an error you can use `renderError` and display whatever you want.

[2019-11-13 13:28] #950 closed, assigned to nobody

[2019-11-13 22:46] danielsnider commented on #1214
Hi @qrst07 can you please double check. Does the sequence of events that we mention still cause a bug? To test perform a search that triggers `renderError` (for example "::") followed by a valid search that returns no results, does `renderNoResults` get triggered? Thanks!

[2019-11-14 03:58] danielsnider commented on #1214
Yeah, I tested that it is still a bug.
Hi @bietkul,
For us when `renderError` is triggered then we never see `renderNoResults` in the future until reloading the page. If we don't have an error occur then `renderNoResults` works fine. Does this happen to you?

**Library Version:** web 3.0.3

[2019-11-14 10:47] rjschmitt opened #1233 "Pagination: browser back button issue"
**Affected Projects**
React

**Library Version:** 3.0.3

**Describe the bug**
When selecting some value in `MultiDropdownList` and clicking pagination some pages, let's say starting from 1 to 2, 3, 4, 5 and `URLParams` is active the parameter in the url changes accordingly. But when I click the back button of the browser, it instantly goes all the way back to page 1 and resets MultiDropdownList.

[2019-11-14 12:48] grantas33 opened #1234 "Pagination with URLParams ignores ReactiveList defaultQuery"
**Affected Projects**

React

**Library Version:** x.y.z

3.0.3

**Describe the bug**

An user visits the webpage with the ReactiveList component, and with the ReactiveList page number set in URLParams. User changes the page by clicking on a pagination button, and then returns to the initial page by clicking on a pagination button. Upon clicking on the initial page pagination button, the defaultQu

[2019-11-14 17:33] rccoe opened #1235 "Adding Header with API Key doesn't work due to URL encoding"
**Affected Projects**
React

**Library Version:** x.y.z
3.0.3

**Describe the bug**
Using a header to pass an API key doesn't work, as the space gets URL encoded.

**To Reproduce**

Steps to reproduce the behavior:

[code]

Header gets sent as

`authorization: ApiKey%20[[API_KEY]]`

**Expected behavior**
That requests will work given an API key header

**Screenshots**

**Desktop (please complete t

[2019-11-14 17:35] bietkul commented on #1235
It's a duplicate of #958.

[2019-11-14 17:35] #1235 closed, assigned to nobody

[2019-11-14 22:04] rccoe opened #1236 "Downshift Version Conflict"
**Affected Projects**
React

**Library Version:** x.y.z
3.0.3

**Describe the bug**
The latest version of Downshift breaks MultiDropdownLost

**To Reproduce**

Steps to reproduce the behavior:
Installed the latest version of [downshift](https://www.npmjs.com/package/downshift) (3.4.1) and used it on the same page as several MultiDropdownList components. The selects don't render, just the titles.

[2019-11-15 18:22] jogam opened #1237 "MultiDropDownList SearchBox no Auto-Refresh/Render"
**Affected Projects**
Vue.JS

**Library Version:** 1.0.0-beta.21

**Describe the bug**
Enabling searchbox via :showSearch="true" shows input field properly, but available options in dropdown list are only filtered if dropdown is re-opened or 'ENTER' is pressed in input field. In web version filtering is as typed / reactive?!

**To Reproduce**
Steps to reproduce the behavior:

1. open Demo sandbox

[2019-11-15 19:09] allendol opened #1238 "Display Parent-Child search result in ReactiveSearch"
I have created a parent-child relation index.
I can search my result using the following query in Kibana:

POST mysearch/_search
{"size" : 1000,
    "query": {
    "has_child": {
      "type": "child",
       "query": {
    "bool": {
      "should": [
        {
          "multi_match" : {
            "query":      "**discussion**"
          }
        },
        {
          "fuzzy" : { "content": "

[2019-11-17 11:33] allendol commented on #715
I see following as a sample of using custom-query
        :custom-query="
          () => {
            return {
              match: { 'item.original_publication_year': **2012** }
            };
          }
        "
How can we make the value **2012** dynamic? How can we get this value from the **interface**?

[2019-11-17 11:36] allendol opened #1239 "Passing parameter to custom-query in ReactiveList"
Following is a sample of using custom-query:
- - -
        :custom-query="
          () => {
            return {
              match: { 'item.original_publication_year': **2012** }
            };
          }
        "
- - -
How can we get the value **2012** from the interface?

[2019-11-17 20:26] allendol commented on #358
Did you find the solution for this?

[2019-11-17 21:42] allendol commented on #1238
Found the answer.
Need to use customQuery in DataSearch as below:
                    customQuery={
                        function (value, props) {
                            console.log("Value: " + value)
                            return {
                                query: {
                                    has_child: {
                                        type: "document",

[2019-11-17 21:44] allendol commented on #1239
Found the answer. Need to use below:
  customQuery={
    function(**value**, props) {
      return {
        query: {
            match: {
                data_field: **value**
            }
        }
      }
    }
  }

[2019-11-18 10:08] #1215 closed, assigned to ShahAnuj2610

[2019-11-18 10:20] #1170 closed, assigned to nobody

[2019-11-18 10:32] jyash97 commented on #1063
Thanks @felubra for working on this 💯

@kud This will be released with the next version of Reactivesearch ✨

[2019-11-18 11:27] bietkul commented on #1170
@kud Please check this [comment](https://github.com/appbaseio/reactivesearch/pull/1197#issuecomment-554974365).
Can you provide an example of what you want to achieve?

[2019-11-18 11:53] #340 closed

[2019-11-18 13:58] kud opened #1241 "[MultiDropdownList] Having the possibility to open/close"
**Affected Projects**
React.js / Web

**Is your feature request related to a problem? Please describe.**
As a developer, I would like to be able to manage the fact the dropdown is displayed or not via for instance having `isOpen` as prop and not state.

**Additional context**
I would like to close the dropdown everytime the user clicks on an item in the dropdown.

[2019-11-18 14:05] kud commented on #1170
I'm trying to get informations coming from an aggregation like:

[code]

By default, in `renderItem`, you only get `label` and `doc_count`, but I would like to be able to access to informations coming from the aggregation like `colorCode` or `labelLong` here.

[2019-11-18 14:07] bietkul commented on #1241
Can you please tell in which component you're getting the issue?
Does `render` prop not work for your use-case?

[2019-11-18 14:11] kud commented on #1241
It's on `MultiDropdownList`. I don't see any way to open and close the dropdown by myself in fact.

I could use MultiDataList and rendering the whole thing by my self but it could be a shame because I want the dropdown like you did on `MultiDropdownList`

I just need to be able to open and close the dropdown via a prop in `MultiDropdownList`.

[2019-11-18 14:15] kud commented on #1241
[code]

Here you've got a state, that means you can't handle it externally.

[2019-11-18 14:37] bietkul commented on #1241
It can be handled with the `render` method but it doesn't make sense to render the complete UI for this minor functionality, I think the quick solution will be to provide access to the `ref` of `Downshift` component.

[2019-11-18 15:51] allendol commented on #486
Now that the data is available, how do you access to inner_hits or highlight through the code.
Any example or tips?

[2019-11-18 18:12] allendol commented on #486
I see the changes on helper.js but when I compare the helper.js that I have with one that was updated here, they are not the same. This is the code on the helper.js that  I have. FYI, I just reinstalled reactive search:
return _extends({ _id: data._id, _index: data._index, _type: data._type, _score: data._score, highlight: data.highlight || {} }, data._source, streamProps);
So how can I change thi

[2019-11-18 18:44] arpithparikh opened #1242 "transformRequest adding flicker and render doesn't wait till final execution"
**Affected Projects**

React Library

**Library Version:** x.y.z

2.13.0

**Describe the bug**

I have one client requirement to render the initial results based on some restrictions (using compound or boolean query). Currently, I'm using the transformRequest props to handle this scenario to update an existing query with the custom transfromRequest on the initial load. However, the problem with th

[2019-11-18 20:46] marcelchastain commented on #486
@allendol I don't have an answer to your specific question (only using `inner_hits`, not `highlight`) but here's some example code that I use that might give you a sense of the data struct that's coming back.

Also for anyone else looking at this thread, this is a useful little utility function for dealing with returned `inner_hits` data:

[code]

[2019-11-19 15:33] joepio commented on #999
Please don't make it stale :)

Here's why: many users would like to search for items that are recent. This is why if you enable the date filter tools in Google Search, the first few options are "last month", "last year", etc.

If the DateRange picker would allow for picking only _one_ of the two values, it would make the UX better for many searches.

[2019-11-21 13:21] kud commented on #1241
Can't I play with `downshiftProps` like something:

[code]

(this one doesn't work for the moment)

?

[2019-11-21 13:23] kud commented on #1241
Apparently no: https://github.com/appbaseio/reactivesearch/blob/next/packages/web/src/components/shared/Dropdown.js#L143

[2019-11-21 14:57] kud opened #1248 "[SelectedFilters] add a possibility not to display filter labels"
**Affected Projects**
React.js

**Is your feature request related to a problem? Please describe.**
I would like not to display the filter label on the SelectedFilters items.

**Describe the solution you'd like**
Giving false or null or "" could remove the filter label.

-> https://github.com/appbaseio/reactivesearch/blob/next/packages/web/src/components/basic/SelectedFilters.js#L77

[2019-11-22 12:36] mubbo opened #1250 "SingleList does not show title when no results are returned"
**Affected Projects**
React

**Library Version:** 3.1.0

**Describe the bug**
If I have set the title property for the SingleList component it should display said title even if no results are returned

**To Reproduce**

Steps to reproduce the behavior:
1) open [codesandbox](https://codesandbox.io/s/singlelist-lt5xk)
2) type "blahblahblah" and hit enter

result:
![image](https://user-images.githubu

[2019-11-22 13:29] mubbo opened #1251 "Datepicker does not support Internationalization"
**Affected Projects**
React

**Library Version:** 3.1.0

**Describe the bug**
As described in the documentation:

Which leaves no way to internationalize based on the documentation located at [react day picker localization](http://react-day-picker.js.org/docs/localization)

**Expected behavior**
Please change the component to pass dayPickerProps instead of dayPickerInputProps as described in the s

[2019-11-22 15:18] rccoe opened #1252 "Props getting passed as value in MultiDataList customQuery"
**Affected Projects**
React

**Library Version:** x.y.z
3.1.0

**Describe the bug**
When using customQuery in MultiDataList, for which the props are documented as (value, props), 50% of the time, the "Value" prop gets passed the props for the MultiDataList itself.

**To Reproduce**

Steps to reproduce the behavior:
For some reason, codesandbox isn't working for the code I put in there, but here it

[2019-11-22 15:29] rccoe opened #1253 "Typescript breaking change: ReactiveList "aggregationField" is required but should be optional"
**Affected Projects**
React

**Library Version:** x.y.z
3.1.0

**Describe the bug**
ReactiveList aggregationField is required but should be optional

**To Reproduce**

Steps to reproduce the behavior:
Make a ReactiveList component without aggregationField.

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, sa

[2019-11-22 17:27] #1253 closed, assigned to ShahAnuj2610

[2019-11-26 10:15] mubbo commented on #1251
Well, there isn't all that much to say except RTFM!

In case someone else has a similar "problem"  When you set the options for dayPickerInputProps you can pass in an object as the documentation says that ist basically a passthrough to the DayPicker API and matches the DayPickerInput Props signature.. Which in turn accepts a key "dayPickerProps" which is also an object of properties..

So if you n

[2019-11-26 10:15] #1251 closed, assigned to nobody

[2019-11-27 00:19] josephbburke commented on #1225
So i think that your lambda proxy function on AWS is incorrectly parsing the JSON body from ReactiveBase. After debugging my lambda, I found the payload to be:

[code]

Which is two JSON objects. This means that JSON.parse() will fail:
[code]

To solve this either don't parse the JSON, or catch and do nothing:
[code]

[2019-11-27 09:04] ShahAnuj2610 commented on #1234
@grantas33 seems to work for me.

![](https://i.imgur.com/otziLBg.png).

[2019-11-28 09:54] siddharthlatest commented on #1234
@grantas33 Can confirm that the issue doesn't occur. I am marking this as closed, but feel free to add an example if you're still seeing this elsewhere.

[2019-11-28 09:54] #1234 closed, assigned to ShahAnuj2610

[2019-11-28 13:29] #1218 closed, assigned to ShahAnuj2610

[2019-11-29 00:45] #314 closed

[2019-11-29 12:55] skagrawal10 opened #1261 "Having multiple sections in CategorySearch"
Hi,

I am using CategorySearch in one of my Project. I have one requirement over there. I need to show search results in 3 sections [Section 1, Section 2, Section 3]. So, can you please let me know, if it is possible to customize in present CategorySearch.

Thanks

[2019-12-02 16:49] davidkong0987 opened #1265 "DynamicRangeSlider change the start and end of the histogram"
**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**
Be able to change the start and end of the histogram. For example start = the greater of (0,min)

**Describe the solution you'd like**
Add another custom variable that looks like defaultValue and rangeLabels

**Describe alternatives you've considered**
Are there any?

[2019-12-02 16:52] davidkong0987 commented on #1265
Just to clarify, I understand that RangeSlider is a potential solution, but it isn't - I would still like to use the min/max variables, but I might want it to be something like `start = the greater of (0,min)`

[2019-12-02 20:19] davidkong0987 commented on #432
Is simply adding the analyzers enough? How are these analyzers applied?
My current issue is I cannot get autocomplete to suggest words with accents in them. I know these analyzers should be able to solve the problem but I don't know how to apply it.

[2019-12-02 20:31] davidkong0987 commented on #432
For example, I have the following mapping.
What tells reactivesearch to search in _name.ascii and _name.ascii2?
It seems like autosuggest works even when I don't have these two subfields.

[code]

[2019-12-03 06:35] #935 closed, assigned to nobody

[2019-12-05 21:02] #975 closed, assigned to nobody

[2019-12-06 20:16] rccoe opened #1271 "React Typescript - customQuery not a valid prop on ReactiveList"
**Affected Projects**
React

**Library Version:** x.y.z
3.1.1

**Describe the bug**
Trying to add customQuery as a prop to ReactiveList, I get an error. The documentation states that this prop should be possible: [Docs](https://docs.appbase.io/docs/reactivesearch/v3/result/reactivelist/)

**To Reproduce**

Steps to reproduce the behavior:
[code]

**Expected behavior**
Typescript shouldn't complain

[2019-12-07 09:29] skagrawal10 opened #1272 "CategorySearch render prop is not working"
Hi,

I am using render prop in CategorySearch to change the layout of suggestion shown to user. But, it seems, it is not overriding default render function. Even, when I am providing custom render function, it is taking default layout.

Please help here.

[2019-12-08 17:12] scotthooker commented on #1192
Any update on this?

[2019-12-09 02:54] #864 closed, assigned to nobody

[2019-12-09 13:29] ShahAnuj2610 commented on #1271
seems to be a typo, fixed [docs](https://github.com/appbaseio/Docs/pull/91)

[2019-12-09 14:24] hansendx commented on #1112
This problem persist in the 1.0.0 stable release.

[2019-12-10 02:52] lakhansamani opened #1273 "Autosuggest does not work for non-ascii characters in DataSearch"
**Affected Projects**
ReactJS

**Library Version:** x.y.z
3.1.1

**Describe the bug**
When we have `asciifolding` analyzer on for text fields, ElasticSearch tokenizes ascii characters into English characters which makes the search easier.
For example if I have `crémer` in my data, then it tokenizes this into `cremer` so that we can search with normal English.

Sample DataSet: https://dejavu.appbas

[2019-12-10 03:28] lakhansamani commented on #1273
Works with custom render method and `rawData`

updated example: https://codesandbox.io/s/infallible-tdd-3fg68

[2019-12-10 08:03] icoxfog417 commented on #1067
Vue Tutorial uses `renderData`. So fix it helps newcomers.

https://opensource.appbase.io/reactive-manual/vue/getting-started/reactivesearch.html#step-3-adding-filters-and-result-components

[2019-12-10 16:04] joepio commented on #1011
Bump, two thumbs up now :)

[2019-12-10 20:42] allendol opened #1276 "How can I update Reactivesearch query in proxy"
I would like to update Reactivesearch query in proxy. I need to update (filter) the query in proxy to satisfy the security.
I am using express.
I am trying to capture the request on onProxyReq as below:
onProxyReq: (proxyReq, req) => {
      proxyReq.setHeader(
          'Authorization',
          `Basic ${btoa(esauth)}`
      );
Do I need to update my query by getting req.query object within the

[2019-12-11 00:59] AaronPlave opened #1277 "ReactiveComponent SelectedValue Existence Check Fails on Number with Value 0"
**Affected Projects**
React

**Library Version:** 3.0.2

**Describe the bug**
The `selectedValue` prop in ReactiveComponent can be of type `number` but in the `mapStateToProps` of ReactiveComponent the value existence check `state.selectedValues[props.componentId].value` fails when the value is 0. The result is that `selectedValue` will be `null` when it should be `0`. This issue is exposed throug

[2019-12-14 01:04] davidkong0987 opened #1278 "rangeslider non-integer interval"
**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**
Integer Interval for histogram does't work for smaller numbers

**Describe the solution you'd like**
Non-integer interval for histogram

**Describe alternatives you've considered**
You can feed data * multiple and use /multiple in renderTooltipData. But then the incorrect amount is shown in "showFilter"

[2019-12-14 01:07] davidkong0987 opened #1279 "RangeSlider consistency between renderTooltipData and showFilter"
**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**
renderTooltipData formatting does not show up in showFilter

**Describe the solution you'd like**
option to use renderTooltipData formatting in showFilter

**Describe alternatives you've considered**
None

**Additional context**
None

[2019-12-14 08:31] bitbit-gmbh opened #1280 "Incorrect Vue Documentation on ReactiveList renderResultStats"
I recently updated to ReactiveSearch Vue 1.0, and noticed that renderResultStats for ReactiveList changed slightly (despite the documentation!):

https://opensource.appbase.io/reactive-manual/vue/result-components/reactivelist.html

renderResultStats -> totalResults is not available anymore, it is now numberOfResults.
totalPages  is now numberOfPages.

Is this a bug or a feature? :-)

[2019-12-14 18:45] davidkong0987 commented on #1273
Something happened overnight... now the sandbox no longer works. When clicking the result, the entire screen goes blank and the following errors are raised
[code]

[2019-12-15 09:18] #1271 closed, assigned to nobody

[2019-12-16 00:38] ghost opened #1281 "ReactiveComponent size prop"
**Affected Projects**
React

**Library Version:** 3.1.1

**Describe the bug**
The documentation does not have any reference to a size prop for the ReactiveComponent. However in the type definitions it requires a number.

[code]
I'm not exactly sure whether the documentation or the type definitions are wrong. What is the requirement for?

I am happy to raise a PR for either case. Just need a bit of

[2019-12-16 10:02] davidkong0987 opened #1282 "onChange prop on SelectedFilters not able to write to state"
See when line 37 is uncommented in the following codesandbox: https://codesandbox.io/s/exciting-curran-dcyc3

https://github.com/appbaseio/reactivesearch/issues/670#issuecomment-468217481

[2019-12-16 11:20] bietkul opened #1283 "bug: beforeValueChange doesn't work"
**Affected Projects**
Found in React but may be the case with Vue.JS and React Native.

**Library Version:**3.4

**Describe the bug**
`beforeValueChange` prop doesn't work in the `RangeInput` component when you reject a promise based on some condition.

**To Reproduce**
Define the beforeValueChange prop in RangeInput and resolve the promised based on some condition for e.g if the start value has m

[2019-12-16 19:51] allendol opened #1285 "defaultQuery is not working in SingleDropdownList."
I would like to filter the data within SingleDropdownList when the page is rendered. I am using defaultQuery as below.
When the page is rendered it still shows the result without the filter criteria.
The application doesn't go to defaultQuery function:
----
defaultQuery = {
    function(value, props) {
        console.log("List Value: " + value)
        return {
            query:

[2019-12-16 20:45] allendol commented on #852
Same problem exists on  SingleDropdownList.
Just go to https://codesandbox.io/s/32koxx9n0p?fontsize=14 and change the MultiList to SingleDropdownList
Same problem exist.

[2019-12-16 20:46] allendol commented on #1285
To recreate the problem go to:
https://codesandbox.io/s/32koxx9n0p?fontsize=14 and change the MultiList to SingleDropdownList
Same problem exist.
basically defaultQuery is not called.

[2019-12-17 10:13] #1281 closed, assigned to nobody

[2019-12-17 20:52] davidkong0987 opened #1287 "GeoDistanceSlider sometimes works, sometimes does not"
**Affected Projects**
React

**Library Version:** x.y.z
maps 3.0.0.beta 2
base 3.1.1

**Describe the bug**
Sometimes, the geodistanceslider works, sometimes it kills the entire website. I take out the component, and add it 6 hours later, it works again. It's hard to recreate, just wondering if anyone has had this problem before. Maybe this is the wrong place to post this stuff. I've reduced my cod

[2019-12-17 22:51] allendol opened #1288 "Can you apply global filtering in reactivesearch"
This is my use case.
I have created index which has a column: city. (Actually column city is within the child index. So the index is a parent child index.)
I would like to use ReactiveSearch to display data for this index using SingleDropDown list, DataSearch, and ReactiveList. But I like to apply a filtering for city='something" no matter what the user selects or types in the search criteria.
I c

[2019-12-18 05:16] bietkul commented on #1283
Related #640

[2019-12-18 10:24] #995 closed, assigned to nobody

[2019-12-18 10:25] #1273 closed, assigned to nobody

[2019-12-18 12:24] #991 closed, assigned to nobody

[2019-12-19 10:14] #1283 closed, assigned to ShahAnuj2610

[2019-12-23 05:22] bietkul opened #1291 "URLParams with ReactiveList"
**Affected Projects**
React

**Library Version:** x.y.z
3.1.2

**Describe the bug**
URL param is not getting removed when using browser navigation

**To Reproduce**
Steps to reproduce the behavior:
1. Set the `URLParams` as `true` in `ReactiveList` and click on a page.
2. Go back and URL param is not getting removed

https://codesandbox.io/s/reverent-driscoll-88fqw

**Expected behavior**

**Screen

[2019-12-23 05:26] bietkul opened #1292 "MultiRange: Enabling URLParams crashes the App"
**Affected Projects**
React

**Library Version:** x.y.z
3.1.2

**Describe the bug**
URL param is working as expected

**To Reproduce**

Steps to reproduce the behavior:
1. Set the URLParams as true in MultiRange and select something.
2. Go back
3. Go forward
4. You can see the error `Can't read property `start` of undefined`

https://codesandbox.io/s/reverent-driscoll-88fqw

**Expected behavior**

[2019-12-23 08:32] #997 closed, assigned to nobody

[2019-12-23 11:29] #1292 closed, assigned to ShahAnuj2610

[2019-12-23 17:07] WGriffing opened #1297 "DateRange (with URLparams={true}) shifts every reload"
**Affected Projects**
React

**Library Version:**
3.1.3

**Describe the bug**
While using a DateRange component with `URLParams={true}` and a date range set by the user, reloading the page (or copying/pasting URL to new tab) causes the selected date range to shift. The shift amount is dependent on your timezone as compared to UTC, but for ESD/EST the shift is -1 day for every reload.

**To Reprodu

[2019-12-26 04:12] #1297 closed, assigned to ShahAnuj2610

[2019-12-26 05:25] #1291 closed, assigned to ShahAnuj2610

[2019-12-27 17:37] cb29 opened #1304 "React + Reactivesearch with ES index + wrong default argument _msearch"
Hello,

I'm using "@appbaseio/reactivesearch": "^3.2.0", and an index in a ES cluster version 7.0.
I tried to use a basic SearchBox, but I get always an error 401 from ES.
After having debug, I see that the request use this URL pattern :
`https://my-cluster/my-index/_msearch`
With ES the first argument must be "_search' and not 'msearch', isn't ir?

How can I modify this argument for my differents

[2019-12-27 17:46] cb29 commented on #1304
I found a solution to modify this first argument, add this line in the Reactsearch Base : transformRequest={props => ({    ...props,    url: props.url.replace('_msearch', '_search')  })}

But now I get an 406 error....

DId you have a fully example to connect Reactivesearch with an index from an ES Cluster ?

Thanks.

[2019-12-27 17:51] lakhansamani commented on #1304
@cb29 `_msearch` is a valid request for ElasticSearch. It helps in combining requests for multiple components.
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-multi-search.html

`401` Error refers to Unauthorized error. That means you are missing credentials for your URL
you can either use `credentials` prop or add basic auth in URL itself
example: `http://admin:admin@myclus

[2019-12-27 20:17] cb29 commented on #1304
@lakhansamani

it's ok if I add the basic auth in the url. Thanks !!!

[2019-12-27 21:11] #1304 closed, assigned to nobody

[2019-12-30 08:43] grantas33 commented on #254
why doesn't onValueSelected fire on search icon click?

[2019-12-30 13:20] cb29 opened #1306 "Alter the default query from a field with a specific value"
Hello,

by default, when I open the search all the items are displayed. I want to filter the default query, to add conditions on specific fields, e.g. :
field_price < 1500
field_custom_boolean = true/1
...
How can I proceed? Do i use 'transformRequest' for this? If yes, can you give me an example?

Thanks for your help.

[2019-12-30 13:35] cb29 opened #1307 "Hide the "Load more" button if you haven't more options"
Hello,

in a multiple list, we can add a "load more" to hide options if we have a lot of items.
But, this button is always visible, even if we have only 1 option.
Is there a setting to hide this button according to the number of options?

Thanks.

[2019-12-30 15:43] epsiont commented on #254
I have similar problems, how to make it work?

[2019-12-30 18:42] grantas33 opened #1308 "DataSearch onValueSelected does not trigger on search icon click"
**Affected Projects**

React

**Library Version:** x.y.z

3.2.0

**Describe the bug**

In the DataSearch component, I use onValueSelected function to perform additional actions with the value when the value changes from any other cause except the autosuggest. However, onValueSelected does not trigger upon clicking the search icon. I do not want to use onValueChange, since it triggers on every auto

[2020-01-01 15:42] abhinavraj23 opened #1310 "Default Suggestions doesn’t work with render prop in DataSearch widget"
**Describe the bug**
Default Suggestions doesn’t work with render prop in DataSearch widget. [Codesandbox link](https://codesandbox.io/s/awesome-swartz-7iuk2?fontsize=14&hidenavigation=1&theme=dark
)

**To Reproduce**
Use this codesandbox [link](https://codesandbox.io/s/awesome-swartz-7iuk2?fontsize=14&hidenavigation=1&theme=dark)

**Expected behavior**
Default suggestions should work in any case

[2020-01-03 12:35] michalica commented on #364
I still see the problem here ... are there any updates in this topic?

It looks like this library in not maintained anymore:

https://github.com/tomchentw/react-google-maps

[2020-01-03 17:01] #256 closed

[2020-01-04 20:12] michalica opened #1313 "Run reactivesearch for development purposes"
**Affected Projects**
React, web

**Library Version:** x.y.z
next

**Describe the bug**
I really spent a lot of time on this so I need to ask.
I forked, cloned (ssh), installed dep., and run project with _yarn dev:web_ .

Dev server is running it detects changes but I really cannot figure out what port is used by the server.

**Screenshots**
My terminal:
<img width="565" alt="Snímka obrazovky 202

[2020-01-04 20:46] michalica commented on #364
It looks like only one maintainer of react-google-maps is not longer taking care of package (for 2 years). This is  new package which can be used as replacement:

https://github.com/tomchentw/react-google-maps/issues/986

There should be just one small breaking change

[2020-01-06 05:57] jyash97 commented on #1313
Hey @michalica

You will need to run an example present in `/packages/web/examples/` in order to debug and test the latest changes.

[2020-01-06 18:27] WGriffing opened #1315 "StateProvider using componentIds prop broken in >=3.2.0"
**Affected Projects**
React

**Library Version:** x.y.z
\>=3.2.0

**Describe the bug**
Utilizing a `StateProvider` with a `componentIds` prop will result in the app crashing.

**To Reproduce**
https://codesandbox.io/s/reactivesearch-state-provider-broken-dqxpd (I cloned this from the `ResultList` example)
Steps to reproduce the behavior:
1. Add a `StateProvider` component and supply a valid `compo

[2020-01-06 20:58] davidkong0987 commented on #444
I still get a lot of unnecessary re-rendering. For example, when you type stuff into autosuggester, why does the ReactiveList re-render?

[2020-01-07 06:00] jyash97 commented on #444
Hey @davidkong0987
You can check this #1086

[2020-01-07 12:51] #1315 closed, assigned to ShahAnuj2610

[2020-01-08 10:14] priyanksha-monotype commented on #1148
@tankchintan any update on how to show more than 10 results

[2020-01-08 12:11] priyanksha-monotype opened #1319 "Datasearch autocomplete suggestions size"
We are using DataSearch component of ReactiveSearch-vue in our application.

I am facing one issue because dataSearch(autocomplete) displays only 10 results, but my query is returning 20.

Is there any property where we can set this size or render every suggestions?

[2020-01-08 12:13] priyanksha-monotype commented on #1319
@bietkul Any idea about this?

[2020-01-08 12:17] jyash97 commented on #1319
Hey @priyanksha

This enhancement makes sense.

Currently we are slicing down the suggestions to a hardcoded value which is `10`. It should be easy to add a prop called `suggestionSize` or `size` which can be used in place of this hardcoded value.

Code Line: https://github.com/appbaseio/reactivesearch/blob/next/packages/web/src/components/search/DataSearch.js#L843

Thoughts @siddharthlatest @biet

[2020-01-08 12:29] bietkul commented on #1319
Right, it should be configurable.

[2020-01-08 12:30] lakhansamani commented on #1319
@jyash97 @priyanksha yes this should be configurable 👍

[2020-01-08 13:55] jyash97 commented on #1307
Hey @cb29  thanks for reporting the issue.

This enhancement is the correct UX. I will look into this and keep you updated on this thread.

[2020-01-08 16:53] tankchintan commented on #1148
Priyanka, unfortunately no updates. I was not able to do what I needed.

On Wed, Jan 8, 2020, 2:14 AM Priyanksha Srivastava <notifications@github.com>
wrote:

[2020-01-09 07:07] jyash97 commented on #1280
Hey @Dreamfish19

We have switched to new docs. Check the vue reactivesearch docs here: https://docs.appbase.io/docs/reactivesearch/vue/overview/QuickStart/

[2020-01-09 07:07] #1280 closed, assigned to nobody

[2020-01-09 16:31] michalica opened #1320 "DataSearch component doesn't update hits in StateProvider correctly If I use autoSuggest=false"
**Affected Projects**
Web

**Library Version:** x.y.z

3.2.1

**Describe the bug**
If I use autoSuggest=false, State provider provides just currentValue of DataSearch. It doesn't provide hits nor aggregations.

**To Reproduce**
use autoSuggest=false and consoleLog searchState[comoponentIdOfDataSearch]

**Screenshots**

I did some inspections of action in redux that are dispatched on ValueChange:

[2020-01-09 17:14] WGriffing commented on #1315
Thanks for the fast turnaround. Updated to, and tested, release 3.2.4 and the issue is now resolved. Sorry for guessing wrong about which bug tracker to write the issue in.

[2020-01-09 21:53] #1313 closed, assigned to nobody

[2020-01-10 06:31] ShahAnuj2610 commented on #1320
hey, @michalica can you share `code sandbox` link?

[2020-01-10 09:17] michalica commented on #1320
Hey @ShahAnuj2610 , Here is example in codesandbox:

https://codesandbox.io/s/distracted-grothendieck-3mxgs

You can see (in console) that StateProvider provide just value of BookSensor if autosuggest=false

[2020-01-10 12:04] grinono commented on #1288
Interested in this as well, adding custom queries(filters) per component may be the only solution.

[2020-01-10 20:00] grinono opened #1321 "Initial query ReactiveList"
Is it possible to set an initial query instead of loading all data in a default query? in the react-native lib. I tested defaultQuery but it's not a prop in ReactiveList and customQuery is a prop but not working as an initial query. Setting a global filter query would be great as well. So based on some userdate we could prefilter all following requests.

same question can be found in #1190 and #12

[2020-01-10 20:07] grinono commented on #1190
Did you find a soltuion for this? looking for the same

[2020-01-11 13:14] siddharthlatest commented on #958
Further update: Since ReactiveSearch v3.2.2, we no longer encode headers passed in the `headers` prop. If a user requires to encode the headers, we expect that they would do this on their end or utilize `transformRequest` prop for complete control

[2020-01-13 02:35] davidkong0987 commented on #792
How would a crawler do this? How would it navigate to a page that you don't have (page 11 in your example)?

[2020-01-13 10:06] bitbit-gmbh opened #1322 "Autosuggest only renders one item"
**Affected Projects**
Vue.JS

**Library Version:**
@appbaseio/reactivesearch-vue": "^1.0.0

**Describe the bug**
Autosuggest renders only one entry from my data.
For example, when I type "k" in the data-search component, autosuggest only
renders 1 example (Country: Kuba). But I have more countrys with "k".
In your Bookstore example, when I type "i" it renders slightly more suggests.

How can I inf

[2020-01-14 15:23] grinono commented on #1321
resolved the above by setting a filter on username/password. So user credentials limit the initial data access

[2020-01-14 15:23] #1321 closed, assigned to nobody

[2020-01-15 01:27] AaronPlave commented on #955
This also appears to be an issue with the React version: https://github.com/appbaseio/reactivesearch/blob/next/packages/web/src/components/basic/URLParamsProvider.js#L34

[2020-01-15 01:47] davkap92 opened #1326 "RangeSlider onDrag functionality when used with labels lagging on Mobile"
**Affected Projects**
React

**Library Version:** 3.2.4

**Describe the bug**

When I use the onDrag functionality added here (https://github.com/appbaseio/reactivesearch/pull/305)
I've just noticed that when I put the values from onDrag into the labels it works fine on desktop
but on mobile using touch it lags severely. I have created a sandbox below, however please try this sandbox in mobile  or

[2020-01-15 12:15] priyanksha-monotype commented on #1319
I tried adding "size" property in DataSearch, it didn't work. What reactive base version should I use?

[2020-01-15 12:15] priyanksha-monotype commented on #1319
My current version is : "@appbaseio/reactivesearch-vue": "1.0.0-beta.21",

[2020-01-15 12:19] priyanksha-monotype opened #1327 "Issues with multiple spaces and backspace in datasearch."
I am using DataSearch for Autocomplete suggestions. I can see in network calls that when adding multiple spaces or using backspace, _msearch call is not going, though my custom query function is called. how can we restrict or ignore multiple spaces and capture backspace

[2020-01-15 12:22] priyanksha-monotype commented on #1327
@bietkul  @jyash97

[2020-01-15 12:23] priyanksha-monotype commented on #1327
<img width="968" alt="Screen Shot 2020-01-15 at 5 50 35 PM" src="https://user-images.githubusercontent.com/22908140/72433703-f06a4900-37bf-11ea-8f02-b582c8140b73.png">
<img width="867" alt="Screen Shot 2020-01-15 at 5 50 56 PM" src="https://user-images.githubusercontent.com/22908140/72433704-f06a4900-37bf-11ea-87b7-005222a66200.png">
<img width="1158" alt="Screen Shot 2020-01-15 at 5 51 18 PM" src

[2020-01-15 12:25] priyanksha-monotype commented on #1327
1. In first image I search text "Arial Bold"
2. In second image on adding multiple spaces, though i trim the space in my custom query, the query didn't fired.
3. In third image on backspace one extra space, query didn't fired.

[2020-01-15 15:39] e-gaulue opened #1328 "Please remove the typo error in MultiDataList js code for customQuery to work"
https://github.com/appbaseio/reactivesearch/blob/640f970330509d7a85bf40b1125ddbe75e88f2b8/packages/web/src/components/list/MultiDataList.js#L289

The call just need single parentheses. Maybe somme other places in the code are concerned.

Regards,

[2020-01-15 19:25] grinono opened #1330 "React native Scrollview is not reaching the buttom of the returned list"
In my React Native setup, after the initial query is returned the DateRange, SingleDropdownList and MultiDropdownList are loaded async and added to the scrollview later.  Because of the added filters and screen height, it's not possible to scroll to the bottom of the ReactiveList Items.

How to fix this, other lists fit fine withing the scrollview.

[2020-01-16 08:32] priyanksha-monotype opened #1331 "CustomQuery datasearch doen't fire on double space and backspace"
@siddharthlatest @jyash97 @bietkul
Hi Guys,

My customQuery is called but _msearch call is not going on more than one space or backspace in DataSearch. Stuck in this. Any idea?

<DataSearch
          componentId="SearchSensorAc"
          iconPosition="right"
          categoryField="type"
          placeholder="Search by fonts, designers, foundry, psname"
          queryFormat="or"
          clas

[2020-01-16 19:25] EnnioSimoes commented on #1112
I have the same problem

[2020-01-17 12:44] MarttiR commented on #1210
I think this warning is related, it's shown since [babel-plugin-emotion@10.0.23](https://github.com/emotion-js/emotion/blob/master/packages/babel-plugin-emotion/CHANGELOG.md#10023)
[code]
Some affected components from stack traces:
[code]
[code]
[code]
[code]

[2020-01-20 13:18] e-gaulue opened #1333 "Deal with Internationalization whenever possible"
**Affected Projects**
React

**Describe the solution you'd like**
have Strings in object's props

In pagination: "Prev", "Next"
In ReactiveList: "results found in"

[2020-01-20 14:11] jyash97 commented on #1333
Hey @e-gaulue

You can always use `render` props for creating custom pagination and result stats.

[2020-01-21 12:44] e-gaulue commented on #1333
Hello @jyash97,

Of course, you can do it if you are in hurry. You just have to identify the source code, then copy/paste. For pagination, it's about 100 lines just to change 2 words. And for every new version, you need to check this piece of code has not changed...

But for the long term and to encourage this library adoption, it can't be the solution. Those strings could just be added to props w

[2020-01-21 22:14] bitbit-gmbh opened #1334 "Datasearch Autosuggest not selectable on Android Firefox"
Affected Version: ReactiveSearch Vue Version 1.0,0

**How to reproduce:**

Open this playground on Firefox / Android (Current Version 68, or Nightly 74).

https://reactivesearch-vue-playground.netlify.com/?path=/story/search-components-datasearch--with-fuzziness-as-auto

Type one character in Searchbox.

Try to select one autosuggest-entry. It will not be possible.

**Working example**

Open above

[2020-01-22 06:36] jyash97 commented on #1333
True

I agree. We are missing this at few places and once we identify all the places we can create a prop. For result stats, it's easy to do using `renderResultStats`. For pagination, we may need to introduce props that allow easy configuration.

Here is the issue that we can keep for tracking and mentioning static text: #173

[2020-01-22 17:06] michalica opened #1335 "Checking of checkbox in Multilist is slow when there is a lot of data"
**Affected Projects**

Web
**Library Version:** 3.2.4

**Describe the bug**

Checking checkbox MultiList and MultiDataList in combination with showing a lot of data (1000 reacords)  in ReactiveList has significant delay.

**To Reproduce**

Steps to reproduce the behavior:

https://codesandbox.io/s/silent-sunset-f33kk
 - https://f33kk.csb.app/

**Expected behavior**

Checkbox should be checked immi

[2020-01-22 20:34] mrtinkz opened #1336 "appbase.io image on search page"
**Affected Projects**

**Library Version:** x.y.z

**Describe the bug**

powered by appbase.io image is showing up on search page, next to paging to be precise. Included the screenshot.

<img width="967" alt="Screen Shot 2020-01-22 at 3 25 58 PM" src="https://user-images.githubusercontent.com/377147/72931830-91ab4f00-3d2c-11ea-897f-c01de39b84f4.png">

**To Reproduce**

Steps to reproduce the behav

[2020-01-23 07:50] jyash97 commented on #1336
Hey @mrtinkz
If you are using a free plan of appbase.io than it is required to place the logo. Otherwise, you can hide it using CSS.

[2020-01-23 16:22] #1336 closed, assigned to nobody

[2020-01-23 17:08] trongquyvn opened #1337 "[Map] Search as move doesn't work with defaultQuery"
**ReactiveMaps**: Search as move doesn't work with defaultQuery

When i set option defaultQuery in props
`defaultQuery: () => ({ sort: sortQuery })`
After that: i move on the map, the response of in 'renderAllData function' always is ten records. No matter where in the map.

**Version**:
"@appbaseio/reactivemaps": "^3.0.0-beta.2",
"@appbaseio/reactivesearch": "3.2.4",

[2020-01-23 18:21] divyadeep-MT commented on #1210
Has anyone been able to find solution to this bug?

[2020-01-24 01:44] #504 closed

[2020-01-24 09:13] dbruvers commented on #1209
I managed to hook into the ReactiveSearch internal Redux store and dispatch actions but I would not recommend going this route since it's an internal API and might change with every version.

Instead I suggest just using and sticking with controlled components.

[2020-01-24 09:13] #1209 closed, assigned to nobody

[2020-01-24 16:10] aleplusplus opened #1338 "Using DataSearch with showVoiceSearch on SSR failing window is not defined"
**Affected Projects**
React

**Library Version:** 3.2.4

**Describe the bug**
Using DataSearch with showVoiceSearch on SSR failing window is not defined

**To Reproduce**

Steps to reproduce the behavior:
Using NextJS with DataSearch and the prop `showVoiceSearch=true`

**Expected behavior**

**Screenshots**

<img width="1305" alt="Screen Shot 2020-01-24 at 11 09 00 AM" src="https://user-images.gi

[2020-01-25 16:59] ShahAnuj2610 commented on #1338
@aleplusplus you need to tweak code a little bit. Here's a working example for you: https://codesandbox.io/s/elated-flower-rm2wo

You can do this using `Wrapper` component:
[code]

[2020-01-25 21:14] #1029 closed, assigned to nobody

[2020-01-25 22:14] #1016 closed, assigned to nobody

[2020-01-28 07:42] MarttiR commented on #595
@TCMiranda This is a must-have.

Consider such documents:

[code]
Currently, it doesn't seem to be possible to use values from the nested translated field.

[2020-01-28 07:53] siddharthlatest commented on #595
@MarttiR You can achieve this via `customQuery` prop, where you can pass the QueryDSL directly.

[2020-01-28 08:11] michalica opened #1339 "Back button in browser doesn't work with URL params"
**Affected Projects**
web

**Library Version:** x.y.z
newest

**Describe the bug**

When we have more than one MultiList, MultiDatalist or any component which support URLParams on the page Back button in the browser doesn't work. See codesanbox below:

**To Reproduce**
Check two values in first MultiDataList and two values in second one and try to go back.

**Additional context**
https://codesandb

[2020-01-28 08:43] michalica commented on #1339
even when I set URLParams={false} in the second list and I keep URLParams={true} in the first list back button doesn't work.

`<MultiDataList
          title="MultiDataList"
          componentId="CitySensor"
          dataField="group.group_topics.topic_name_raw.raw"
          URLParams={true} // here turn on URLParams
          data={[
            { label: "Open Source", value: "Open Source" },

[2020-01-28 09:59] jyash97 commented on #1272
Hey @skagrawal10
Can you share a codesandbox link?

Check this example: https://codesandbox.io/s/beautiful-kirch-z958p

[2020-01-28 14:29] tosbatti opened #1340 "Label "Loading..." shown after loading data in SSR without pagination"
**Affected Projects**
Vue.JS

**Library Version:**
v1.0.0-vue

**Describe the bug**
Label "Loading..." still shown after loading data in SSR without pagination

In component ReactiveList data property `isLoading` final state is `true`

**To Reproduce**
Steps to reproduce the behavior:
Install vue example named `with-ssr`
https://github.com/appbaseio/reactivesearch/tree/next/packages/vue/examples/w

[2020-01-28 14:40] TCMiranda commented on #595
@siddharthlatest I believe you can, but components are not prepared for that. They lack the option to map responses to internal features, like the dropdown options, the range histogram, etc.

Making it impossible to work with standard components just by using `customQuery`.

Disclosure: it has been some time since I worked with this library, so I'm not sure it is solved.
At the time we faced this

[2020-01-28 20:07] cooperka commented on #634
[not stale]

[2020-01-29 08:11] mprandot commented on #813
@metagrover @willopez  Hello guys!!
I'm trying to find some info about testing the ReactiveSearch stack, but find nothing...
Do guys have some news about this item? I think that this is very important.

[2020-01-29 14:07] #1308 closed, assigned to nobody

[2020-01-30 07:52] MarttiR commented on #1210
This is not exactly a forward-looking solution, but partially downgrading to emotion@9 seems to work.

 `package.json`:

[code]

 There may be lingering issues, so YMMV.

[2020-01-30 13:39] #1032 closed, assigned to nobody

[2020-01-31 05:20] siddharthlatest commented on #1319
Re-opening as the Vue.JS enhancement is still remaining.

[2020-01-31 08:26] Pawani-DeSilva commented on #1233
Any update on this?

[2020-01-31 10:55] ShahAnuj2610 commented on #1320
it's the correct behaviour. When `autoSuggest={false}`, suggestions query doesn't get fired, so hits for `BookSensor` don't get updated. As a result, `StateProvider` doesn't get updated with `hits` and you only get `currentValue`

[2020-01-31 10:55] #1320 closed, assigned to nobody

[2020-01-31 11:58] ShahAnuj2610 commented on #1236
@rccoe I'm using `downshift` latest version, but that does not affect the `MultipDropdownList` style: https://codesandbox.io/s/confident-dawn-1yknf. Can you share a reproducible code sandbox demo?

[2020-01-31 13:03] ShahAnuj2610 commented on #1331
@priyanksha can you share code sandbox example?

[2020-01-31 16:07] bietkul commented on #1310
@abhinavraj23 I checked the code sandbox example, you can directly(no need to define `defaultSuggestions` prop) use the default suggestions in your custom`render` method. It doesn't seem to be a library bug, if you're using the `render` method then it's your responsibility to render the UI.
For example, check [here](https://codesandbox.io/s/pedantic-wozniak-ksnr1).

[2020-02-02 16:22] CaNCaNCode opened #1348 "ResultCard Problem since rc1 Vue"
**Affected Projects**
Vue.JS

**Library Version:** x.y.z
1.0.0

**Describe the bug**
I updated to 1.0.0 and used the latest beta before. The "ResultCard" component does not work since rc1 in the same way as it was in latest beta version. I use :renderData="cardTemplate" in the component but it is not calling. On beta versions it worked perfect.  Is it a bug or is there something changed? By the wa

[2020-02-02 19:57] lucidhack opened #1349 "Local Elasticsearch Instance"
Does reactivesearch support a local copy of elasticsearch?

[2020-02-03 09:28] e-gaulue opened #1350 "[MAP] defaultValue in DataSearch don't show anything on the map"
**Affected Projects**
React

**Library Version:**
    "@appbaseio/reactivemaps": "^3.0.0-beta.4",
    "@appbaseio/reactivesearch": "^3.3.7",

**Describe the bug**
If I put a string in defaultValue of my DataSearch, I see results in DataList but nothing on the map. If I type this same string in the search field of my DataSearch and press 'Return', I get the same results in DataList, but I can see t

[2020-02-04 06:50] #1319 closed, assigned to nobody

[2020-02-04 09:45] prashant-rajoriya commented on #1225
Then how do we send only one JSON, the query JSON

[2020-02-04 17:02] cb29 opened #1353 "Toogle menu + use all field values for data array"
Hello,

is there a solution to use all the field values inside the map datas ?

**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**
Use field values for the toogle buttons

**Describe the solution you'd like**
Don't define manually the values array, and use the values of the field.

`            <ToggleButton
              componentId="lorem-ipsum"

[2020-02-05 06:43] #1338 closed, assigned to nobody

[2020-02-05 08:36] ShahAnuj2610 commented on #1148
@priyanksha @tankchintan it is possible to show more than 10 suggestions in both `React` and `Vue`. You can use the `size` prop fixed by following two PRs:

- React: https://github.com/appbaseio/reactivesearch/pull/1323
- Vue: https://github.com/appbaseio/reactivesearch/pull/1344

[2020-02-05 17:01] rp4rk commented on #1205
Also experiencing this, exact same recreation steps as Jake.

[2020-02-06 11:33] rp4rk commented on #1205
https://github.com/appbaseio/reactivesearch/blob/next/packages/web/src/components/range/DynamicRangeSlider.js#L69

I believe this line is the problem, `this.props.range.start` will be coerced to false and cause the block to never be entered, meaning `this.state.range` is never set resulting in the component not rendering.

[2020-02-06 11:42] #1049 closed, assigned to nobody

[2020-02-06 18:10] e-gaulue commented on #1328
It's on the way: #1359

[2020-02-07 07:06] gauthierm opened #1360 "Controlled DataSearch autosuggestions not debounced"
**Affected Projects**
React

**Library Version:** 3.x

**Describe the bug**
When you use a `<DataSearch>` as a controlled component with `value` and `onValueChange` props the `componentDidUpdate` method calls `setValue` with `isDefaultValue=true`.

This means de-bouncing is ignored for the autosuggest query and causes the interface to be slow and places extra load on Elasticsearch.

Changing the `

[2020-02-07 11:35] e-gaulue commented on #1350
You can't use DataList and ReactiveMap together, they are two different tool.

You can use renderAllData of ReactiveMap to list all your data linked with your map.

[2020-02-07 11:35] #1350 closed, assigned to nobody

[2020-02-09 14:17] jkhaui commented on #1210
I don't use emotion on its own, but right now I have 160 errors in my console and I had no idea where they're coming from... I traced it back to ReactiveSearch because they're all the same error of "functions that are interpolate in CSS calls will be stringified" :\

Any guidance on how to fix this or what is causing it? Many thanks

[2020-02-10 14:00] jyash97 commented on #1148
Hey @tankchintan thanks for reporting the issue 💯
Duplicate suggestions issue has been solved now. We have added a prop called `showDistinctSuggestions` which when set to `true` parses 1 suggestion per document. For more detail, you can refer the docs [here](https://docs.appbase.io/docs/reactivesearch/v3/search/datasearch/).

[2020-02-10 16:49] lucidhack commented on #1349
Does reactivesearch support a local instance of Elasticsearch (without using hosted appbase.io)?

[2020-02-10 17:18] siddharthlatest commented on #1349
Yes, you can use a local instance of ElasticSearch.

[2020-02-10 17:18] #1349 closed, assigned to nobody

[2020-02-11 06:07] bmi2013 commented on #1230
The HTTP method that reactivesearch uses, should be an parameter to ReactiveBase so that client can change that based on proxy implementation. AWS cloudfront, e.g., does not allow body in HTTP GET requests. In that case all search requests should be delivered via POST method.

[2020-02-11 16:43] MrCode1997 commented on #1112
I have the same problem too.

[2020-02-12 10:48] #994 closed, assigned to nobody

[2020-02-12 11:22] dbruvers opened #1362 "DataSearch: unable to call triggerQuery after useState() call"
**Affected Projects**
React

**Library Version:** x.y.z
3.2.4

**Describe the bug**
When using DataSearch as a controlled component, triggerQuery() should be called after setting state. The problem is that hooks do not support the second callback argument:

`State updates from the useState() and useReducer() Hooks don't support the second callback argument.`

**To Reproduce**
Steps to reproduce th

[2020-02-12 11:30] dbruvers commented on #1362
I realize now this should be labelled as an enhancement and not a bug. Please update the label 😉

[2020-02-13 08:00] e-gaulue opened #1363 "Documentation: How to change DataSearch value from outside?"
**Affected Projects**
React, but maybe all

**Describe the solution you'd like**
Would it be possible to have an example on how to set DataSearch value from external JS code keeping it uncontrolled (if it's possible) and another one with a DataSearch controlled by App.

**Additional context**
Sometime we have full external script (like get the current calling number/IP from a switch) and pass it a

[2020-02-18 07:54] ghost opened #1367 "DataController migration documentation"
**Affected Projects**
 React

**Is your feature request related to a problem? Please describe.**
Was looking through the change log and the new documentation but could not find any reference to the deprecated DataController.

**Describe the solution you'd like**
Would be great to get some documentation on the recommended way to migrate from using DataController to not using it.

**Describe alterna

[2020-02-19 09:42] bitbit-gmbh commented on #1334
@bietkul Could you have a look on this issue? Thanks in advance!

[2020-02-20 16:06] mitchgillin opened #1368 "DateRange component doesn't function as a Controlled Component"
**Affected Projects**
React

**Library Version:** x.y.z
3.4.1

**Describe the bug**
ReactiveSearch controlled DateRange component does not update properly on change.

**To Reproduce**
https://codesandbox.io/s/ecstatic-ride-bly6r?fontsize=14&hidenavigation=1&theme=dark

**Expected behavior**
onChange should pass the correct params, and value should update the value appropriately

**Desktop (please

[2020-02-20 16:55] davkap92 commented on #1326
@bietkul @jyash97 any update here? Thanks

[2020-02-20 17:16] jyash97 commented on #1326
Hey @davkap92
Thanks for the submitting the issue. I was able to reproduce the bug. Will check into it if it's coming from Rheostat or not.

[2020-02-21 18:07] gauthierm commented on #179
Adding `type="search"` to the `DataSearch` component's input would improve accessibility for mobile devices and screen readers.

[2020-02-21 18:08] gauthierm commented on #1000
Similarly, adding `type="search"` to the `DataSearch` component's input would improve accessibility for mobile devices and screen readers.

[2020-02-24 18:18] jake-ingram commented on #419
@csepulv Would you mind sharing some examples for the configuration in both reactivesearch and the Lambda proxy? I'm having trouble visualizing the specifics of the entire process.

[2020-02-24 21:03] csepulv commented on #419
Unfortunately, I don't have code I could post publicly. However, I once wrote a blog post explaining  the general auth process.

https://medium.com/free-code-camp/how-to-secure-microservices-on-aws-with-cognito-api-gateway-and-lambda-4bfaa7a6583c

On the Reactivesearch side, set a callback via `transformRequest`. In the callback, sign requests with `aws4`.

https://github.com/csepulv/auth-api-demo

[2020-02-25 16:00] mitchgillin commented on #1368
~Issue was with an unrelated part of my codebase. Component works as intended.~

Turns out I was not using it as a controlled component in my test. The date range still does not update react state properly. See sandbox.

[2020-02-26 04:28] thusitha458 commented on #1138
Any update on this?

[2020-02-26 15:00] mitchgillin commented on #1368
[code]

[2020-02-26 18:32] mitchgillin commented on #1368
Submitted a PR here: https://github.com/appbaseio/reactivesearch/pull/1369

[2020-02-27 01:38] jkhaui opened #1370 "Provide better options for styling - particularly nested elements"
**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**
This is a great library overall, so it's a shame it appears handicapped regarding fine-grained and intuitive options for styling.
E.g. I need to provide inline styling to the input element of a CategorySearch component. This is so I can pass the `color` property as a variable based on my app's active th

[2020-02-27 17:07] mitchgillin commented on #1368
Related Stack Overflow

https://stackoverflow.com/questions/60416972/react-functional-component-using-the-usestate-hook-does-not-update-onchange-us/60418881#60418881

[2020-03-04 17:11] jide commented on #1288
There is an example of using ReactiveComponent to set a default value and refer to it in other components' "react" prop. Not sure if it fits with child index though, but here is the example:
https://codesandbox.io/s/3ylrrr0r5q?from-embed
And the doc:
https://docs.appbase.io/docs/reactivesearch/v3/advanced/reactivecomponent/

[2020-03-04 17:19] jide opened #1371 "Histogram does not work when using nestedField"
**Affected Projects**
React web (did not test others)

**Library Version:** x.y.z
3.5.0-beta.2

**Describe the bug**
Histogram does not work when using nestedField :)

**To Reproduce**
[code]
Could not find any nestedField in the examples on codesandbox.

**Expected behavior**
It should display an histogram.

**Screenshots**
![image](https://user-images.githubusercontent.com/333073/75904902-511f15

[2020-03-04 17:22] jide commented on #1371
I should add that the filtering itself works. Only the displaying of the histogram does not.

[2020-03-05 09:40] jide commented on #1371
Here is a fix. Did not make a PR since it should probably be fixed in other components too.

https://github.com/Synchronized-TV/reactivesearch/commit/92e559fdf9c9e925929f765dbe4eecbbef9c800d

[2020-03-05 14:52] schmidtflo opened #1372 "Components don't get updated after setValue from selectedFilters"
**Affected Projects**
React

**Library Version:** 3.4.1

**Describe the bug**
When using setValue within the SelectedFilters-Component with `setValue(component, ['value1','value2'])`, the respective component receives the new state, but doesn't get updated. Strangly, clearing all Values of a component with `setValue(component, null)` (like in the Docs) works. I can see the new selected values in t

[2020-03-05 16:25] kud opened #1373 "[Question] How to create a Clear All Filters component?"
Hello,

I'm trying to make a custom component to clear all filters and I don't succeed to make it.

I would like just the "clear all" part of `<SelectedFilters />` without the cloud of tags.

Any way to make me understand how to make it?

Thank you.

[2020-03-05 16:37] kud commented on #1373
Okay done:

[code]

:D

[2020-03-05 16:37] #1373 closed, assigned to nobody

[2020-03-06 04:14] #1334 closed, assigned to nobody

[2020-03-06 04:49] #1084 closed, assigned to nobody

[2020-03-06 12:38] divyadeep-MT commented on #582
@axeff I know this is an old thread but I just got stuck at rendering ReactiveComponent on SSR. Could you point me in the right direction? I looked up **DataController** but couldn't find anything. Any help would be greatly appreciated. Thanks!

[2020-03-08 02:23] tankchintan opened #1375 "ReactiveList's `renderItem` called twice"
I have noticed that the `renderItem` is being called twice for each actual result item being passed to the reactiveList, this seems a bug.

Reproducing it pretty easy, I just put `console.log` in the renderItem & print out the id of the item being rendered, you will notice it right away, the duplicates.

This happens regardless of any other sensors are attached to the reactivelist or not.

I used

[2020-03-09 12:39] carlopascual opened #1376 "Generated nested AND query on lists doesn't work for certain cases"
**Affected Projects**
React (But probably all versions)

**Library Version:** x.y.z
9.2.6

**Describe the bug**
Given a structure like this:
[code]
with sample data:
[code]

and a `MultiList` like this:
[code]
The filters return nothing if both X and Y are selected.

The query generated looks something like:
[code]
but this query doesn't work.

My guess is that ElasticSearch is first fetching the

[2020-03-09 13:56] #631 closed

[2020-03-09 18:47] davkap92 commented on #1326
@jyash97 any updates if it was an older Rheostat version and if it can be updated?
Thanks

[2020-03-10 15:56] wenjzhu opened #1378 "[Question] SearchProvider only returns results in the first page?"
First I want to express a lot of thanks to reactivesearch developers for making this:)

My question is about `SearchProvider`. It seems it is working fine for only the first page results by default. How can I make it serialize all of the page results?

I looked at the documentation and there is a place said `pagination` is one of the valid keys but I tried to use it as a prop but failed. Is there

[2020-03-10 16:52] bietkul commented on #1378
@wenjzhu I'm guessing that you're talking about `StateProvider` component which can be used to access the current state of `reactivesearch` components. If `pagination` prop is set to `true` in `ReactiveList` then in `StateProvider` you'll only get the `hits` for the selected page.

[2020-03-10 17:36] #1113 closed, assigned to nobody

[2020-03-11 01:04] wenjzhu commented on #1378
Thanks for your reply, yes I used `pagination` for `ReactiveList` component. I tried to set it to false after seeing your comment, but it only let me see the "rendered" results(so had to scroll down many times to see the whole results)...I guess my question is, is it possible for us to get all the results by rendering for one time?

[2020-03-12 11:30] alessandroniciforo opened #1379 "Continuous pagination / Infinite scroll pagination / "Load more" pagination"
**Affected Projects**
We're working on a **Vue.JS** project, but I think it'd be worth to bring this feature to **React** and **React Native** as well.

**Is your feature request related to a problem? Please describe.**
The only pagination currently implemented in Reactive Search is the standard pagination with the bar on the bottom of the results. We'd like to have a pagination with the "Load mor

[2020-03-16 17:32] #1105 closed, assigned to nobody

[2020-03-17 10:36] WhoisDavid opened #1385 "[Lists] Search/suggestion on ES side rather than locally"
First, great project guys, thanks a lot for all your work on this!

**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**
The Multilist search is limited to the set of elements in the list (`size` param).

**Describe the solution you'd like**
It would be great to have a way to enable the search feature on MultiLists to do a server search instead of a local

[2020-03-17 10:56] WhoisDavid opened #1386 "[MultiList] ShowLoadMore not working with nestedField"
**Affected Projects**
React

**Library Version:** x.y.z
v3.5.0

**Describe the bug**
`ShowLoadMore` does not work on `MultiList` with nested field.

**To Reproduce**
Can't share the ES context but here is the code:
[code]

**Desktop (please complete the following information):**
 - OS: macOS Catalina
 - Browser Chrome
 - Version 80.0.3987.132

**Additional context**
Console error:
[code]

[2020-03-17 11:17] WhoisDavid opened #1387 "Custom render function crashes on select"
**Affected Projects**
React

**Library Version:** x.y.z
v3.5.0

**Describe the bug**
##### Background:
DataSearch suggestions when used on nested fields returns the field for all nested documents instead of the ones matching (inner_hits). This makes the suggestions useless for my particular use case.
I guess there could be a discussion on whether this is a bug or a feature but for my particular us

[2020-03-17 12:31] ShahAnuj2610 commented on #1387
@WhoisDavid Thanks for reporting. It would be great if you can share code sandbox example.

[2020-03-17 13:37] WhoisDavid commented on #1387
Here is a simple one.
https://codesandbox.io/s/dark-cherry-ljn0f

You can search for anything and select a suggestion (click or enter) to reproduce.

I actually thought this was linked to nestedField, defaultQuery or aggregation but apparently not.

[2020-03-17 22:58] collinwu commented on #1210
I'm getting a bunch of `componentWillMount` warnings due to `Styled(*)` component(s).

I imagine they fixed this in `emotion 10` based on this [issue](https://github.com/emotion-js/emotion/issues/644)

Can `reactivesearch` update to emotion 10 to fix/address the warnings?

[2020-03-18 02:48] ghost commented on #1138
I am experiencing the same issue with the range slider component.

https://codesandbox.io/s/selectedfilters-yj01b

Additionally it seems to be ignoring the defaultValue prop.

[2020-03-18 16:35] carlopascual opened #1388 "SSR not working for nested queries"
**Affected Projects**
React

**Library Version:** 3.5.0

**Describe the bug**
Going to a URL that rehydrates a nested query with SSR doesn't work

**To Reproduce**
The easiest way to reproduce this is to run something based off of `/packages/web/examples/ssr/pages/reactivelist`:
[code]

Select one of the filters and refresh. The page URL should have changed. Nothing loads and this error is thrown

[2020-03-18 20:45] WhoisDavid commented on #1387
My bad on this one. Went to read the docs carefully.
Issue was that the object I was passing to `getItemProps` in the line
[code]
did have an `item` key but did not have a `value` field... This is required as specified in [Custom Suggestions for DataSearch](https://docs.appbase.io/docs/reactivesearch/v3/advanced/customsuggestions/).

Fix:
[code]

[2020-03-18 20:45] #1387 closed, assigned to nobody

[2020-03-19 16:39] tankchintan commented on #1168
This can be accomplished in a limited fashion using `class` options on the component.

[2020-03-19 16:39] #1168 closed, assigned to nobody

[2020-03-20 14:55] zvictor opened #1390 "setSearchParams is not called when filters are cleared"
**Affected Projects**
React

**Library Version:** x.y.z
`"@appbaseio/reactivesearch": "3.5.0"`

**Describe the bug**
Given a project with the ReactiveBase's `setSearchParams` prop defined, `setSearchParams` is always called when a filter is selected, as expected.

However, **when individually clearing filters through `SelectedFilters`**, `setSearchParams` is not called and therefore the URL is not

[2020-03-20 15:38] WhoisDavid commented on #1385
As a workaround if somebody's hitting the same issue: the second solution I mentioned  although a little hacky works decently.

Here is a simple example: https://codesandbox.io/s/admiring-glitter-xp00j
It gives better results with a phrase prefix match (see `customQuery` in the example).

For my use case (on a nested field) I save the current search of the DataSearch up and added a filter in `tran

[2020-03-21 17:21] WhoisDavid opened #1391 "[MultiList] URLParams not working with transformData"
**Affected Projects**
React

**Library Version:** 3.6.1

**Describe the bug**
When using `transformData` to format labels, the `URLParams` use the transformed label in the URL.
For example (see sandbox below) if changing the label from `mylabel` to `transformed mylabel` the multiList query ends up using `transformed mylabel` as a filter in the query instead of `mylabel`.
Thus this creates wrongful

[2020-03-23 09:55] WhoisDavid opened #1392 "[Lists] Count top-level documents instead of nested documents when using nestedField"
**Affected Projects**
React / All

**Is your feature request related to a problem? Please describe.**
Nested fields count is based on nested documents. Would be great to have a way to switch it to count on the top-level document. This would apply to all lists with a count.

Example:
[code]
Currently, if filtering on `bookshelf.books.author`, one would get the following counts on "books":
[code]
wo

[2020-03-24 08:35] jyash97 commented on #1375
Hey @tankchintan, thanks for reporting the issue

This is a known issue. For now you can use `React.memo` or `shouldComponentUpdate`.
Here is the sandbox link: https://codesandbox.io/s/inspiring-greider-8kb65

Ref Issue : https://github.com/appbaseio/reactivesearch/issues/1086

[2020-03-24 09:18] jyash97 commented on #1370
Hey @jkhaui  Thanks for reporting the issue.

You can make use of `innerClass` prop to update the class for child components. Here is the component usage:

[code]

Styles:

[code]

Codesandbox Link: https://codesandbox.io/s/wonderful-smoke-cveky

[2020-03-24 10:38] #1109 closed, assigned to nobody

[2020-03-24 20:27] chico2k opened #1394 "Next.js / SSR and GeoDistanceSlider"
**Affected Projects**
React

**Library Version:** x.y.z
reactivesearch 3.6.1 / reactivemaps 3.0.0-beta.4

**Describe the bug**
I get a

 when using Next.js and GeoDistanceSlider or GeoDistanceDropdown:

I've tried the workaround mentioned in #1338

**To Reproduce**

[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/51293940/77473058-2b6aa780-6e15-11ea-88e0-88ca024477d3.png

[2020-03-24 23:04] alexfgo commented on #1328
The same problem appears to be happening on defaultQuery property.
At this moment it seems impossible to provide any custom function on both properties.

Regards

[2020-03-24 23:38] #1120 closed, assigned to nobody

[2020-03-25 10:23] PascalStehling opened #1395 "Cannot read property '0' of undefined Error with a transformed URL Query"
**Affected Projects**
React

**Library Version:** 3.4.3

**Describe the bug**
If you want to change _msearch to _search as seen in the documentation (https://docs.appbase.io/docs/reactivesearch/v3/overview/reactivebase/#props in transformRequest) it has an Problem with the Structure of the Body, because of the {"preference":"queryResult"}. If you remove that part from the Body it throws the follow

[2020-03-25 10:31] bietkul commented on #1395
@PascalStehling Can you share a code sandbox link that replicates the bug?

[2020-03-25 11:41] PascalStehling commented on #1395
I tried, but i cant create a secret and i cant give away the URL for the ReactiveBase.

[2020-03-25 12:09] PascalStehling commented on #1395
I could find the root of the Proplem. You can test it in this Sandbox: https://codesandbox.io/s/gitxplore-app-qmjdn

You can find the Problem in Line 40 of App.js

It looks like _search (in my original case _search_with_clusters) cant work with the prefix _{"preference":"queryResult"}_ in Body (Bad Request Error), but without it it throws the TypeError: Cannot read property '0' of undefined.

Can

[2020-03-25 12:28] PascalStehling commented on #1395
@bietkul  See new Error Desciption

[2020-03-25 12:39] bietkul commented on #1395
Thanks, @PascalStehling for the description.
I got the issue, we'll fix it soon.

[2020-03-27 08:36] kud opened #1396 "Warning(ReactiveSearch): The `analytics` prop has been marked as deprecated, please set the `recordAnalytics` property as `true` in `appbaseConfig` prop instead."
**Affected Projects**
React

**Library Version:** "@appbaseio/reactivesearch": "3.7.0"

**Describe the bug**
I didn't specify any `analytics` attribute and I've got this message.

I wonder if `analytics` is not set by default.

[2020-03-27 14:22] #1396 closed, assigned to nobody

[2020-03-27 14:29] bietkul commented on #1396
Fixed it here https://github.com/appbaseio/reactivesearch/commit/3b067065815e67b3201931e6ae830231677c265f

[2020-03-27 14:44] kud commented on #1396
Thank you!

[2020-03-27 15:12] stefanlesik commented on #824
I'd like to see an example of `getSearchParams` and `setSearchParams` please @metagrover

[2020-03-27 17:32] kud commented on #1395
It's probably something around but if your API response doesn't have

[code]

`ReactiveList` will throw `Cannot read property '0' of undefined`

I had to add this into my node server:

[code]

It's certainly a bug I did but `ReactiveList` should say that the response is not well done, instead of having an error `Cannot read property '0' of undefined`

[2020-03-27 17:36] kud commented on #1395
I'm not sure if I was clear before, but I'm a beginner about Elastic Search as backend dev (I only do the frontend part usually). And I totally forgot to wrap my answer with an object and an attribute called `responses`. I sent directly the answer of my Elastic Search. And I was surprised that ReactiveSearch throws an not understandable error.

It's not your fault for sure because it's a wrong cas

[2020-03-28 00:40] devinsm opened #1397 "Sort Not Working Properly After Navigation"
**Affected Projects**
React

**Library Version:** x.y.z
3.0.3

**Describe the bug**
The select box sometimes displays an option inconsistent with the current sort order of the results.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/appbaseio/reactivesearch#web
1. Click on "demos/booksearch"
1. Select "Title A->Z" as the sort option
1. Use the browser's back button t

[2020-03-28 08:59] PascalStehling commented on #1395
@kud

Thanks for your Answer. But i didnt quit understand, where I need to add `return res.send({ responses: [body] })` into my Node Server. Could you please explain this in a littile bit more Detail?

Thanks for you help.

[2020-03-28 11:05] kud commented on #1395
Hey @PascalStehling .

Sorry, I used this issue because I've got quite the same error but for another reason, so what I was saying previously won't help you so much.

However, just a few notes about `_msearch` and `_search`.

- `_msearch` is done for multiple searches in the same time in ES side, it's a way to optimise it but it also means that you can use multiple objects as parameters like said

[2020-03-28 15:14] PascalStehling commented on #1395
@kud again thanks for your Answer. The Problem is that I have to to work with a plugin of ES and need to use an variantion of _search.

@bietkul is there a way to work with _search or is @kud right and ReactiveSearch only works with  _msearch at the moment?

[2020-03-28 15:53] kud commented on #1395
I'm not 100% sure but IMO ReactiveSearch was done at first with `_msearch` and it's not so easy to switch it to `_search`. But I prefer to let @bietkul speak about that.

[2020-03-30 08:10] PascalStehling commented on #1395
@bietkul if @kud is right, you should change your Documentation in the ReactiveBase part, at TransformRequest, because that (The above example will change the default _msearch request to _search request.) will not work.

[2020-03-30 08:12] kud commented on #1395
All I know is `_search` is in json where `_msearch` is ndjson. And Reactive Search uses ndjson in payload/params when sending elements in POST, which is not compatible when you've got a server in only json.

[2020-03-30 08:19] bietkul commented on #1395
@PascalStehling @kud ReactiveSearch is designed to work with `_msearch` requests. However, you can change the request using the `transformRequest` prop in `ReactiveBase`. For example, if you're changing the `URL` from `_msearch` to `_search` then it'll have issues because both requests return different kinds of responses and `ReactiveSearch` expects the response for `_msearch`.
I think @PascalSteh

[2020-03-30 08:21] kud commented on #1395
@bietkul however, how do you deal with the payload from ReactiveSearch when it sends ndjson  / multiple objects?

[2020-03-30 08:30] PascalStehling commented on #1395
@bietkul You cant work with transformResponse, because the Error happens befor that function is called. I tried it with logging the Response, but i never got one because of the error.

[2020-03-30 08:44] bietkul commented on #1395
@kud We use the `_msearch` method from [appbase-js](https://docs.appbase.io/api/javascript/apireference/#msearch) which accepts an array of `objects` and transforms it into the `ndjson` format before making the final request to ES.

[2020-03-30 08:46] kud commented on #1395
That's interesting, thank you!

[2020-03-31 13:54] cb29 opened #1398 "Get error 504 timeout + Query too slow"
Hello,

sometimes I get an error 504 (error in logs of Chrome/FF...) with my reactivesearch app. Some filters aren't displayed and/or an error is rendered for the results.
After reading several posts, we can see that the query to ES seems to be too slow (.../_msearch).
With ReactiveSearch, can I resolve this problem with a specific parameter or anything ? (truncate query, query by parts (filters p

[2020-04-01 08:46] cb29 commented on #1306
Hi !

I have found the solution :
1- add a custom query in the 'reactive list' parameters (from props, function...) :
     defaultQuery={this.props.dataQueryCustom}
2- define your custom query :
     	const queryCustom = function() {
	  return {
	    "query": {
 	      "function_score": {
	        "query": {
	          "bool" : {
	            "must": [
	              { "term": { "status": true } }

[2020-04-01 08:46] #1306 closed, assigned to nobody

[2020-04-03 13:20] #1188 closed, assigned to nobody

[2020-04-03 13:23] matsava commented on #1188
https://github.com/appbaseio/reactivesearch/pull/1389

[2020-04-03 19:47] gbxl opened #1401 "enableSynonyms and enableAppbase don't exist"
**Affected Projects**
 React

**Library Version:** x.y.z
3.7.2

**Describe the bug**
The doc refers to `enableSynonyms`, but this doesn't even exist in the props of the `DataSearch` component.
https://docs.appbase.io/docs/reactivesearch/v3/search/datasearch/#props

**To Reproduce**
Write `<DataSearch enableSynonyms={false} />` in your code, watch VScode complain:

[code]

**Expected behavior**
Let

[2020-04-06 05:16] #1401 closed, assigned to nobody

[2020-04-06 20:41] gauthierm opened #1402 "MultiList can't use customQuery with empty defaultValue"
**Affected Projects**
React

**Library Version:** x.y.z
[code]

**Describe the bug**
`MultiList` with a `customQuery` never calls custom query when default value is an empty array.

**To Reproduce**
[code]

Steps to reproduce the behavior:

**Expected behavior**
Default query excludes type = comment documents.

**Additional context**
This is caused by the MultiList component constructor not callin

[2020-04-06 20:44] gauthierm opened #1403 "MultiList frequently calls customQuery with undefined value and props."
**Affected Projects**
React

**Library Version:** x.y.z
[code]

**Describe the bug**
`MultiList` frequently calls customQuery with undefined value and props.

**To Reproduce**
[code]

**Expected behavior**
`customQuery` is called with `value` and `props` as defined in documentation.

**Additional context**
This is caused by the MultiList `componentDidUpdate` using isIdentical to compare the `custo

[2020-04-06 20:45] gauthierm commented on #1402
See https://github.com/appbaseio/reactivesearch/blob/next/packages/web/src/components/list/MultiList.js#L95-L97

[2020-04-06 20:47] gauthierm commented on #1403
See https://github.com/appbaseio/reactivesearch/blob/next/packages/web/src/components/list/MultiList.js#L165

and https://github.com/appbaseio/reactivesearch/blob/next/packages/web/src/utils/index.js#L64-L65

[2020-04-06 21:30] gauthierm commented on #1402
Because the base MultiList is not exported it's difficult to work around this issue. I was able to do so by setting a hacky default value:

[code]

[2020-04-07 00:20] #1143 closed, assigned to nobody

[2020-04-07 00:20] #1142 closed, assigned to nobody

[2020-04-07 17:46] #978 closed, assigned to nobody

[2020-04-07 17:50] gauthierm commented on #1370
Even elements that are exposed by `innerClasses` are really difficult style. For example, the count in multilist rows is really difficult to style. It gets the generated CSS selector from emotion:

[code]

I can add a class to the count using `innerClasses` but it's way less specific than the class generated using the emotion themeing engine.

I end up needing to use:

[code]

Not only is this unw

[2020-04-08 06:01] srinivasindukuri opened #1404 "Getting no results and status is 200,if i use same query out side against elastic search getting results"
Hi Team,

I am new to this Reactive search and facing the below issue,please help me or give me suggestions.

When i use RangeInput or any ui component,it is firing to get results from elastic search but always  getting no hits.if i use the same query out side manually by hitting ES using POSt Man getting the results.

Also observed post man taking some time to get the results but reactive search

[2020-04-08 10:38] srinivasindukuri commented on #1404
The above issue is because of wrong mentioning of index name and app in url.

Thanks.
Srinivas.

[2020-04-08 10:38] #1404 closed, assigned to nobody

[2020-04-08 21:06] #1151 closed, assigned to nobody

[2020-04-09 18:56] crab86 opened #1407 "Set MultiList defaultQuery based on Select Option"
**Affected Projects**
React / ReactNative

**Is your feature request related to a problem? Please describe.**
I am trying to build a Reactivesearch based Searchwebsite with a MultiList Selection. The terms within that MultiList selection should come from a significant terms aggregation
( https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-significantterms-agg

[2020-04-10 12:54] neoromantic opened #1408 "Somewhere after 3.1.1. Cyrillic characters in defaultValue or labels leads to node-fetch TypeError"
**Affected Projects** React

**Library Version:** 3.7.9

**Describe the bug**
After update to latest version from one we used before (3.1.1) Reactive search fails with TypeError regarding contents of a res headers.

The issue is that we have some Cyrillic characters in our filters and when Reactivesearch tries to set HTTP header with it, node-fetch checks it for invalid symbols and crashes.

As fa

[2020-04-10 12:56] siddharthlatest commented on #1408
Hey @neoromantic, is it possible to share a code sandbox demonstrating this issue?

[2020-04-10 12:58] siddharthlatest commented on #1398
@cb29 The 504 error is related to your hosting service. This is not a ReactiveSearch issue. I recommend following the best practices for ES hosting. You can also choose to host with [appbase.io clusters](https://appbase.io/clusters) - where we can provide support on this.

[2020-04-10 12:58] #1398 closed, assigned to nobody

[2020-04-10 18:48] crab86 opened #1409 "Question: Re-Rendering of ReactiveList Results"
How can i trigger a re-rendering of the ReactiveList Results? (e.g. with a button onClick event?)

[2020-04-10 18:59] crab86 opened #1410 "Clear Filters does not work with default / customQuery in MultiList"
I am using the following MultiList with default and customQuery. The defaultQuery works just fine and when selecting a value the SearchResults are updated as expected. But when clearing the selected value from the SelectedFilters (either the value itself or via clear-all) i always get no results and all components vanish? How do i need to implement this to work correctly? I read hours through your

[2020-04-11 18:12] crab86 commented on #1252
Does this only happen in MultiDataList? Having troubles with MultiList and customQuery at the moment. I will try to reproduce it here as well.

[2020-04-11 18:19] crab86 commented on #1402
Hi @gauthierm : Could you describe your hacky solution in detail? I am new to react/javascript but nevertheless i am using MultiList with defaultQuery and customQuery as well and as soon as i am clearing the MultiList filter via Selected Filters component - my Multilist vanishes. Maybe this is related so i would really like to see your hack!

[2020-04-11 18:20] DustinKLo commented on #1173
@z4m0 i can't seem to get your `defaultQuery` to work, where do you get the `must: filter` and where did you store your `lastRefreshTime` value?

[2020-04-12 08:58] crab86 commented on #1410
I solved it myself, the name of the aggregation within the default query (meshqual in the example below):

`
   defaultQuery={
      aggs: {
        "meshqual": {
`
Has to be the same name as the elasticsearch field that stores the terms. After changing it to:

`
   defaultQuery={
      aggs: {
        "meshqualifiers.keyword": {
`

I could simply delete the customQuery and the selected terms work

[2020-04-12 08:58] #1410 closed, assigned to nobody

[2020-04-14 16:44] #1162 closed, assigned to nobody

[2020-04-15 07:33] jyash97 commented on #1409
Hey @crab86

It will be great to have a Codesandbox link for this, as we can't really tell that what are you trying to achieve here and what is the reason behind ReactiveList, not re-rendering.

[2020-04-15 10:47] divyadeep-MT opened #1411 "Default sort option doesn't work in SSR."
**Affected Projects**
React

**Library Version:** x.y.z
3.7.1

**Describe the bug**
`defaultSortOption` prop isn't taken into account when rendering result list on server side. Instead, the first option present in the sort-options list is taken to generate the ElasticSearch query.

**To Reproduce**
Steps to reproduce the behavior:
1. Add sort options to the SSR example's `ReactiveList` props.
2. S

[2020-04-15 10:50] #1163 closed, assigned to nobody

[2020-04-15 11:52] davkap92 commented on #1326
@bietkul @jyash97 Hi sorry just following up on this please. Thanks

[2020-04-15 15:51] #1160 closed, assigned to nobody

[2020-04-15 16:06] cb29 opened #1412 "Style element/filter in a superior level"
Hi,

we can style filters and elements with specific props, i.e:

`renderItem={(label, count, isSelected) => (
    <div>
        {label}
        <span style={{
            marginLeft: 5, color: isSelected ? 'red' : 'dodgerblue'
        }}>
            {count}
        </span>
    </div>
)}All projects`

I'm using this custom props to design the label and count of a checkbox element.

But, I need to

[2020-04-15 20:23] cb29 opened #1413 "Errors 'No 'Access-Control-Allow-Origin' header is present on the requested resource.'"
Hello,

I'm using ReactiveSearch (3.7.4) in a React project.
On a page I have placed the ReactiveSearch search system :

<ReactiveBase
 // ES URL : https://login:pwd@esurl:port.
url={urlWithAuthentication}
// ES index.
app='index'
 .....

<div><CustomComponentWithFilters /></div>
<div><CustomComponentWithReactiveList /></div>
...

But, when I open/load the page I get several errors in Chrome Dev T

[2020-04-16 12:37] ShahAnuj2610 opened #1414 "Selected Filters (Clear All) doesn't work with ReactiveComponent"
**Affected Projects**
- [x] ReactJS
- might be VueJS (not sure)

**Library Version:** x.y.z
- 3.7.11

**To Reproduce**
- Click any value from the cars list. Then select `Clear All` button.

**Expected behavior**
- The filter should get reset and all data should be available.

**CSB**
https://codesandbox.io/s/reactivecomponent-ffipt?file=/src/index.js

[2020-04-17 06:08] ShahAnuj2610 commented on #1413
@cb29 Thanks for reporting. It would be a great if you can share a reproducible code sandbox example.

[2020-04-17 06:40] ShahAnuj2610 commented on #1411
@divyadeep-MT I'm not able to reproduce it. This is my `ReactiveList` config for `sortOptions`:

[code]
and it's applying `Bedrooms` sort by default.

Check this working SSR csb example for more info: https://codesandbox.io/s/bold-sara-mjhb3?file=/pages/index.js

[2020-04-17 06:48] divyadeep-MT commented on #1411
Hi @ShahAnuj2610, you closed the issue without even letting me reply :/.
The issue is visible even in the codesandbox URL you shared
![Screenshot from 2020-04-17 12-15-16](https://user-images.githubusercontent.com/52448286/79540138-3ed00200-80a5-11ea-92af-3ce978dd80d7.png)
Reload the page and take a look at the response for the request for the network call corresponding to the page. You'll be able

[2020-04-17 06:59] ShahAnuj2610 commented on #1411
OK, I got your point. The **defaultSortOption** should get applied right on mount regardless of query applied or not.

[2020-04-17 07:00] divyadeep-MT commented on #1411
Exactly. You got it :smiley:

[2020-04-17 07:24] ShahAnuj2610 commented on #1403
Thanks for reporting. I noticed one more issue while looking into this, which we need to resolve. The props are coming as **undefined** in the `customQuery` (ideally this shouldn't be the case) due to which accessing `props.dataField` crashes the component. This may or may not apply to other components which applies `aggs` query.

CSB: https://codesandbox.io/s/stupefied-herschel-lcyge?file=/src/in

[2020-04-17 07:44] ShahAnuj2610 commented on #1402
Right. Initially the query should have been with called with `comment` as value.

Reproducible CSB: https://codesandbox.io/s/wizardly-pascal-zim38?file=/src/index.js

[2020-04-17 07:57] ShahAnuj2610 commented on #1397
Currently we do not store `sortOptions` in the URL. We only store page number in the URL. Otherwise, this would have been possible by passing `URLParams=true` in `ReactiveList` component. This would be a good enhancement to do.

For your ref: ![](https://i.imgur.com/4hL9PUp.png)

Read more about it over [here](https://docs.appbase.io/docs/reactivesearch/v3/result/reactivelist/#props).

[2020-04-17 08:54] ShahAnuj2610 commented on #1390
Seems to work for me. Check this: https://codesandbox.io/s/exciting-lederberg-yq3sq?file=/src/index.js. Can you share a reproducible example?

[2020-04-17 09:06] ShahAnuj2610 commented on #1388
Right. The component crashes. Here's a reproducible source: https://codesandbox.io/s/async-haze-gtpnc?file=/pages/index.js

[2020-04-17 09:22] ShahAnuj2610 commented on #1378
@wenjzhu it's possible. Set `pagination={false}` and `infiniteScroll={false}` and pass **size** prop as per your need (i.e. the number of results you want to see at one go). Here's a demo: https://codesandbox.io/s/elastic-williams-4i1hx?file=/src/index.js.

[2020-04-17 09:22] #1378 closed, assigned to nobody

[2020-04-17 09:23] ShahAnuj2610 commented on #1376
@carlopascual Thanks for reporting. It would be great if you can share reproducible code sandbox example.

[2020-04-17 09:25] ShahAnuj2610 commented on #1375
routing this issue to https://github.com/appbaseio/reactivesearch/issues/1086

[2020-04-17 09:25] #1375 closed, assigned to nobody

[2020-04-17 09:29] ShahAnuj2610 commented on #1372
@schmidtflo Can you share a reproducible code sandbox demo?

[2020-04-17 09:43] ShahAnuj2610 commented on #1368
There seems to be a problem with `Clear All` of SelectedFilters. It is not clearing the value of dates selected.

[2020-04-17 12:07] jyash97 commented on #1326
Hey @davkap92

Sorry for the delay in responding. I was looking into the changelog of rheostat and they have migrated their styling which will be breaking change because it cannot accept `className`. But in order to fix this issue, I am testing by upgrading to version `2.2.0` and it seems to work. If this works out well, I will be creating a PR with the appropriate demo videos.

[2020-04-17 12:58] ShahAnuj2610 opened #1415 "sortBy is not reactive in MultiList"
**Affected Projects**
- [x] React
might be **Vue** also

**Describe the bug**
- on changing `sortBy` the list doesn't get updated

**To Reproduce**
- https://opensource.appbase.io/playground/?path=/story/list-components-multilist--custom-sort

**Expected behavior**
- the list should get updated according to the sort value passed

**Video**
https://www.loom.com/share/4defcbe892db45f08b87bac3ce86a85

[2020-04-17 13:16] jyash97 commented on #1326
Hey @davkap92  Let me know if the demo videos in the referenced PR make sense and after locally testing I can confirm the dragging behavior is better.

[2020-04-17 13:21] davkap92 commented on #1326
Hi @jyash97 thanks for the updates, from the looks of the 'after' video the label
isn't changing anymore though.. perhaps something has changed with how the rheostat labels in newer version? thanks

[2020-04-17 13:33] jyash97 commented on #1326
No @davkap92

I recorded the video for this sandbox: https://codesandbox.io/s/fast-microservice-6ocl0 ( mentioned above ), and the `end` key is changing on dragging that's why you see the change in Label.

Also now I think the suspect might be the state updates due to the `key` if you remove the key everything work as expected.

[2020-04-17 13:40] jyash97 commented on #1326
I can confirm the above behavior happens with the current PR as well, I think the issue should have been to update the label based on current values. Right ?

[2020-04-17 13:57] davkap92 commented on #1326
So to clarify, default behaviour works fine, i wanted to implement labels that change on drag ( which i created for the above mentioned sandbox),
and when I implemented that by updating end label, it now lags on mobile. But as far as I can remember it didn't use to. Hope that clarifies thanks

[2020-04-17 13:58] davkap92 commented on #1326
Sorry perhaps the issue title could have been clearer - RangeSlider onDrag functionality when used with labels lagging on Mobile

[2020-04-17 14:36] #940 closed, assigned to nobody

[2020-04-17 16:56] devinsm commented on #1397
@ShahAnuj2610 Thanks for your response! I think however there's been a slight miscommunication. The issue is not that the sort option resets after navigation (that is the expected behavior). The issue is that although the order of results goes back to the default, the select box still displays the option the user last selected. So in the .gif above, the select box says that the items are sorted by

[2020-04-18 03:18] alex09j22 opened #1419 "Legacy context API has been detected within a strict-mode tree"
When I use <ReactiveBase> in React v.16.13, I am getting this issue.

[code]

How can I solve?

[2020-04-20 05:41] ShahAnuj2610 commented on #1397
@devinsm Thanks! I got it.

[2020-04-20 06:31] jyash97 commented on #1210
Hey Guys,

Firstly thanks for helping us in finding issues like this. Currently, we are working on this issue, as this will involve us to change import and the way we have styled the components. This can take time 🕐 . I will keep you posted once we have an initial PR setup ( should be soon 🔜  ).

Thanks again for helping the ReactiveSearch community in every way possible 😄

[2020-04-20 06:34] jyash97 commented on #1419
Hey @imfsdev Thanks for reporting the issue.

To give some context about this warning: This is happening because of Emotion, we have to update it to the latest version and these warnings should be fixed.

You can track this issue over here: https://github.com/appbaseio/reactivesearch/issues/1210

Closing this issue for now as we already have an open issue.

[2020-04-20 06:34] #1419 closed, assigned to nobody

[2020-04-20 10:40] ShahAnuj2610 commented on #1402
@gauthierm I think it's not a bug. **customQuery** only gets applied when a `value` changes in `MultiList` components.

![](https://i.imgur.com/Dbyrtsh.png)

 So if you want your query with value `comment` applied, then you can pass it as a defaultQuery in `MultiList` component as I have done here: https://codesandbox.io/s/stupefied-babbage-pyvo6?file=/src/index.js. Lmk if you have any further dou

[2020-04-20 11:27] jkhaui opened #1422 "Calling `triggerQuery` outside provided callback functions"
For what it's worth, I think what you've done with ReactiveSearch is great—so much so that I've purchased a couple of the marketplace templates. Cool stuff, keep it up.

But I do have issues regarding fine-grained control. I need to build a search feature that detects when a user is typing, and then, only when they stop typing, it should automatically execute a search query _without_ the user pres

[2020-04-20 11:38] ShahAnuj2610 commented on #1422
I got your point. But isn't it possible to store `triggerQuery` globally in your local component something like:

[code]

You can also use **React ref**.
I would recommend this ^.

[2020-04-20 11:40] jyash97 commented on #1422
Hey @jkhaui

Thanks for using ReactiveSearch and providing valuable feedback with the issues.

For now either you can use the above thread to do this or you can make use of `ref` and access the method directly.

[2020-04-20 13:15] cb29 commented on #1413
Hi ShahAnuj2610 !
after testing, placing elements step by step....I see these errors appears with filters. If I haven't filters, I haven't errors. I will close this issue to re-open an issue related to the filters.

[2020-04-20 13:15] #1413 closed, assigned to nobody

[2020-04-20 13:30] ShahAnuj2610 commented on #1394
@chico2k It would be great if you can share code sandbox example.

[2020-04-20 13:54] jkhaui commented on #1422
Ah yes, the simple answer was to store `triggerQuery` in a ref! I'd tried assigning it as a normal variable previously and it kept returning undefined. But the ref works perfectly.

Thanks a lot @ShahAnuj2610 @jyash97

[2020-04-20 13:54] #1422 closed, assigned to nobody

[2020-04-20 22:21] SeanBannister opened #1425 "Support for web components"
For those of us who aren't using React / Vue.JS / React Native it'd be amazing if reactivesearch supported web components, totally understand that this is a major undertaking. In my case I'd be using it with lit-html & LitElement.

As a sidenote it might be worthwhile looking at Ionic and how they develop their project with web components and then package them for React, Vue and Angular.

[2020-04-20 23:03] gauthierm commented on #1402
@ShahAnuj2610 The `defaultQuery` affects the query for values displayed in the multilist and the `customQuery` affects the query in the parent reactive base.

Your suggestion to use `defaultQuery` just makes my default inverse value disappear from the multilist and does not affect the main search query.

The `customQuery` and `defaultQuery` documentation in the appbase docs is not particularly cle

[2020-04-20 23:06] gauthierm commented on #1403
Yes, the reason they are coming as undefined is explained in the issue description. It should be easy to fix.

[2020-04-20 23:09] gauthierm commented on #1403
Proposed fix looks like it will work. This will cause customQuery and defaultQuery functions to be called frequently. Should the documentation be updated to let people know the functions should written to not be expensive?

[2020-04-21 05:18] ShahAnuj2610 commented on #1403
@gauthierm  I have also fixed this in the linked PR. Now it won't get called when we compare internally (e.g in componentDidUpdate).

[2020-04-24 03:21] Rafcin commented on #1370
Please don't make us use inline css... its a pain to style stuff not online. I agree with this idea of making it nicer to work with.

[2020-04-24 09:46] #1415 closed, assigned to ShahAnuj2610

[2020-04-24 14:13] carlopascual commented on #1376
https://codesandbox.io/s/objective-currying-wt4w9?file=/src/App.js try this one. :) Clicking crime OR drama shows `El rey de la carretera`, but selecting both of them shows nothing

[2020-04-24 15:37] carlopascual commented on #1390
It's not working on that reproducible for me either..

Expected Behavior:

1. type anything and press enter (`setSearchParams` should be called.)
2. remove the `BookSensor` filter (`setSearchParams` should be called again, since the active filters have changed; SelectedFilters' `onClear` should be called as well.)

Actual Behavior:

1. type anything and press enter (`setSearchParams` is called.)
2

[2020-04-25 02:10] egonzal93 commented on #519
Hello everyone stay safe. I need to custom render the sortOptions object and use a component library to render a nice looking combo box. Unfortunately if you specify the sortOptions on the ReactiveList is renders an ugly looking select dropdown on a fix location. Is there a way to do this? I searched for a documentation and there is none.

[2020-04-25 09:12] kud commented on #519
To be fair, I removed the display of the sort options, and did a `ReactiveComponent` by my self with custom queries.

[2020-04-27 04:39] #1371 closed, assigned to nobody

[2020-04-27 04:41] #1388 closed, assigned to ShahAnuj2610

[2020-04-27 04:42] #1414 closed, assigned to nobody

[2020-04-27 04:44] #1397 closed, assigned to ShahAnuj2610

[2020-04-27 11:46] ShahAnuj2610 opened #1436 "Controlled component doesnt trigger onChange when value is undefined"
## Affected Projects
- React
- maybe (**Vue**)

## Describe the bug
when any component is converted to controlled component with `value={undefined}`, then `onChange` doesn't get triggered (ideally it should).

## To Reproduce
https://codesandbox.io/s/happy-flower-d02lm?file=/src/index.js

## Expected behavior
`onChange` should get triggered

## TODO: Solution

https://github.com/appbaseio/reactive

[2020-04-27 13:33] egonzal93 commented on #519
sortOptions is pretty much useless if you can't customize it were using material-ui and need to make the ui consistent looking. It looks like a generic select component. I used innerClass sortOptions too and it is not enough also some of the styles are being overridden even though you specify it . It needs a custom component and that component should be able to pass the sort options to the reactiv

[2020-04-28 14:28] katyusha-dev opened #1437 "When using two DynamicRangeSlider, each DynamicRangeSlider reacts to itself, blocking off "going back" on a selection"
**Affected Projects**
React
"@appbaseio/reactivesearch": "^3.8"

**Library Version:** x.y.z
3.8

**Describe the bug**
When the page has 2 (or more) DynamicRangeSlider, then when using any one of them, the low/high points of the slider you're using moves, even though the element itself does not have 'react to' itself.

**To Reproduce**
It's a large project, so hard to get a snipped to reproduce, bu

[2020-04-28 14:34] katyusha-dev commented on #1437
I do notice that it stops moving after a certain point though.
https://i.imgur.com/wdqX4qH.png

But that's if I stick to the "mid-level". If I push it further, then it changes again:
https://i.imgur.com/1FEownQ.png

[2020-04-28 14:45] katyusha-dev commented on #1437
Another thing, when I tried using "LoadIndex", it got stuck, and in the console I got this message a couple of hundred times:
https://gist.github.com/trafficfox/7810638148005fec328020239bda95c9

And LoadIndex got stuck like this: https://i.imgur.com/4xdkF37.png

[2020-04-28 15:29] katyusha-dev commented on #1437
Another update.
It seems that when I have one DynamicRangeSlider, and I click on any other option - then that option itself "locks itself up".

So the first example here, is shown without the slider, in which the brand doesn't "lock up". Then the second, it does lock up.
But it didn't lock up right away though, only on the second try.
But after it locked up, even after I removed the selection, the

[2020-04-28 16:49] katyusha-dev commented on #1437
Sorry for the spam, but I've been trying to debug it for a while now.
Look here: https://youtu.be/NK_ea0Geo0k
CB, the bars still show, and the filter still has the lower end, UNTIL I put the slider past the last vertical bar.

[2020-04-28 17:55] stonesthatwhisper opened #1438 "Cannot customize defaultQuery in Typescript"
**Affected Projects**
React Web

**Library Version:** x.y.z
 "@appbaseio/reactivesearch": "^3.5.0-beta.3",
 "typescript": "3.6.3"

**Describe the bug**
It's not possible to customize `defaultQuery` of `SingleDropdownList` in Typescript, getting a error when browsing to the page:
[code]

**To Reproduce**
[code]

[2020-04-28 18:13] stonesthatwhisper commented on #1438
`@appbaseio/reactivesearch@3.8.0` seems to have no issue, close this.

[2020-04-28 18:13] #1438 closed, assigned to nobody

[2020-04-29 07:21] ShahAnuj2610 commented on #1437
@trafficfox thanks for reporting. Can you share how you're using `DynamicRangeSlider` in the code? Example:

[code]

[2020-04-29 09:24] carlopascual commented on #1388
Awesome fix @ShahAnuj2610 for the nested queries! But I'm still having issues with the SSR, when it comes to more custom queries.

Here's a codesandbox of the SSR with a customQuery breaking:
https://codesandbox.io/s/broken-ssr-nested-example-r0ozf?file=/pages/index.js You can comment `getInitialProps` to get the sandbox working.

[2020-04-29 09:30] ShahAnuj2610 commented on #1388
@carlopascual your `customQuery` and `defaultQuery` should not have `query` key included. Check this working csb example: https://codesandbox.io/s/broken-ssr-nested-example-9k64j?file=/pages/index.js

[2020-04-29 09:41] carlopascual commented on #1388
@ShahAnuj2610 You are right, it is working now. In my application though, there were some queries that wouldn't work without the `query` key, but I'll report that in a separate issue when I isolate what exactly it was. Thanks again!

[2020-04-29 10:18] carlopascual commented on #1388
@ShahAnuj2610 actually, I was mistaken. Even in your example: https://codesandbox.io/s/broken-ssr-nested-example-9k64j?file=/pages/index.js , `customQuery` without the `query` key is breaking the query.

Try running the example then refresh the sandbox browser. You'll see a failed `_msearch` query in the network tab with the reason: `Unknown key for a START_OBJECT in [nested].`

Here is the genera

[2020-04-29 12:22] carlopascual opened #1439 "customQuery/ defaultQuery failing without `query` key"
**Affected Projects**
React

**Library Version:** x.y.z
3.8.0

**Describe the bug**
`customQuery` and `defaultQuery` are returning `Unknown key for a START_OBJECT`. This was noticed in #1388 when writing a query custom query with a `nested` attribute. Even custom queries without `nested` attributes fail.

**To Reproduce**
 https://codesandbox.io/s/broken-ssr-nested-example-9k64j?file=/pages/index.

[2020-04-29 13:31] ShahAnuj2610 commented on #1439
@carlopascual can you once check if your query is correct? I was inspecting it and found that the `fieldname` cannot be empty.

![](https://i.imgur.com/Eq17PwD.png)

[2020-04-29 13:46] katyusha-dev commented on #1437
I'm using it without any additional parameters.
If you're available at a same time I am, I can put it on the site so you can see for yourself

[2020-04-29 13:53] ShahAnuj2610 commented on #1439
To summarize, nested queries are not getting combined properly. We need to solve this.

[2020-04-29 13:54] ShahAnuj2610 commented on #1437
@trafficfox yes, please do it.

[2020-04-29 14:03] katyusha-dev commented on #1437
So the same exact parameters I had didn't cause the error, but different do now.
See here: https://felgoutlet.trafficfox.no/produkt-kategori/dekk/
Width is what causes it to break now. And it happens when you scroll the left bar past the last vertical bar.

[2020-04-29 14:12] ShahAnuj2610 commented on #1437
@trafficfox can you once check whether the fields are indexed properly and have proper types? I'm seeing some errors in the console.

Check this: ![](https://i.imgur.com/4B57nuH.jpg)

[2020-04-29 14:19] katyusha-dev commented on #1437
I removed the offending fields and the errors are gone, but try AspectRatio, moving the right "ball" left, and it "blocks itself".
Moving the left one right, throws this in the console:

As for the correct data, on Dejavu you can view it with:
URL: felgoutlet_trafficfox_no_products
Index: felgoutlet_trafficfox_no_products

[2020-04-29 14:48] ShahAnuj2610 commented on #1437
@trafficfox is it possible to create a minimal reproducible example? Debugging this way is like hitting a bull's eye.

[2020-04-29 14:52] katyusha-dev commented on #1437
I tried removing diameter and price (separately), and then it works.
So it seems that the minimum condition for it to break is this order.

Here is the App.js main file, since I create the filters from an object: https://gist.github.com/trafficfox/f2c61a7c9d086124533f434bfff27b3c

[2020-04-29 18:28] carlopascual commented on #1439
Here's an example of it failing with a non-nested query.

https://codesandbox.io/s/broken-default-query-example-g5uu9?file=/pages/index.js

`defaultQuery` on reactivelist:
[code]

result: `"Unknown key for a START_OBJECT in [match]."`
query generated:

[code]

[2020-04-30 05:37] ShahAnuj2610 commented on #1439
@carlopascual You can assume that every `defaultQuery` and `customQuery` should have a **query** key. So in your case the `defaultQuery` should be:
[code]

Also, `customQuery` and `defaultQuery` not working when query is **nested** is a different issue, which we're looking into.

[2020-04-30 06:40] #1182 closed, assigned to nobody

[2020-04-30 07:25] ShahAnuj2610 opened #1440 "Highlight query fails with customHighlightOptions when enableAppbase is true"
**Components**
- DataSearch
- CategorySearch

**Affected Projects**
- React
- maybe (Vue)

**Library Version:**
3.8.0

**To Reproduce**
https://codesandbox.io/s/clever-cori-9230z?file=/src/index.js

**Expected behavior**
Highlighting should work when customHighlighOptions are passed on `enableAppbase`

[2020-04-30 07:35] ShahAnuj2610 commented on #1439
@carlopascual have fixed the issue. Also, you need to modify your queries to:

[code]

Note `'genre_nested.genre': value || 'Drama'`, otherwise it will throw error

![](https://camo.githubusercontent.com/850c58a492361ff1408e3b02be077cac25ac9b65/68747470733a2f2f692e696d6775722e636f6d2f457131375077442e706e67)

[2020-05-03 23:10] #1187 closed, assigned to nobody

[2020-05-05 04:59] gbxl commented on #1401
Thanks a lot :)

[2020-05-05 11:01] #1172 closed, assigned to nobody

[2020-05-07 13:09] #1403 closed, assigned to ShahAnuj2610

[2020-05-07 13:21] #1368 closed, assigned to ShahAnuj2610

[2020-05-07 20:05] #1196 closed, assigned to nobody

[2020-05-09 11:53] royduin opened #1451 "Hide component when only 1 option is available"
For example a MultiList which only shows 1 option isn't very useful. It would be nice if there was an parameter to hide filters when there is only 1 option.

[2020-05-10 03:59] dmoskovtsov commented on #1187
Any updates on it?

[2020-05-11 05:44] arnaudjnn opened #1452 "Error RangeInput with Typescript"
**Affected Projects**
React

**Library Version:**
3.8.3

**Describe the bug**
When using [the basic usage](https://docs.appbase.io/docs/reactivesearch/v3/range/rangeinput/#basic-usage) from the doc for RangeInput I get the following error:
[code]

[2020-05-11 06:20] ShahAnuj2610 commented on #1452
thanks for reporting. It seems `dataField`is not defined in `RangeInput.d.ts`. https://github.com/appbaseio/reactivesearch/blob/f852667e7ae91f48db6de8840059538eb38abedd/packages/web/src/components/range/RangeInput.d.ts.

[2020-05-11 09:51] #1452 closed, assigned to ShahAnuj2610

[2020-05-11 23:44] mussa572 opened #1455 "Increase the length of text on the reactivecard component"
Hi Team,

Just wanted to confirm if there is possibility to show a full text of the title when using reactivecard. AS per the diagram title text is of only one line and I would like it to show the full text of the title . Tried to find some example but could not find it .

<img width="1081" alt="Screenshot 2020-05-11 at 20 08 32" src="https://user-images.githubusercontent.com/59732783/81601697-367

[2020-05-12 02:57] nomedia opened #1456 "DataSearch one char keywords search second time don't show any suggestion"
**Affected Projects**
 React

**Library Version: 3.0.0-rc.26

**Describe the bug**

For example  when I enter   2  it will show suggestion, then I delete 2 and type 2  again  it don't show any suggestion

the document demo also have this problem

https://codesandbox.io/s/github/appbaseio/reactivesearch/tree/next/packages/web/examples/DataSearch?from-embed=&file=/src/index.js

[2020-05-12 10:53] jrishabh55 opened #1458 "Unable to install the dependencies in WSL2 - Ubuntu"
**Affected Projects**
Reactive Search

**Library Version:** master branch

**Describe the bug**
I'm unable to install the project on my system

**To Reproduce**
1. clone the repo
2.
[code]
3. yarn

**Expected behavior**
yarn install should work fine

**Screenshots**

![image](https://user-images.githubusercontent.com/18290665/81675617-b9096180-946c-11ea-91a5-f676ba8d5821.png)

**Desktop (please co

[2020-05-12 10:58] jyash97 commented on #1458
Hey, @jrishabh55  Thanks for filing the issue.
Can you try this with node v10 or node v13?

[2020-05-12 11:07] jrishabh55 commented on #1458
I was using node v12.16.1 earlier

i noticed that there was a problem with dependencies, g++ was not installed on my system (good to have something in docs), i installed it and few new errors popped up. They look like something related to some version mismatch
![image](https://user-images.githubusercontent.com/18290665/81676969-25389500-946e-11ea-95c6-8bcf64909dbe.png)

It worked for node v10 bus

[2020-05-13 04:00] DustinKLo opened #1460 "ReactiveComponent not clearing the url param when removing Selected Filter"
**Affected Projects**
React

**Library Version:** x.y.z
3.8.5

**Describe the bug**
When the facet is cleared, the url param of the component isnt removed,
however clicking `clear all` removes it

**To Reproduce**
https://codesandbox.io/s/reactivecomponent-7mpr5?file=/src/index.js

**Expected behavior**
the url param should be removed when clearing

**Screenshots**

**Desktop (please complete the

[2020-05-13 04:09] bietkul commented on #1460
@jyash97 Can you check on this?

[2020-05-13 04:15] jyash97 commented on #1460
Hey @DustinKLo

Thanks for reporting the issue. I can see the value is reset but the URLParams are not removed. I will check on this today and will create a fix for this.

[2020-05-13 06:55] arnaudjnn opened #1461 "Nested loop MultiList render props"
**Affected Projects**
React

**Library Version:** x.y.z
3.8.3

**Describe the bug**
I try to render a custom multi-list. The render props work well for the first loop but not for the next ones. The POST request is not even triggered.

[code]

**Expected behavior**
Trigger a search and react on the ReactiveList component at category2 input check

[2020-05-14 13:13] #1201 closed, assigned to nobody

[2020-05-15 07:34] #1411 closed, assigned to ShahAnuj2610

[2020-05-16 18:17] MichaelBurb commented on #1138
Has anyone found a fix or workaround for this issue yet? For me, I was only able to avoid this problem by disabling _URLParams_ on the _ReactiveList_ component, which is obviously not ideal.

[2020-05-17 10:00] davidkong0987 commented on #912
Is it just me or does this no longer work? or perhaps I'm on an old version

[2020-05-18 01:52] #1204 closed, assigned to nobody

[2020-05-18 15:10] DevMaster921 commented on #915
Hi, @DustinKLo, @siddharthlatest  Nice to meet you.
Could you let me know how I can fix this issue?

[2020-05-18 15:28] Kumkum29 opened #1468 "Multilist filters + filters disappear"
Hello,

I get this strange behavior on a React app with the 3.9.0 version.

On a search page, I use several multilist filters (3 filters). All the filters are related to others. (with React props). Sometimes, If I use a filter, or If I check an option with only 1 result, the other filters disappear, and I see only the filter with the last checked option.

To reproduce this behavior, you can build

[2020-05-18 15:36] DevMaster921 commented on #915
Hi, @siddharthlatest
Could you let me know how to avoid multi-search in ReactiveBase?

[2020-05-18 19:08] DevMaster921 commented on #1395
Hi, @kud
Nice to meet you.

I have the same issue with @PascalStehling , so could you let me know how I can fix this issue?

Thanks.

[2020-05-19 06:11] #1207 closed, assigned to nobody

[2020-05-19 08:35] carlopascual commented on #1439
any update for this? :)

[2020-05-19 09:35] Kumkum29 commented on #1468
Hello,

after several tests, the problem seems to come from the "Show load more" option. If I disable this option, the filters works well.

[2020-05-19 09:35] #1468 closed, assigned to nobody

[2020-05-19 09:43] Kumkum29 opened #1470 "Add a collapse behavior on the filter"
**Affected Projects**
All projects

**Describe the solution you'd like**
Is there a possibility to collapse a filter ? or tranform a filter to a collapsed element ? and transform the filter title to a button to open the filter options.

**Describe alternatives you've considered**
For the moment I use a Bootstrap behavior for this, but it's a little more complex. A nice feature could be to add a ne

[2020-05-19 14:19] Kumkum29 opened #1471 "Links to change the display of results : GridView to Listview (and inverse)"
**Affected Projects**
All projects.

**Describe the solution you'd like**
Is there a possibility to place links at the top of the search to change the display of the results:

GRID I LIST

I haven't found any documentation to implement this case/ these links.

Thanks.

[2020-05-20 07:02] #1395 closed, assigned to bietkul

[2020-05-20 16:51] francoisruty opened #1473 "defaultSelected not working on SingleDataList"
**Affected Projects**

React

**Library Version:** x.y.z

3.9.0

**Describe the bug**

The prop defaultSelected is not taken into account by SingleDataList component.
I checked the source code of this repo and the logic seems to be missing for SingleDataList component

[2020-05-20 16:58] francoisruty opened #1474 "Ability to create a custom filter not based on one of ES index mapping fields"
**Affected Projects**

React

**Is your feature request related to a problem? Please describe.**

Currently I need to have a dropdown or a select menu that lets the users choose the aggregation interval, for the DataSearch custom query which performs a date_histogram aggregation.

**Describe the solution you'd like**

I would like the ability to trigger a refresh of ReactiveSearch state (= launch

[2020-05-22 16:34] pcvonz opened #1475 "Bug parsing URLParams in ReactiveBase"
**Affected Projects**

React
**Library Version:** x.y.z

Working off this commit: e2eacff2275c201a5becea71a58996313c2653df
**Describe the bug**

In `ReactiveBase` in this loop: https://github.com/appbaseio/reactivesearch/blob/e2eacff2275c201a5becea71a58996313c2653df/packages/web/src/components/basic/ReactiveBase.js#L120

If `parsedParams.value` is undefined when parsing URLParams, the `selectedVal

[2020-05-22 20:38] #1203 closed, assigned to nobody

[2020-05-25 08:20] davkap92 commented on #1326
@jyash97 hi any progress on this? Thanks

[2020-05-26 13:33] #1439 closed, assigned to nobody

[2020-05-26 20:35] aalba-finsol opened #1479 "Reactivelist renderError not clearing errors"
**Affected Projects**
React

**Library Version:**
3.0.3

**Describe the bug**
At initial search, my Elasticsearch gives 400 error (wich is internal, working on that), renderError triggers and it's ok, then when you make another search that gives 200 and returns results, renderError stays and error prop still returns the 400 error

`renderError={(error) => {
    console.log(error); // **Returns err

[2020-05-26 21:34] infinitodk commented on #1237
Reopen! Issue persists.

[2020-05-27 14:50] #1479 closed, assigned to ShahAnuj2610

[2020-05-28 07:39] jyash97 commented on #1210
**Update** 👋

This issue is fixed with #1477,  #1478,  #1480. Now there are no console errors or warnings when used with `React.StrictMode`.

We have removed the dependency of `emotion` & `react-emotion` and are now using latest versions of `@emotion/core` & `@emotion/styled`.

This fix is released in version `3.10.1`  🚀

[2020-05-28 07:39] #1210 closed, assigned to nobody

[2020-05-28 18:23] acosta-edgar opened #1481 "SingleList default query for missing filter column value gets overwritten"
**Affected Projects**
Vue.JS

**Library Version:**
1.4.0

**Describe the bug**
showing items with missing values displays a filter option for it, and it displays the doc_count correctly.

However, when we select such option, no results are returned, it should return some since the doc_count is greater than 0.

**To Reproduce**
Steps to reproduce the behavior:
1. You need an index with an aggregati

[2020-05-28 18:23] acosta-edgar commented on #1481
This is something I can fix myself, I have read the contributor's guide. So, I'll give it a try.

[2020-05-28 20:04] acosta-edgar commented on #1458
I am seeing the same errors on https://github.com/appbaseio/reactivesearch/issues/1458#issuecomment-627273434 on MacOS with node 14.30

Is there a node version requirement?
Thanks!

[2020-05-29 22:05] davkap92 opened #1483 "Support passing Emotion 10 css objects in params"
**Affected Projects**

React
**Is your feature request related to a problem? Please describe.**

Now that the project is using Emotion 10 css function now returns an object not a class name
however I've been using ReactiveList
with listClass parameter, which takes a string so this doesn't work anymore

The clunky solution I found was to wrap the whole component in `<ClassNames>` https://emotion.sh

[2020-05-30 07:43] jyash97 commented on #1483
Hey @davkap92

It would be really great if you can add a CodeSandbox Link of how you are using it.

[2020-05-30 07:48] toshimo commented on #1333
Hi. So at this moment, what would be the simplest way to replace "Prev" with another string? It is a bit important for people like me who is developing things where 90% of population don't know what Prev means. In my case, replacing Prev (and Next) with some arrow symbols (← or ◀ ) might work. I checked the doc (https://opensource.appbase.io/reactive-manual/result-components/reactivelist.html) and

[2020-05-30 13:29] davkap92 commented on #1483
@jyash97 Ok here's a very basic sandbox:
https://codesandbox.io/s/ancient-rain-p82tb
Note how I had to use ClassNames function because listClass is expecting a string

[2020-05-30 16:46] davkap92 commented on #1483
Hi @jyash97
I was having issues with  adding a sandbox but here's relevant snippet
Basically `container` is an emotion css object, which is no longer a classname as of emotion 10
so not supported with listClass, so I had to use this ClassNames wrapper
So was just suggesting maybe adding support to parse a css object
[code]

[2020-05-30 21:19] davkap92 commented on #1326
I found the toolTip seems to give me what I need and doesn't appear to lag much, so will close thanks

[2020-05-30 21:19] #1326 closed, assigned to nobody

[2020-05-31 12:54] jrishabh55 commented on #1458
@acosta-edgar use node 10 for now till we have a fix here.

[2020-06-01 20:25] #1221 closed, assigned to nobody

[2020-06-03 18:54] pcvonz commented on #1475
I think the issue is actually related to: #1339

[2020-06-04 20:28] #1224 closed, assigned to nobody

[2020-06-05 17:39] scotthooker commented on #1192
Still a bug I think,

[2020-06-09 03:32] longnk1301-vmodev opened #1490 "Use props render in MultilList, SelectedFilter cannot clear item"
**
I have issue when use render for MultiList, so then I cannot clear item selected on SelectedFilter, please give me any solution, thanks!!
**

[2020-06-09 06:24] jyash97 commented on #1490
Hey @longnk1301-vmodev can you please follow the issue template and create a sample CodeSandbox Link which shows the issue?

[2020-06-09 13:29] hansendx opened #1491 "Setting sortOptions prop raises "Cannot read property 'dataField' of undefined""
**Affected Projects**
Vue.JS

**Library Version:**
`>= v1.3.0`

**Describe the bug**

Setting the sortOptions prop in a ReactiveList raises an error and the ReactiveList is not displayed:
[code]

It seems to me, that this stems from a property introduced in v1.3.0:
https://github.com/appbaseio/reactivesearch/commit/de4d7d562a52fd03f51d29a23b339166ba3fa748#diff-56b460a307f33988399b5130e4cf2d8aR308

[2020-06-11 05:36] Sarthak049 opened #1492 "Chinese input IME box disappears without waiting for text selection."
I have a build a react application using reactivesearch 3.2.4 on react 16.12.0. I am using Datasearch component for input.

When we try to input Chinese input using windows default language switching IME, the chinese suggestion box appears for a split second and the disappears without selecting any Chinese text. As result even after selecting the Chinese input I am not able to write Chinese charac

[2020-06-11 10:02] #1214 closed, assigned to nobody

[2020-06-12 13:10] jonpierce opened #1493 "SelectedFilters "Clear All" is inefficient in triggering a request for each filter applied"
**Affected Projects**

React

**Library Version:** x.y.z

3.11.3

**Describe the bug**

When invoking `SelectedFilters` "Clear All", a separate `_msearch` request is made to Elasticsearch for each of the N filters that had been applied, significantly degrading response times and rendering performance (with multiple re-renderings) and resulting in intermediate states being displayed in the UI (i.e.

[2020-06-12 18:11] Sarthak049 commented on #1491
Same error pops up when I try to add `aggregationField="_id"` property to the reactive list. Though I believe it is something in helper.js.

[2020-06-12 18:16] Sarthak049 commented on #1492
On further inspection it is occuring due to very large number of events firing as also mentioned in the issue shared above (facebook/react#3926) is there a way to detect compositions events from the component?

[2020-06-14 22:54] #1238 closed, assigned to nobody

[2020-06-14 22:54] #1239 closed, assigned to nobody

[2020-06-15 22:31] #1242 closed, assigned to nobody

[2020-06-16 09:58] nithiz opened #1494 "Use ReactiveSearch without default styling applied"
**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**
I want to be able to use ReactiveSearch without any base styling applied. I don't want to be overwriting and resetting styles every time i include a new ReactiveSearch component.

**Describe the solution you'd like**
It would be nice to have a version of the library available without any default classes

[2020-06-16 21:22] #999 closed, assigned to nobody

[2020-06-17 15:42] rrmerugu opened #1495 "Best way to query two fields of nested data and render results"
**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**
I have an index with nested data (list of objects), **i want to query on two the nested fields** a) title(keyword) 2) installed at(date time range). What is the best way to achieve that when i'm using two components.
Example  index data:
[code]
Code on Reactjs

[code]

**Describe the solution you'd like

[2020-06-18 13:41] royduin commented on #1491
Same issue, seems like `this.sortOptionIndex` is `undefined`.

[2020-06-19 14:53] #1250 closed, assigned to nobody

[2020-06-22 03:41] dangreaves commented on #1413
Hey @cb29 - we are experiencing the exact same issue, where intermittently some of the queries are hitting `No 'Access-Control-Allow-Origin' header is present on the requested resource.` yet the backend is configured correctly. After refreshing the page, the queries go through fine.

Did you manage to solve your issue? I notice you didn't open another issue regarding filters.

[2020-06-22 09:51] carlopascual opened #1496 "[Feature Request] URLParams for sorting?"
**Affected Projects**
All

**Is your feature request related to a problem? Please describe.**
As the title mentions, I haven't seen any way to expose sorting to the URLParams.

**Describe the solution you'd like**
Perhaps either a separate sorting component (which has already been discussed before), or an added prop to the reactiveLists with `SortURLParams={true}`?

[2020-06-22 10:41] carlopascual opened #1497 "[Feature Request] Default value for SingleList without adding URLParams?"
**Affected Projects**
All

**Is your feature request related to a problem? Please describe.**
Right now, having a default value on a SingleList/other list adds a URLParam on the url by default. The reason we don't necessarily want that is so that it does not oversaturate the URL.

[2020-06-22 13:18] #1492 closed, assigned to nobody

[2020-06-23 04:46] bietkul commented on #1491
Fixed in `1.5.0`

[2020-06-23 04:46] #1491 closed, assigned to bietkul

[2020-06-23 08:23] royduin commented on #1491
Great, thanks!

[2020-06-24 09:48] #1169 closed, assigned to nobody

[2020-06-25 11:48] hansendx opened #1501 "DynamicRangeSlider is not created from v1.4.1-Vue upwards"
**Affected Projects**
Vue.JS

**Library Version:** >= v.1.4.1

**Describe the bug**

DynamicRangeSlider component is not added to the HTML, that is rendered in the browser.
There seem to be no error messages in the console, the slider is just non-existent.

**To Reproduce**

Open the example project from the documentation for the DynamicRangeSlider and set the reactivesearch-vue version to v1.4.1

[2020-06-26 13:51] mitchgillin opened #1502 "Initial filter query inefficiency with `_msearch`"
**Affected Projects**
React

**Library Version:** x.y.z
3.11.4

**Describe the bug**
Initial load of app is causing a `_msearch` to fire for each filter. Having large doc sizes in ES and having multiple filters in place is causing crashes to my infra.

**To Reproduce**
Have ~15 filters in place and hit an ES node with large files.

**Expected behavior**
ReactiveSearch should batch all queries on f

[2020-06-30 13:14] simplewepro opened #1503 "MultiDataList typo causes value being lost in customQuery arguments."
https://github.com/appbaseio/reactivesearch/blob/08fc8c65d365dee7c43fc14ff289d032c20bbaf6/packages/web/src/components/list/MultiDataList.js#L278

So, here we have redundant brackets in `customQuery` call:
`customQuery((queryValue, props))`

It causes `queryValue` being lost and `props` are received in first argument of `customQuery`.
So custom query in MultiDataList in totally unusable now, whitou

[2020-07-01 09:46] #1503 closed, assigned to nobody

[2020-07-01 15:41] kud opened #1504 "Failed prop type: ReactiveList: prop type `originalProps` is invalid"
**Affected Projects**
React

**Library Version:** `"@appbaseio/reactivesearch": "3.11.6",`

**Describe the bug**
[code]

[2020-07-06 16:20] Sarthak049 opened #1506 "ReactiveList loading does not update with custom query defined."
**Affected Projects**
ReactiveSearch-VueJS

**Library Version:** 1.5.2

**Describe the bug**
When checking the 'loading' flag in reactive list's render slot the 'loading' **true only when default query is running on the page load**. It is always false when the customQuery is defined for subsequent queries.

**To Reproduce**
Steps to reproduce the behavior:
- In a sample project define a customQuer

[2020-07-08 01:38] #1276 closed, assigned to nobody

[2020-07-08 01:38] #1011 closed, assigned to nobody

[2020-07-08 05:21] #1277 closed, assigned to nobody

[2020-07-08 13:57] #1481 closed, assigned to nobody

[2020-07-08 17:40] #1504 closed, assigned to bietkul

[2020-07-13 11:47] #1282 closed, assigned to nobody

[2020-07-13 21:47] #1285 closed, assigned to nobody

[2020-07-14 08:33] 0mars opened #1507 "Need help making _msearch a _search instead"
Hi, I just need to make the library call _search instead of _msearch, any pointers where I need to modify the code and rebuild the project ?

/cc @x0rzkov

[2020-07-15 03:07] #1287 closed, assigned to nobody

[2020-07-15 07:06] MohamedHussein520 opened #1508 "Reactive List to show one full item details"
hello every one,
I'm a new in reactivesearch and I have project display list items search and select any item to Display this item details  by id

[2020-07-17 16:09] o1o1o3 commented on #1508
what's your question?

[2020-07-17 16:10] o1o1o3 commented on #1507
+

[2020-07-17 17:28] MohamedHussein520 commented on #1508
I have reactivelist and i need handle to itme details by press
(Touchopacity)

On Fri, Jul 17, 2020, 8:09 PM dikkini <notifications@github.com> wrote:

[2020-07-21 20:03] PeterCiuffetti opened #1511 "RangeSlider URLParams=true modifies the window.location.href even if the user has not interacted with it"
**Affected Projects**
React

**Library Version:**
3.11.8

**Describe the bug**
When I set URLParam=true to either a RangeSlider or a DynamicRangeSlider, the URL in the browser location is modified even if the user has not adjusted the range.
For example, I have a date field in my index called release-date (its an integer year).  It has values of 1999 through 2020.  I have a RangeSlider to allow th

[2020-07-22 03:40] acosta-edgar opened #1512 "vue: Selected Filters component is broken starting on version 1.4.2-vue"
**Affected Projects**
Vue.JS

**Library Version:** 1.4.2
It is still an issue

**Describe the bug**
Starting on version 1.4.2-vue removing a selected filter by clicking the "x" button on the respective bubble does not remove the bubble and creates an illegal query.

**Steps To Reproduce**
This code sandbox uses version 1.4.2, but it can be replaced on package.json (line 16) for any newer version
h

[2020-07-22 03:43] acosta-edgar commented on #1490
Hey @longnk1301-vmodev , could your report be a duplicate of #1512 ?

[2020-07-22 06:41] bietkul commented on #1512
Thanks @acosta-edgar for reporting this, we'll check on that.

[2020-07-23 10:28] bietkul commented on #1512
@acosta-edgar Fixed in `v1.6.2`.

[2020-07-23 10:28] #1512 closed, assigned to nobody

[2020-07-23 10:32] bietkul commented on #1506
@Sarthak049 Can you share the code sandbox link replicating the issue?
I'm still not clear on your use-case. Loading property in `ReactiveList` will change when it fetches the new results.

[2020-07-23 10:37] bietkul commented on #1502
@mitchgillin We already have that issue in our top priority. For now you can try the following things:
- Use collapsible UI for filters, only render when required or interacted by user.
- Use small sizes for filter queries

[2020-07-23 19:28] sebastienlabine commented on #1511
This is also breaking the back button, you can't go back. When you go back, the params are removed from the pages and then added back

[2020-07-26 12:08] Sarthak049 commented on #1506
@bietkul sure I will add a code sandbox shortly.
The usecase here is to display a loader till the ReactiveList updates the results. But what happens is as soon as I type my query in the DataSearch bar, the loading prop is set true and in the next second (before results are rendered in ReactiveList) it is set as False again and the results are not yet rendered in the ReactiveList. I will share the

[2020-07-27 20:25] AaronPlave commented on #555
Did you end up finding a decent workaround? I'm also running into this issue.

[2020-07-28 11:11] jrishabh55 opened #1513 "Multilist - No results found when react router changes"
**Affected Projects**
React

**Library Version:**
Latest stable version 3.11.8

**Describe the bug**
The Multilist (Probably others, haven't tried), resets the data

**To Reproduce**
https://codesandbox.io/s/red-glade-0xehd?file=/src/index.js

**Expected behavior**
The data should either stay in the list or reload again, Instead of being stuck at no results.

[2020-07-29 05:38] EnzoVezzaro commented on #1413
is this issue still opened?

[2020-07-29 05:40] siddharthlatest commented on #1413
@EnzoVezzaro This issue is closed. However, a CORS error implies either a backend configuration issue or a possible issue with a server crash (i.e. this is just masking the real error) if it's happening intermittently.

[2020-07-31 14:22] stefanlesik opened #1519 "Validating the number of clauses in DataSearch component"
**React**

There's a default ElasticSearch limit of 1024 clauses within a query. Users may reach this limit when pasting a long list of values to search against within the DataSearch component. In my case it crashes ElasticSearch and returns the error "caused_by":{"type":"too_many_clauses","reason":"maxClauseCount is set to 1024"}.

It would be great if there was a way of setting a limit/validatin

[2020-07-31 14:51] bietkul commented on #1519
@stefanlesik Rejecting a promise means that particular update won’t happen.
It doesn’t reset the value.
For an example,
Current Value: `iphone`
User typed `X` then it became `iphoneX` and if we have some logic to reject the promise for `iphoneX` value then the update won't happen and the value will be same as `iphone`.
You said that after rejecting a promise it doesn't allow to enter the inputs fu

[2020-07-31 15:06] stefanlesik commented on #1519
thanks for your speedy reply @bietkul . Here's a Sandbox (try typing `a a a a` for example): https://codesandbox.io/s/datasearch-6vf3u?file=/src/index.js

[2020-07-31 15:12] bietkul commented on #1519
Thanks, for the `CSB` link. I can see the issue there.

[2020-07-31 15:15] stefanlesik commented on #1519
Thanks. Is there a workaround in the meantime you could suggest?

[2020-07-31 15:17] bietkul commented on #1519
@stefanlesik Use controlled behavior to control the value updates. https://docs.appbase.io/docs/reactivesearch/v3/advanced/usage/#controlled-components

[2020-07-31 19:45] bietkul commented on #1513
<b>The solution is to use unique component IDs.</b>

I can explain that why is it happening.
- RouteA renders `<ListComponent>` with same `componentID`
- RouteB renders `<ListComponent>` with same `componentID`

When you change to routeB from routeA then it'll unmount the `RouteA`.
Sequence of events =>
Constructor gets called for `routeB` => Where do we register a component with `componentID`
Com

[2020-07-31 19:45] #1513 closed, assigned to nobody

[2020-07-31 21:59] frecson opened #1521 "Search in document"
Hi! I want to know if I can use this library for the next purpose:

I need to create an app in react native to search for words in a long document, originally this document is a pdf, but I can convert it to html or whatever format needed. When the user opens the app, the document is loaded with a search bar, the document is very long (like 70 pages), so, if a user needs to search for a specific to

[2020-08-02 19:16] sebastienlabine opened #1522 "SSR not working: empty body and 400 Bad Request response"
**Affected Projects**
React project

**Library Version:** 3.11.9

**Describe the bug**
When using SSR, the body sent in to elasticsearch is empty creating a 400 bad request every time.

`{"error":{"root_cause":[{"type":"parse_exception","reason":"request body or source parameter is required"}],"type":"parse_exception","reason":"request body or source parameter is required"},"status":400}`

**To Re

[2020-08-03 05:44] ghost opened #1523 "Bug: cannot resolve '../../../../reactivecore/src/utils/helper' in search components"
**Affected Projects**
React

**Library Version:** x.y.z
3.12.0

**Describe the bug**
Missing modules

**To Reproduce**
https://codesandbox.io/s/github/appbaseio/reactivesearch/tree/next/packages/web/examples/DataSearch?from-embed=&file=/package.json

[2020-08-04 04:25] bietkul commented on #1522
@sebastienlabine Please share a code sandbox link so we can debug it quickly.

[2020-08-04 04:35] bietkul commented on #1460
@jyash97 Any update on this?

[2020-08-04 04:38] bietkul commented on #1461
@arnaudjnn Please share an example to replicate the issue. A codesandbox link will be helpful.

[2020-08-04 04:42] bietkul commented on #1490
@longnk1301-vmodev Track it here #1512

[2020-08-04 04:42] #1490 closed, assigned to nobody

[2020-08-04 05:34] bietkul commented on #1523
@george-dotdev Thanks for reporting it, fixed it here https://github.com/appbaseio/reactivesearch/commit/1f2838ce3cf414352627b3d051f8eaff5862290d

[2020-08-04 05:34] #1523 closed, assigned to nobody

[2020-08-05 12:14] dangreaves commented on #1360
This is an ongoing issue for us and would like for this not to become stale.

We need the input to be controlled for various reasons that we need the state to be external.

Adding a debounce should work in this scenario.

[2020-08-06 09:40] kantharajucn opened #1524 "Unable to install Reactivesearch using npm on Ubuntu 18.04"
**Affected Projects**
  React
**Library Version:**  Latest

**Describe the bug**
Unable to install reactivesearch in Ubuntu 18.04 using npm

**To Reproduce**
 npm i @appbaseio/reactivesearch

**Expected behavior**
Installation should work

**Screenshots**
![Screenshot from 2020-08-06 11-36-55](https://user-images.githubusercontent.com/18205589/89517045-79d37e00-d7d9-11ea-99d9-244fc91d33e0.png)

**

[2020-08-06 10:37] #1524 closed, assigned to nobody

[2020-08-06 10:38] kantharajucn commented on #1524
It seems issue is with npm. Now I could install reactivesearch.

[2020-08-07 06:30] divyadeep-MT opened #1525 "How can I modify the CSS of histograms?"
Title explains it all, just want to know the best way of modifying the CSS of histogram.

[2020-08-08 01:51] #1190 closed, assigned to nobody

[2020-08-10 07:36] hansendx commented on #1112
This is still a problem in version 1.7.0
https://codesandbox.io/s/sleepy-cdn-ffruv?file=/src/App.vue
![URLParams](https://user-images.githubusercontent.com/20108516/89760538-e5289300-daec-11ea-8f6d-acf40c13d780.png)

[2020-08-10 16:41] #1322 closed, assigned to nobody

[2020-08-10 17:30] mitchgillin opened #1526 "isEqual does not properly check date objects"
**Affected Projects**
React

**Library Version:** x.y.z
9.6.15

**Describe the bug**
In the date range component, the `isEqual` function is passed an object with an object as the value in the key value pair
`const d1 = new Date("1-15-2020);`
`const d2 = newDate("2-15-2020);`
`const d3 = new Date("3-15-2020);`
`isEqual({start: d1, end: d2}, {start:d1, end:d3} === true`

**To Reproduce**
Steps to re

[2020-08-12 13:39] #1092 closed, assigned to nobody

[2020-08-12 21:27] #1330 closed, assigned to nobody

[2020-08-14 14:01] westende opened #1530 "Multi-list with "complex" aggregation query"
**Affected Projects**
Vue.JS

**Is your feature request related to a problem? Please describe.**
I would like to create separate aggregations on the same field using nested aggregations with a filter.

**Describe the solution you'd like**
Either an expansion of the multi-list component that allows for more control over the aggregation query or a separate component that can handle this use-case.

*

[2020-08-19 10:51] janhoy commented on #1502
Would it not be more efficient if ReactiveSearch sent *one* search request to ES, compiled from the needs of all components, and then each component subscribes to the result and pulls out "their" data? Or do you have a use case where you'll update a filter widget without updating the main search result or the opposite?

[2020-08-19 10:55] siddharthlatest commented on #1502
@janhoy This is how ReactiveSearch works, it generates a combined query (via `msearch`, multi search) for all the components that would be affected by a given interaction. Except during the initialization phase, where ReactiveSearch fires independent queries for each component instead of combining them together. The above issue is specific to this scenario - there is room for improvement here.

[2020-08-19 11:41] joaodos3v commented on #1192
+1

[2020-08-19 14:15] acosta-edgar commented on #1391
I don't think this is a bug. `transformData` is not meant for setting the option labels, but rather to make "data" adjustments before "presentation". For example, you would use `transformData` if you want to remove an option or sort the options.
Whereas your use case is a "presentation" transformation: you don't want to change the data, but just how it is displayed. The best way to handle your use

[2020-08-19 15:25] WhoisDavid commented on #1391
Ok fair enough. I misunderstood the transformData philosophy. In my defense the doc on `transformData` is a little misleading as it mentions:

Also did not realize `renderItem` was "modular". I was under the impression that one had to basically rewrite the JSX to keep the style and make a change. Just realized you can just do e.g.:  ``renderItem={(label) => `transformed ${label}`}``  to change the

[2020-08-19 15:25] #1391 closed, assigned to nobody

[2020-08-19 22:14] stefanlesik opened #1531 "Duplicate values selected with MultiDropdownRange component"
**React**
**Library version: 3.12.2**

I have a button that toggles a URL parameter true/false. When a value is selected in the MultiDropdownRange component, and then the button is clicked, the value within the MultiDropdownRange component is duplicated making the selection invalid and the filter is not applied.

**Steps to reproduce the behavior:**

I've created a Sandbox that demonstrates this:

[2020-08-20 13:57] aoloo opened #1532 "Reactive List stalls returning the correct data on initial applied filters"
**Affected Projects**
React
**Library Version:** x.y.z
9.6.15

**Describe the bug**
When ReactiveList is returning data from applied filters the data results is incorrect. After numerous re render the data and stats count are correct. It appears ReactiveList during re render stalls providing the correct data until the last render hit. Sometimes it does not return the expected data with the filter

[2020-08-20 16:06] jyash97 commented on #1532
Hey @aoloo

Thanks for reporting the issue

Can you specify the correct library version?

Also, it would be really great if you can create a repro on Codesandbox. This will help us debug the issue quickly and improve the experience.

[2020-08-20 17:22] aoloo commented on #1532
@jyash97  The version we are using is 3.12.2. I will consult with my team lead on getting a repo set up. At the moment is this enough information for you?

[2020-08-20 20:10] jyxia opened #1536 "The headers are not being passed to request"
In our app, we are passing customized headers to `initReactivesearch` and not seeing the customized headers being passed to the actual request. I think the reason is that the `headers` always got set to an empty object `{}` in this line https://github.com/appbaseio/appbase-js/blob/develop/src/core/index.js#L58.

Shouldn't this line be `this.headers = config.headers || {}`? otherwise any AppBase in

[2020-08-21 13:26] bietkul commented on #1536
You can use `setHeaders` method on appbase instance.

[2020-08-21 13:33] jyxia commented on #1536
@bietkul Hey thanks, I saw that method. But we're using `initReactivesearch`  in ReactiveSearch to initialize the initial state on SSR, do we have the access to the AppBase instance in there? see here: https://github.com/appbaseio/reactivesearch/blob/99dfb90083710ea6d96a4ca9e94280a88bc5a599/packages/web/src/server/index.js#L91

`initReactivesearch` instantiate AppBase with the `headers` passed in

[2020-08-21 14:04] aoloo commented on #1532
@jyash97 Reproducing this will be difficult because it is related to my work code base. I am not sure the best way
to replicate the exact issue on codesandbox. Please let me know if you have any suggestion or insight on this issue. I greatly appreciate your time.

[2020-08-21 20:39] #1337 closed, assigned to nobody

[2020-08-21 20:39] #1335 closed, assigned to nobody

[2020-08-23 13:49] sundeepkaranam opened #1533 "TypeError populating suggestions using Datasearch component"
**Affected Projects**
I am using React

**Library Version:** x.y.z
Reactivesearch Version: 3.12.2.

**Describe the bug**
[code]

**To Reproduce**

Steps to reproduce the behaviour:
I have docs whose data will be like
Here is an example of 3 docs.
{
my_field :["aaa.bbb",bbb.ccc"]
}
{
my_field:[]
}
{
my_field:["xxx":"yyy"]
}

My search query after matching these docs should show the suggestions as
1

[2020-08-24 12:11] divyadeep-MT opened #1534 "transformRequest doesn't work in SSR if graphQlUrl isn't defined"
**Affected Projects**
React

**Library Version:** x.y.z
3.11.2

**Describe the bug**
`transformRequest` doesn't work in SSR if graphQlUrl isn't defined. Hence SSR gives a different set of results and client side re-rendering is performed.

**To Reproduce**
Steps to reproduce the behavior:
Simply provide a `transformRequest` function to `initReactiveSearch` but don't provide `graphQlUrl`.

**Expect

[2020-08-24 16:26] nithiz commented on #519
+1, The sortOptions attribute is pretty much useless.. Does anyone have an example using a custom element?

[2020-08-25 06:18] divyadeep-MT opened #1535 "MultiDataList component adds its own `match_all` query on the server side of an SSR app"
**Affected Projects**
React

**Library Version:** x.y.z
3.11.2

**Describe the bug**
MultiDataList component adds its own `match_all` query on the server side of an SSR app. It can't even be overwritten using `defaultQuery`.

**Expected behavior**
MultiDataList is supposed to be a component where we provide data ourselves, hence it should not have any code implemented for obtaining data for it's l

[2020-08-25 06:20] bietkul commented on #1535
@divyadeep-MT Can you please share an example?
FYI, `MultiDataList` doesn't have the `defaultQuery` prop because it uses the static options(defined in `data` prop).

[2020-08-25 06:25] divyadeep-MT commented on #1535
Here is the queryLog from the `server/index.js` file,
[code]
Here is the log of finalQuery in the same file.
[code]
In the above log, all components except `page` are MultiDataList. As per my understanding, these components shouldn't be a part of the query log/query.

[2020-08-25 06:26] divyadeep-MT commented on #1535
@bietkul Could it be because of some mis-configuration on my part?

[2020-08-25 06:38] bietkul commented on #1535
I can't say much without seeing the code. You can create a code sandbox link that replicates the issue.

[2020-08-25 07:05] divyadeep-MT commented on #1535
Never mind, it was a mistake at my end. Could you also take a look at https://github.com/appbaseio/reactivesearch/issues/1534? Thanks!

[2020-08-25 07:06] bietkul commented on #1535
Ok

[2020-08-25 07:06] #1535 closed, assigned to nobody

[2020-08-25 13:14] jyxia commented on #1536
@bietkul can you please provide some input? I know this issue was closed, but it would be helpful if you can kindly reply. Thanks.

[2020-08-25 13:29] bietkul commented on #1536
@jyxia Please file an issue on ReactiveSearch instead. It is not an issue with `appbase-js`.

[2020-08-25 13:49] vijaygenius123 opened #1537 "URLParams not applied consistently"
**Affected Projects**

React
**Library Version:** x.y.z

3.11.6

**Describe the bug**

URLParams When set to true are not being applied consistently.
**To Reproduce**

Steps to reproduce the behavior:

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please complet

[2020-08-25 13:54] jyash97 commented on #1537
Hey @vijaygenius123  thanks for reporting the issue.

Can you provide a Codesandbox link with all the steps on reproducing the bug?

[2020-08-25 18:50] #1340 closed, assigned to nobody

[2020-08-25 18:50] #1339 closed, assigned to nobody

[2020-08-25 18:50] #1272 closed, assigned to nobody

[2020-08-25 21:59] #634 closed

[2020-08-26 13:53] vijaygenius123 commented on #1537
Sure, Am Working On Creating An Example On Codesandbox. Will Update The Details Once Done

[2020-08-28 07:21] bassambarham commented on #1112
Any workaround for this issue? I'm facing the same problem as well.

[2020-08-28 17:34] #1310 closed, assigned to nobody

[2020-08-28 17:34] #1331 closed, assigned to nobody

[2020-08-28 17:34] #1233 closed, assigned to nobody

[2020-08-28 17:34] #1236 closed, assigned to nobody

[2020-08-30 16:50] #1348 closed, assigned to nobody

[2020-08-31 09:26] emretuncer opened #1538 "WebSocket connection failed"
**Affected Projects**
Vue.JS
**Library Version:** 1.7.5
**Describe the bug**
`WebSocket connection to 'wss://localhost:9200/questions' failed: Error in connection establishment: net::ERR_SSL_PROTOCOL_ERROR`

-> appbase-js.es.js?bed6:361

**To Reproduce**
[code]
**Expected behavior**

**Desktop (please complete the following information):**
All Browsers

**Additional context**
I tried too many thin

[2020-09-01 09:35] kud opened #1539 "on a MultiList, is there a way to make a difference between an elastic search result and a "inside" search on data?"
**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**
`data` on render of MultiList doesn't make a difference between an elastic search result and a search in the filter via l'autocomplete. How could I know the difference?

[2020-09-01 09:40] kud commented on #1539
in my code:

[code]

`data.length === 0` can be a case in the same way if it's a result of ES or a result of the inside search.

[2020-09-01 17:35] bassambarham commented on #1112
Hi

The problem is still there. Even with the 1.7.5 version.

/by-date-of-event?regionSensor=["b40f813"%2C"5f6a04e"]

Becomes:

/by-date-of-event?regionSensor=["b40f813%2C5f6a04e"]

[2020-09-02 00:47] #1225 closed, assigned to nobody

[2020-09-02 11:14] bassambarham commented on #1112
@bietkul Any help would be appreciated.

Thanks

[2020-09-03 06:51] arnaudjnn opened #1540 "DataSearch onValueSelected with Typescript"
**Affected Projects**
React

**Library Version:** 3.12.1

**Describe the bug**
Receive the following ts error
[code]

**To Reproduce**

Add onValueSelected props on DataSearch component with .tsx

**Desktop (please complete the following information):**
 - OS: mac
 - Browser Chrome
 - Version latest

[2020-09-04 03:06] #1205 closed, assigned to nobody

[2020-09-08 04:19] CryptoZorro opened #1541 "ESM Version"
Hi there, new to reactivesearch... I understand there is a umd build that can be used in the browser, but is there a ESM version?

As I didn't find a esm version, I tried to use skypack's wrapper from here - https://www.skypack.dev/npm/@appbaseio/reactivesearch-vue... ended up getting the error in my browser console:

![image](https://user-images.githubusercontent.com/35168239/92432670-37d59780-f1

[2020-09-08 05:39] CryptoZorro opened #1542 "Unable to use reactive-list using cdn"
I followed the quickstart from your docs (https://docs.appbase.io/docs/reactivesearch/vue/overview/QuickStart/) to the word, but used the cdn instead of npm (and changed props to kebab-casing in my dom template)... and reactive-list doesn't seem to work. When I commented-out reactive-list, the other components multi-list & single-range seem to work!

Sample here - https://jsfiddle.net/akayy/m3xapf

[2020-09-08 10:56] #1230 closed, assigned to nobody

[2020-09-09 20:15] #1362 closed, assigned to nobody

[2020-09-11 01:54] embpdaniel opened #1546 "Cannot read property 'dataField' of null at getCompositeAggsQuery"
**Affected Projects**
React

**Library Version:**
3.12.4

**Describe the bug**

I add `aggregationField` prop to `ReactiveList` and I get this error:

`Uncaught TypeError: Cannot read property 'dataField' of null at getCompositeAggsQuery (helper.js:formatted:535)`

**To Reproduce**

Steps to reproduce the behavior:

Just add a ReactiveList component with `aggregationField` prop. It will throw the

[2020-09-11 16:38] #1537 closed, assigned to nobody

[2020-09-11 16:38] vijaygenius123 commented on #1537
Unable To Recreate On Appbase Environment.

[2020-09-12 18:37] scotthooker commented on #1511
+1

[2020-09-14 20:58] adamjarling opened #1547 "ReactiveList renderItem introduces an unexpected new wrapper <span /> element which can break existing UIs"
**Affected Projects**
React

**Library Version:** x.y.z
3.12.4

**Describe the bug**
Looks like with the latest release, the `ReactiveList` `renderItem()` function wraps it's output in a `<span>`.  This could arguably break a lot of UIs which use CSS frameworks which follow the pattern of:

[code]

by injecting this new span element:

[code]

It's broken UIs in 3 of our applications, and not sure

[2020-09-15 11:46] hansendx commented on #1501
DynamicRangeSlider is still not working in 1.7.6 https://codesandbox.io/s/shy-moon-rftl2

[2020-09-25 13:55] grantas33 commented on #1546
The same bug occurs in ReactiveComponent, CategorySearch, DataSearch web components

[2020-09-28 13:07] CryptoZorro commented on #1542
Any luck with looking into this issue? Wondering if this is still an active components library?

[2020-09-28 18:07] bietkul commented on #1542
Hey @CryptoZorro, there were some issues with `html` content in `renderItem` slot that is why it wasn't working.
Here is an example, with latest version https://jsfiddle.net/ucaypej6/6/

[2020-09-28 18:07] #1542 closed, assigned to nobody

[2020-09-29 01:15] CryptoZorro commented on #1542
Thanks for reverting on this - You may want to apply the same fix in your docs as well - https://docs.appbase.io/docs/reactivesearch/vue/overview/QuickStart/#step-4-adding-filters-and-result-components

[2020-10-01 06:13] #1288 closed, assigned to nobody

[2020-10-02 02:37] marcelchastain commented on #1474
One way is to alter the `defaultQuery` of `ReactiveList`, e.g.

[code]

Anything that might normally trigger a re-render (state change, props change, etc) will trigger a reevaluation of `makeDefaultQuery`, and if the resulting query is different `ReactiveSearch` picks up the change and executes a new search.

I use this within my own code to create a dropdown to control the sort order.

Good luck!

[2020-10-02 14:23] rbeers opened #1548 "List components don't react to map search"
**Affected Projects**
React

**Library Version:**
"@appbaseio/reactivemaps": "^3.0.0-beta.11"
"@appbaseio/reactivesearch": "^3.12.5"

**Describe the bug**
When you use the search as move feature in a reactive openstreet map, other components don't react to that component id.  The map reacts to other list components fine but not the other way around.

**To Reproduce**
Steps to reproduce the behavio

[2020-10-02 14:52] kmalay commented on #1548
I'm also trying to get `List` components to react to bounding box queries in the map component.  Is this possible?

[2020-10-02 15:35] bietkul commented on #1548
@rbeers Can you please share a codesandbox link?

[2020-10-02 16:41] rbeers commented on #1548
@bietkul Here is a codesandbox example: https://codesandbox.io/s/priceless-germain-p0q2e

[2020-10-08 14:36] davidkong0987 commented on #256
Would love to revive this!

[2020-10-09 23:40] bietkul commented on #1547
@adamjarling This issue has been fixed in `v3.12.6`.

[2020-10-09 23:40] #1547 closed, assigned to nobody

[2020-10-10 16:28] adamjarling commented on #1547
@bietkul Thank you so much.  ReactiveSearch is awesome and just keeps getting better.  Thanks so much for all the open-source hard work.

[2020-10-13 18:11] mitchgillin commented on #1277
We are trying to create a custom toggle filter and are running into this problem as well. Initializing a filter with a value of false will cause an error of "improper selectedValue"

[2020-10-14 09:14] elise-lcdb opened #1549 "Only display the result selected from Data-Search"
Hi! This really isn't an issue, more a question on how I could properly implement something.
I'm trying to create this vue app, where when the user first shows up to the page, they see absolutely nothing. However it is when they search and click on the item that they see the information only relating to that one item. Just the first result, no pagination.

So far what I have tried doing is having

[2020-10-14 23:25] #1386 closed, assigned to nobody

[2020-10-17 20:21] gpassarelli commented on #1501
@hansendx do you guys have any updates regarding this issue?

[2020-10-19 07:52] hansendx commented on #1501
@gpassarelli as a user, all I can say is that it still does not work in the newest reractivesearch-vue.
I looked through the changes a while ago but I'm not proficient enough with Vue to identify the problem.
I have it pinned to 1.2.0 since it is the last version where all functionality we need still works.

[2020-10-20 15:07] piwel opened #1550 "MultiList filter on server side"
Hi,

**Affected Projects**
React / All

I'm using MultiList with huge lists (more than 10,000 terms), and the `showFilter` is really useful. However, when I use it combined to `showLoadMore`, I need to click multiple times the `Load More` button to get all results as filter is applied on local data already get from the server.

I would prefer the filter to take place on server side in this case.

[2020-10-20 17:50] siddharthlatest commented on #1550
@piwel Rather than using a MultiList, you may want to start out with DataSearch and customize the `render` method to show suggestions as a list.

[2020-10-20 18:02] piwel commented on #1550
Hi @siddharthlatest,

Thanks for the idea, that could be great indeed but unless I'm wrong, I can't choose multiple items with DataSearch, can I?

But maybe could I combine a DataSearch and a MultiDataList generated from the DataSearch results… I'm not 100% sure about that though…

[2020-10-21 03:21] #1328 closed, assigned to nobody

[2020-10-21 09:14] edwinsiebel opened #1551 "Custom render method provides incorrect or duplicate data"
**Affected Projects**
Only tested in React.

**Library Version:**
3.12.6

**Describe the bug**
When using a custom `render` method in `ReactiveList`, this method seems to be executed multiple times, even though there is only one result to show.
Also the `data` which is injected into the `render` method, seems to be duplicate or even triplicate.

**To Reproduce**
Steps to reproduce the behavior:
1.

[2020-10-21 12:15] piwel commented on #1120
For the record and whoever might encounter the same kind of stuff, I still have the problem on my app with the last version (3.12.6 React), but I can't identify why as it now looks good in the sandbox when trying to demonstrate it:
https://codesandbox.io/s/gracious-voice-mwn2x?file=/src/index.js

[2020-10-22 09:52] carlopascual opened #1552 "Custom sorting in Reactivesearch: possibly expose `sort` key on `ReactiveComponent`'s `setQuery`"
**Affected Projects**
All

**Is your feature request related to a problem? Please describe.**

**Main problem to solve**: I would like to create a custom sorting component for the `ReactiveList`. There have been several issues that have been opened about this already such as: https://github.com/appbaseio/reactivesearch/issues/258 where @metagrover wrote about updating the `defaultQuery` of the res

[2020-10-22 12:10] royduin opened #1553 "Remove all styling?"
Is it possible to remove all styling and style all elements with my own classes? So remove the injected styles from emotion completely.

[2020-10-22 15:40] bietkul commented on #1551
@edwinsiebel There are performance issues with the `ReactiveList` that is triggering the re-rendering.
Check this comment to know how can you optimize it by using a HOC component with `shouldComponentUpadte` https://github.com/appbaseio/reactivesearch/issues/1086#issuecomment-537052319. There are no duplicate results, the data you see is the older data and it'll get replaced by fresh data when sea

[2020-10-22 15:40] #1551 closed, assigned to nobody

[2020-10-26 19:32] PeterCiuffetti opened #1554 "a11y: Sort options does not have a label, fails accessibility check"
**Affected Projects**
React

**Library Version:** 3.12.7

**Describe the bug**
The select element produced by the sortOptions of ReactiveList does not pass Axe accessibility check.  It does not have a label.

Axe also complains that the element has insufficient color contrast.  The text in question is dark grey on white, font-weight normal, 1.25em.  This may be a bug in Axe, but Im including it he

[2020-10-27 20:27] PeterCiuffetti opened #1555 "a11y: RangeSlider - inappropriate role for element"
**Affected Projects**
React

**Library Version:** 3.12.7

**Describe the bug**
RangeSlider uses a button element for the slider.  This also uses aria attribute for accessibility.  The problem is that role="slider" is not allowed on a button element.  [ARIA in HTML specs](https://www.w3.org/TR/html-aria/#example-1) indicate that a button has an implicit role of button and cannot specify another rol

[2020-10-28 08:45] royduin opened #1556 "Dynamic range slider does not render"
**Affected Projects**
Vue.JS

**Library Version:**
1.7.7

**Describe the bug**
Dynamic range slider does not render

**To Reproduce**
https://codesandbox.io/s/nice-matsumoto-ubg5m?file=/src/App.vue

[2020-10-28 23:09] kevinsproles commented on #104
super helpful @bstaats thank you!

But what about the docs for how to setup your **mappings**? Obviously the **data in your ES index and your mappings must conform to reactivesearch queries** so wondering where I can read about how to setup the index & mappings.

The README say you can use "Any Elasticsearch index hosted on any Elasticsearch cluster."

[2020-10-29 16:20] royduin commented on #1392
Did you found a workaround or fix for this @WhoisDavid?

[2020-11-02 12:45] f2xx-blip commented on #1233
I am getting the same error. Can we fix this?

[2020-11-03 00:39] adenta commented on #205
Is this still the most up-to-date discussion on Reactivesearch / ES security? In addition to not publicly exposing my ES server, I'm also trying to figure out how to scope results per-user, which should be supported in ES.

[2020-11-04 22:54] bietkul commented on #1390
@carlopascual You have to update the URL as per current values.
The correct way to use `setSearchParams` should be:
[code]
Check this [demo](https://codesandbox.io/s/jovial-worker-z9sdh?file=/src/index.js:339-460)

[2020-11-04 22:54] #1390 closed, assigned to nobody

[2020-11-08 10:49] bietkul commented on #1456
This issue has already been fixed in the latest version.

[2020-11-08 10:49] #1456 closed, assigned to nobody

[2020-11-08 14:44] #1252 closed, assigned to nobody

[2020-11-08 17:29] misspokeycat commented on #1546
I'm also encountering this with version 3.13.0.

[2020-11-11 16:33] #1409 closed, assigned to nobody

[2020-11-14 03:58] #1372 closed, assigned to nobody

[2020-11-16 03:03] davidkong0987 commented on #1138
Agree that this is a fairly significant issue.

[2020-11-16 22:28] ghost opened #1557 "Discussion - Point in time API"
**Affected Projects**
All

**Describe the solution you'd like**
Support for point in time API. - https://www.elastic.co/guide/en/elasticsearch/reference/7.10/point-in-time-api.html
The new point in time API (elastic 7.10) states that there is some performance benefit for fetching hits - potentially performance deficit for fetching aggregations.

I wonder what your thoughts are on whether this is b

[2020-11-17 15:26] siddharthlatest commented on #1557
The main benefit cited is a better consistency for consecutive search requests, which may otherwise not be consistent due to refreshes having happened in between. There is no performance benefit besides this that the doc points to. Also, this is an X-Pack only feature at this point.

For the time being, I don't see the value of adding support for pit. Also, this is always possible for a user to ad

[2020-11-17 23:17] #1557 closed, assigned to nobody

[2020-11-18 09:40] hansendx commented on #1556
This is a problem since version 1.4.1 #1501

[2020-11-19 03:04] #1394 closed, assigned to nobody

[2020-11-20 14:32] indykoning commented on #1556
It seems to have broken during the update to 1.4.1
https://github.com/appbaseio/reactivesearch/compare/v1.4.0-vue...v1.4.1-vue

The slider is not showing because the range is null, it seems like range does not get filled dynamically.
https://github.com/appbaseio/reactivesearch/blob/next/packages/vue/src/components/range/DynamicRangeSlider.jsx#L275
Moreover setting this to a range using vue devtool

[2020-11-20 14:32] indykoning commented on #1501
It seems to have broken during the update to 1.4.1
https://github.com/appbaseio/reactivesearch/compare/v1.4.0-vue...v1.4.1-vue

The slider is not showing because the range is null, it seems like range does not get filled dynamically.
https://github.com/appbaseio/reactivesearch/blob/next/packages/vue/src/components/range/DynamicRangeSlider.jsx#L275
Moreover setting this to a range using vue devtool

[2020-11-20 16:38] malsioufi opened #1558 "Get more than 10000 results when using pagination"
**Affected Projects**
React

**Library Version:** ^3.12.7

**Describe the bug**
I am using ReactiveList component to show the results of my search.
I am only getting up to 10000 results when I use pagination. So, for example  if I set the size prop to 1000 and I go to page 10
the "next" button gets disabled even though I know that there are more results to be shown.

**To Reproduce**

Steps to rep

[2020-11-20 16:41] bietkul commented on #1558
You have to set the `track_total_hits` property in `ReactiveList`.
For example,

[code]

[2020-11-20 16:56] malsioufi commented on #1558
Thanks @bietkul but when I tried this I got the following exception in the log of the browser.

[code]

[2020-11-20 17:00] bietkul commented on #1558
Can you share the request body?
Are you using page size as `1000`?

[2020-11-20 17:11] malsioufi commented on #1558
It turned out to be an elasticsearch thingy. I had to update my index settings in order to avoid this error.
As it says in this question on Stackoverflow
https://stackoverflow.com/questions/41677198/result-window-is-too-large-from-size-must-be-less-than-or-equal-to-10000-b/41677310

But thank you for mentioning `defaultQuery={() => ({ track_total_hits: true })}`
It solves my issue but it is not me

[2020-11-20 17:11] #1558 closed, assigned to nobody

[2020-11-21 02:11] #1376 closed, assigned to nobody

[2020-11-22 23:01] aVolpe opened #1559 "Can't access property "dataField", props is null when using aggregationField"
**Affected Projects**
React

**Library Version:** 3.13.1

**Describe the bug**

Using the `aggregationField` prop in the `ReactiveList` throw an exception.

**To Reproduce**

Steps to reproduce the behavior:

I can reproduce the bug with my code, but it also happen in the default codesanbox in
the [grouping results](https://docs.appbase.io/docs/reactivesearch/v3/advanced/groupingresults/) doc:

ht

[2020-11-23 18:20] aVolpe commented on #1559
Duplicate of #1546

[2020-11-23 18:20] #1559 closed, assigned to nobody

[2020-11-24 02:31] #1436 closed, assigned to nobody

[2020-11-25 23:29] stephahn opened #1561 "SingleDropDownList have hard encoded background color"
**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**
When modifying background color using inner-class list of the SingleDropdownList. By default, list background color is defined as:
`<li id="downshift-1-item-0" class="" style="background-color: rgb(238, 238, 238);"><div><span>All categories</span></div></li>`

[2020-11-26 09:58] mkecera opened #1562 "Default query not firing on mobile after a change through props (works on desktop)"
Library Version: 3.13.1

I have a DataSearch component which I am using to change the state of the search keyword with onValueChange. Then I have a MultList component that accepts this keyword from the state through props and changes the defaultQuery. Examples below.

Expected behavior:
On the desktop, it correctly fetches with default query on every change in the DataSearch. I expected the same o

[2020-11-26 10:37] sa-aj commented on #1460
I am also facing this issue can you please help @bietkul did you find any solution ?

[2020-11-26 18:31] #1562 closed, assigned to nobody

[2020-11-26 18:31] mkecera commented on #1562
It was a bug in my implementation. Closing.

[2020-11-27 00:04] infinitodk commented on #1546
Any updates? Any idea which version works with aggregationField?

[2020-11-27 12:16] malsioufi opened #1563 "Changing 'size' prop of ReactiveList causes the total number of hits to reset to 10000"
**Affected Projects**
React

**Library Version:** x.y.z
^3.12.7

**Describe the bug**
I am using ReactiveList component to show the results of my search.
I have added to the application a select box where the user can choose number of results to be shown per page. so I am setting the size dynamically. The functionality works fine and the component updates correctly, however, I noticed that the num

[2020-12-02 15:36] malsioufi opened #1564 "The developer should be able to implement CRUD operations using some components"
**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**
Usually when we build search solution we like to be able to modify, delete or create new contents.

**Describe the solution you'd like**
Components that allows the user to add/ modify/ remove data, similar to what we have in Dejavu but to be able to do it in my own react application.

**Describe alterna

[2020-12-03 17:23] DustinKLo commented on #1460
@sa-aj i resorted to using the latest version of the library which didn't have this bug
[code]

its not a true fix but hopefully this helps

[2020-12-05 22:09] mkbctrl opened #1565 "'ReactiveList' cannot be used as a JSX component."
While trying to render a simple list I am getting the following TS errors, I can't find a way to solve:

[code]

Here is my component code:

[code]

I did write component based on the contents of this url: https://codesandbox.io/s/github/appbaseio/reactivesearch/tree/next/packages/web/examples/ResultList?from-embed=&file=/src/index.js

Did anyone have similar issue?

Everything is working fine con

[2020-12-07 10:43] danielnolde commented on #256
This would be a very worthwhile addition, i agree, and the issue is still current.

[2020-12-09 13:11] KalleVuorjoki commented on #1563
This is default Elasticsearch 7.x [setting](https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking-changes-7.0.html#track-total-hits-10000-default). Since Elasticsearch 6.8.x is maintained until 8.x is released, it might not useful to resolve this issue on application level.
You can get the total results by adding `?rest_total_hits_as_int=true` in your request parameter.

[2020-12-09 14:35] #1563 closed

[2020-12-09 14:38] #1564 closed

[2020-12-15 12:15] davidkong0987 commented on #1138
Generally, I've noticed that using controlled components is much more reliable than not using controlled components, and often avoids things like this. After switching to a controlled components, the filters no longer reset.

[2020-12-16 12:20] infinitodk commented on #1546
Bump! How is this not prioritized?

[2020-12-17 06:11] KenneyE commented on #519
@nithiz For anyone looking to build a custom component to handle this, I've created a sandbox that uses `material-ui` and the `defaultQuery` prop: https://codesandbox.io/s/modern-resonance-8znwo

This acts as a controlled component with the app holding sort state so it can pass that to the `defaultQuery`.

[2020-12-19 05:56] #1473 closed, assigned to nobody

[2020-12-21 10:08] bietkul commented on #1138
If you use a new `ReactiveBase` provider in each route then it'll reset the filters on page change.
I found that even if we use routers under a single `ReactiveBase` provider then also filters are getting reset that should not be expected behavior.
https://codesandbox.io/s/selectedfilters-forked-3v0po?file=/src/index.js

[2020-12-21 18:37] anakinkinsey commented on #873
This bug is still around, your workaround worked perfectly though, thanks!

[2020-12-22 12:08] bietkul commented on #1546
@infinitodk This issue has been fixed in `v3.13.2`.

[2020-12-22 12:08] #1546 closed, assigned to nobody

[2020-12-22 12:34] bietkul commented on #1553
@royduin Removal is not possible however you can customize ReactiveSearch components in the following ways
- You can define your class at the component level to override the default style.
- Most of the components support `render` and `renderItem` methods that allow you to use your own UI elements.
- `ReactiveComponent` can be used to integrate any UI component to Elasticsearch.

[2020-12-22 12:35] #1553 closed

[2020-12-22 20:04] bietkul commented on #1565
@mkbctrl Please check the working example here https://codesandbox.io/s/github/appbaseio/reactivesearch/tree/next/packages/web/examples/typescript?file=/src/App.tsx

[2020-12-22 20:08] bietkul commented on #1538
Vue library doesn't support web sockets.

[2020-12-22 20:08] #1538 closed

[2020-12-22 20:15] bietkul commented on #1539
I guess you're looking for the raw results from `Elasticsearch`. The `rawData` property in `render` method can be used to differentiate b/w filtered options and raw options.

![alt image](https://i.imgur.com/3eJIslB.png)

[2020-12-22 20:20] bietkul commented on #1540
@arnaudjnn Can you share an example? I don't see any issue at here https://codesandbox.io/s/keen-rosalind-1zbg5?file=/src/App.tsx

[2020-12-22 20:53] bietkul commented on #1556
Duplicate of #1501

[2020-12-22 20:53] #1556 closed, assigned to nobody

[2020-12-22 21:34] #1533 closed, assigned to nobody

[2020-12-22 21:48] #1501 closed, assigned to nobody

[2020-12-23 03:30] #1237 closed, assigned to nobody

[2020-12-23 11:28] royduin commented on #1501
Thanks @bietkul 💯

[2020-12-23 13:48] royduin opened #1578 "vue: Selected Filters component not visible"
**Affected Projects**
Vue

**Library Version:**
v1.7.11-vue

**Describe the bug**
The component doesn't show up at all. I though it maybe had something to do with #1501 as that component didn't show up either, but it doesn't seem te be related. Maybe also an easy fix @bietkul?

[2020-12-23 13:56] bietkul commented on #1578
@royduin Filters are working fine in latest version https://codesandbox.io/s/staging-dawn-ckyge?file=/src/App.vue

[2020-12-24 08:33] royduin commented on #1578
Whoeps, it was a problem at my side. Sorry!

[2020-12-24 08:33] #1578 closed, assigned to nobody

[2020-12-27 20:35] #1458 closed, assigned to nobody

[2020-12-28 07:19] hansendx commented on #1501
Thank you @bietkul :+1:

[2020-12-30 09:03] Nick-Yazdani opened #1582 "Implement NestedList and NestedMultiList"
Redacted

[2021-01-01 00:01] #1475 closed, assigned to nobody

[2021-01-04 05:17] DustinKLo commented on #1460
@bietkul @jyash97 is there any update on this?
If not i can give it a shot if you can point me to where to look regarding the logic that handles the `URLParams` value

[2021-01-04 07:56] DustinKLo commented on #1460
i was able to "somewhat" fix the issue, the url query param now clears when clearing the (`ReactiveComponent`) filter
https://github.com/appbaseio/reactivesearch/compare/next...DustinKLo:fix_reactivecomponent_url

but when the page loads with the query param already set, the filter is not used
`ReactiveComponent` also doesn't work when using page forward and backwards on the browser

can someone p

[2021-01-04 13:49] divyadeep-MT opened #1583 "Add support for "rescore" query in SSR."
**Affected Projects**
React

**Is your feature request related to a problem? Please describe.**
Elasticsearch supports `rescore` query, that allows us to re-rank results based on some function. Machine Learning models use this rescore query to re-rank results based on the business logic. It works on client side but not with SSR.

For reference - https://www.elastic.co/guide/en/elasticsearch/refere

[2021-01-05 12:47] mkbctrl commented on #1565
Thanks, I will have a look over the weekend

[2021-01-08 10:20] nithiz commented on #1494
It's been a while... I'm trying to optimize our application. In webpack bundle analyzer we can see that loading a simple ReactiveList also adds the styling while we aren't even using it (https://ibb.co/T4dChYF). Any chance this will be improved any time soon? If not we're kinda forced to look for a different UI library :(

[2021-01-08 10:26] royduin commented on #1494
Related: https://github.com/appbaseio/reactivesearch/discussions/1553

[2021-01-09 14:42] #1493 closed, assigned to nobody

[2021-01-13 04:19] #1582 closed, assigned to nobody

[2021-01-17 23:38] infinitodk opened #1589 "MultiDropdownList broken in VueJs since 1.1.0"
Since version 1.1.0 MultiDropdownList is broken.

It's easy reproducible, just head to your own demo site. The Issue is both in Firefox and Chrome. Double click sometimes works.

https://reactivesearch-vue-playground.netlify.app/?path=/story/list-components-multidropdownlist--basic

https://user-images.githubusercontent.com/9919465/104859383-43239700-5925-11eb-9f44-f7a2c3715ee1.mov

[2021-01-19 14:10] rap2hpoutre opened #1590 "Catch 401 errors without throwing error when auth is not valid anymore"
When a search fails and returns 401 (let's say because the session is not valid anymore), Reactive Search throws an error. I would love to catch it to _not trigger an error_, since it just means the connection is lost. The problem in throwing an error is that it adds some mess the console and the bug trackers (eg: Sentry). For instance, I would love a clean way to catch the error then redirect the

[2021-01-20 06:04] simkea opened #1591 "Bug: Only exact matches will be found."
Hello,

My setup: ReactApp
React: 17.0.1
reactivesearch: 3.14.0
elasticsearch: 6.8.4

https://github.com/appbaseio/reactivesearch/blob/121cc1595d735f066f028a54660eece61256bde4/packages/web/src/components/search/DataSearch.js#L329

I compared the problem with version 2.16.1 and here the search works.
I noticed that in version 2.16.1 the type "phrase_prefix" is used.

Why was this type changed from

[2021-01-20 09:56] bietkul opened #1592 "Add support for renderNoResults slot in list components"
**Affected Projects**
 Vue.JS

**Is your feature request related to a problem? Please describe.**
We do have `renderNoResults` prop in react that allows displaying a custom message when filter options are empty. It would be nice to have it in vue.

**Describe the solution you'd like**
Define a new slot named `renderNoResults` in list components.

**Describe alternatives you've considered**
We can

[2021-01-20 12:59] edwinsiebel opened #1594 "defaultQuery not applied to DataSearch"
**Affected Projects**
React

**Library Version:** x.y.z
stable, `"@appbaseio/reactivesearch": "^3.14"`

**Describe the bug**
When using a `DataSearch` component with autosuggest, and a custom render method, the defaultQuery is not applied.
This is stated in the [documentation](https://opensource.appbase.io/reactive-manual/advanced/customquery.html#when-to-use-default-query).

**To Reproduce**
Step

[2021-01-20 14:12] simkea commented on #1591
I have now rolled back to version 3.4.1, because here the type "phrase_prefix" is set and thus the search also works correctly.

I think something is wrong here.
Or do I need to migrate the ElasticSearch server to 7.x?

[2021-01-20 14:51] siddharthlatest commented on #1591
@simkea Can you explain the use-case where phrase_prefix results in an incorrect match? Can you also define correct / incorrect? A Codesandbox demo would be super useful for us to tell more here.

The reasoning for using phrase_prefix v/s phrase is that the former should cover more cases (should be a superset in most cases) for matching v/s the latter. A phrase_prefix query should still return the

[2021-01-21 07:48] simkea commented on #1591
I can't tell what it is, but the search result is wrong with "phrase".

**reactivesearch: 3.4.1**
Request:
`{"preference":"result"}
{"query":{"bool":{"must":[{"bool":{"must":[{"bool":{"should":[{"multi_match":{"query":"schorr","fields":["givenname^2","surname^1","department","directDial","name","extensionattribute1","title","facsimiletelephonenumber"],"type":"cross_fields","operator":"and"}},{"mul

[2021-01-21 14:44] siddharthlatest commented on #1591
@simkea Oh, I see that we changed from phrase_prefix to a phrase. v3.4.1 creates a `phrase_prefix` but the latest release creates a `phrase` query. This looks like a bug from our end, we will look at this and fix. Thanks for bringing this to attention.

[2021-01-21 15:00] simkea commented on #1591
Thx!
If it's not a bug on your end, I just want to understand why the search result changed. And if maybe a different configuration of ElasticSearch is needed for that.

[2021-01-23 02:16] infinitodk commented on #1589
Ping @siddharthlatest

[2021-01-23 02:17] infinitodk commented on #1589
5 days without a reply for something this crucial.....

[2021-01-23 02:24] bietkul commented on #1589
@infinitodk I am not able to replicate it with the latest version. We had this issue before but it was fixed a long time back.
https://www.loom.com/share/13baa18e46c44560882e1279f569a972

[2021-01-23 16:31] infinitodk commented on #1589
Just tried my iMac here at home. Same issue. Phoned up a colleague - same issue on his machine. Phoned up a friend with Windows. Same issue. Thats a total of 12 different browsers, 4 different machines - same issue. I even went to Browserling to see if it worked on a Windows machine. It did not. Included link below to try for yourself.

https://www.browserling.com/browse/win/7/chrome/86/https%3A%2

[2021-01-23 16:50] infinitodk commented on #1589
Again, Browserstack.com instance of Windows 10, latest Chrome. Same issue in Firefox in Windows + Safari for mac.

https://user-images.githubusercontent.com/9919465/105608294-704bcb80-5da3-11eb-9f44-2462c638e4c0.mov

[2021-01-25 15:46] VitaliyDemchuk commented on #876
maybe you found a solution to this problem? I faced the same problem only on another project.

[2021-01-25 15:47] v1talii-dev commented on #876
maybe you found a solution to this problem? I faced the same problem only on another project.
UPD: find [solution](https://laracasts.com/discuss/channels/javascript/duplicate-results-in-endless-pagination-when-new-entries-added-to-ajax-query?page=0#reply=407071)

[2021-01-25 23:07] infinitodk commented on #1589
Had a chance to test it at the office today with lots of different machines. All of them did not work.

[2021-01-27 01:16] naddeoa commented on #1230
Not sure where this went but it does look like this is possible with the `transformRequest` api on the base component. No idea if this is the recommended approach. Can't find any documentation.

[code]

[2021-01-27 09:27] edwinsiebel commented on #1594
Any reaction from the team?

[2021-01-27 18:59] bietkul commented on #1589
@infinitodk I tried the link that you shared but not able to replicate it.
https://www.loom.com/share/afd7ff5a59a94fc4b60c5d158d3ff956

[2021-01-27 19:06] bietkul commented on #1589
@infinitodk I can replicate it in the following way.
The tick icon is only visible when you move the cursor after clicking.  We'll check on this issue.
https://www.loom.com/share/fa8e78e9931844189f75b620165efd46

[2021-01-27 19:25] bietkul commented on #1594
@edwinsiebel You can find the `defaultQuery` working here https://codesandbox.io/s/dawn-resonance-2b047?file=/src/index.js.
FYI, the `defaultQuery` would affect the suggestions query in `DataSearch`. If you want to update results then please use `customQuery` instead.

[2021-01-27 19:31] bietkul commented on #1590
It seems a good idea. We can add `onError` prop in the `ReactiveBase` to catch errors.

[2021-01-27 19:42] infinitodk commented on #1589
Hey,

It's good that you were able to reproduce it, but I want to be clear - with this issue, users are unable to use the multidropdownlist (or the dropdownlist for that matter) as it's not altering the results / adding the filter to the query. Sometimes, with doubleclick, it works.

It's not about a missing tick icon, it's entirely broken for us. As you can see in my videos I uploaded, the total

[2021-01-27 19:48] bietkul commented on #1589
Sure, that would be helpful.
or you can modify the below sandbox without sharing ES credentials.
https://codesandbox.io/s/github/appbaseio/reactivesearch/tree/next/packages/web/examples/MultiDropdownList?from-embed

[2021-01-27 19:50] infinitodk commented on #1589
<img width="2560" alt="Skærmbillede 2021-01-27 kl  20 48 27" src="https://user-images.githubusercontent.com/9919465/106045292-0b64de00-60e1-11eb-8076-70c6a0dd986a.png">

On a sidenote - when checking the console, two POST requests are sent when selecting an option from the dropdown.

First one contains the selected book filter, but 14ms later, a second POST-request is sent, without the book filter

[2021-01-27 19:52] infinitodk commented on #1589
Was surprised to see it was working until I saw it was the React-version. We haven't had any issues with reactivesearch in any of our React-based apps btw!

[2021-01-27 19:56] bietkul commented on #1589
My bad, can you try this one https://codesandbox.io/s/github/appbaseio/reactivesearch/tree/next/packages/vue/examples/multi-dropdown-list?from-embed